﻿<form>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <label idioma="Cierre de Ingreso Nro" style="font-size:18px;"></label>: &nbsp;&nbsp;<span id="NoCierre" style="font-size:18px;"></span> &nbsp;&nbsp;<span class="hidden-md hidden-sm hidden-lg"><br /></span> <label style="font-size:18px;"><span idioma="Fecha"></span>:&nbsp;&nbsp;</label><span id="fecha_arqueo" style="font-size:18px;"></span><br /><label idioma="Usuario" style="font-size:18px;"></label>:&nbsp;&nbsp;<span id="usuario_arqueo" style="font-size:18px;"></span>
                </div>
                <div class="col-sm-5 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" tabindex="3" name="submit" id="Con_Arqueo" onclick="javascript:$('#modalConsultar').modal('show')">
                        <i class="glyphicon glyphicon-file" title="Consultar"></i>
                        <span idioma="Consultar"></span>
                    </button>
                    <button class="btn btn-glow btn-success hidden" type="button" tabindex="3" name="submit" id="Gua_Arqueo" onclick="GuardarArqueo()">
                        <i class="glyphicon glyphicon-save" title="Guardar"></i>
                        <span idioma="Guardar"></span>
                    </button>
                    <button class="btn btn-glow btn-primary hidden" type="button" tabindex="3" name="submit" id="Imp_Arqueo" onclick="ImprimirArqueo()">
                        <span data-icon="&#xe0f7;"></span>
                        <span idioma="Cierre"></span>
                    </button>
                    <button class="btn btn-glow btn-warning hidden" type="button" tabindex="3" name="submit" id="Imp_Gastos" onclick="ImprimirGastos()">
                        <span data-icon="&#xe0f7;"></span>
                        <span idioma="Ingresos/CajaMenor"></span>
                    </button>
                    <button class="btn btn-glow btn-danger hidden" type="button" tabindex="3" name="submit" id="Imp_Egresos" onclick="ImprimirGastos()">
                        <span data-icon="&#xe0f7;"></span>
                        <span idioma="Egresos"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tabbable page-tabs">
                <ul class="nav nav-tabs">
                    <li id="opcion1" class="active"><a href="#datos" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="ARQUEO"></span></a></li>
                    <li id="opcion2"><a href="#arqueo" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="INGRESO POR USUARIOS"></span></a></li>

                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade in active" id="datos">
                        <br /><br />
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-3 col-xs-6">
                                    <label idioma="EFECTIVO"></label>
                                    <div class="form-control text-right text-LG" id="tefectivo"></div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <label idioma="TARJETAS"></label>
                                    <div class="form-control text-right text-LG" id="ttarjeta"></div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <label idioma="CHEQUES AL DÍA"></label>
                                    <div class="form-control text-right text-LG" id="tcheque"></div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <label idioma="CONSIGNACIONES"><span class="hidden-xs" idioma="DEL CLIENTE"></span></label>
                                    <div class="form-control text-right text-LG" id="tconsignacion"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <div class="form-group row bg-info">
                                        <label class="col-md-12 col-xl-12 text-center" idioma="INGRESOS"></label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="SALDO ANTERIOR"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" disabled id="TSaldoAnt" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Ingresos del día"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" id="TVentas" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Otros Ingresos"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" readonly id="TOIngreso" onclick="LlamarRCaja(1,'Otros Ingresos')">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Anticipos"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" readonly id="TOAnticiposCli">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Cheques Post-Fechados"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" readonly id="tchequepost">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <div class="form-group row bg-info">
                                        <label class="col-md-12 col-xl-12 text-center" idioma="EGRESOS"></label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Caja Menor (Efectivo)"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" id="TCajaMenorEfec" readonly onclick="LlamarRCaja(2,'Caja Menor')">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Caja Menor (Banco)"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" id="TCajaMenorBanc" readonly onclick="LlamarRCaja(2,'Caja Menor')">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Otros Egresos"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right" id="TOEgresos" readonly onclick="LlamarOtroEgreso()">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">&nbsp;</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control hidden">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="Por Consignar"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right text-XX" id="TConsignar" disabled>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="form-group row bg-info">
                                        <label class="col-md-12 col-xl-12 text-center" idioma="DEPOSITOS"></label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-5 col-xs-5"><span id="banco0"></span></label>
                                        <div class="col-md-7 col-xs-7">
                                            <input type="text" class="form-control text-right" id="VBanco0" readonly onclick="LlamarBanco(0)">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-5 col-xs-5"><span id="banco1"></span></label>
                                        <div class="col-md-7 col-xs-7">
                                            <input type="text" class="form-control text-right" id="VBanco1" readonly onclick="LlamarBanco(1)">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-5 col-xs-5"><span id="banco2"></span></label>
                                        <div class="col-md-7 col-xs-7">
                                            <input type="text" class="form-control text-right" id="VBanco2" readonly onclick="LlamarBanco(2)">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-5 col-xs-5"><span id="banco3"></span></label>
                                        <div class="col-md-7 col-xs-7">
                                            <input type="text" class="form-control text-right" id="VBanco3" readonly onclick="LlamarBanco(3)">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <table border="0" width="100%" class="tdarqueo">
                                <tr style="border-top:2px solid black">
                                    <td>&nbsp;</td>
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="SUMAS IGUALES"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right text-XX" disabled id="TIngresos" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="SUMAS IGUALES"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right text-XX" disabled id="TEgresos" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label" idioma="TOTAL DEPOSITADO"></label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control text-right text-XX" id="TDeposito" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane fade in" id="arqueo">
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" width="100%" id="TablaIngreso">
                                <thead>
                                    <tr>
                                        <th idioma="Nro">&nbsp;</th>
                                        <th idioma="Nro.Recibo">&nbsp;</th>
                                        <th width="40%" idioma="Cliente">&nbsp;</th>
                                        <th idioma="Efectivo">&nbsp;</th>
                                        <th idioma="Tarjeta">&nbsp;</th>
                                        <th idioma="Cheque">&nbsp;</th>
                                        <th idioma="Cheque Post_Fecha">&nbsp;</th>
                                        <th idioma="Consignacón">&nbsp;</th>
                                        <th idioma="Fecha Recibo">&nbsp;</th>
                                        <th idioma="Fecha Operación">&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="modalConsultar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Cierre"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-12 col-md-12">
                        <label idioma="Usuario"></label>
                        <select id="CUsuarios" style="width:100%"></select>
                    </div>

                    <div class="col-xs-8 col-md-8">
                        <label idioma="Fecha de Cierre"></label>
                        <input type="date" class="form-control" id="CFecha">
                    </div>

                    <div class="col-xs-4 col-md-4">
                        <label idioma="Número"></label>
                        <input type="number" min="0" class="form-control" id="CNumero" value="0">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="Consultar()"><span idioma="Consultar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalRCaja" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TipoRegistro"></span></h4>
                <input type="hidden" id="NumTipRegistro" />
                <input type="hidden" id="IdCajaMenor" />
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Concepto"></label>
                        <select id="CConcepto" tabindex="56" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label><a href="javascript:LlamarTerceros()" title="Registro de Terceros"><span idioma="Tercero"></span></a></label>
                        <select id="CTercero" tabindex="57" style="width:100%"></select>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Recibo No"></label>
                        <input type="text" tabindex="58" class="form-control text-XX text-center" readonly id="CRecibo">
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Valor Total"></label>
                        <input type="text" tabindex="60" class="form-control text-XX text-right" id="CValor" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Observación"></label>
                        <textarea class="form-control" id="CObservacion" rows="2"></textarea>
                    </div>
                </div>
                

                <div class="form-group row">
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Forma Pago"></label>
                        <select class="form-control text-XX text-center" id="CModoPago" style="width:100%" onchange="CambioFormaPago(this.value)">
                            <option value="Efectivo">Efectivo</option>
                            <option value="Banco">Banco</option>
                        </select>
                    </div>
                    <div class="col-xs-2 col-md-4">
                        <label idioma="Cuenta Bancaria"></label>
                        <select class="form-control text-XX text-center" id="CCuenta" disabled style="width:100%" />
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        <button class="btn btn-glow btn-primary" title="Guardar" type="button" onclick="LLamarFirma()" id="Gua_CajaMenor"><span data-icon="&#xe26c;"></span></button>
                        <button class="btn btn-glow btn-danger" type="button" title="Limpiar" onclick="LimpiarCajaMenor()" id="Lim_CajaMenor"><span data-icon="&#xe221;"></span></button>
                        <button class="btn btn-glow btn-success" type="button" title="Imprimir" onclick="ImprimirCajaMenor(0)" id="Lim_CajaMenor"><span data-icon="&#xe0f7;"></span></button>
                    </div>
                </div>

                <hr />

                <div class="table-responsive" style="height:290px;overflow-y:auto">
                    <table class="table display  table-bordered hover" width="100%" id="TablaEgresos">
                        <thead>
                            <tr>
                                <th width="3%" idioma="Id"></th>
                                <th idioma="Recibo"></th>
                                <th idioma="Concepto"></th>
                                <th idioma="Modo<br>Pago"></th>
                                <th idioma="Fecha <br>Registro"></th>
                                <th width="30%" idioma="Tercero"></th>
                                <th idioma="Valor Total"></th>
                                <th idioma="Valor Recaudado"></th>
                                <th idioma="Valor Pendiente"></th>
                                <th idioma="Estado"></th>
                                <th idioma="Observación"></th>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-XX"><b><span idioma="Acumulado"></span>:</b>&nbsp;&nbsp; <span id="TotalRCaja"></span></label>
                    </div>
                    <div class="col-md-4">
                        <label class="text-XX"><b><span idioma="Efectivo"></span>:</b>&nbsp;&nbsp; <span id="TotalREfectivo"></span></label>
                    </div>
                    <div class="col-md-4">
                        <label class="text-XX"><b><span idioma="Banco"></span>:</b>&nbsp;&nbsp; <span id="TotalRBanco"></span></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalTerceros" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Registro de Terceros"></span></h4>
                <input type="hidden" id="IdTercero" />
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-2 col-md-2">
                        <label idioma="Documento"></label>
                        <select id="TDocumento" tabindex="50" style="width:100%" onchange="CambioDocumento(this.value)">
                            <option value="NIT">NIT</option>
                            <option value="RUT">RUT</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="PS">PS</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Nit/Cédula"></label>
                        <div class="input-group">
                            <input name="TNit" id="TNit" type="text" tabindex="51" class="form-control" style="width:70%;">
                            <input name="TControl" id="TControl" tabindex="52" type="number" min="0" max="9" maxlength="1" class="form-control text-center" onkeyup="calcularDigitoVerificacion('TNit',this)" style="margin-top:0px;width:30%;">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-7">
                        <label idioma="Razón Social ó Nombre Compelto"></label>
                        <input type="text" tabindex="55" class="form-control" id="TNombre">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-right">
                        <button class="btn btn-glow btn-primary" tabindex="54" type="button" onclick="GuardarTercero()"><span idioma="Agregar"></span></button>
                        <button class="btn btn-glow btn-danger" tabindex="55" type="button" onclick="LimpiarTercero()"><span idioma="Limpiar"></span></button>
                    </div>
                </div>
                <div class="table-responsive" style="height:300px;overflow-y:auto">
                    <table class="table display  table-bordered hover" width="100%" id="TablaTerceros">
                        <thead>
                            <tr>
                                <th idioma="Id"></th>
                                <th idioma="Documento"></th>
                                <th idioma="Nit/Cédula"></th>
                                <th idioma="Verificador"></th>
                                <th idioma="Razón Social ó Nombre Compelto"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalBanco" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TBancoConsig"></span></h4>
                <input type="hidden" id="NroBanco" />
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Efectivo"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="40" name="CEfectivo" id="CEfectivo" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Cheque"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="41" name="CCheque" id="CCheque" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <hr />
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Total"></label>
                        <input type="text" class="form-control text-right text-LG" readonly tabindex="42" name="CTotal" id="CTotal" value="" />
                    </div>
                    <hr />
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Nro de Operación"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="43" name="CPlanilla" maxlength="15" id="CPlanilla" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="44" type="button" onclick="GuardarBanco()"><span idioma="Aceptar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalReciboCaja" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TBancoConsig"></span></h4>
                <input type="hidden" id="NroBanco" />
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Efectivo"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="40" id="RecEfectivo" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Tarjeta"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="41" id="RecTarjeta" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Cheque"></label>
                        <input type="text" class="form-control text-right text-LG" tabindex="41" id="RecCheque" value="" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarBanco(this)" />
                    </div>
                    <hr />
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Total"></label>
                        <input type="text" class="form-control text-right text-LG" readonly tabindex="42" id="RecTotal" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalFirma" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Firma del Recibo"></span></h4>
                <input type="hidden" id="NroBanco" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h5 class="lh-3 mg-b-20"><a href="" class="tx-inverse hover-primary"><span idioma="Debe de firma el recibo para poderlo guardar"></span></a></h5>
                            <p class="mg-b-5"><span idioma="Para firmar el recibo de caja menor debe de deslizar el mouse en el espacio gris"></span>. </p>
                        </center>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <canvas id="pad1" width="420px" height="250px" style="background-color:darkgray;"></canvas>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-glow btn-danger" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                            <i class="glyphicon glyphicon-file"></i><span idioma="Borrar Firma"></span>
                        </button>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-glow btn-success" onclick="GuardarCajaMenor()"><span idioma="Guardar Recibo"></span></button>
                <button type="button" class="btn btn-glow btn-secondary" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ArqueoUsuario.js?unico=' + Math.round(Math.random() * 10000));
    $("#logoayuda").attr("src", url + "images/Ayuda.png");
</script>
