﻿
<br>


    <div>

        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Recibo de Caja"></span></a></h3>
                    </div>
                    <div class="col-md-10 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">[F2] <span idioma="Limpiar/Cancelar"></span></button>
                        <button class="btn btn-glow btn-info" type="button" onclick="ModalRecibo()">[F10] <span idioma=" Buscar"></span></button>
                        <button class="btn btn-glow btn-success" type="button" id="btnGuardar" onclick="GuardarRecibo()">[F3] <span idioma="Guardar"></span></button>
                        <button class="btn btn-glow btn-warning hidden" type="button" id="btnEnviar"  onclick="EnviarRecibo()">[F4] <span idioma="Enviar"></span></button>
                        <button class="btn btn-glow btn-warning hidden" type="button" id="btnImprimir"  onclick="ImprimirRecibo(1)">[F6] <span idioma="Imprimir"></span></button>
                        <button class="btn btn-glow btn-danger hidden" type="button" id="btnAnular" onclick="AnularRecibo()">[F8] <span idioma="Anular"></span></button>
                        
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-sm-9">
                            <div class="form-group row">
                                <div class="col-xs-3 col-md-1 col-sm-2">
                                    <label idioma="Cliente"></label>
                                    <input type="text" autofocus class="form-control" maxlength="8" onkeypress="return NumCheck(event, this,0)" pattern="[0-9]{1,7}" max="7" min="1" name="Cliente" onblur="BuscarCliente(this.value,0)" id="Cliente" tabindex="1" required />
                                </div>
                                <div class="col-xs-9 col-md-11 col-sm-10">
                                    <br>
                                    <label id="NombreCliente"></label>

                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label idioma="Concepto"></label>
                                    <input type="text" autofocus class="form-control" name="Concepto" id="Concepto" tabindex="1" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2 col-sm-3">
                            <div class="col-xs-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label idioma="Recibo de Caja"></label>
                                    <div style="font-size:23px; font-weight:bold" id="Recibo" class="text-center">0</div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-12 col-sm-12">
                                <div class="form-group row">
                                    <label idioma="Valor Recaudado"></label>
                                    <input type="text" class="form-control text-right" name="VRecaudado" id="VRecaudado" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-glow btn-default" href="javascript:ModalClientes()">F1<span idioma="Buscar Clientes"></span></a>
        <a class="btn btn-glow btn-default" href="javascript:CargarModaltarjeta()">F9 <span idioma="Pago con Tarjeta"></span></a>
        <a class="btn btn-glow btn-default" href="javascript:CargarModalCheque()">F10 <span idioma="Pago con Cheque"></span></a>
        <a class="btn btn-glow btn-default" href="javascript:CargarModalConsig()">F11 <span idioma="Pago con Consignación"></span></a>
        <a class="btn btn-glow btn-default" href="javascript:LimpiarPagos()">F12 <span idioma="Blanquear Pagos"></span></a>

        <div id="divAnulaciones" class="col-md-12 hidden">
            <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion" idioma="Prueba"></span></label>
        </div>

        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div style="width:100%; height:250px; overflow-x:auto;">
                    <table class="table display -bordered" width="100%" id="Malla" style="font-size:14px">
                        <thead>
                            <tr class="bg-primary">
                                <th width="10px">Nro</th>
                                <th width="70px" idioma="Factura"></th>
                                <th width="50px" idioma="Cuota"></th>
                                <th width="90px" idioma="Fecha Factura"></th>
                                <th width="90px" idioma="Vencimiento"></th>
                                <th width="90px" idioma="Descuento"></th>
                                <th width="90px" idioma="Valor Neto"></th>
                            </tr>
                        </thead>

                        <tbody id="bodyfacturacion"></tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-3 col-xs-12">
                <div class="col-md-12 col-xs-6">
                    <div class="form-group">
                        <label idioma="Total General en Facturas"></label>
                        <input type="text" class="form-control text-right" disabled name="TFactura" id="TFactura" style="font-size:20px; font-weight:bold" />
                    </div>
                </div>
                <div class="col-md-12 col-xs-6">
                    <div class="form-group">
                        <label idioma="Saldo por abonar a factura"></label>
                        <input type="text" class="form-control text-right" disabled name="SFactura" id="SFactura" style="font-size:20px; font-weight:bold" />
                    </div>
                </div>
                <div class="col-md-12 col-xs-6">
                    <div class="form-group">
                        <label idioma="Valor Recibido"></label>
                        <input type="text" class="form-control text-right" disabled name="VRecibido" id="VRecibido" style="font-size:20px; font-weight:bold" />
                    </div>
                </div>
                <div class="col-md-12 col-xs-6">
                    <div class="form-group">
                        <label idioma="Saldo por Pagar"></label>
                        <input type="text" class="form-control text-right" disabled name="SPagar" id="SPagar" style="font-size:20px; font-weight:bold" />
                    </div>
                </div>
                <div class="col-md-12 col-xs-6">
                    <div class="form-group">
                        <label idioma="Pesos"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="font-size:22px">
            <label idioma="Total Seleccionado"></label>:&nbsp;&nbsp; <span id="STotal">0</span>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Retención I.V.A."></label>
                                <input class="form-control text-right" id="RetIVA" name="RetIVA" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Retención Fuente"></label>
                                <input class="form-control text-right" id="RetFuente" name="RetFuente" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Retención I.C.A."></label>
                                <input class="form-control text-right" id="RetICA" name="RetICA" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Retención CREE"></label>
                                <input class="form-control text-right" id="RetCREE" name="RetCREE" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Descuento"></label>
                                <input class="form-control text-right" id="Descuento" name="Descuento" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Otros Ingreso"></label>
                                <input class="form-control text-right" id="OIngreso" name="OIngreso" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Otros Egreso"></label>
                                <input class="form-control text-right" id="OEgreso" name="OEgreso" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Efectivo"></label>
                                <input class="form-control  text-right" id="Efectivo" name="Efectivo" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <a href="javascript:CargarVerPagos('C','Recibo por Cheque')"><span idioma="Cheque"></span></a>
                                <input class="form-control text-right" value="0" id="TCheque" name="TCheque" disabled />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <a href="javascript:CargarVerPagos('T','Recibo por Tarjeta')"><span idioma="Tarjeta"></span></a>
                                <input class="form-control text-right" value="0" id="TTarjeta" name="TTarjeta" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <a href="javascript:CargarVerPagos('CO','Recibo por Consignación')"><span idioma="Consignación"></span></a>
                                <input class="form-control  text-right" id="TConsignacion" name="TConsignacion" value="0" readonly  />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
        

<div id="modalDesbClientes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Desbloquear Cliente"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el Código del Cliente"></label>
                        <center>
                            <input name="DCliente" id="DCliente" maxlength="8" onkeypress="return NumCheck(event, this,0)" class="form-control" style="width:90px" />
                        </center>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="DesbloquearClientes(0,0)"><span idioma="Desbloquear"></span></button>
            </div>
            
        </div>
    </div>
</div>


<div id="modalConsultarRecibos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Recibos de Caja"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro Recibo"></label>
                        <input name="BNRecibo" id="BNRecibo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Cód Cliente"></label>
                        <input name="BCodigo" id="BCodigo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Cliente"></label>
                        <input name="BCliente" id="BCliente" class="form-control" />
                    </div>
                    
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Estado"></label>
                        <select name="BEstado" id="BEstado" class="form-control" style="width:100%">
                            <option value="T">Todos</option>
                            <option value="F">Facturados</option>
                            <option value="A">Anuladas</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="BFechaDesde" id="BFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="BFechaHasta" id="BFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Ultimos Días"></label>
                        <input type="number" name="BUltimoDia" id="BUltimoDia" value="3" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalRecibos()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <div id="divmodalrecibos" class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered" id="tablamodalrecibos">

                        <thead>

                            <tr>
                                <th width="8%"><span idioma="Nro Recibo"></span></th>
                                <th><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Cliente"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Abonado"></span></th>
                                <th><span idioma="Anulado"></span></th>
                                <th><span idioma="Total"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalClientes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes por Almacén"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="CRazon" id="CRazon" class="form-control" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <label idioma="Iniciales"></label>
                        <input name="CIniciales" id="CIniciales" class="form-control" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <label idioma="Código"></label>
                        <input name="CCodigo" id="CCodigo" class="form-control" maxlength="8" onkeypress="return NumCheck(event, this,0)" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="CCedula" id="CCedula" class="form-control" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label><span idioma="Todos"></span><input type="radio" id="CTodos" name="SelecCliente" /></label><br>
                        <label><span idioma="Clientes de este almacén"></span><input id="CAlmacen" name="SelecCliente" checked type="radio" /></label>
                    </div>

                </div>
                <div id="divmodalcliente" class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered" id="tablamodalcliente">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Tipo Cliente"></span></th>
                                <th><span idioma="Almacén"></span></th>
                                <th><span idioma="Característica"></span></th>
                                <th><span idioma="Nit"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<div id="enviar_orden" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarpedido">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Pedido Nro"></span> <span id="sppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-md-6">
                            <label idioma="Email"></label>
                            <input type="email" class="form-control" id="eCorreo" required />
                        </div>
                    </div>
                    <iframe id="resultadopdfpedido" width="100%" height="400px"></iframe>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalTarjeta" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formfacturarpedido">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Recibo por Tarjeta "></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <label idioma="Tipo" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <select type="text" class="form-control"  name="ttipo" id="ttipo" tabindex="200" style="width:100%" required >
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label idioma="Número" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <input type="number" class="form-control" name="tnumero" id="tnumero" tabindex="201" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label idioma="Valor" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control text-right" name="Tarjeta" id="Tarjeta" tabindex="202" value="0" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label idioma="Fecha Venc.(MM/YY)"></label>
                                <center><input type="text" class="form-control" style="width:60px" name="tfvencimiento" id="tfvencimiento" tabindex="203" required /></center>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group text-center">
                                <label idioma="Código de Seguridad"></label>
                                <center><input type="number" class="form-control" style="width:60px" name="tcodseguridad" id="tcodseguridad" tabindex="204" maxlength="3" required /></center>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label idioma="Autorización" class="col-md-4 col-xs-12  control-label"></label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" class="form-control" name="tautoriza" id="tautoriza" tabindex="205" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" ><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-danger" tabindex="3" type="button" onclick="LimpiarTarjeta()"><span idioma="Limpiar tarjeta"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalCheque" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Recibo por Cheque"></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="form-group row">
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Banco"></label>
                                                <select name="ChBanco" id="ChBanco" tabindex="200" style="width:100%" required></select>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Plaza"></label>
                                                <select name="ChPlaza" id="ChPlaza" tabindex="200" style="width:100%" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Número"></label>
                                                <input type="text" class="form-control" pattern="[0-9]{1,20}" max="20" min="1" name="ChNumero" id="ChNumero" tabindex="200" required/>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Número de Cuenta"></label>
                                                <input type="text" class="form-control" name="ChCuenta" id="ChCuenta" tabindex="200" required/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6 col-xs-6">
                                                <label>
                                                    <span idioma="A primer Beneficiario"></span>
                                                    <input type="radio" name="ChTipoC" value="1" id="ChTipoC_B" tabindex="200"  />
                                                </label>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>
                                                    <span idioma="Para Cambio"></span>
                                                    <input type="radio" name="ChTipoC" value="2" id="ChTipoC_C"  />
                                                </label>
                                            </div>
                                        </div>
                                        <hr style="margin-top:0px; margin-bottom:0px;" />
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <h3><label idioma="GIRADOR"></label></h3>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label>
                                                    <span idioma="Persona Natural"></span>
                                                    <input type="radio" name="ChPersona" onchange="chCambioPersona('N')" id="ChPersona_N" required />
                                                </label>
                                                <label>
                                                    <span idioma="Persona Jurídica"></span>
                                                    <input type="radio" name="ChPersona" onchange="chCambioPersona('J')" id="ChPersona_J" checked required />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <label idioma="Nombre"></label>
                                                <input type="text" class="form-control" inicial="" name="ChNombre" id="ChNombre" tabindex="201" required />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Cédula"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChCedula" id="ChCedula" tabindex="201" required />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChTelefono" id="ChTelefono" tabindex="201" required />
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label idioma="Dirección"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChDireccion" id="ChDireccion" tabindex="201" required />
                                            </div>
                                        </div>
                                        <hr style="margin-top:6px; margin-bottom:6px;" />
                                        <div class="row">
                                            <div class="col-md-5 col-xs-4">
                                                <label idioma="Fecha"></label>
                                                <input type="date" class="form-control" name="ChFecha" id="ChFecha" tabindex="201" required />
                                            </div>
                                            <div class="col-md-2 col-xs-2">
                                                <label idioma="#Cheques"></label>
                                                <input type="text" class="form-control text-center" onkeyup="ValidarTexto(this,1)" name="ChCantidad" id="ChCantidad" tabindex="201" required />
                                            </div>
                                            <div class="col-md-5 col-xs-6">
                                                <label idioma="Valor"></label>
                                                <input type="text" class="form-control text-right" name="Cheque" id="Cheque" tabindex="201" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Autorización"></label>
                                                <input type="text" class="form-control" name="ChAutorizacion" id="ChAutorizacion" tabindex="201"/>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Autorizado por"></label>
                                                <input type="text" class="form-control" name="ChAutorizado" id="ChAutorizado" tabindex="201"/>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7 col-xs-12">
                            <br>
                            <div class="row">
                                <div class="col-md-12 col-xs-12 text-right">
                                    <button type="button" onclick="LimpiarCheque()" class="btn btn-glow btn-default"><span idioma="Limpiar"></span></button>
                                    <button type="submit" class="btn btn-glow btn-success"><span idioma="Guardar Cheque"></span></button>
                                </div>
                            </div>
                            <div class="table-responsive" id="divtabcheque">
                                <table class="table display  table-bordered">
                                    <thead>
                                        <tr>
                                            <th idioma="Id"></th>
                                            <th idioma="Banco"></th>
                                            <th idioma="Plaza"></th>
                                            <th idioma="Número"></th>
                                            <th idioma="Cuenta"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class=" col-md-12 col-xs-12">
                                <font size="5px"><b><span idioma="Total En Cheques"></span></b>&nbsp;<span id='chTotales'>0</span></font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalVerCheque" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span id ="TituloVerPagos"></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="VerChequeRecibo"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalConsignacion" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formfacturarpedido">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consignar"></span> </h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-md-12 col-xs-12">
                            <label idioma="Cuenta donde consignó el cliente"></label>
                            <select type="text" class="form-control" name="con_cuenta" id="con_cuenta" tabindex="300" style="width:100%" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 col-xs-12">
                            <label idioma="Número de control"></label>
                            <input type="text" class="form-control" name="con_numero" id="con_numero" tabindex="301" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Fecha de consignación"></label>
                            <input type="date" class="form-control text-right" name="con_fecha" id="con_fecha" tabindex="302" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Tipo de Movimiento"></label>
                            <select name="con_tipo" style="width:100%" id="con_tipo">
                                <option value="D">Depósito</option>
                                <option value="M">Trasnferencia</option>
                                <option value="C">Cheque</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Valor a Consignar"></label>
                            <input type="text" class="form-control text-right" name="Consignacion" disabled id="Consignacion" tabindex="303" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-danger" tabindex="3" type="button" onclick="LimpiarConsignacion()"><span idioma="Limpiar Consignación"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>


    
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/RCaja.js?unico=' + Math.round(Math.random() * 10000));
    //$('body').removeClass('nav-md');
    //$('body').addClass('nav-sm');

</script>




