﻿
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li class="active"><a id="lab_crearmodificar" href="#tableyenda" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Leyenda de Cotización"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tableyenda">
            <form id="formLeyenda" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span  idioma="Registro de Leyenda de Cotizaciones"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarLeyenda()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Ley_Id" name="Ley_Id" value="0" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Servicio de Calibración"></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Ley_Servicios" name="Ley_Servicios" style="width:100%" multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Equipos de Calibración"></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Ley_EquiposCal" name="Ley_EquiposCal" style="width:100%" multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Grupos de Inventarios"></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Ley_Grupos" name="Ley_Grupos" style="width:100%" multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Equipos de Inventarios"></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Ley_EquiposInv" name="Ley_EquiposInv" style="width:100%" multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Descripción"></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="Ley_Descripcion" name="Ley_Descripcion" required rows="6" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Ley_Estado" name="Ley_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaLeyenda">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="37%" idioma="Leyenda Cotización"></th>
                                        <th width="12%" idioma="Servicios<br>Calibración"></th>
                                        <th width="12%" idioma="Equipos<br>Calibración"></th>
                                        <th width="12%" idioma="Grupos<br>Inventarios"></th>
                                        <th width="12%" idioma="Equipos<br>Inventarios"></th>
                                        <th width="5%" idioma="Estado"></th>
                                        <th width="5%" idioma="Fecha"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/LeyendaCotizacion.js?unico=' + Math.round(Math.random() * 10000));
</script>




