﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabfacturas">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a href="#tabcalendario" data-toggle="tab"><i
                            class="icon-checkbox-partial"></i><span idioma="Agenda Personal"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span
                            idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcalendario">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span
                                                idioma="Agenda Personal"></span></a></h3>
                                </div>
                                <div class="col-md-8 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar"
                                        onclick="BuscarFecha()">F2 <span idioma="Ir a una Fecha"></span></button>
                                    <button class="btn btn-glow btn-info" type="button" id="btnlimpiar"
                                        onclick="BuscarEventos()"><span idioma="Buscar eventos"></span></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="javascript:CambiarMes(1)"><span
                                                class="fc-button fc-button-prev fc-state-default fc-corner-left"
                                                unselectable="on" style="-moz-user-select: none;"><span
                                                    class="fc-text-arrow">‹</span></span></a>
                                        <a href="javascript:CambiarMes(2)"><span
                                                class="fc-button fc-button-next fc-state-default" unselectable="on"
                                                style="-moz-user-select: none;"><span
                                                    class="fc-text-arrow">›</span></span></a>
                                    </div>

                                    <div class="col-md-4 text-center">
                                        <h3 id="TituloCalendario">Meses</h3>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <a href="javascript:CargarAgenda(1)"><span id="OpcionAgenda1"
                                                class="fc-button  fc-state-default fc-state-active"
                                                style="-moz-user-select: none;">Meses</span></a>
                                        <a href="javascript:CargarAgenda(2)"><span id="OpcionAgenda2"
                                                class="fc-button  fc-state-default"
                                                style="-moz-user-select: none;">Semanas</span></a>
                                        <a href="javascript:CargarAgenda(3)"><span id="OpcionAgenda3"
                                                class="fc-button  fc-state-default"
                                                style="-moz-user-select: none;">Días</span></a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-xs-4 col-md-2">
                                        <label idioma="Titulo actividad"></label><br>
                                        <select name="buscTitulo" id="buscTitulo" class="form-control"
                                            style="width:100%" />
                                    </div>
                                </div>
                                <hr />
                                <div class="table-responsive" id="Calendario">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Consecutivo"></label>
                                    <input type="text" name="CoControl" id="CoControl" class="form-control" />
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <label idioma="Titulo"></label>
                                    <input type="text" name="CoTitulo" id="CoTitulo" class="form-control" />
                                </div>

                                <div class="col-xs-6 col-sm-1">
                                    <label idioma="Evaluada"></label>
                                    <select type="text" name="CoEvaluada" id="CoEvaluada" class="form-control" style="width:100%;" >
                                        <option value="">--</option>
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                                
                                <div class="col-xs-6 col-sm-2">
                                    <label idioma="Fecha Desde"></label>
                                    <input type="date" name="CoFechaDesde" id="CoFechaDesde" class="form-control" />
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label idioma="Fecha Hasta"></label>
                                    <input type="date" name="CoFechaHasta" id="CoFechaHasta" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-2 text-right">
                                    <br>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ConsularCalendario()"><span idioma="Consultar"></span></button>
                                    <button class="btn btn-glow btn-info" type="button" onclick="GeneradPDF()"><span idioma="GenerarPDF"></span></button>
                                </div>
                            </div>
                            <hr />
                            <div class="table-responsive" style="min-height:300px;">
                                <table class="table display  table-bordered hover" id="TablaCoCalendario">

                                    <thead>

                                        <tr>
                                            <th width="3%"><span idioma="#"></span></th>
                                            <th width="3%"><span idioma="Control"></span></th>
                                            <th width="40%"><span idioma="Título"></span></th>
                                            <th width="8%"><span idioma="FechaInicio"></span></th>
                                            <th width="8%"><span idioma="FechaFinal"></span></th>
                                            <th width="8%"><span idioma="Registrado"></span></th>
                                            <th width="8%"><span idioma="Evaluado"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalEvento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="FormEvento">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span
                            idioma="Administrar Actividad ó Evento"></span></h4>
                </div>
                <input type="hidden" id="IdEvento" name="IdEvento" value="0" />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Tipo"></label>
                            <select class="form-control" name="MoTipo" id="MoTipo" style="width:100%">
                                <option value="Evento">Evento</option>
                                <option value="Actividad">Actividad</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6" id="estadoCampo">
                            <label idioma="Estado"></label>
                            <select class="form-control" name="MoEstado" id="MoEstado" style="width:100%">
                                <option value="Activo">Activo</option>
                                <option value="Bloqueado">Bloqueado</option>
                            </select>
                        </div>
                        <!--div class="col-xs-12 col-sm-12">
                            <label idioma="Vistas (No seleccione ninguna si desea que el evento lo vea solo usted)"></label>
                            <select multiple class="form-control" id="Vistas" name="Vistas" style="width:100%" />
                        </div>-->
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Titulo"></label><a href="javascript:agregarTituloMo()"
                                id="linkAdd">&nbsp;(Agregar titulo)</a>
                            <select name="MoTitulo" id="MoTitulo" class="form-control" style="width:100%"></select>
                        </div>
                        <!--div class="col-xs-12 col-sm-12">
                            <label idioma="Cliente"></label>
                            <select class="form-control" id="Cliente" name="Cliente" style="width:100%" />
                        </!--div>-->
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Descripción"></label>
                            <textarea class="form-control" rows="4" name="MoDescripcion" id="MoDescripcion" required />
                            </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Adjuntar Archivo"></label>
                            <input type="file" class="form-control" name="MoArchivo" id="MoArchivo" multiple>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Fecha Inicio"></label><br>
                            <input type="date" id="MoFechaInicio" name="MoFechaInicio" class="form-control" onchange="fechaIni()" required />
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label idioma="Hora Inicio"></label><br>
                            <input type="time" id="MoHoraInicio" name="MoHoraInicio" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Fecha Recordatorio"></label><br>
                            <input type="date" id="MoFechaRecordatorio" name="MoFechaRecordatorio" class="form-control" required />
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Fecha Final"></label><br>
                            <input type="date" id="MoFechaFinal" name="MoFechaFinal" class="form-control" required />
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <label idioma="Hora Final"></label><br>
                            <input type="time" id="MoHoraFinal" name="MoHoraFinal" class="form-control" />
                        </div>
                    </div>
                    <div id="RegistroEvento"></div>
                </div>
                <div class="modal-footer">
                    <!--button class="btn btn-glow btn-danger" type="button" onclick="EliminarArchivo()"><span idioma="Eliminar Archivo"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="VerArchivo(0)"><span idioma="Ver Archivo"></span></button-->
                    <button class="btn btn-glow btn-primary" type="button" onclick="guardarEvento()"><span idioma="Agregar Evento/Actividad"></span></button>
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </form>
        
    </div>
</div>

<div id="ModalVerEvento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Ver Evento ó Actividad"></span></h4>
            </div>
            <input type="hidden" id="IdEvento" name="IdEvento" value="0" />
            <div class="modal-body with-padding">
                <table width="100%" border="0">
                    <tr>
                        <th width="20%" style="text-align:right">ID</th>
                        <td width="5%">:</td>
                        <td width="80%"><input id="TID" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Registrado por</th>
                        <td>:</td>
                        <td><input id="TRegistro" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Tipo</th>
                        <td>:</td>
                        <td style="margin-top: 5px;margin-bottom: 5px;"><select class="form-control" name="TTipo" id="TTipo" style="width:100%" disabled>
                            <option value="Evento">Evento</option>
                            <option value="Actividad">Actividad</option>
                        </select>
                    </td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Estado</th>
                        <td>:</td>
                        <td style="padding-top: 5px;padding-bottom: 5px;"><select class="form-control" name="TEstado" id="TEstado" style="width:100%" disabled>
                            <option value="Activo">Activo</option>
                            <option value="Bloqueado">Bloqueado</option>
                            <option value="Vencido">Vencido</option>
                            <option value="Finalizado">Finalizado</option>                            
                        </select></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Título</th>
                        <td>:</td>
                        <td style="padding-top: 5px;padding-bottom: 5px;"><select name="TTitulo" id="TTitulo" class="form-control" style="width:100%" disabled></select></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Descripción</th>
                        <td>:</td>
                        <td><textarea id="TDescripcion" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly/></td>
                    </tr>
                    <tr id="actItem">
                        <th style="text-align:right">Actividades</th>
                        <td>:</td>
                        <td id="activDet"></td>
                    </tr>
                    <tr id="DocRigItem">
                        <th style="text-align:right">Documentos que lo rigen</th>
                        <td>:</td>
                        <td><textarea id="TDocRigen" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly/></td>
                    </tr>
                    <tr id="DocAfecItem">
                        <th style="text-align:right">Documentos que afecta</th>
                        <td>:</td>
                        <td><textarea id="TDocAfecta" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly/></td>
                    </tr>
                    <tr id="PasosItem">
                        <th style="text-align:right">Pasos para la verificación</th>
                        <td>:</td>
                        <td><textarea id="TPasosVerif" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly/></td>
                    </tr>
                    <tr id="ObservItem">
                        <th style="text-align:right">Observaciones de la verificación</th>
                        <td>:</td>
                        <td><textarea id="TObservacion" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly/></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Fecha/Inicio</th>
                        <td>:</td>
                        <td><input type="date" id="TFechaInicio" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" onchange="fechaInicioII()" readonly></td>
                    </tr>
                    <tr id="fechaRecord">
                        <th style="text-align:right">Fecha/Recordatorio</th>
                        <td>:</td>
                        <td><input type="date" id="TFechaRecordatorio" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Fecha/Final</th>
                        <td>:</td>
                        <td><input type="date" id="TFechaFinal" class="form-control" style="margin-top: 5px;margin-bottom: 5px;" readonly></td>
                    </tr>
                    <tr>
                        <th style="text-align:right">Archivo(s)</th>
                        <td>:</td>
                        <td id="TArchivo">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" id="btnactEdit" onclick="actEditar(1)"><span idioma="Modificar"></span></button>
                <button class="btn btn-glow btn-success collapse" type="button" id="btnmodtarea" onclick="ModificarEvento()"><span idioma="Guardar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalTarea" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Tarea  de la Actividad ó Evento"></span> <span id="TituloTarea"></span></h4>
            </div>
            <input type="hidden" id="IdEvento" name="IdEvento" value="0" />
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="IdEvenTarea" />
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-1">
                        <label idioma="ID"></label>
                        <input class="form-control text-center" name="IdTarea" id="IdTarea" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Descripción de la Tarea"></label>
                        <textarea class="form-control" rows="4" name="Tarea" id="Tarea" required />
                    </div>
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-bordered display hover" id="TablaEventoTarea">
                        <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="15%">Registro</th>
                                <th width="60%">Tarea</th>
                                <th width="5%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-default" type="button" onclick="NuevaTarea()"><span idioma="Nueva Tarea"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="GuardarTarea()"><span idioma="Guardar Tarea"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>
<div id="ModalTitulo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Tarea  de la Actividad ó Evento"></span> <span id="TituloTarea"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="Titulo"></label>
                        <input class="form-control text-center" name="IdTituloNvo" id="IdTituloNvo" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 col-sm-12">
                        <label idioma="Áreas"></label>
                        <select multiple id="idAreasTit" style="width:100%; height:550px"></select>
                    </div>                    
                </div>
                <table class="table table-bordered hover">
                    <thead>
                        <tr>
                            <th width="50%">Titulo</th>
                            <th width="25%">Areas</th>
                            <th width="25%">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTitulos">

                    </tbody>
                </table>
                <hr />                
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="guardarTitulo()"><span idioma="Guardar Titulo"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    console.log(url_cliente);
    $.getScript(url_cliente + 'js/CalendarioAct.js?unico=' + Math.round(Math.random() * 10000));
</script>