﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabcotizacion">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a  href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Condiciones Ambientales"></span></a></h3>
                                </div>
                                <div class="col-sm-6 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="Consultar()">F10 <span idioma="Buscar"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" id="btnguardar1" onclick="GenerarPDF()">F9 <span idioma="Generar PDF"></span></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Magnitudes"></label>
                                        <select name="Magnitud" id="Magnitud" class="form-control" style="width:100%"></select>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Sensor"></label>
                                        <select name="Sensor" id="Sensor" class="form-control" style="width:100%"></select>
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Certificado"></label>
                                        <input name="Certificado" id="Certificado" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Ingreso"></label>
                                        <input name="Ingreso" id="Ingreso" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Desde"></label>
                                        <input type="date" name="FechaDesde" id="FechaDesde" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Hora"></label>
                                        <input type="time" name="HoraDesde" id="HoraDesde" value="07:00" class="form-control" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Hasta"></label>
                                        <input type="date" name="FechaHasta" id="FechaHasta" class="form-control" />
                                    </div>

                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Hora"></label>
                                        <input type="time" name="HoraHasta" id="HoraHasta" value="19:00" class="form-control" />
                                    </div>
                                    
                                    
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Valor Medio Temp."></label>
                                        <input name="TSubTotal" id="ValorMedTemp" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Desviación Temp."></label>
                                        <input name="TSubTotal" id="DesvTemp" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Valor Medio Hume."></label>
                                        <input name="TSubTotal" id="ValorMedHume" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Desviación Hume."></label>
                                        <input name="TAnuladas" id="DesvHume" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0,1)" onkeyup="ValidarTexto(this,1)" />
                                    </div>
                                </div>
                                <hr>
                                <h3>Totales</h3>
                                <div class="form-group row">
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Temp. Máx."></label>
                                        <input name="TSubTotal" id="TempMax" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Temp. Mín."></label>
                                        <input name="TSubTotal" id="TempMin" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Variación."></label>
                                        <input name="TSubTotal" id="TempVar" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Temp. Máx. Corre."></label>
                                        <input name="TAnuladas" id="TempMaxCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Temp. Mín. Corre."></label>
                                        <input name="TSubTotal" id="TempMinCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Variación."></label>
                                        <input name="TSubTotal" id="TempVarCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Hume. Máx."></label>
                                        <input name="TSubTotal" id="HumeMax" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Hume. Mín."></label>
                                        <input name="TSubTotal" id="HumeMin" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Variación."></label>
                                        <input name="TSubTotal" id="HumeVar" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Hume. Max. Corre."></label>
                                        <input name="TSubTotal" id="HumeMaxCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Hume. Mín. Corre."></label>
                                        <input name="TSubTotal" id="HumeMinCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Variación."></label>
                                        <input name="TSubTotal" id="HumeVarCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Presión Máx."></label>
                                        <input name="TSubTotal" id="PresionMax" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Presión Mín."></label>
                                        <input name="TSubTotal" id="PresionMin" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Variación."></label>
                                        <input name="TSubTotal" id="PresionVar" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Presión Máx. Corre."></label>
                                        <input name="TSubTotal" id="PresionMaxCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Presión Mín. Corre."></label>
                                        <input name="TSubTotal" id="PresionMinCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                    <div class="col-xs-4 col-md-2">
                                        <label class="text-XX" idioma="Variación."></label>
                                        <input name="TSubTotal" id="PresionVarCor" disabled class="form-control text-right text-XX" />
                                    </div>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table display  table-bordered hover" width="100%" id="TablaCondicion">
                                        <thead>
                                            <tr class="bg-gris">
                                                <th idioma="Punto"></th>
                                                <th idioma="Magnitud"></th>
                                                <th idioma="Piso"></th>
                                                <th idioma="Marca"></th>
                                                <th idioma="Modelo"></th>
                                                <th idioma="Certificado"></th>
                                                <th idioma="Serial"></th>
                                                <th idioma="Fecha"></th>
                                                <th idioma="Hora"></th>
                                                <th idioma="Temperatura"></th>
                                                <th idioma="Correción"></th>
                                                <th idioma="Humedad"></th>
                                                <th idioma="Correccion"></th>
                                                <th idioma="Presión"></th>
                                                <th idioma="Correccion"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                                    
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <canvas id="GraTemperaturaCo"></canvas>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <canvas id="GraTemperatura"></canvas>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <canvas id="GraPresion"></canvas>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <canvas id="GraPresionCo"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-2">
                                <label idioma="Magnitud"></label>
                                <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <label idioma="Sensor"></label>
                                <select name="CSensor" id="CSensor" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <label idioma="Asesor"></label>
                                <select name="CAsesor" id="CAsesor" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-12 col-sm-2 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarCondiciones()">F2 <span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display table-bordered hover" id="TablaCondicionesPDF">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th width="2%">&nbsp;</th>
                                            <th><span idioma="Magnitud"></span></th>
                                            <th><span idioma="Sensor"></span></th>
                                            <th><span idioma="Fecha Desde"></span></th>
                                            <th><span idioma="Fecha Hasta"></span></th>
                                            <th><span idioma="Valor Medio Temp."></span></th>
                                            <th><span idioma="Desviación Temp."></span></th>
                                            <th><span idioma="Valor Medio Hume."></span></th>
                                            <th><span idioma="Desviación Hume."></span></th>
                                            <th><span idioma="Asesor Técnico"></span></th>
                                            <th><span idioma="Fecha Impresión"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Condiciones.js?unico=' + Math.round(Math.random() * 10000));
</script>




