﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Informes Técnicos por Magnitudes"></span></a></h3>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-right">
                        <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="BuscarInforme()">F10 <span idioma="Buscar"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Tipo"></label>
                            <select name="Tipo" id="Tipo" class="form-control" style="width:100%">
                                <option value="0">Todos</option>
                                <option value="1">Informte Técnico</option>
                                <option value="2">Informe Mantenimiento</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Informe"></label>
                            <input name="Informe" id="Informe" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso"></label>
                            <input name="Ingreso" id="Ingreso" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Cliente"></label>
                            <select name="Cliente" id="Cliente" class="form-control" style="width:100%" />
                        </div>

                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Estado"></label>
                            <select name="Estado" id="Estado" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="Registrado">Registrado</option>
                                <option value="Aprobado">Aprobado</option>
                                <option value="Anulado">Anulado</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="FechaDesde" id="FechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="FechaHasta" id="FechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Tecnico"></label>
                            <select name="Usuario" id="Usuario" class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Magnitudes"></label>
                            <select name="Magnitud" id="Magnitud" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Equipos"></label>
                            <select name="Equipo" id="Equipo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Marca"></label>
                            <select name="Marca" id="Marca" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Modelos"></label>
                            <select name="Modelo" id="Modelo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Intervalo"></label>
                            <select name="Intervalo" id="Intervalo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Serie"></label>
                            <input name="Serie" id="Serie" class="form-control" />
                        </div>

                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" width="100%" id="TablaInforme" style="font-size:14px">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="3%" idioma="Tipo"></th>
                                    <th width="3%" idioma="Informe"></th>
                                    <th width="18%" idioma="Cliente"></th>
                                    <th width="3%" idioma="Ingreso"></th>
                                    <th width="18%" idioma="Equipo"></th>
                                    <th width="7%" idioma="Estado"></th>
                                    <th width="7%" idioma="Fecha"></th>
                                    <th width="10%" idioma="Especialista"></th>
                                    <th width="15%" idioma="Aprobado"></th>
                                    <th width="15%" idioma="Anulado"></th>
                                    <th width="3%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="InformeEquipo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="FomrEdiInforme">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Modificar Informe Técnico"></span> <span id="rpingreso"></span></h4>
                </div>
                <input type="hidden" id="NConcepto" name="NConcepto" />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Tipo"></label>
                            <input type="text" class="form-control text-center text-XX12" name="NTipo" id="NTipo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Informe"></label>
                            <input type="text" class="form-control text-center text-XX" name="NInforme" id="NInforme" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Ingreso"></label><br>
                            <input type="text" class="form-control text-center text-XX" name="NIngreso" id="NIngreso" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Cliente"></label><br>
                            <input type="text" class="form-control text-XX12" name="NCliente" id="NCliente" disabled />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Equipo"></label><br>
                            <div id="NEquipo" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación/Informe"></label><br>
                            <textarea type="text" rows="7" class="form-control" name="NObservacion" id="NObservacion" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Conclusiones"></label><br>
                            <textarea type="text" rows="7" class="form-control" name="NConclusion" id="NConclusion" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" type="submit"><span idioma="Guardar"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/InformeTecnico.js?unico=' + Math.round(Math.random() * 10000));
</script>




