﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs" id="tabtercerizado">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Órden de Compra"></span></a></li>
                <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar Ingresos por Órden de Compra"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in" ng-class="getTabPaneClass(1)">
                    <form id="formmonturas" style="background-color:white">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Órden de Compra a Proveedores"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="GuardarOrden()">F3 <span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" onclick="EnviarOrden()">F4 <span idioma="Enviar"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" ng_model="DocumentoPro" tabindex="0" ng-blur="BuscarProveedor(DocumentoPro,1,0)" id="Documento" ng-keyup="ValidarProveedor(DocumentoPro,$event)" />
                                        </div>
                                        <div class="col-xs-10 col-sm-4 col-sm-5">
                                            <label idioma="Nombre del Proveedor"></label><br>
                                            <input type="text" class="form-control" name="NombreProveedor" value="{{Proveedor.nombrecompleto}}" ng-disabled="true" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Nro Orden"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" ng-blur="BuscarOrdenCompra(Registro.orden)" ng-disabled="Registro.ngorden" pattern="[0-9]{1,7}" max="7" min="1" id="Orden" ng-model="Registro.orden" tabindex="2" />
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <label idioma="Ciudad/Departamento"></label>
                                            <input type="text" class="form-control" value="{{Proveedor.ciudad + '/' + Proveedor.departamento}}"" ng-disabled="true" tabindex="11" />
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Estado"></label>
                                            <input type="text" class="form-control" value={{Registro.estado}} ng-disabled="true" />
                                        </div>

                                        <div class="hidden-xs col-sm-4 col-sm-4">
                                            <label idioma="Dirección"></label><br>
                                            <input type="text" class="form-control" value="{{Proveedor.direccion}}" ng-disabled="true" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" value="{{Proveedor.telefono + '/' + Proveedor.celular}}" ng-disabled="true" />
                                        </div>

                                        <div class="col-xs-4 col-sm-5 col-sm-2">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" value="{{Proveedor.email}}" ng-disabled="true" />
                                        </div>

                                        <div class="col-xs-4 col-sm-5 col-sm-4">
                                            <label idioma="Cliente"></label>
                                            <select class="form-control" name="Cliente" id="Cliente" tabindex="1" onchange="TablaOrden(this.value)" style="width:100%">
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="SaldoClienteDev"></div>

                        <div class="row">
                            <div id="divAnulaciones" class="col-sm-12 hidden">
                                <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion"><span idioma="Prueba"></span></span></label>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table display -bordered hover" width="100%" id="Malla" style="font-size:14px">
                                <thead>
                                    <tr class="bg-info">
                                        <th width="3%" height="40px"><input type="checkbox" id="seleccionatodo" onchange="SeleccionarTodo()" class="form-control" /></th>
                                        <th width="10%" idioma="Ingreso / fecha <br> usuario"></th>
                                        <th width="15%" idioma="Equipo/Registro"></th>
                                        <th width="15%" idioma="Observación"></th>
                                        <th width="5%" idioma="Cotización"></th>
                                        <th width="15%" idioma="Servicio<br>Método"></th>
                                        <th width="5%" idioma="Cantidad"></th>
                                        <th width="8%" idioma="Precio"></th>
                                        <th width="5%" idioma="% Desc"></th>
                                        <th width="5%" idioma="% IVA"></th>
                                        <th width="8%" idioma="SubTotal"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyOrden"></tbody>
                            </table>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn btn-glow-group" role="group">
                                    <button type="button" class="btn btn-glow btn-info" onclick="ModalProveedores()">F1 <span idioma="Proveedores"></span></button>
                                    <button class="btn btn-glow btn-info botones" type="button" onclick="CargarOIngreso()">F6 <span idioma="Agregar Ingreso"></span></button>
                                    <button class="btn btn-glow btn-info botones" type="button" ng-click="ModalArticulosArt()">F7 <span idioma="Agregar Artículo"></span></button>
                                    <button class="btn btn-glow btn-info botones" type="button" ng-click="ModalORegistroArt()">F8 <span idioma="Agregar Otro Servicio"></span></button>
                                    <button class="btn btn-glow btn-success botones" type="button" ng-click="GuardarOrden()">F9 <span idioma="Guardar"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" ng-click="ImprimirOrden(0,0)">F10 <span idioma="Imprimir"></span></button>
                                    <button class="btn btn-glow btn-danger botones2" type="button" ng-click="ReemplazarOrden()">F11 <span idioma="Reemplazar"></span></button>
                                    <button class="btn btn-glow btn-warning botones2" type="button" ng-click="AnularOrden()">F12 <span idioma="Anular"></span></button>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-9 col-xs-12  ">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label idioma="FORMA DE PAGO"></label>
                                        <select class="form-control" id="FormaPago" style="width:100%">
                                            <option value="CONTADO">CONTADO</option>
                                            <option value="CREDITO">CREDITO</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label idioma="DÍAS DE ENTREGA"></label>
                                        <input class="form-control" id="DiasEntrega" onkeypress="return NumCheck(event, this,0)" maxlength="4" />
                                    </div>
                                    <div class="col-md-2">
                                        <label idioma="Cotización"></label>
                                        <input class="form-control" id="Cotizacion" maxlength="20" />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="LUGAR DE ENTREGA"></label>
                                        <input class="form-control" id="LugarEntrega" value="CALIBRATION SERVICE S.A.S. Carrera 69 a # 55 - 16 sur Bogotá D.C." />
                                    </div>
                                    <div class="col-md-12">
                                        <label idioma="Observación"></label>
                                        <textarea class="form-control" rows="6" id="Observacion"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-xs-12">

                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Sub-Total"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tsubtotal" id="tsubtotal" disabled style="font-size:20px" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Descuento"> </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tdescuento" id="tdescuento" disabled style="font-size:20px" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Gravable"> </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tbaseimponible" id="tbaseimponible" disabled style="font-size:20px" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Exento"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="texcento" id="texcento" disabled style="font-size:20px" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label text-right" idioma="IVA"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="tiva" disabled style="font-size:22px" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label text-right" idioma="Total a Pagar"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="ttotalpagar" id="ttotalpagar" disabled style="font-size:22px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Orden"></label>
                                <input name="COrden" id="COrden" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Cotización"></label>
                                <input name="CCotizacion" id="CCotizacion" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Ingreso"></label>
                                <input name="CIngreso" id="CIngreso" class="form-control" />
                            </div>

                            <div class="col-xs-4 col-sm-4">
                                <label idioma="Proveedor"></label>
                                <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-5">
                                <label idioma="Cliente"></label>
                                <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Serie"></label>
                                <input name="CSerie" id="CSerie" class="form-control" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuarios"></label>
                                <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-12 col-sm-6 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularOrdenes()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <h3>Totales</h3>
                        <div class="form-group row">
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Sub-Total"></label>
                                <input id="TSubTotal" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Anuladas"></label>
                                <input id="TAnuladas" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Descuento"></label>
                                <input id="TDescuento" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="IVA"></label>
                                <input id="TIva" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="GRAN TOTAL"></label>
                                <input id="TTotal" disabled class="form-control text-right text-XX" />
                            </div>
                        </div>

                        <hr />

                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaOrdenCompra" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%">&nbsp;</th>
                                            <th width="3%"><span idioma="Orden"></span></th>
                                            <th width="15%"><span idioma="Proveedor"></span></th>
                                            <th width="15%"><span idioma="Cliente"></span></th>
                                            <th><span idioma="Cantidad Items"></span></th>
                                            <th><span idioma="Descuento"></span></th>
                                            <th><span idioma="SubTotal"></span></th>
                                            <th><span idioma="IVA"></span></th>
                                            <th><span idioma="Total"></span></th>
                                            <th><span idioma="Departamento"></span></th>
                                            <th><span idioma="Ciudad"></span></th>
                                            <th><span idioma="Teléfonos"></span></th>
                                            <th><span idioma=" Correo Electrónico"></span></th>
                                            <th><span idioma="Días de Entrega"></span></th>
                                            <th><span idioma="Forma de Pago"></span></th>
                                            <th width="3%"><span idioma="Cotización"></span></th>
                                            <th><span idioma="Lugar de Entrega"></span></th>
                                            <th><span idioma="Estado"></span></th>
                                            <th><span idioma="Registro"></span></th>
                                            <th><span idioma="Envío"></span></th>
                                            <th><span idioma="Anulado"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica Consolidado de Órden de Compra"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <canvas id="GraficaOC"></canvas>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table display  table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th idioma="Año/Mes"></th>
                                                        <th idioma="SubTotal"></th>
                                                        <th idioma="Descuento"></th>
                                                        <th idioma="IVA"></th>
                                                        <th idioma="Total"></th>
                                                        <th idioma="Facturado"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TablaOC"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" ng-class="getTabPaneClass(3)">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Proveedor"></label>
                                <select id="CIProveedor" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Cliente"></label>
                                <select id="CICliente" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuarios"></label>
                                <select id="CIUsuario" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" id="CIFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" id="CIFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-12 col-sm-1 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularOrdIngreso()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select id="CIMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select id="CIEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select id="CIMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select id="CIModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select id="CIIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Serie"></label>
                                <input id="CISerie" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaOrdCompIngreso" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%"><span idioma="Orden"></span></th>
                                            <th width="15%"><span idioma="Fecha"></span></th>
                                            <th><span idioma="Proveedor"></span></th>
                                            <th><span idioma="Cliente"></span></th>
                                            <th><span idioma="Ingreso"></span></th>
                                            <th><span idioma="Magnitud"></span></th>
                                            <th><span idioma="Equipo"></span></th>
                                            <th><span idioma="Marca"></span></th>
                                            <th><span idioma="Modelo"></span></th>
                                            <th><span idioma="Registro"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica de Ingreso, Magnitud por Órden de Compra Mensual"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <canvas id="GraficaMMF"></canvas>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table display  table-bordered hover">
                                                    <thead id="EncTablaMMF">
                                                    </thead>
                                                    <tbody id="TablaMMF"></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica de Ingreso, Magnitud por Órden de Compra"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-10">
                                            <canvas id="GraficaM"></canvas>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="table-responsive">
                                                <table class="table display  table-bordered hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Magnitud</th>
                                                            <th>Ingresos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TablaM"></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica de Ingreso, Equipos por Órden de Compra"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-10">
                                            <canvas id="GraficaE"></canvas>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="table-responsive">
                                                <table class="table display  table-bordered hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Magnitud</th>
                                                            <th>Equipos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TablaE"></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalArticulosOrd" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-6 col-md-3">
                        <label idioma="Ubicación Depósito"></label>
                        <select id="MUbicacion" class="form-control" onchange="CargarModalArticulos('Ord')" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Grupo"></label>
                        <select id="MGrupo" onchange="CargarModalArticulos('Ord')"  required style="width:100%;">
                            <option value="">--Seleccione--</option>
                            <option ng-repeat="value in Combos.grupo" 
                                value="{{value.id}}">{{value.value}}     
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Código ó Código de Barras"></label>
                        <input id="MCodigo" class="form-control" onkeyup="CargarModalArticulos('Ord')" />
                    </div>
                    <div class="col-xs-6 col-md-1">
                        <label idioma="Precio"></label>
                        <input id="MPrecio" class="form-control text-XX text-center" onkeyup="CargarModalArticulos('Ord')" value="1" readonly />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label idioma="Artículo/Marca/Modelo/Característica"></label>
                        <input id="MDescripcion" class="form-control" onkeyup="CargarModalArticulos('Ord')" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaModalArticulosOrd">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">ID</th>
                                <th width="5%"><span idioma="Código Interno"></span></th>
                                <th width="5%"><span idioma="Código Barras"></span></th>
                                <th><span idioma="Grupo"></span></th>
                                <th><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Artículo"></span></th>
                                <th><span idioma="Marca"></span></th>
                                <th><span idioma="Modelo"></span></th>
                                <th><span idioma="Presentación"></span></th>
                                <th><span idioma="Característica"></span></th>
                                <th><span idioma="Existencia"></span></th>
                                <th><span idioma="Último Costo"></span></th>
                                <th><span idioma="Precio MN"></span></th>
                                <th><span idioma="Precio USD"></span></th>
                                <th><span idioma="Referencia"></span></th>
                                <th><span idioma="Uso Interno"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Cuenta Contable"></span></th>
                                <th><span idioma="Proveedor"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<div id="enviar_tercerizado" class="modal fade" role="dialog">
    <form id="formenviartercerizado">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Orden de Compra Número "></span> <span id="sporden"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Proveedor"></label>
                            <input type="text" class="form-control" id="eProveedor" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdforden" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalIngresoOrden" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalingresoorden">
                        <thead>
                            <tr>
                                <th><span idioma="Remisión"></span></th>
                                <th><span idioma="Ingresos"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="serie"></span></th>
                                <th><span idioma="Asesor"></span></th>
                                <th><span idioma="Observación"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalNuevoArticulo" class="modal fade" role="dialog">
    <form id="FormAgregarArticulo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Nuevo Artículo"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <input id="MenIdArticulo" name="IdArticulo" type="hidden" value="0" />
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Grupo"></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="MenGrupo" onchange="MenCargarEquipos(this.value)" name="Grupo" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Tipo de Inventario"></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="MenTipoInventario" name="TipoInventario" required style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option value="SUMINISTRO">SUMINISTRO</option>
                                <option value="ACTIVO">ACTIVO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Código Barras"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="CodigoBarras" id="MenCodigoBarras" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label"><a href="javascript:MenAgregarOpcion(2,'ARTICULO','MenEquipo')"><span idioma="Artículo"></span> (+)</a></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Equipo" id="MenEquipo" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Presentación"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Presentacion" id="MenPresentacion" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label"><a href="javascript:MenAgregarOpcion(3,'MARCA','MenMarca')"><span idioma="Marcas"></span> (+)</a></label>
                        <div class="col-sm-5">
                            <select name="Marca" id="MenMarca" class="form-control" onchange="MenCargarModelos(this.value)" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3"><a href="javascript:MenAgregarOpcion(4,'MODELO','MenModelo')"><span idioma="Modelos:"></span> (+)</a></label>
                        <div class="col-sm-5">
                            <select id="MenModelo" name="Modelo" class="form-control" style="width:100%" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Descripción"></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="Descripcion" id="MenDescripcion" rows="2" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Proveedor"></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Proveedor" id="MenProveedor" style="width:100%" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span idioma="Ultimo Costo"></span></label>
                            <input type="text" id="MenUltimoCosto" name="UltimoCosto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="7" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span idioma="IVA"></span></label>
                            <select type="text" id="MenIva" name="Iva" style="width:100%;font-size:22px;" />
                        </div>
                        <div class="col-xs-4 col-sm-6 text-right">
                            <br />
                            <button class="btn btn-glow btn-primary" type="button" onclick="MenCalcularPrecio()">Calcular Precios</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio1" idioma="Precio"></span>1</label>
                            <input type="text" id="MenPrecio1" name="Precio1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="3" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio2" idioma="Precio"></span>2</label>
                            <input type="text" id="MenPrecio2" name="Precio2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="4" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio3" idioma="Precio"></span>3</label>
                            <input type="text" id="MenPrecio3" name="Precio3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="5" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio4" idioma="Precio"></span>4</label>
                            <input type="text" id="MenPrecio4" name="Precio4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="6" value="0" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio5" idioma="Precio"></span>5</label>
                            <input type="text" id="MenPrecio5" name="Precio5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="7" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio6" idioma="Precio"></span>6</label>
                            <input type="text" id="MenPrecio6" name="Precio6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="8" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio7" idioma="Precio"></span>7</label>
                            <input type="text" id="MenPrecio7" name="Precio7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="9" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio8" idioma="Precio"></span>8</label>
                            <input type="text" id="MenPrecio8" name="Precio8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="10" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio9" idioma="Precio"></span>9</label>
                            <input type="text" id="MenPrecio9" name="Precio9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="11" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio10" idioma="Precio"></span>10</label>
                            <input type="text" id="MenPrecio10" name="Precio10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right"  tabindex="12" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-success" type="submit"><span idioma="Guardar Articulo"></span></button>
                </div>
            </div>
        </div>
    </form>
    
</div>

<div id="modalArticulos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Grupo"></label>
                        <select id="MGrupo" class="form-control" onchange="CargarModalArticulos()" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Código ó Código de Barras"></label>
                        <input id="MCodigo" class="form-control" onkeyup="CargarModalArticulos()" />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <label idioma="Artículo/Marca/Modelo"></label>
                        <input id="MDescripcion" class="form-control" onkeyup="CargarModalArticulos()" />
                    </div>
                    <div class="col-xs-6 col-md-2 text-right">
                        <br>
                        <button class="btn btn-glow btn-success" type="button" onclick="ModalNuevoArticuloFac()">Nuevo Artículo</button>
                    </div>

                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaModalArticulosFac">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">ID</th>
                                <th width="5%"><span idioma="Código Interno"></span></th>
                                <th width="5%"><span idioma="Código Barras"></span></th>
                                <th><span idioma="Grupo"></span></th>
                                <th><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Artículo"></span></th>
                                <th><span idioma="Marca"></span></th>
                                <th><span idioma="Modelo"></span></th>
                                <th><span idioma="Presentación"></span></th>
                                <th><span idioma="Último Costo"></span></th>
                                <th><span idioma="Existencia"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Cuenta Contable"></span></th>
                                <th><span idioma="Proveedor"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


