﻿
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabnomina" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro Nómina"></span></a></li>
        <li id="proli7"><a href="#tabconceptos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Registro de Conceptos"></span></a></li>
        <li id="proli7"><a href="#tabcontantes" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Registro de Constantes"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabnomina">
            <form id="formNominas" style="background-color:white">
                <input type="hidden" name="IdNomina" id="IdNomina" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Nóminas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodoNom()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="ModalNominas()"><span idioma="Buscar Nómina"></span></button>
                                <button class="btn btn-glow btn-success" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="AgregarPerido()"><span idioma="Agerar Periodo"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="CambioCodigoNom()"><span idioma="Cambiar Código"></span></button>
                                <button class="btn btn-glow btn-info"c type="button" onclick="RepararConcepto()"><span idioma="Reparar Concepto"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Código"></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control text-XX text-center" id="CodNomina" name="CodNomina" onkeypress="return NumCheck(event, this,0)" onblur="BuscarNomina(this.value)" maxlength="12" onkeyup="ValidarNomina(this)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Tipo de Nómina"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="TipoNomina" name="TipoNomina">
                                            <option value="">--Seleccione--</option>
                                            <option value="Quincenal">Quincenal</option>
                                            <option value="Mensual">Mensual</option>
                                            <option value="Especial">Especial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Título"></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="TituloNom" name="TituloNom" maxlength="50" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Descripción"></label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="DescripcionNom" name="DescripcionNom" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Fecha Inicial"></label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" name="FechaIniNom" id="FechaIniNom" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Periodo Activo"></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="PeriodoNom" id="PeriodoNom" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Estado"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="EstadoNom" name="EstadoNom">
                                            <option value="Activo">Activa</option>
                                            <option value="Inactivo">Inactiva</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3><span idioma="PERIODO POR NÓMINAS"></span></h3>
                                <div style="height:350px;overflow-y:auto;overflow-x:hidden">
                                    <table class="table display  table-bordered hover" width="100%" style="font-size:14px">
                                        <thead>
                                            <tr class="bg-gris">
                                                <th width="3%" idioma="Nro"></th>
                                                <th width="35%" idioma="Fecha Inicial"></th>
                                                <th width="35%" idioma="Fecha Final"></th>
                                                <th width="5%" idioma="Calculado"></th>
                                                <th width="5%" idioma="Cerrado"></th>
                                                <th width="5%" idioma="Pagado"></th>
                                                <th width="5%" idioma="Contabilizado"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="TablaPerioNomina"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <h3><span idioma="EMPLEADOS POR NÓMINA ASIGNADO"></span> = <span id="canempleadonom"></span></h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="SeleccionarTodo('seleccionado_nom','filanom',1)"><span idioma="Seleccionar Todo"></span></button>
                                <button class="btn btn-glow btn-default" type="button" onclick="QuitarTodo('seleccionado_nom','filanom',1)"><span idioma="Quitar Todo"></span></button>
                            </div>
                        </div>
                        <table class="table display  table-bordered hover" width="100%"  style="font-size:14px">
                            <thead>
                                <tr class="bg-primary">
                                    <th width="3%" idioma="Nro"></th>
                                    <th width="3%">&nbsp;</th>
                                    <th width="10%" idioma="Documento"></th>
                                    <th width="40%" idioma="Empleado"></th>
                                    <th width="15%" idioma="Cargo"></th>
                                    <th align="right" width="10%" idioma="Sueldo Base"></th>
                                </tr>
                            </thead>
                            <tbody id="TBEmpleadoNomina"></tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconceptos">
            <form id="formConceptos" style="background-color:white">
                <input type="hidden" name="IdConcepto" id="IdConcepto" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Nóminas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodoConcep()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ModalConcepto()"><span idioma="Buscar Concepto"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="CambioCodigoConcepto()"><span idioma="Cambio de Código"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Nómina"></label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="NominaConcep" name="NominaConcep" onchange="CambioNomina()" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Tipo de Concepto"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="TipoConcepto" name="TipoConcepto" onchange="CambioConcepto(this.value)" style="width:100%" disabled/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Código"></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control text-XX text-center" id="CodConcepto" name="CodConcepto" required readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Título"></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="TituloConcep" name="TituloConcep" maxlength="50" required disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Descripción"></label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="DescripcionConcep" name="DescripcionConcep" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Formula"></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="Formula" id="Formula" required disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Formula Aporte"></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="FormulaAporte" id="FormulaAporte" required disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Periodo Aplicado"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="PeriodoConcepto" name="PeriodoConcepto" style="width:100%" disabled>
                                            <option value="TODOS">Todos los Periodo</option>;
                                            <option value="PRIMERO">PRIMERA QUINCENA</option>;
                                            <option value="SEGUNDO">SEGUNDA QUINCENA</option>;
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Orden"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="Orden" id="Orden" required disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Estado"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="EstadoConcep" name="EstadoConcep" style="width:100%" disabled>
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label" idioma="Concepto Global"></label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control" id="Global" name="Global">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label" idioma="Aplicar Vacaciones"></label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control" id="Vacaciones" name="Vacaciones">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label" idioma="Aplicar Cesantia"></label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control" id="Cesantia" name="Cesantia">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label" idioma="Aplicar Prima"></label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control" id="Prima" name="Prima">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label" idioma="Siempre Visible"></label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" class="form-control" id="Visible" name="Visible">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <h3><span idioma="EMPLEADOS POR CONCEPTO ASIGNADO"></span> = <span id="canempleadoconcep"></span></h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="SeleccionarTodo('seleccionado_concep','filaconcep',2)"><span idioma="Seleccionar Todo"></span></button>
                                <button class="btn btn-glow btn-default" type="button" onclick="QuitarTodo('seleccionado_concep','filaconcep',2)"><span idioma="Quitar Todo"></span></button>
                            </div>
                        </div>
                        <table class="table display  table-bordered hover" width="100%"  style="font-size:14px">
                            <thead>
                                <tr class="bg-primary">
                                    <th width="3%" idioma="Nro"></th>
                                    <th width="3%">&nbsp;</th>
                                    <th width="10%" idioma="Documento"></th>
                                    <th width="40%" idioma="Empleado"></th>
                                    <th width="15%" idioma="Cargo"></th>
                                    <th align="right" width="10%" idioma="Sueldo Base"></th>
                                </tr>
                            </thead>
                            <tbody id="TBEmpleadoConcepto"></tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabcontantes">
            <form id="formConstantes" style="background-color:white">
                <input type="hidden" name="IdConstante" id="IdConstante" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Nóminas"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodoConstante()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ModalConstante()"><span idioma="Buscar Constante"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="CambioCodigoConstante()"><span idioma="Cambio de Código"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Nómina"></label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="NominaConsta" name="NominaConsta" onchange="CambioConstante(this.value)" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Código"></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control text-XX text-center" id="CodConstante" name="CodConstante" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Título"></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="TitConstante" name="TitConstante" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Descripción"></label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="DescConstante" name="DescConstante" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Monto"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control text-XX text-right" name="MontoConstante" id="MontoConstante" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-glow btn-default" type="button" onclick="AplicarMonto()"><span idioma="Aplicar Monto"></span></button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Reiniciar"></label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" class="form-control" id="Reiniciar" name="Reiniciar" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" idioma="Estado"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="EstConstante" name="EstConstante" style="width:100%">
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <h3><span idioma="EMPLEADOS POR CONSTANTE ASIGNADO"></span> = <span id="canempleadoconsta"></span></h3>
                            </div>
                        </div>
                        <table class="table display  table-bordered hover" width="100%"  style="font-size:14px">
                            <thead>
                                <tr class="bg-primary">
                                    <th width="3%" idioma="Nro"></th>
                                    <th width="3%">&nbsp;</th>
                                    <th width="10%" idioma="Documento"></th>
                                    <th width="35%" idioma="Empleado"></th>
                                    <th width="15%" idioma="Cargo"></th>
                                    <th align="right" width="10%" idioma="Sueldo Base"></th>
                                    <th align="right" width="15%" idioma="Monto"></th>
                                </tr>
                            </thead>
                            <tbody id="TBEmpleadoConstante"></tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalNominas" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Nóminas"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaNominas">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Código"></span></th>
                                <th width="8%"><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Titulo"></span></th>
                                <th width="20%"><span idioma="Descripcion"></span></th>
                                <th><span idioma="Fecha Inicial"></span></th>
                                <th><span idioma="Periodo Activo"></span></th>
                                <th><span idioma="Cant Empleados"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Calculada"></span></th>
                                <th><span idioma="Cerrada"></span></th>
                                <th><span idioma="Pagada"></span></th>
                                <th><span idioma="Contabilizada"></span></th>
                                <th><span idioma="ID"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalConceptos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Conceptos de la nómina "></span><span id="modnomconcepto"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label idioma="Tipo de Concepto"></label>
                        <select class="form-control" id="BTipoConcepto" onchange="ModalConcepto()" style="width:100%" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaConceptos">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Código"></span></th>
                                <th width="8%"><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Titulo"></span></th>
                                <th width="20%"><span idioma="Descripcion"></span></th>
                                <th><span idioma="Cant Empleados"></span></th>
                                <th><span idioma="Formula"></span></th>
                                <th><span idioma="Formula Aporte"></span></th>
                                <th><span idioma="Perido Aplicado"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Global"></span></th>
                                <th><span idioma="Vacaciones"></span></th>
                                <th><span idioma="Cesantia"></span></th>
                                <th><span idioma="Prima"></span></th>
                                <th><span idioma="ID"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalConstantes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Constantes de la nómina "></span><span id="modnomconstante"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaConstantes">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Titulo"></span></th>
                                <th width="20%"><span idioma="Descripcion"></span></th>
                                <th><span idioma="Cant Empleados"></span></th>
                                <th><span idioma="Monto"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="ID"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ConfigNomina.js?unico=' + Math.round(Math.random() * 10000));
</script>




