﻿
<div class="tabbable page-tabs" id="tab-Empleados">
    <ul class="nav nav-tabs">
        <li  ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro Empleados"></span></a></li>
        <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Empleados"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" ng-class="getTabPaneClass(1)">
            <div class="row">
                <div class="col-md-7">
                    <form id="formEmpleados" ng-submit="GuardarEmpleado()" style="background-color:white">
                        <input type="hidden" ng-model="IdEmpleado" id="IdEmpleado"  />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row"> 
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Empleados"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" ng-click="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button" ng-click="CambioDocumento()"><span idioma="Cambio de Documento"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" ng-click="CargarCombos()"><span idioma="Actualizar Combos"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Tipo Documento"></label>
                                    <div class="col-sm-4">
                                        <select type="text" ng-model="Registro.TipoDocumento" id="TipoDocumento" select2="" ui-select2="{ allowClear: true}" style="width:100%" required>
                                            <option value="CC">Cédula Ciudadanía</option>
                                            <option value="CE">Cédula Extrangería</option>
                                            <option value="PA">Pasaporte</option>
                                            <option value="PP">Permisio de Permanencia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Documento"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="Documento" ng-model="Registro.Documento" onkeypress="return NumCheck(event, this,0)" ng-blur="BuscarEmpleado()" ng-keyup="ValidarEmpleado($event)" autofocus required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Nombres" ng-model="Registro.Nombres" id="Nombres" required>
                                    </div>
                                </div>

                                <hr />
                                <h3><span idioma="LUGAR DE NACIMIENTO"></span></h3>
                                <div class="form-group-min row">
                                    <div class="col-sm-4">
                                        <label idioma="País"></label>
                                        <select type="text" ng-model="Registro.Pais" select2="" ui-select2="{ allowClear: true}" ng-change="CambioDepartamento(Registro.Pais)" id="Pais" required style="width:100%" >
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected="{{value.id == Registro.Pais}}" ng-repeat="value in Combos.Pais"
                                                value="{{value.id}}">{{value.value}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Departamento"></label>
                                        <select type="text" ng-model="Registro.Departamento" id="Departamento" select2="" ui-select2="{ allowClear: true}" ng-change="CambioCiudad(Registro.Departamento)" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.Departamento}}" ng-repeat="value in Combos.Departamento"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Ciudad"></label>
                                        <select type="text" ng-model="Registro.Ciudad" id="Ciudad" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.Ciudad}}" ng-repeat="value in Combos.Ciudad"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <hr />

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Estado Civil"></label>
                                    <div class="col-sm-5">
                                        <select type="text" ng-model="Registro.EstadoCivil" select2="" ui-select2="{ allowClear: true}" id="EstadoCivil" style="width:100%" required>
                                            <option value="">--Seleccione una opción--</option>
                                            <option value="SOLTERO">SOLTERO</option>
                                            <option value="CASADO">CASADO</option>
                                            <option value="UNION LIBRE">UNION LIBRE</option>
                                            <option value="VIUDO">VIUDO</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Fecha Nacimiento"></label>
                                    <div class="col-sm-3">
                                        <input type="date" ng-model="Registro.FechaNacimiento.value" id="FechaNacimiento" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Area"></label>
                                    <div class="col-sm-5">
                                     <select type="text" ng-model="Registro.Area" select2="" ui-select2="{ allowClear: true}" id="Area" style="width:100%" required >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.Area}}" ng-repeat="value in Combos.Area"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Genero"></label>
                                    <div class="col-sm-3">
                                        <select type="text" ng-model="Registro.Genero" select2="" ui-select2="{ allowClear: true}" id="Genero" style="width:100%" required>
                                            <option value="">--Seleccione una opción--</option>
                                            <option value="FEMENINO">FEMENINO</option>
                                            <option value="MASCULINO">MASCULINO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarCargo()"><span idioma="Cargo"></span> (+)</a></label>
                                    <div class="col-sm-5">
                                        <select type="text" ng-model="Registro.Cargo" id="Cargo" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.Cargo}}" ng-repeat="value in Combos.Cargo"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Sueldo Base"></label>
                                    <div class="col-sm-3">
                                        <input type="text" ng-model="Registro.Sueldo" id="Sueldo" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" ng-blur="FormatoSalida(this,0)" ng-keyup="ValidarTexto(this,1)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Fecha Inicio"></label>
                                    <div class="col-sm-3">
                                        <input type="date" ng-model="Registro.FechaInicio.value"  id="FechaInicio" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <label class="col-sm-2 control-label text-right" idioma="Fecha Final"></label>
                                    <div class="col-sm-3">
                                        <input type="date" ng-model="Registro.FechaFinal.value" id="FechaFinal" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Horario"></label>
                                    <div class="col-sm-5">
                                        <select type="text" ng-model="Registro.Horario" id="Horario" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.Horario}}" ng-repeat="value in Combos.Horario"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Número Huella"></label>
                                    <div class="col-sm-3">
                                        <input type="number" ng-model="Registro.Huella" id="Huella" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="EPS"></label>
                                    <div class="col-sm-5">
                                        <select type="text" ng-model="Registro.EPS" id="EPS" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.EPS}}" ng-repeat="value in Combos.EPS"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="AFP"></label>
                                    <div class="col-sm-4">
                                        <select type="text" ng-model="Registro.AFP" id="AFP" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.AFP}}" ng-repeat="value in Combos.AFP"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="CESANTIAS"></label>
                                    <div class="col-sm-5">
                                        <select type="text" ng-model="Registro.CESANTIA" id="CESANTIA" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.CESANTIA}}" ng-repeat="value in Combos.CESANTIA"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Nivel Riesgo"></label>
                                    <div class="col-sm-4">
                                        <select type="text" ng-model="Registro.ClaseRiesgo" id="ClaseRiesgo" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.ClaseRiesgo}}" ng-repeat="value in Combos.ClaseRiesgo"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Centro de Costo"></label>
                                    <div class="col-sm-5">
                                        <select type="text" ng-model="Registro.CentroCosto" id="CentroCosto" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.CentroCosto}}" ng-repeat="value in Combos.CentroCosto"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Periodo de Pago"></label>
                                    <div class="col-sm-4">
                                        <select type="text" ng-model="Registro.PeriodoPago"  select2="" ui-select2="{ allowClear: true}" id="PeriodoPago" style="width:100%" required>
                                            <option value="QUINCENAL">QUINCENAL</option>
                                            <option value="MENSUAL">MENSUAL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Banco"></label>
                                    <div class="col-sm-3">
                                        <select type="text" ng-model="Registro.Banco" id="Banco" select2="" ui-select2="{ allowClear: true}" required style="width:100%" >
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.Banco}}" ng-repeat="value in Combos.Banco"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select type="text" ng-model="Registro.TipoCuenta" select2="" ui-select2="{ allowClear: true}" id="TipoCuenta" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option value="AHORRO">AHORRO</option>
                                            <option value="CORRIENTE">CORRIENTE</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Número de Cuenta"></label>
                                    <div class="col-sm-3">
                                        <input type="text" ng-model="Registro.Cuenta" id="Cuenta" onkeypress="return NumCheck(event, this,0)" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Teléfono"></label>
                                    <div class="col-sm-5">
                                        <input type="text" ng-model="Registro.Telefonos" id="Telefonos" class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Celular"></label>
                                    <div class="col-sm-3">
                                        <input type="text" id="Celular" ng-model="Registro.Celular" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Correo Personal"></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" ng-model="Registro.Email" id="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Dirección"></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" ng-model="Registro.Direccion" id="Direccion" required>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Barrio"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="Registro.Barrio" id="Barrio" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Pantalón"></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" ng-model="Registro.Pantalon" id="Pantalon" required>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Camisa"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" ng-model="Registro.Camisa" id="Camisa" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Tipo de Sangre"></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" ng-model="Registro.TipoSangre" id="TipoSangre" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Estado"></label>
                                    <div class="col-sm-2">
                                        <select type="text" ng-model="Registro.Estado" select2="" ui-select2="{ allowClear: true}" id="Estado" style="width:100%" required>
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Foto del Usuario y Grupo"></span></h3>
                        </div>

                        <div class="panel-body">                 
                            <div class="text-center">
                                <div class="form-group row">
                                    <center><img ng-src="../Adjunto/imagenes/img_avatar.png" id="Foto_Empleado" width="60%" /></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="tabbable page-tabs" id="tab-opciones">
                            <ul class="nav nav-tabs">
                                <li ng-class="getTabSerClass(1)" ng-click="setActiveSerTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Listar Documentos"></span></a></li>
                                <li ng-class="getTabSerClass(2)" ng-click="setActiveSerTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Nuevo Documento"></span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" ng-class="getTabPaneSerClass(1)">
                                    <div class="form-group-min row">
                                        <div class="col-md-12">
                                            <h3><span idioma="Documentos del Empleado"></span></h3>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table display  table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th width="3%">#</th>
                                                        <th width="90%" idioma="Documento"></th>
                                                        <th width="7%">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr   
                                                    <div ng-if="x.obligatorio*1 == 1 ">
                                                     <label class='bg-rojoclaro'>{{x.obligatorio}}</label>
                                                    </div>
                                                 <div ng-if="x.nrodocumento * 1 > 0">
                                                    <b> {{x.nrodocumento}}</b>
                                                 </div>
                                                 <div ng-if="x.nrodocumento * 1 == 0"> 
                                                    <td> <strong>" + descripcion + "</strong>" : "     - Documento-" + {{x.nrodocumento}} * 1 )</td>
                                                    <td>(({{x.nrodocumento}} * 1 == 0) ? "" : "<button type = 'button' class='btn btn-glow btn-info btn-icon2' style = 'max-width:50px; padding-bottom: 3px;' title = 'Descargar PDF' ng-click = 'javascript:DescargarPDF(" + (data[x].nrodocumento * 1 > 0 ? descripcion : '') + ",\"" + ({{x.nrodocumento}} * 1 > 0 ? {{x.id}} + "-" + {{x.nrodocumento}} : '') + "\")'><span style='font-size:18px; ' data-icon='&#xe22d;'></span></button >
                                                    </td > 
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" ng-class="getTabPaneSerClass(1)">
                                    <h3>AGREGAR NUEVO DOCUMENTO</h3>
                                    <br />
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-md-9">
                                            <div class="col-xs-4 col-md-6">
                                                <label idioma="Tipo de Documento"></label>
                                                <select class="form-control" id="TipoDocumentoEmpleado" style="width:100%" onchange="CambioDocumentoEmpleado(this.value)" />
                                            </div>

                                            <div class="col-xs-4 col-md-6">
                                                <label idioma="Número de Documento"></label>
                                                <select class="form-control" id="NroDocumentoEmpleado" style="width:100%">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-md-3">
                                            <br />
                                            <button class="btn btn-glow btn-primary" type="button" ng-click="GuardarDocumentoArchivo()"><span idioma="Guardar"></span></button>
                                        </div>
                                        <div class="col-xs-4 col-md-12">
                                            <label idioma="Examinar Documento"></label>
                                            <input type="file" name="ArchivoEmpleado" id="ArchivoEmpleado" onchange="GuardarDocumentoPDF(this.id)" accept="application/pdf" class="form-control" />
                                        </div>
                                    </div>
                                    <hr />
                                    <h3 id="CreacionDocumento"></h3>
                                    <iframe id="DocumentoEmpleados" width="100%" height="600px"></iframe>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Consultar Usuarios"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Tipo Documento"></label>
                                    <select type="text"  ng-model="Consulta.tipodocumento" select2="" ui-select2="{ allowClear: true}" id="CTipoDocumento" style="width:100%">
                                        <option value="T">Todos</option>
                                        <option value="CC">Cédula Ciudadanía</option>
                                        <option value="CE">Cédula Extrangería</option>
                                        <option value="PA">Pasaporte</option>
                                        <option value="PP">Permiso de Permanencia</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Documento"></label>
                                    <input class="form-control" ng-model="Consulta.documento" id="CDocumento" />
                                </div>
                                <div class="col-md-3">
                                    <label idioma="Nombre Completo"></label>
                                    <input class="form-control" ng-model="Consulta.nombre" id="CNombre" />
                                </div>
                                <div class="col-md-3">
                                    <label idioma="Cargo"></label>
                                    <select ng-model="Consulta.cargo" select2="" ui-select2="{ allowClear: true}" id="CCargo" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.Cargo}}" ng-repeat="value in Combos.Cargo"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select  id="CEstado" ng-model="Consulta.estado" select2="" ui-select2="{ allowClear: true}"  style="width:100%">
                                        <option value="TODOS">TODOS</option>
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label idioma="EPS"></label>
                                    <select ng-model="Consulta.eps" select2="" ui-select2="{ allowClear: true}" id="CEPS" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.EPS}}" ng-repeat="value in Combos.EPS"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label idioma="AFP"></label>
                                    <select ng-model="Consulta.afp" select2="" ui-select2="{ allowClear: true}"  id="CAFP" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.AFP}}" ng-repeat="value in Combos.AFP"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label idioma="CESANTIAS"></label>
                                    <select ng-model="Consulta.cesantia" select2="" ui-select2="{ allowClear: true}" id="CCESANTIA" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.CESANTIA}}" ng-repeat="value in Combos.CESANTIA"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Area"></label>
                                    <select ng-model="Consulta.area" select2="" ui-select2="{ allowClear: true}" id="CArea" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.Area}}" ng-repeat="value in Combos.Area"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1 text-right">
                                    <br />
                                    <button class="btn btn-glow btn-primary" title="Limpiar" type="button" ng-click="ConsultarEmpleados()"><span idioma="Consultar"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <a class="btn btn-info" download="TablaEmpleado.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'TablaEmpleados', 'Registro');">Exportar a Excel</a>
                                            <a class="btn btn-primary" download="TablaEmpleado.csv" href="#" onclick="return ngTableExcelExport.csv(this, 'TablaEmpleados', 'Registro', ';');">Exportar a CSV - ";" separator - UTF8</a>
                                        </div>
                                        <hr>
                                        <div class="col-md-12">
                                            <div class="table-responsive" id="ExportarEmpleados">
                                                <table class="table display table-bordered hover" show-filter="true" ng-table="TablaEmpleados" id="TablaEmpleados">
                                                    <tr ng-repeat = "x in $data" ng-dblclick="ObtenerConsulta(x)">
                                                     <!--  <td tittle="Foto del empleado" class="text-XX" data-title="'Foto'" sortable="'foto'" filter="{ 'foto': 'text' }">{{x.foto}}</td>-->
                                                        <td title="Id del empleado" data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">{{x.id}}</td>
                                                        <td title="Huella del empleado" data-title="'Huella'" sortable="'huella'" filter="{ 'huella': 'text' }">{{x.huella}}</td>
                                                        <td title="Tipo de documento del empleado" data-title="'Tipo'" sortable="'tipodocumento'" filter="{ 'tipodocumento': 'text' }">{{x.tipodocumento}}</td>
                                                        <td title="Documento del empleado" data-title="'Documento'" sortable="'documento'" filter="{ 'documento': 'text' }">{{x.documento}}</td>
                                                        <td title="Nombre completo del empleado" data-title="'Nombre completo'" sortable="'nombrecompleto'" filter="{ 'nombrecompleto': 'text' }">{{x.nombrecompleto}}</td>
                                                        <td title="Género del empleado" data-title="'Género'" sortable="'genero'" filter="{ 'genero': 'text' }">{{x.genero}}</td>
                                                        <td title="Fecha de nacimiento" data-title="'Fecha nacimiento'" sortable="'fechanacimiento'" filter="{ 'fechanacimiento': 'text' }">{{x.fechanacimiento}}</td>
                                                        <td title="Lugar de nacimiento" data-title="'Lugar nacimiento'" sortable="'lugarnacimiento'" filter="{ 'lugarnacimiento': 'text' }">{{x.lugarnacimiento}}</td>
                                                        <td title="Cargo del empleado" data-title="'Cargo'" sortable="'cargo'" filter="{ 'cargo': 'text' }">{{x.cargo}}</td>
                                                        <td title="Area" data-title="'Area'" sortable="'area'" filter="{ 'area': 'text' }">{{x.area}}</td>
                                                        <td title="Sueldo del empleado" data-title="'Sueldo'" sortable="'sueldo'" filter="{ 'sueldo': 'text' }">{{x.sueldo}}</td>
                                                        <td title="Banco del empleado" class="text-right" data-title="'banco'" sortable="'banco'" filter="{ 'banco': 'text' }" >{{x.banco}}</td>
                                                        <td title="Tipo de cuenta del empleado" data-title="'Tipo cuenta'" sortable="'tipocuenta'" filter="{ 'tipocuenta': 'text' }">{{x.tipocuenta}}</td>
                                                        <td title="Cuenta del empleado" data-title="'Cuenta'" sortable="'cuenta'" filter="{ 'cuenta': 'text' }">{{x.cuenta}}</td>
                                                        <td title="Eps en que esta afiliado" data-title="'EPS'" sortable="'eps'" filter="{ 'eps': 'text' }">{{x.eps}}</td>
                                                        <td title="Afp en que esta afiliado " data-title="'AFP'" sortable="'afp'" filter="{ 'afp': 'text' }">{{x.afp}}</td>
                                                        <td title="Cesantias del empleado" data-title="'Cesantias'" sortable="'cesantia'" filter="{ 'cesantia': 'text' }">{{x.cesantia}}</td>
                                                        <td title="Fecha de inicio del contrato" data-title="'Fecha inicio'" sortable="'fechainicio'" filter="{ 'fechainicio': 'text' }">{{x.fechainicio}}</td>
                                                        <td title="Fecha de fin del contrato" data-title="'Fecha fin'" sortable="'fechafin'" filter="{ 'fechafin': 'text' }">{{x.fechafin}}</td>
                                                        <td title="Horario de trabajo del empleado" data-title="'Horario'" sortable="'horario'" filter="{ 'horario': 'text' }">{{x.horario}}</td>
                                                        <td title="Dirección de residencia" data-title="'Dirección'" sortable="'direccion'" filter="{ 'direccion': 'text' }">{{x.direccion}}</td>
                                                        <td title="Barrio de residencia" data-title="'Barrio'" sortable="'barrio'" filter="{ 'barrio': 'text' }">{{x.barrio}}</td>
                                                        <td title="Telefono del empleado" data-title="'Teléfono'" sortable="'telefono'" filter="{ 'telefono': 'text' }">{{x.telefono}}</td>
                                                        <td title="Número celular del empleado" data-title="'Celular'" sortable="'celular'" filter="{ 'celular': 'text' }">{{x.celular}}</td>
                                                        <td title="Talla de camisa" data-title="'Camisa'" sortable="'camisa'" filter="{ 'camisa': 'text' }">{{x.camisa}}</td>
                                                        <td title="Talla de pantalón" data-title="'Pantalón'" sortable="'pantalon'" filter="{ 'pantalon': 'text' }">{{x.pantalon}}</td>
                                                        <td title="Tipo de sangre" data-title="'Tipo sangre'" sortable="'tiposangre'" filter="{ 'tiposangre': 'text' }">{{x.tiposangre}}</td>
                                                        <td title="Correo electrónico del empleado" data-title="'E-mail'" sortable="'email'" filter="{ 'email': 'text' }">{{x.email}}</td>
                                                        <td title="Estado" data-title="'Estado'" sortable="'estado'" filter="{ 'estado': 'text' }">{{x.estado}}</td>


                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioDocumento" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de Dcoumento"></span>&nbsp;&nbsp;<span id="SCambioDocumento"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="NUEVO Tipo de Documento"></label>
                        <center>
                            <select type="text" class="form-control" ng-model="DTipoDocumento" id="DTipoDocumento" select2="" ui-select2="{ allowClear: true}" style="width:100%" required>
                                <option value="CC">Cédula Ciudadanía</option>
                                <option value="CE">Cédula Extrangería</option>
                                <option value="PA">Pasaporte</option>
                                <option value="PP">Permisio de Permanencia</option>
                            </select>
                        </center>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO Documento"></label>
                        <center>
                            <input ng-model="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" ng-click="CambiarDocumento()"><span idioma="Cambiar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>

            </div>

        </div>
    </div>
</div>





