﻿
<div class="tabbable page-tabs" id="tab-Empleados">
    <ul class="nav nav-tabs">
        <li  ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Prestamo de Nómina"></span></a></li>
        <li  ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Prestamos"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" ng-class="getTabPaneClass(1)">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h3 class="panel-title"><span idioma="Datos del Empleado"></span></h3>
                                </div>
                                <div class="col-md-8 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-info" type="button" ng-click="ModalEmpleados()"><span idioma="Buscar Empleado"></span></button>
                                    <button class="btn btn-glow btn-warning" type="button"><span idioma="Estado de Cuenta"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <label idioma="Tipo"></label>
                                    <input type="text" class="form-control" ng-value="Registro.TipoDocumento" id="TipoDocumento" ng-disabled="true">
                                </div>
                                <div class="col-sm-4">
                                    <label idioma="Documento"></label>
                                    <input type="text" class="form-control" id="Documento" ng-model="Registro.Documento" onkeypress="return NumCheck(event, this,0)" ng-blur="BuscarEmpleado()" ng-keyup="ValidarEmpleado($event)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="Empleado"></label>
                                    <input type="text" class="form-control" ng-value="Registro.Nombres" id="Nombres" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Cargo"></label>
                                    <input type="text" class="form-control" ng-value="Registro.Cargo" id="Cargo" ng-disabled="true">
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Sueldo Base"></label>
                                    <input type="text" ng-value="Registro.Sueldo" id="Sueldo" class="form-control text-right text-XX" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Fecha Inicio"></label>
                                    <input ng-value="Registro.FechaInicio.value" id="Fechainicio" class="form-control" ng-disabled="true">
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Fecha Final"></label>
                                    <input type="date" ng-value="Registro.FechaFinal.value" id="FechaFinal" class="form-control" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label idioma="Banco"></label>
                                    <input type="text" class="form-control" ng-value="Registro.Banco" id="Banco" ng-disabled="true">
                                </div>
                                <div class="col-sm-4">
                                    <label idioma="Tipo Cuenta"></label>
                                    <input type="text" class="form-control" ng-value="Registro.TipoCuenta" id="TipoCuenta" ng-disabled="true">
                                </div>
                                <div class="col-sm-4">
                                    <label idioma="Número de Cuenta"></label>
                                    <input type="text" ng-value="Registro.Cuenta" id="Cuenta" class="form-control" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Teléfono"></label>
                                    <input type="text" ng-value="Registro.Telefonos" id="Telefonos" class="form-control" ng-disabled="true">
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Celular"></label>
                                    <input type="text" id="Celular" ng-value="Registro.Celular" class="form-control" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="Correo Electrónico"></label>
                                    <input type="text" ng-model="Registro.Email" id="Correo" class="form-control" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="formPrestamo" style="background-color:white">
                        <input type="hidden" name="IdPrestamo" id="IdPrestamo" value="0" />
                        <input type="hidden" name="IdEmpleado" id="IdEmpleado" value="0" />
                        <div class="panel panel-success" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><span idioma="Datos del Préstamo"></span></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" ng-click="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-primary" type="submit" ng-click="GuardarPrestamo()"><span idioma="Guardar"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label idioma="Tipo de Préstamo"></label>
                                        <select type="text" ng-model="Registro.TipoPrestamo" select2="" ui-select2="{ allowClear: true}" id="TipoPrestamo" onchange="CalTipoPrestamo(this.value)" style="width:100%" required>
                                            <option value="VALE">VALE</option>
                                            <option value="PRESTAMO">PRÉSTAMO</option>
                                            <option value="CONVENIO">CONVENIO</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8">
                                        <label idioma="Descripción"></label>
                                        <input type="text" class="form-control" id="Descripcion" ng-model="Registro.Descripcion">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label idioma="Monto del Préstamo"></label>
                                        <input type="text" class="form-control text-right text-XX" ng-model="Registro.Monto" id="Monto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularCuota(this)">
                                    </div>

                                    <div class="col-sm-6">
                                        <label idioma="Saldo Actual"></label>
                                        <input type="text" class="form-control text-right text-XX" ng-model="Registro.Saldo" id="Saldo" ng-disabled="true">
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label idioma="Forma de Pago"></label>
                                        <select type="text" ng-model="Registro.FormaPago" select2="" ui-select2="{ allowClear: true}" id="FormaPago" ng-change="CambioFormaPago(Registro.formapago)" style="width:100%" required>
                                            <option value="QUINCENAL">QUINCENAL</option>
                                            <option value="MENSUAL">MENSUAL</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Número de Cuotas"></label>
                                            <select ng-model="Registro.Cuota" select2="" ui-select2="{ allowClear: true}" id="NCuota" class="ComboConsulta"  ng-change="CalcularCuota('')" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option ng-selected="{{value.id == Registro.cuota}}"
                                                    ng-repeat="value in Combos.cuota" value="{{value.id}}">{{value.value}}
                                                </option>
                                            </select>

                                    </div>
                                    <div class="col-sm-4">
                                        <label idioma="Valor Cuota (Mensual)"></label>
                                        <input ng-model="Registro.ValorCuota" id="ValorCuota" class="form-control text-right text-XX" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label idioma="Descuento en Prima"></label>
                                        <input ng-model="Registro.Prima" id="Prima" class="form-control text-right text-XX" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="CalcularCuota(this)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label idioma="Fecha Inicio"></label>
                                        <input type="date" id="FechaIniCuota" ng-model="Registro.FechaIniCuota" class="form-control">
                                    </div>
                                    <div class="col-sm-6">
                                        <label idioma="Desembolso del Préstamo"></label>
                                        <select type="text" ng-model="Registro.Desembolso" select2="" ui-select2="{ allowClear: true}" id="Desembolso" style="width:100%">
                                            <option value="EFECTIVO">EFECTIVO</option>
                                            <option value="TRANSFERENCIA">TRANSFERENCIA</option>
                                            <option value="CHEQUE">CHEQUE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Consultar Prestamos"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label idioma="Empleado"></label>
                                    <select ng-model="Consulta.empleado" select2="" ui-select2="{ allowClear: true}" id="CEmpleado" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.empleado}}"
                                            ng-repeat="value in Combos.empleado" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label idioma="Cargo"></label>
                                    <select ng-model="Consulta.cargo" select2="" ui-select2="{ allowClear: true}" id="CCargo" class="ComboConsulta" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Consulta.cargo}}"
                                            ng-repeat="value in Combos.cargo" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select ng-model="Consulta.estado" select2="" ui-select2="{ allowClear: true}" id="CEstado" style="width:100%">
                                        <option value="TODOS">TODOS</option>
                                        <option value="PENDIENTES" selected>PENDIENTES</option>
                                        <option value="PAGADOS">PAGADOS</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Tipo de Préstamo"></label>
                                    <select ng-model="Consulta.tipo" select2="" ui-select2="{ allowClear: true}" id="CTipo" style="width:100%">
                                        <option value="">--Seleccionar--</option>
                                        <option value="VALE">VALE</option>
                                        <option value="PRESTAMO">PRÉSTAMO</option>
                                        <option value="CONVENIO">CONVENIO</option>
                                    </select>
                                </div>
                                <div class="col-md-2 text-right">
                                    <br />
                                    <button class="btn btn-glow btn-primary" title="Limpiar" type="button" ng-click="ConsultarPrestamos()"><span idioma="Consultar"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <a class="btn btn-info" download="TablaPrestamo.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'TablaPrestamos', 'Registro');">Exportar a Excel</a>
                                    <a class="btn btn-primary" download="TablaPrestamo.csv" href="#" onclick="return ngTableExcelExport.csv(this, 'TablaPrestamos', 'Registro', ';');">Exportar a CSV - ";" separator - UTF8</a>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <div class="table-responsive" id="ExportarRemisiones">
                                        <table class="table display table-bordered hover" show-filter="true" ng-table="TablaPrestamos" id="TablaPrestamos">
                                            <tr ng-repeat = "x in $data" ng-dblclick="ObtenerConsulta(x)">
                                                <td data-title="''" ><button class='btn btn-glow btn-success' title='Ver cuotas' type='button' ng-click="VerCuotas(x.estado_cuenta)"><span data-icon='&#xe0f7;'></span></button></td>
                                                <td title="ID del empleado" data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">{{x.id}}</td>
                                                <td title="Empleado" data-title="'Empleado'" sortable="'empleado'" filter="{ 'empleado': 'text' }">{{x.empleado}}</td>
                                                <td title="Cargo" data-title="'Cargo'" sortable="'cargo'" filter="{ 'cargo': 'text' }">{{x.cargo}}</td>
                                                <td title="Sueldo" data-title="'Sueldo'" sortable="'sueldo'" filter="{ 'sueldo': 'text' }">{{x.sueldo}}</td>
                                                <td title="Fecha inicio" data-title="'Fecha inicio'" sortable="'fechaini'" filter="{ 'fechaini': 'text' }">{{x.fechaini}}</td>
                                                <td title="Préstamo" data-title="'Préstamo'" sortable="'tipo'" filter="{ 'tipo': 'text' }">{{x.tipo}}</td>
                                                <td title="Descripción" data-title="'Descripción'" sortable="'descripcion'" filter="{ 'descripcion': 'text' }">{{x.descripcion}}</td>
                                                <td title="Monto" data-title="'Monto'" sortable="'monto'" filter="{ 'monto': 'text' }">{{x.monto}}</td>
                                                <td title="Ciudad de la ubicación de la sede del cliente" data-title="'NCuota'" sortable="'cuotas'" filter="{ 'cuotas': 'text' }">{{x.cuotas}}</td>
                                                <td title="Valor cuota" data-title="'Valor cuota'" sortable="'valorcuota'" filter="{ 'valorcuota': 'text' }">{{x.valorcuota}}</td>
                                                <td title="Prima" data-title="'Prima'" sortable="'prima'" filter="{ 'prima': 'text' }">{{x.prima}}</td>
                                                <td title="Saldo" class="text-right" data-title="'Saldo'" sortable="'saldo'" filter="{ 'saldo': 'text' }">{{x.saldo}}</td>
                                                <td title="Pagado" data-title="'Pagado'" sortable="'pagado'"  filter="{ 'pagado': 'text' }">{{x.pagado}}</td>
                                                <td title="Regitrado" data-title="'Regitrado'" sortable="'registro'" filter="{ 'registro': 'text' }"><span ng-bind-html="x.registro"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalEmpleados" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Empleados"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Nombre del Empleado"></label>
                        <input ng-model="ENombres" id="ENombres" class="form-control" ng-keyup="CargarModalEmpleados('prestamo')" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Documento"></label>
                        <input ng-model="EDocumento" id="EDocumento" class="form-control" ng-keyup="CargarModalEmpleados('prestamo')" />
                    </div>

                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover" id="tablamodalempleados_prestamo">
                        <thead>
                            <tr>
                                <th width="5%"><span idioma="Tipo Documento"></span></th>
                                <th><span idioma="Documento"></span></th>
                                <th width="30%"><span idioma="Nombre Completo"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Cargo"></span></th>
                                <th><span idioma="Sueldo"></span></th>
                                <th><span idioma="Celular"></span></th>
                                <th><span idioma="Email"></span></th>
                                <th><span idioma="ID"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>







