﻿
<div class="panel panel-primary" style="font-size:14px; color:black;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><span idioma="Carpeta de Scanner"></span></h3>
            </div>
            <div class="col-md-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-success" type="button" onclick="TablaArchivos('XXX')"><span idioma="Reiniciar"></span></button>
                <button class="btn btn-glow btn-info" type="button" onclick="CargarArchivo('XXX')"><span idioma="Subir un Archivo"></span></button>
                <button class="btn btn-glow btn-warning" type="button" onclick="CrearCarpeta()"><span idioma="Crear Carpeta"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-gorup row">
            <div class="col-md-12">
                <label>Ruta a buscar</label>
                <div class="form-control" id="Ruta"></div>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table display  table-bordered hover">
                <thead>
                    <tr>
                        <th width="5%">&nbsp;</th>
                        <th width="5%">ID</th>
                        <th width="20%" idioma="Archivo"></th>
                        <th width="5%" idioma="Gestión"></th>
                        <th width="8%" idioma="Fecha"></th>
                        <th width="10%" idioma="Creado por:"></th>
                        <th width="5%" idioma="Tamaño"></th>
                        <th width="15%" idioma="Código"></th>
                        <th width="15%" idioma="Versión"></th>
                        <th width="15%" idioma="Fecha Revisión"></th>
                        <th width="15%" idioma="Vencimiento"></th>
                        <th width="15%" idioma="Responsable"></th>
                        <th width="15%" idioma="Estado"></th>
                        <th width="5%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="TablaArchivos"></tbody>
            </table>
        </div>
        

    </div>
</div>

<div id="modalRevisiones" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Revisión del Documento"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <input type="hidden" value="" id="IdArchivo" />
                    <div class="col-xs-12 col-md-2">
                        <label idioma="Codigo"></label>
                        <input class="form-control text-XX" id="RCodigo" tabindex="36" name="RCodigo" type="text" />
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label idioma="Revisión"></label>
                        <input class="form-control" id="RRevision" tabindex="36" name="RRevision" type="text" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label idioma="Fecha Revisión"></label>
                        <input class="form-control" id="NombreCer" tabindex="36" name="NombreCer" type="date" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <label idioma="Fecha Vencimiento"></label>
                        <input class="form-control" id="DireccionCer" tabindex="36" type="date" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Ruta del Documento"></label>
                        <input id="RDocumento" tabindex="36" name="RDocumento" class="form-control">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Nombre del Documento"></label>
                        <input id="RDocumento" tabindex="36" name="RDocumento" class="form-control">
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Responsable"></label>
                        <select id="RRespnsable" tabindex="36" name="RResponsable" style="width:100%" />
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label idioma="Estado"></label>
                        <select id="REstado" tabindex="36" name="REstado" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option value="NO REVISADO">NO REVISADO</option>
                            <option value="EN REVISION">EN REVISION</option>
                            <option value="OBSOLETO">OBSOLETO</option>
                            <option value="BLOQUEADO">BLOQUEADO</option>
                            <option value="DE LECTURA">DE LECTURA</option>
                            <option value="DILIGENCIAMIENTO">DILIGENCIAMIENTO</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Archivo"></label>
                        <input id="RArchivo" tabindex="36" name="RArchivo" type="file" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" onclick="AprobarDocumento()">F10 <span idioma="Aprobar"></span></button>
                <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span> [Esc]</button>
            </div>
        </div>
    </div>
</div>

<div id="modalPermisos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="FormPermisoCarpeta">
                <div class="modal-header bg-info">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Permisos del Contacto"></span> <span id="ContacPermiso"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Carpeta para asignar permiso</label>
                            <textarea id="CarpetaPermiso" name="CarpetaPermiso" class="form-control" readonly rows="2" ></textarea>    
                        </div>
                    </div>
                    <hr>
                    <div class="tabbable page-tabs" id="tab-clientes">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tablectura" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Lectura"></span></a></li>
                            <li><a href="#tabdiligenciar" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Diligenciamiento"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="tablectura">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Usuarios</label>
                                        <select class="form-control" multiple id="UsuariosLec" name="UsuariosLec" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Cargos-Empleados</label>
                                        <select class="form-control" multiple id="CargosLec" name="CargosLec" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Magnitudes por usuarios</label>
                                        <select class="form-control" multiple id="MagnitudesLec" name="MagnitudesLec" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <center><label class="text-center">Todos los Usuarios</label></center>
                                        <input class="form-control" type="checkbox" value="1"  id="TodosLec" name="TodosLec" style="width:100%"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tabdiligenciar">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Usuarios</label>
                                        <select class="form-control" multiple id="UsuariosDil" name="UsuariosDil" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Cargos-Empleados</label>
                                        <select class="form-control" multiple id="CargosDil" name="CargosDil" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Magnitudes por usuarios</label>
                                        <select class="form-control" multiple id="MagnitudesDil" name="MagnitudesDil" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <center><label class="text-center">Todos los Usuarios</label></center>
                                        <input class="form-control" type="checkbox" value="1"  id="TodosDil" name="TodosDil" style="width:100%"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-primary" type="submit"><span idioma="Asignar Permisos"></span></button>
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </form>

        </div>
    </div>
</div>

            
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/SistemaGestion.js?unico=' + Math.round(Math.random() * 10000));
</script>




