﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <span id="Menu_Empresa" idioma="Control de Producción"></span>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Generar Informe"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">

                        <div class="col-md-2">
                            <label idioma="Fecha Inicio"></label>
                            <input type="date" class="form-control" id="FechaDesde" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha Final"></label>
                            <input type="date" class="form-control" id="FechaHasta" name="fecha" />
                        </div>
                        <div class="col-md-2 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="CargarGraficas()"><span idioma="Cargar Tablas"></span></button>
                        </div>
                    </div>
                </div>

                <hr /> <!--Ingreso Vs Cotizaciones-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Cotizaciones"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Cotizados"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Cotizados"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla1"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr /> <!--Ingreso Vs Reportados-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Reportes de Laboratorio"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Reportados"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Reportados"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla2"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr /> <!--Ingreso Vs Certificados-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Certificados"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Certificados"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Certificados"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla3"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr /> <!--Ingreso Vs Informe Técnicos-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Informe Técnicos"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Informes"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Informes"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla4"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr /> <!--Ingreso Vs Órden de Compra-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Órden de Compra"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Orden"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Orden"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla5"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla5"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr /> <!--Ingreso Vs Facturados-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Facturas"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Facturado"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Facturado"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla6"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla6"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <hr /> <!--Ingreso Vs Recibido en Laboratorio-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Recibidos en Ingreso"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Recibido-Ing"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Recibido-Ing"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla7"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla7"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr /> <!--Ingreso Vs Devoluciones-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Devolución"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Devolución"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Devolución"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla8"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla8"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr /> <!--Ingreso Vs Entregados-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Entregados al cliente"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Entregados"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Entregados"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla9"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla9"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <hr /> <!--Ingreso Vs Encuestas-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span id="Menu_Empresa" idioma="Ingresos Vs. Encuestas de satisfacción"></span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <br />
                                <table width="100%" align="center" border="1" class="table" style="font-size:12px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;"><span idioma="Magnitudes"></span></th>
                                            <th style="text-align:center;"><span idioma="Ingresos"></span></th>
                                            <th style="text-align:center;"><span idioma="Encuestas"></span></th>
                                            <th style="text-align:center;"><span idioma="NO-Encuestas"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tabla10"></tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <canvas id="myTabla10"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/InformeProduccion.js?unico=' + Math.round(Math.random() * 10000));
</script>




