﻿<input type="hidden" value="2" id="opcion" />
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Reporte General de Facturas"></span></a></h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-group block form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 id="h1" class="panel-title panel-trigger">
                        <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                    </h6>
                    <div class="panel-body">
                        <div id="tPrecio1" class="panel-collapse collapse in">

                            <div class="row">
                                <div class="col-xs-4 col-sm-1">
                                    <label idioma="Sitio"></label>
                                    <select name="CSitio" id="CSitio" class="form-control" style="width:100%">
                                        <option value="">--</option>
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-sm-1">
                                    <label idioma="Garantía"></label>
                                    <select name="CGarantia" id="CGarantia" class="form-control" style="width:100%">
                                        <option value="">--</option>
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-sm-1">
                                    <label idioma="Convenio"></label>
                                    <select name="CConvenio" id="CConvenio" class="form-control" style="width:100%">
                                        <option value="">--</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label idioma="Cliente"></label>
                                    <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Proveedor"></label>
                                    <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Fecha Desde"></label>
                                    <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Fecha Hasta"></label>
                                    <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <label idioma="Magnitudes"></label>
                                    <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label idioma="Equipos"></label>
                                    <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Marca"></label>
                                    <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Modelos"></label>
                                    <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Intervalo"></label>
                                    <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Asesor Logística"></label>
                                    <select name="CUsuario" id="CUsuarioLog" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Asesor Comercial"></label>
                                    <select name="CUsuario" id="CUsuarioCom" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Asesor Facturación"></label>
                                    <select name="CUsuario" id="CUsuarioFac" class="form-control" style="width:100%"></select>
                                </div>
                                <div class="col-xs-4 col-sm-6 text-right">
                                    <br>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ConsularIngresos()"><span idioma="Buscar"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span idioma="Grafica por Valores"></span></h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <canvas id="GraficaTotal"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span idioma="Grafica por Cantidades"></span></h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <canvas id="GraficaCantidad"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table display  table-bordered hover" id="TablaRelaIngreso">
                    <thead>
                        <tr>
                            <th rowspan="2" idioma="Año/Mes"></th>
                            <th rowspan="2" idioma="Magnitud"></th>
                            <th colspan="2" idioma="Cotizaciones"></th>
                            <th colspan="2" idioma="Ingresos"></th>
                            <th colspan="2" idioma="Facturas"></th>
                            <th colspan="2" idioma="Ajustes"></th>
                            <th colspan="2" idioma="Suministro"></th>
                            <th colspan="2" idioma="Tercerizado"></th>
                        </tr>
                        <tr>
                            <th idioma="Cant"></th>
                            <th idioma="Valor"></th>
                            <th idioma="Cant"></th>
                            <th idioma="Valor"></th>
                            <th idioma="Cant"></th>
                            <th idioma="Valor"></th>
                            <th idioma="Cant"></th>
                            <th idioma="Valor"></th>
                            <th idioma="Cant"></th>
                            <th idioma="Valor"></th>
                            <th idioma="Cant"></th>
                            <th idioma="Valor"></th>
                        </tr>
                    </thead>
                    <tbody id="TablaTotal"></tbody>
                </table>
            </div>
            
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-right">
                <button class="btn btn-glow btn-success" type="button" onclick="ExportarExcel()"><span idioma="Exportar Excel"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalRelaDetalle" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="RelacionDetalle"></span></h4>
            </div>
            <input type="hidden" id="IdPro" name="IdPro" value="0" />
            <div class="modal-body with-padding">
                <table class="table display table-bordered hover" width="100%" id="TablaDetRelacion">
                    <thead>
                        <tr>
                            <th width="5%">Fecha</th>
                            <th width="5%">Magnitud</th>
                            <th width="5%" id="RelaOperacion">Remision</th>
                            <th width="10%">Ingreso</th>
                            <th width="30%">Cliente</th>
                            <th width="10%">Equipo</th>
                            <th width="10%">Cantidad</th>
                            <th width="10%">Valor</th>
                        </tr>
                    </thead>
                </table>
                <hr />
                <div id="TotalRelacion"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/EstRelacionIngreso.js?unico=' + Math.round(Math.random() * 10000));
</script>
