    <div class="login-wrapper">
        <form ng-submit="submit()">
            <div class="popup-header">
                <span class="text-semibold">Control de Acceso</span>
                <div class="btn-group pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></a>
                    <ul class="dropdown-menu icons-right dropdown-menu-right">
                        <li><a href="javascript:ReenviarClave()">Recordar Contraseña</a></li>
                    </ul>
                </div>
            </div>
            <div class="well">
                <div class="form-group has-feedback">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" ng-model="usuario" id="usuario" autofocus autocomplete="off" required>
                    <i class="icon-users form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <label>Clave</label>
                    <input type="password" class="form-control" placeholder="Clave" ng-model="clave" id="clave" required>
                    <i class="icon-lock form-control-feedback"></i>
                </div>
                <div class="row form-actions">
                    <div class="col-xs-6">
                        &nbsp;
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-glow btn-warning pull-right"><i class="icon-menu2"></i> Acceder</button>
                    </div>
                </div>

                <div class="form-group has-feedback">

                </div>

            </div>
        </form>
        <br />
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <a ng-click="Abrir_WebRTC()">Activador de IP Local</a>
            </div>
            <div class="col-xs-6 col-md-6">
                <a ng-click = "ModalCerrarSesionIni()">Cerrar Sesión Activa</a>
            </div>
        </div>
    </div>
    
    <div id="modalCerrarSesion" class="modal fade" role="dialog">
        <form ng-submit="DesbloquearSesion()">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-success">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cerrar Sesión">Cerrar Sesión</span></h4>
                    </div>
                    <div class="modal-body with-padding">
                        <div class="form-group has-feedback">
                            <label>Usuario</label>
                            <input type="text" class="form-control" ng-Model="Desbloquear.usuario" id="CeUsuario"  required autofocus>
                            <i class="icon-users form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Clave</label>
                            <input type="password" class="form-control" ng-model="Desbloquear.clave" id="CeClave" required>
                            <i class="icon-lock form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Cédula/Pasaporte/PP</label>
                            <input type="password" class="form-control" ng-model="Desbloquear.documento" id="CeDocumento" required>
                            <i class="icon-lock form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-glow btn-success" type="submit"><span idioma="Liberar Sesión">Liberar Sesión</span></button>
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar">Cerrar</span></button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    
    