﻿
<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabcompras">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar Compras"></span></a></li>
                <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in" ng-class="getTabPaneClass(1)">
                    
                    <div class="panel panel-primary" style="font-size:14px; color:black;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Compras"></span></a></h3>
                                </div>
                                <div class="col-md-8 col-xs-12 text-right">
                                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" ng-click="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-2 col-sm-2">
                                        <label idioma="NIT/Cédula"></label>
                                        <input type="text" class="form-control" ng_model="Documento" tabindex="0" ng-blur="BuscarProveedor(Documento,1,0)" id="Documento" ng-keyup="ValidarProveedor(Documento,$event)" />
                                    </div>
                                    <div class="col-xs-10 col-sm-4">
                                        <label idioma="Nombre del Proveedor"></label><br>
                                        <input type="text" class="form-control" name="NombreProveedor" ng-value="Proveedor.nombrecompleto" ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Ciudad/Departamento"></label>
                                        <input type="text" class="form-control" ng-value="Proveedor.ciudad + '/' + Proveedor.departamento" ng-disabled="true" tabindex="11" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Tipo"></label>
                                        <select ui-select2 class="ComboRegistro"  style="width:100%" ng-model="Registro.tipo" >
                                            <option value="FACTURA">FACTURA</option>
                                            <option value="RECIBO">RECIBO</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="Compra"></label>
                                        <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" ng-blur="BuscarCompra(Registro.compra)" ng-model="Registro.compra" ng-disabled="Registro.ngcompra" pattern="[0-9]{1,7}" max="7" min="1" id="Compra" tabindex="1" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Fecha Compra"></label>
                                        <input type="date" class="form-control"  ng-model="Registro.fecha" id="FechaCom" required ng-change="CalcularFechas()" tabindex="11"   />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="hidden-xs col-sm-4">
                                        <label idioma="Dirección"></label><br>
                                        <input type="text" class="form-control" value="{{Proveedor.direccion}}" ng-disabled="true" />
                                    </div>

                                    <div class="col-xs-4 col-sm-3">
                                        <label idioma="Email"></label>
                                        <input type="text" class="form-control" value="{{Proveedor.email}}" ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Teléfonos"></label>
                                        <input type="text" class="form-control" value="{{Proveedor.telefono + '/' + Proveedor.celular}}" ng-disabled="true" />
                                    </div>
                                    <div class="col-xs-4 col-sm-1">
                                        <label idioma="# Orden"></label>
                                        <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" ng-blur="BuscarOrdenCompra(Registro.orden)" ng-disabled="Registro.ngorden" pattern="[0-9]{1,7}" max="7" min="1" id="Orden" ng-model="Registro.orden" tabindex="2" />
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <label idioma="Estado"></label>
                                        <input type="text" class="form-control" value={{Registro.estado}} ng-disabled="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row hidden" id="SaldoProveedorDev">
                        &nbsp;
                    </div>

                    <div class="table-responsive">
                        <table class="table display table-bordered" width="100%" style="font-size:14px">
                            <thead>
                                <tr class="bg-primary">
                                    <th width="3%" align="center" height="40px"><input type="checkbox" ng-model="Registro.allselect"  ng-change="SeleccionarTodo()" class="form-control" ng-disabled="Registro.disabled"/></th>
                                    <th width="5%" height="40px" idioma="Ingreso"></th>
                                    <th width="40%" height="40px" idioma="Descripción"></th>
                                    <th width="10%" height="40px" idioma="Centro Costo"></th>
                                    <th width="10px" align="center" height="40px" idioma="Cantidad"></th>
                                    <th width="110px" align="center" idioma="Valor Unitario"></th>
                                    <th width="60px" align="center" idioma="% Desc"></th>
                                    <th width="60px" align="center" idioma="IVA"></th>
                                    <th width="110px" align="center" idioma="Valor Total"></th>
                                    <th width="110px" align="center" idioma="Orden de Compra"></th>
                                    <th width="3%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in Registro.tabla" id="{{'fila-'+($index+1)}}" ng-dblclick="EditarORegistroCom(x, $index)" ng-class="Registro.tabla[$index].class_select">
                                    <td class="text-center"><b>{{$index+1}}</b>
                                        <div ng-if="x.idcompra == 0">
                                            <input class="form-control" type="checkbox" ng-checked="Registro.allselect" ng-change="setCambioSelect($index)" ng-model="Registro.tabla[$index].seleccionado" value="{{x.id}}"  id="{{'seleccionado' + ($index+1)}}">
                                        </div>
                                    </td>
                                    <td class="text-center text-XX">
                                        <div ng-if="x.ingreso > 0">
                                            <a ng-click="VerDocumentos(4,'{{x.remision}}')">{{x.ingreso}}</a>
                                        </div>
                                        <div ng-if="x.ingreso == 0">
                                            0
                                        </div>
                                    </td>
                                    <td>{{x.descripcion}}</td>
                                    <td>
                                        <div ng-if="x.idcompra == 0">
                                            <select ng-model="Registro.tabla[$index].idcentro" ng-blur="GuardarTempCompra(x)" ng-change="CambioTemporal()">
                                                <option value="">--Seleccione--</option>
                                                <option ng-repeat="value in Combos.centroscostos" 
                                                    value="{{value.id}}">{{value.value}}     
                                                </option>
                                            </select>
                                        </div>
                                        <div ng-if="x.idcompra > 0">
                                            {{Registro.tabla[$index].centrocosto}}
                                        </div>
                                    </td>
                                    <td class="text-XX">
                                        <div ng-if="x.idcompra == 0">
                                            <input type="text" class="text-right sinborde"  onfocus="FormatoEntrada(this,1)" onblur="FormatoSalida(this, 3)"  id="{{'tcantidad' + ($index+1)}}" ng-model="Registro.tabla[$index].cantidad" style="width:99%" ng-keyup="CalcularPreTablaCom($event.target, $index)" ng-blur="GuardarTempCompra(x)" ng-change="CambioTemporal()">
                                        </div>
                                        <div ng-if="x.idcompra > 0" class="text-right">
                                            {{Registro.tabla[$index].cantidad}}
                                        </div>
                                    </td>
                                    <td class="text-XX">
                                        <div ng-if="x.idcompra == 0">
                                            <input type="text" class="text-right sinborde" ng-disabled="{{x.idcompra > 0 ? 'true' : 'false'}}"  onfocus="FormatoEntrada(this,1)" onblur="FormatoSalida(this, _DE)"  id="{{'tprecio' + ($index+1)}}"  ng-model="Registro.tabla[$index].precio" style="width:99%" ng-keyup="CalcularPreTablaCom($event.target, $index)" ng-blur="GuardarTempCompra(x)" ng-change="CambioTemporal()">
                                        </div>
                                        <div ng-if="x.idcompra > 0" class="text-right">
                                            {{Registro.tabla[$index].precio}}
                                        </div>
                                    </td>
                                    <td class="text-XX">
                                        <div ng-if="x.idcompra == 0">
                                            <input type="text" class="text-center sinborde" ng-disabled="{{x.idcompra > 0 ? 'true' : 'false'}}"  onfocus="FormatoEntrada(this,1)" onblur="FormatoSalida(this, _DE)"  id="{{'tdescuento' + ($index+1)}}"  ng-model="Registro.tabla[$index].descuento" style="width:99%" ng-keyup="CalcularPreTablaCom($event.target, $index)" ng-blur="GuardarTempCompra(x)" ng-change="CambioTemporal()">
                                        </div>
                                        <div ng-if="x.idcompra > 0" class="text-right">
                                            {{Registro.tabla[$index].descuento}}
                                        </div>
                                    </td>
                                    <td class="text-XX" >
                                        <div ng-if="x.idcompra == 0">
                                            <input type="text" class="text-right sinborde" ng-disabled="true" ng-model="Registro.tabla[$index].iva" style="width:99%" >
                                        </div>
                                        <div ng-if="x.idcompra > 0" class="text-right">
                                            {{Registro.tabla[$index].iva}}
                                        </div>
                                    </td>
                                    <td class="text-XX">
                                        <div ng-if="x.idcompra == 0">
                                            <input type="text" class="text-right sinborde" id="{{'tsubtotal' + ($index+1)}}" ng-disabled="true"   ng-model="Registro.tabla[$index].subtotal" style="width:99%" >
                                        </div>
                                        <div ng-if="x.idcompra > 0" class="text-right">
                                            {{Registro.tabla[$index].subtotal}}
                                        </div>
                                    <td class="text-center text-XX">{{x.orden}}
                                        <input type="hidden" ng-model="Registro.tabla[$index].idarticulo">
                                        <input type="hidden" ng-model="Registro.tabla[$index].idcuecontable">
                                        <input type="hidden" ng-model="Registro.tabla[$index].idservicio">
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="x.idcompra == 0">
                                            <button class="Eliminar Registro btn btn-danger" title="Eliminar Registro" type="button" ng-click="EliminarRegistroCom(x, $index)"><span data-icon="&#xe0d8;"></span></button>
                                        </div>
                                    </td>

                                    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="row" style="font-size:16px; display:none; font-weight:bold; color:black;" id="estadocuenta">
                        <div class="col-md-12">
                            <span idioma="Crédito"></span>: <span class="text-primary" id="clilimite">0.00</span>
                            <a href="javascript:ModalEstadoCuenta()"><span idioma="Saldo"></span>:</a> <span class="text-primary" id="clisaldo">0.00</span>
                            <span idioma="Consumo"></span>: <span class="text-primary" id="cliconsumo">0.00</span>
                            <span idioma="Disponible"></span>: <span class="text-primary" id="clidisponible">0.00</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="btn btn-glow-group" role="group">
                            <button type="button" class="btn btn-glow btn-info" onclick="ModalProveedores()">F1 <span idioma="Proveedores"></span></button>
                            <button type="button" class="btn btn-glow btn-info ocultar" ng-click="ModalRecibos()" ng-show="Registro.btnguardar">F10 <span idioma="Buscar Recibo"></span></button>
                            <button class="btn btn-glow btn-warning ocultar" type="button" ng-click="ModalArticulosCom()" ng-show="Registro.btnguardar">F9 <span idioma="Artículo"></span></button>
                            <button class="btn btn-glow btn-warning ocultar" type="button" ng-click="ModalORegistroCom()" ng-show="Registro.btnguardar">F12 <span idioma="Otro Servicio"></span></button>
                            <button class="btn btn-glow btn-success ocultar" type="button" ng-click="GuardarCompras()" ng-show="Registro.btnguardar">F3 <span idioma="Guardar Compras"></span></button>
                            <button type="button" class="btn btn-glow btn-warning" ng-click="ContabilizarCompra(0)" ng-show="Registro.btnimprimir">F4 <span idioma="Asiento Contable"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" ng-click="ImprimirCompra(0,'')" ng-show="Registro.btnimprimir">F6 <span idioma="Imprimir"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" ng-click="VerAnexor()" ng-show="Registro.btnimprimir">F7 <span idioma="Anexos"></span></button>
                            <button class="btn btn-glow btn-danger" type="button" ng-click="Reemplazar()" ng-show="Registro.btnanular">F2 <span idioma="Reemplazar"></span></button>
                            <button class="btn btn-glow btn-danger" type="button" ng-click="AnularCompra()" ng-show="Registro.btnanular">F8 <span idioma="Anular"></span></button>
                            <button class="btn btn-glow btn-warning ocultar" type="button" ng-click="EliminarRegistrosSel()" ng-show="Registro.btnguardar">F11 <span idioma="Eliminar"></span></button>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-sm-9   col-xs-12  ">
                            <div class="panel panel-primary" style="font-size:14px; color:black;">

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label idioma="Concepto"></label>
                                            <textarea type="text" class="form-control" ng-model="Registro.concepto" rows="2" id="Concepto" required>FACTURA DE COMPRA</textarea>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <label idioma="Ubicación del Depósito"></label>
                                            <select ng-model="Registro.bodega" id="Bodega" class="ComboRegistro" required style="width:100%;">
                                                <option value="">--Seleccione--</option>
                                                <option ng-selected= "{{value.id == Registro.bodega}}" ng-repeat="value in Combos.bodega" 
                                                    value="{{value.id}}">{{value.value}}     
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-6">
                                            <label idioma="Número Recibo"></label>
                                            <input class="form-control text-XX text-center" ng-model="Registro.recibo" ng-disabled="true" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Tercero"></label>
                                            <input class="form-control" ng-value="Registro.tercero" type="text" ng-disabled="true" />
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <label idioma="Fecha"></label>
                                            <input class="form-control" ng-value="Registro.fecharecibo"  type="text" ng-disabled="true" />
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <label idioma="Monto"></label>
                                            <input class="form-control text-XX text-right" ng-value="Registro.montorecibo | number:decimales" ng-disabled="true" />
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <label idioma="Saldo"></label>
                                            <input class="form-control text-XX text-right" ng-value="Registro.saldorecibo | number:decimales" ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Factura Externa"></label>
                                            <input class="form-control text-XX text-center" ng-model="Registro.facturaexterna" id="FacturaExterna" required />
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Fecha de Vencimiento"></label>
                                            <input class="form-control text-XX text-center" ng-model="Registro.fechavencimiento" type="date" id="FechaVencimiento" ng-change="CalcularFechas()" required />
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Días de Pago "></label>
                                            <input class="form-control text-XX text-center" ng-model="Registro.diaspago" ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Fecha de Registro"></label>
                                            <input class="form-control text-XX text-center" ng-value="Registro.fecharegistro" ng-disabled="true" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Usuario"></label>
                                            <input class="form-control text-XX text-center" ng-value="Registro.usuario" ng-disabled="true" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <label idioma="Saldo de Factura"></label>
                                            <input class="form-control text-XX text-center" ng-value="Registro.saldofactura | number:decimales" value="0" ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <label idioma="Observaciones"></label>
                                            <textarea type="text" class="form-control" ng-model="Registro.observacion" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <h3><span idioma="Datos de la Anulación"></span></h3>
                                            <div>{{Registro.anulaciones}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="row">
                                <label class="col-sm-4 control-label text-right" idioma="Sub-Total"></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-disabled="true" ng-value="Registro.subtotal | number:decimales" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right" idioma="Descuento"></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.descuento | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right" idioma="Gravable"></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.gravable | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right" idioma="Exento"></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.exento | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right" idioma="IVA"></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.iva | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right"><a href="javascript:LlamarRetencionComp(1,'Retención Fuente')"><span idioma="Retención Fuente"></span></a></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.retefuente | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right"><a href="javascript:LlamarRetencionComp(2,'Retención I.V.A')"><span idioma="Retención I.V.A"></span></a></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.reteiva | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 control-label text-right"><a href="javascript:LlamarRetencionComp(3,'Retención I.C.A')"><span idioma="Retención I.C.A"></span></a></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.reteica | number:decimales" ng-disabled="true" style="font-size:20px">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label text-right" idioma="Total a Pagar"></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" ng-value="Registro.total | number:decimales" ng-disabled="true" style="font-size:22px">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Tipo"></label>
                                <select type="text" class="form-control" ng-model="Consulta.tipo" style="width:100%">
                                    <option value="TODOS">Todos</option>
                                    <option value="FACTURA">Facturas</option>
                                    <option value="RECIBO">Recibos</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Compra"></label>
                                <input ng-model="Consulta.compra" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Orden"></label>
                                <input ng-model="Consulta.orden" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label idioma="Proveedor"></label>
                                <select ng-model="Consulta.proveedor" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected= "{{value.id == Consulta.proveedor}}" ng-repeat="value in Combos.proveedor" 
                                        value="{{value.id}}">{{value.value}}     
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Bodega"></label>
                                <select ng-model="Consulta.bodega" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected= "{{value.id == Consulta.bodega}}" ng-repeat="value in Combos.bodega" 
                                        value="{{value.id}}">{{value.value}}     
                                    </option>
                                </select>
                            </div>

                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Estado"></label>
                                <select ng-model="Consulta.estado" class="form-control" style="width:100%">
                                    <option value="Todos">Todas</option>
                                    <option value="Registrado">Registrados</option>
                                    <option value="Anulado">Anulados</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Vencida"></label>
                                <select ng-model="Consulta.vencida" class="form-control" style="width:100%">
                                    <option value="Todas">Todas</option>
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuario"></label>
                                <select ng-model="Consulta.usuario" class="form-control" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected= "{{value.id == Consulta.usuario}}" ng-repeat="value in Combos.usuarios" 
                                        value="{{value.id}}">{{value.value}}     
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" ng-model='Consulta.fechad.value' ng-change="CambioFecha(Consulta.fechad.value,1)" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" ng-model="Consulta.fechah.value" ng-change="CambioFecha(Consulta.fechah.value, 2)" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-6 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" ng-click="ConsultarCompras()">F2 <span idioma="Consultar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaCompra" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th width="3%">&nbsp;</th>
                                            <th width="5%"><span idioma="Tipo"></span></th>
                                            <th width="5%"><span idioma="Compra"></span></th>
                                            <th width="5%"><span idioma="Orden"></span></th>
                                            <th><span idioma="Fecha"></span></th>
                                            <th><span idioma="Vencimiento"></span></th>
                                            <th><span idioma="Ubicación<br>Depósito"></span></th>
                                            <th width="15%"><span idioma="Proveedor"></span></th>
                                            <th><span idioma="Plazo<br>Pago"></span></th>
                                            <th><span idioma="Tiempo<br>Vencido"></span></th>
                                            <th width="15%"><span idioma="Telefono<br>Dirección"></span></th>
                                            <th><span idioma="Ciudad"></span></th>
                                            <th><span idioma=" Correo Electrónico"></span></th>
                                            <th><span idioma="Subtotal"></span></th>
                                            <th><span idioma="Descuento"></span></th>
                                            <th><span idioma="IVA"></span></th>
                                            <th><span idioma="ReteFuente"></span></th>
                                            <th><span idioma="ReteIVA"></span></th>
                                            <th><span idioma="ReteICA"></span></th>
                                            <th><span idioma="Total"></span></th>
                                            <th><span idioma="Saldo"></span></th>
                                            <th><span idioma="Estado"></span></th>
                                            <th><span idioma="Registro"></span></th>
                                            <th><span idioma="Anulación"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_factura" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarfactura">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Factura Número"></span> <span id="spfactura"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Proveedor"></label>
                            <input type="text" class="form-control" id="eProveedor" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdffactura" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalDetalleDFac" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulodetalle"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group">
                    <div id="detallemovimiento"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalRecibos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Recibo de Caja Menor"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro Recibo"></label>
                        <input name="MRecibo" id="MRecibo" class="form-control" onkeyup="CargarModalRecibos()" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Documento"></label>
                        <input name="MDocumento" id="MDocumento" class="form-control" onkeyup="CargarModalRecibos()" />
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <label idioma="Tercero"></label>
                        <input name="MTercero" id="MTercero" class="form-control" onkeyup="CargarModalRecibos()" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaModalCoRecibo">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Nro Recibo"></span></th>
                                <th width="20%"><span idioma="Tercero"></span></th>
                                <th width="20%"><span idioma="Concepto"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Monto"></span></th>
                                <th><span idioma="Recaudado"></span></th>
                                <th><span idioma="Pendiente"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalInventarioCom" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-6 col-md-3">
                        <label idioma="Ubicación Depósito"></label>
                        <select id="MUbicacion" class="form-control" onchange="CargarModalInventarios('Com')" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Grupo"></label>
                        <select id="MGrupo" onchange="CargarModalInventarios('Com')"  required style="width:100%;">
                            <option value="">--Seleccione--</option>
                            <option ng-repeat="value in Combos.grupo" 
                                value="{{value.id}}">{{value.value}}     
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Código ó Código de Barras"></label>
                        <input id="MCodigo" class="form-control" onkeyup="CargarModalInventarios('Com')" />
                    </div>
                    <div class="col-xs-6 col-md-1">
                        <label idioma="Precio"></label>
                        <input id="MPrecio" class="form-control text-XX text-center" onkeyup="CargarModalInventarios('Com')" value="1" readonly />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label idioma="Artículo/Marca/Modelo/Característica"></label>
                        <input id="MDescripcion" class="form-control" onkeyup="CargarModalInventarios('Com')" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaInventarioCom">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">ID</th>
                                <th width="5%"><span idioma="Código Interno"></span></th>
                                <th width="5%"><span idioma="Código Barras"></span></th>
                                <th><span idioma="Grupo"></span></th>
                                <th><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Artículo"></span></th>
                                <th><span idioma="Marca"></span></th>
                                <th><span idioma="Modelo"></span></th>
                                <th><span idioma="Presentación"></span></th>
                                <th><span idioma="Característica"></span></th>
                                <th><span idioma="Existencia"></span></th>
                                <th><span idioma="Separadas"></span></th>
                                <th><span idioma="Cotizadas"></span></th>
                                <th><span idioma="Disponibles"></span></th>
                                <th><span idioma="Último Costo"></span></th>
                                <th><span idioma="Precio MN"></span></th>
                                <th><span idioma="Precio USD"></span></th>
                                <th><span idioma="Referencia"></span></th>
                                <th><span idioma="Uso Interno"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Cuenta Contable"></span></th>
                                <th><span idioma="Proveedor"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalNuevoArticuloCom" class="modal fade" role="dialog">
    <form id="FormAgregarArticuloCom">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Nuevo Artículo"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <input id="ComIdArticulo" name="ComIdArticulo" type="hidden" value="0" />
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Grupo"></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="ComGrupo" onchange="ComCargarEquipos(this.value)" name="Grupo" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Tipo de Inventario"></label>
                        <div class="col-sm-5">
                            <select class="form-control" id="ComTipoInventario" name="TipoInventario" required style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option value="SUMINISTRO">SUMINISTRO</option>
                                <option value="ACTIVO">ACTIVO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Código Barras"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="CodigoBarras" id="ComCodigoBarras" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label"><a href="javascript:ComAgregarOpcion(2,'ARTICULO','ComEquipo')"><span idioma="Artículo"></span> (+)</a></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Equipo" id="ComEquipo" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Presentación"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Presentacion" id="ComPresentacion" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label"><a href="javascript:ComAgregarOpcion(3,'MARCA','ComMarca')"><span idioma="Marcas"></span> (+)</a></label>
                        <div class="col-sm-5">
                            <select name="Marca" id="ComMarca" class="form-control" onchange="ComCargarModelos(this.value)" required style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3"><a href="javascript:ComAgregarOpcion(4,'MODELO','ComModelo')"><span idioma="Modelos:"></span> (+)</a></label>
                        <div class="col-sm-5">
                            <select id="ComModelo" name="Modelo" class="form-control" style="width:100%" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Descripción"></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="Descripcion" id="ComDescripcion" rows="2" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label class="col-sm-3 control-label" idioma="Proveedor"></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="Proveedor" id="ComProveedor" style="width:100%" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span idioma="Ultimo Costo"></span></label>
                            <input type="text" id="ComUltimoCosto" name="UltimoCosto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="7" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span idioma="IVA"></span></label>
                            <select type="text" id="ComIva" name="Iva" style="width:100%;font-size:22px;" />
                        </div>
                        <div class="col-xs-4 col-sm-6 text-right">
                            <br />
                            <button class="btn btn-glow btn-primary" type="button" onclick="ComCalcularPrecio()">Calcular Precios</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio1" idioma="Precio"></span>1</label>
                            <input type="text" id="ComPrecio1" name="Precio1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="3" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio2" idioma="Precio"></span>2</label>
                            <input type="text" id="ComPrecio2" name="Precio2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="4" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio3" idioma="Precio"></span>3</label>
                            <input type="text" id="ComPrecio3" name="Precio3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="5" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio4" idioma="Precio"></span>4</label>
                            <input type="text" id="ComPrecio4" name="Precio4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="6" value="0" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio5" idioma="Precio"></span>5</label>
                            <input type="text" id="ComPrecio5" name="Precio5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="7" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio6" idioma="Precio"></span>6</label>
                            <input type="text" id="ComPrecio6" name="Precio6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="8" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio7" idioma="Precio"></span>7</label>
                            <input type="text" id="ComPrecio7" name="Precio7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="9" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio8" idioma="Precio"></span>8</label>
                            <input type="text" id="ComPrecio8" name="Precio8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="10" value="0" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio9" idioma="Precio"></span>9</label>
                            <input type="text" id="ComPrecio9" name="Precio9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="11" value="0" />
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <label><span id="LaPrecio10" idioma="Precio"></span>10</label>
                            <input type="text" id="ComPrecio10" name="Precio10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)" class="form-control text-right" tabindex="12" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-success" type="submit"><span idioma="Guardar Articulo"></span></button>
                </div>
            </div>
        </div>
    </form>

</div>

<div id="ModalOtroRegistroCom" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregar Otros Registro"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <form class="eventInsForm" action="#" method="post">
                    <input type="hidden" ng-model="OtroRegistro.id" />
                    <div class="form-group-min row">
                        <div class="col-xs-4 col-md-4">
                            <label idioma="Ingreso"></label>
                            <input class="form-control text-XX text-right" ng-model="OtroRegistro.ingreso" tabindex="41" type="text" onkeyup="ValidarTexto(this,1)" />
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label idioma="Centro de Costo"></label>
                            <select ng-model="OtroRegistro.centrocosto" class="ComboOtroRegistro" id="ComOCentro" required style="width:100%;">
                                <option value="">--Seleccione--</option>
                                <option ng-selected= "{{value.id == OtroRegistro.centrocosto}}" ng-repeat="value in Combos.centroscostos" 
                                    value="{{value.id}}">{{value.value}}     
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <label idioma="Otro Servicio"></label>
                            <select id="ComOServicio" class="form-control ComboOtroRegistro" style="width:100%" ng-model="OtroRegistro.servicio">
                                <option value="">--Seleccione--</option>
                                <option ng-selected= "{{value.id == OtroRegistro.servicio}}" ng-repeat="value in Combos.servicio" 
                                    value="{{value.id}}">{{value.value}}     
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <label>Descripción</label>
                            <textarea ng-model="OtroRegistro.descripcion" Id="ComODescripcion" class="form-control" autofocus rows="4" tabindex="40"></textarea>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Costo"></label>
                            <input class="form-control text-XX text-right" Id="ComOCosto" tabindex="41" ng-model="OtroRegistro.costo" type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,_DE)" ng-keyup="CalcularPOSerCom($event.target)" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Cantidad"></label>
                            <input class="form-control text-XX text-right" Id="ComOCantidad" tabindex="42" ng-model="OtroRegistro.cantidad" type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" ng-keyup="CalcularPOSerCom($event.target)" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="% Desc"></label>
                            <input class="form-control text-XX text-center" Id="ComODescuento" tabindex="43" ng-model="OtroRegistro.descuento" type="text" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,_DE)" ng-keyup="CalcularPOSerCom($event.target)" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Iva"></label>
                            <select class="form-control ComboOtroRegistro" Id="ComOIva" tabindex="44" ng-model="OtroRegistro.iva" ng-change="CalcularPOSerCom('')" style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option ng-selected= "{{value.id == OtroRegistro.iva}}" ng-repeat="value in Combos.iva" 
                                    value="{{value.id}}">{{value.value}}     
                                </option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group-min row">
                        <div class="col-xs-6 col-md-3">
                            <label idioma="Valor Descuento"></label>
                            <input class="form-control text-XX text-right" ng-model="OtroRegistro.tdescuento" readonly type="text" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label idioma="SubTotal Sin Desc."></label>
                            <input class="form-control text-XX text-right" ng-model="OtroRegistro.subtotal" readonly type="text" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label idioma="IVA"></label>
                            <input class="form-control text-XX text-right" ng-model="OtroRegistro.tiva" readonly type="text" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label idioma="Total-Neto"></label>
                            <input class="form-control text-XX text-right" ng-model="OtroRegistro.total" readonly type="text" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-glow btn-default" type="button" ng-click="InicializarOtroRegistro()"><span idioma="Limpiar"></span></button>
                <button class="btn btn-glow btn-success" type="button" ng-click="AgregarOtroRegistroCom()"><span idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalRetencionComp" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="desretencion"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input id="RTipoRetencion" type="hidden" value="0" />
                <div class="form-group-min row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Base del Cálculo"></label>
                        <center>
                            <input name="RSubTotal" id="RSubTotal" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onchange="CalcularRetencionComp(this)" />
                        </center>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label>Porcentaje del Proveedor (<span id="RPorProveedor"></span>)%</label>
                        <select type="text" name="RPorcentaje" id="RPorcentaje" class="form-control" style="width:100%" onchange="CambioRetencionComp(this.value)"/>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Retención Aplicada"></label>
                        <center>
                            <input name="RRetencion" id="RRetencion" maxlength="12" class="form-control text-right text-XX" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onchange="CalcularRetencionComp(this)" />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="AgregarRetencioComp()"><span idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="ActualizarRetencioComp()"><span idioma="Actualizar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalAnexos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Anexos de la compra número "></span> <span id="anexocompra"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="row">
                    <div class="table-responsive" style="min-height:300px;">
                        <table class="table table-bordered hover">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>Archivo</th>
                                    <th width="5%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="TBodyAnexo">

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="form-group row" id="DivAgregarAnexo">
                    <div class="col-md-10">
                        <label idioma="Archivo Tipo PDF"></label>
                        <input type="file" name="CArchivo"  id="CArchivo" onchange="GuardarDocumentoComp()" accept="application/pdf" class="form-control" />
                    </div>
                    <div class="col-md-2 text-right">
                        <br />
                        <button class="btn btn-glow btn-primary" type="button" onclick="AgregarArchivoComp()"><span idioma="Agregar"></span></button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalCotizacion" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Modal de Contabilización"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table table-bordered hover display" width="100%">
                        <thead>
                            <tr class="bg-danger">
                                <th width="5%">&nbsp;</th>
                                <th width="65%">Cuentas</th>
                                <th width="15%">Débito</th>
                                <th width="15%">Crédito</th>
                            </tr>
                        </thead>
                        <tbody id="TbContabilidadComp"></tbody>
                    </table>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <label>Débitos</label>
                        <input class="form-control text-XX text-right" id="TDebitos" ng-disabled="true" />
                    </div>
                    <div class="col-md-4">
                        <label>Créditos</label>
                        <input class="form-control text-XX text-right" id="TCreditos" ng-disabled="true" />
                    </div>
                    <div class="col-md-4">
                        <label>Diferencia</label>
                        <input class="form-control text-XX text-right" id="TDiferencia" ng-disabled="true" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-success" type="button" id="btncontabilizar" onclick="ContabilizarCompra(1)"><span idioma="Contabilizar"></span></button>
                <button class="btn btn-glow btn-danger" type="button" id="btneliminarconta" onclick="AnularContabilizacion()"><span idioma="Anular"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>





