﻿<div class="row col-md-12">
    <div class="tabbable page-tabs" id="tabcotizacion">
        <ul class="nav nav-tabs">
            <li id="proli2"><a class="active" href="#tabreportes" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Ingresos Reportados en el Laboratorio"></span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active " id="tabreportes">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Cotizado"></label>
                            <select class="form-control" name="CRecepcion" id="CRCotizado" tabindex="11" style="width:100%">
                                <option value="-1">TODOS</option>
                                <option value="0">NO</option>
                                <option value="1">SI</option>
                                <option value="2">ACTOS PARA CALIBRAR</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Aprobado"></label>
                            <select class="form-control" name="CRAprobado" id="CRAprobado" tabindex="11" style="width:100%">
                                <option value="TODOS">Todos</option>
                                <option value="APROBADO AJUSTE / SUMINISTRO">Aprobar Ajuste/Suministro</option>
                                <option value="REALIZAR CERTIFICADO ERROR">Realizar el Certificado con el Error</option>
                                <option value="GENERAR INFORME DE DEVOLUCION">Generar Infrome de Devolución</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Ingreso"></label>
                            <input name="CIngreso" id="CRIngreso" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Cliente"></label>
                            <select name="CCliente" id="CRCliente" class="form-control"  style="width:100%" />
                        </div>

                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Desde"></label>
                            <input type="date" name="CFechaDesde" id="CRFechaDesde" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Fecha Hasta"></label>
                            <input type="date" name="CFechaHasta" id="CRFechaHasta" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Usuarios"></label>
                            <select name="CUsuario" id="CRUsuario" class="form-control" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Magnitudes"></label>
                            <select name="CMagnitud" id="CRMagnitud" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Equipos"></label>
                            <select name="CEquipo" id="CREquipo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Marca"></label>
                            <select name="CMarca" id="CRMarca" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Modelos"></label>
                            <select name="CModelo" id="CRModelo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Intervalo"></label>
                            <select name="CIntervalo" id="CRIntervalo" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Serie"></label>
                            <input name="CSerie" id="CRSerie" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Asesor"></label>
                            <select name="CAsesor" id="CAsesor" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="NO APROBADO"></label>
                            <input type="checkbox" checked name="CNAprobado" id="CNAprobado" class="form-control">
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="ENVIADO"></label>
                            <input type="checkbox" checked name="CEnviado" id="CEnviado" class="form-control">
                        </div>
                        <div class="col-xs-4 col-sm-8 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsularReportes()"><span idioma="Buscar"></span></button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" id="TablaReportes" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                <thead>
                                    <tr>
                                        <th width="3%">&nbsp;</th>
                                        <th width="3%"><span idioma="Ingreso"></span></th>
                                        <th width="3%"><span idioma="Plantilla"></span></th>
                                        <th width="3%"><span idioma="Remisión"></span></th>
                                        <th width="3%"><span idioma="Cotizado"></span></th>
                                        <th width="15%"><span idioma="Cliente/NIT"></span></th>
                                        <th width="15%"><span idioma="Teléfonos"></span></th>
                                        <th><span idioma="Magnitud<br>Equipo"></span></th>
                                        <th><span idioma="Marca<br>Modelo"></span></th>
                                        <th><span idioma="Rango<br>Serie"></span></th>
                                        <th><span idioma="Fecha Reporte"></span></th>
                                        <th width="15%"><span idioma="Observación"></span></th>
                                        <th width="15%"><span idioma="Reporte"></span></th>
                                        <th><span idioma="Fecha Envio"></span></th>
                                        <th><span idioma="Correo Envio"></span></th>
                                        <th><span idioma="Estado"></span></th>
                                        <th><span idioma="Aprobado por"></span></th>
                                        <th><span idioma="Fecha Aprobacion"></span></th>
                                        <th width="15%"><span idioma="Observación Aporbación"></span></th>
                                        <th><span idioma="Especialista"></span></th>
                                        <th><span idioma="Tiempo<br>Transcurrido"></span></th>
                                        <th width="3%">ID</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        
</div>

<div id="modalAprobarRepor" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Aprobar Reporte"></span></h4>
            </div>
            <input class="form-control" type="hidden" id="IdReporte">
            <div class="modal-body with-padding">
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-control-label" idioma="Ingreso"></label>
                        <input class="form-control" type="text" id="AIngreso" disabled>
                    </div>
                    <div class="col-md-10">
                        <label class="form-control-label" idioma="Cliente"></label>
                        <input class="form-control" type="text" id="ACliente" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Contacto"></label>
                        <input class="form-control" type="text" id="AContacto" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Dirección"></label>
                        <input class="form-control" type="text" id="ADireccion" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Ajuste"></label>
                        <textarea class="form-control" rows="3" type="text" id="AAjuste" disabled />
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" idioma="Suministro"></label>
                        <textarea class="form-control" rows="3" type="text" id="ASuministro" disabled />
                    </div>
                    <div class="col-md-12">
                        <label class="form-control-label">Observación</label>
                        <textarea class="form-control" rows="2" type="text" id="AObservacion" disabled />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <label idioma="Operación"></label>
                        <select class="form-control" id="OpcionAproRepor" style="width:100%">
                            <option value="1">Aprobar Ajuste/Suministro</option>
                            <option value="2">Realizar el Certificado con el Error</option>
                            <option value="3">Generar Informe de Devolución</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control-label" idioma="Fecha"></label>
                        <input class="form-control" type="date" id="FechaRepor">
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" idioma="Hora"></label>
                        <input class="form-control" type="time" id="HoraRepor">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label idioma="Usuario Aprueba/Rechaza"></label>
                        <input class="form-control" id="UsuarioRepor" />
                    </div>
                    <div class="col-md-2">
                        <label idioma="Cédula"></label>
                        <input class="form-control" id="CedulaRepor" />
                    </div>
                    <div class="col-md-4">
                        <label idioma="Cargo"></label>
                        <input class="form-control" id="CargoRepor" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" idioma="Observación de Aprobación/Rechazo"></label>
                        <textarea class="form-control" id="ObservacionRepor" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" idioma="Adjuntar PDF Correo"></label>
                        <input type="file" name="ArchivoApro" id="ArchivoApro" onchange="GuardarDocumentoAdjunto(this.id,3,'')" accept="application/pdf" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="GuardarAproRepo()"><span idioma="Aprobar/Reprobar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="enviar_reporte" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarreporte">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="spcotizacion"></span></h4>
                </div>
                <input type="hidden" id="NroReporte" value="0" />
                <input type="hidden" id="ePlantilla" value="0" />
                <input type="hidden" id="eMagnitud" value="0" />
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ConsultaReporteLaboratorio.js?unico=' + Math.round(Math.random() * 10000));
</script>
