﻿
<div class="row">
    <div class="col-md-8">
        <form id="FormPrevia">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Operaciones previas al Certificado (Longitud)"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <!--Aqui modifique LW -->
                        <div class="form-group row">                            
                            <div class="col-xs-6 col-md-2 text-XX">
                                <label idioma="Revisión"></label>
                                <select id="Revision" name="Revision" disabled style="width:100%;">
                                    <option value="1">PRIMERA</option>
                                    <option value="2">SEGUNDA</option>
                                    <option value="3">TERCERA</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <!--Hasta aqui modifique LW -->

                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Nró Ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" required onkeypress="return NumCheck(event, this,0)" maxlength="12" pattern="[0-9]{1,12}" max="12" min="1" name="IngresoLong" id="IngresoLong" autofocus tabindex="0" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Remisión"></label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Especialista del Reporte"></label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Recibido"></label>
                                <input type="text" class="form-control" id="FechaRec" name="fecha" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tiempo Trans"></label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="100%" class="tabcertificado" border="1">
                                <tr class="tabcertr">
                                    <th colspan="4" class="text-XX text-center bg-gris"><span idioma="INFORMACIÓN DE LA CALIBRACIÓN"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Solicitante"></th>
                                    <td width="50%" id="Solicitante" style="padding-left:10px;">&nbsp;</td>
                                    <th width="20%" idioma="Número de Certificado"></th>
                                    <td width="15%" class="text-XX" id="Certificado" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Dirección"></th>
                                    <td id="Direccion" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Número de Ingreso"></th>
                                    <td id="TIngreso" class="text-XX" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Recepción"></th>
                                    <td id="FechaIng" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Calibración"></th>
                                    <td id="FechaCal" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Unidad de calibración"></th>
                                    <td id="Medida" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Expedición"></th>
                                    <td id="FechaExp" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Próxima Calibración"></th>
                                    <td id="Proxima" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Método"></th>
                                    <td>
                                        <select id="Metodo" name="Metodo" class="form-control" style="width:100%" required />
                                    </td>
                                    <th idioma="Tipo"></th>
                                    <td>
                                        <select id="Tipo" name="Tipo" class="form-control" style="width:100%" required>
                                            <option value="">--Seleccione--</option>
                                            <option value="1">Analógico</option>
                                            <option value="0">Digital</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <table width="100%" class="tabcertificado" border="1">
                                <tr class="tabcertr">
                                    <th colspan="7" class="text-XX text-center bg-gris"><span idioma="DATOS DEL INSTRUMENTO BAJO CALIBRACIÓN (IBC)"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Instrumeto"></th>
                                    <td style="padding-left:10px;" id="Equipo">&nbsp;</td>
                                    <th idioma="Intervalo de medición"></th>
                                    <td colspan="5" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fabricante"></th>
                                    <td style="padding-left:10px;" id="Marca">&nbsp;</td>
                                    <th width="15%" idioma="División de escala"></th>
                                    <td><input type="text" class="form-control sinbordecon text-XX bg-amarillo" onFocus="FormatoEntrada(this, 1)" onKeyUp="CalcularError(this)" id="Division" name="Division" required /></td>
                                    <td colspan="2" style="padding-left:10px;" class="medida">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Modelo"></th>
                                    <td id="Modelo" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Resolución"></th>
                                    <td><input type="text" class="form-control sinbordecon text-XX bg-amarillo" onFocus="FormatoEntrada(this, 1)" id="Resolucion" name="Resolucion" required /></td>
                                    <td colspan="3" style="padding-left:10px;" id="MedResolucion">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Serie"></th>
                                    <td width="45%" id="Serie" style="padding-left:10px;">&nbsp;</td>
                                    <th width="15%" idioma="Error Máximo permitido"></th>
                                    <td width="7%"><input type="text" class="form-control sinbordecon text-XX bg-gris" id="ErrorPositivo" name="ErrorPositivo" readonly /></td>
                                    <td width="7%"><input type="text" class="form-control sinbordecon text-XX bg-gris" id="ErrorNegativo" name="ErrorNegativo" readonly /></td>
                                    <td width="6%" style="padding-left:10px;" id="MedError">&nbsp;</td>
                                </tr>
                            </table>
                            <hr />
                            
                            <table width="100%" align="center" border="1" class="tabcertificado" id="tablaArray">
                                <tr class="tabcertr">
                                    <th colspan="8" class="text-XX text-center bg-gris"><span idioma="SELECCIÓN DE LOS PATRÓNES A UTILIZAR EN LA CALIBRACIÓN"></span></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="5%" class="text-center bg-gris" idioma="Título"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Instrumento"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Marca"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Grado"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Intervalo"><br><span idioma="de medición"></span></th>
                                    <th width="12%" class="text-center bg-gris" idioma="Serie"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Certificado No"></th>
                                    <th width="10%" class="text-center bg-gris" idioma="Fecha de calibración"></th>
                                </tr>
                                <tr>
                                    <td id="CTitulo1">&nbsp;</td>
                                    <td id="CInstrumento1">&nbsp;</td>
                                    <td id="CMarca1">&nbsp;</td>
                                    <td id="CGrado1">&nbsp;</td>
                                    <td id="CIntervalo1">&nbsp;</td>
                                    <td><select id="CSerie1" class="form-control" style="width:100%" onchange="CambioPatron(this.value,1)" /><input id="CId1" value="0" type="hidden" /></td>
                                    <td id="CCertificado1">&nbsp;</td>
                                    <td id="CFechaCal1">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo2">&nbsp;</td>
                                    <td id="CInstrumento2">&nbsp;</td>
                                    <td id="CMarca2">&nbsp;</td>
                                    <td id="CGrado2">&nbsp;</td>
                                    <td id="CIntervalo2">&nbsp;</td>
                                    <td><select id="CSerie2" class="form-control" style="width:100%" onchange="CambioPatron(this.value,2)" /><input id="CId2" value="0" type="hidden" /></td>
                                    <td id="CCertificado2">&nbsp;</td>
                                    <td id="CFechaCal2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo3">&nbsp;</td>
                                    <td id="CInstrumento3">&nbsp;</td>
                                    <td id="CMarca3">&nbsp;</td>
                                    <td id="CGrado3">&nbsp;</td>
                                    <td id="CIntervalo3">&nbsp;</td>
                                    <td><select id="CSerie3" class="form-control" style="width:100%" onchange="CambioPatron(this.value,3)" /><input id="CId3" value="0" type="hidden" /></td>
                                    <td id="CCertificado3">&nbsp;</td>
                                    <td id="CFechaCal3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo4">&nbsp;</td>
                                    <td id="CInstrumento4">&nbsp;</td>
                                    <td id="CMarca4">&nbsp;</td>
                                    <td id="CGrado4">&nbsp;</td>
                                    <td id="CIntervalo4">&nbsp;</td>
                                    <td><select id="CSerie4" class="form-control" style="width:100%" onchange="CambioPatron(this.value,4)" /><input id="CId4" value="0" type="hidden" /></td>
                                    <td id="CCertificado4">&nbsp;</td>
                                    <td id="CFechaCal4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo5">&nbsp;</td>
                                    <td id="CInstrumento5">&nbsp;</td>
                                    <td id="CMarca5">&nbsp;</td>
                                    <td id="CGrado5">&nbsp;</td>
                                    <td id="CIntervalo5">&nbsp;</td>
                                    <td><select id="CSerie5" class="form-control" style="width:100%" onchange="CambioPatron(this.value,5)" /><input id="CId5" value="0" type="hidden" /></td>
                                    <td id="CCertificado5">&nbsp;</td>
                                    <td id="CFechaCal5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td id="CTitulo6">&nbsp;</td>
                                    <td id="CInstrumento6">&nbsp;</td>
                                    <td id="CMarca6">&nbsp;</td>
                                    <td id="CGrado6">&nbsp;</td>
                                    <td id="CIntervalo6">&nbsp;</td>
                                    <td><select id="CSerie6" class="form-control" style="width:100%" onchange="CambioPatron(this.value,6)" /><input id="CId6" value="0" type="hidden" /></td>
                                    <td id="CCertificado6">&nbsp;</td>
                                    <td id="CFechaCal6">&nbsp;</td>
                                </tr>
                            </table>
                            <hr />
                            <table width="100%" class="tabcertificado" border="1">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="text-XX text-center bg-gris"><span idioma="CONDICIONES EXTERNAS"></span></th>
                                    </tr>
                                    <tr>
                                        <th width="42%" class="text-center bg-gris" idioma="DESCRIPCIÓN"></th>
                                        <th width="8%" class="text-center bg-gris" idioma="SI"></th>
                                        <th width="8%" class="text-center bg-gris" idioma="NO"></th>
                                        <th width="40%" class="text-center bg-gris" idioma="OBSERVACIONES"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycondicion"></tbody>
                            </table>
                            <hr />
                        </div>
                        <div id="registroingreso"></div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12 text-right">

                                <button class="btn btn-glow btn-primary" type="button" onclick="ModalCotizacion()" title="Ver Cotizaciones"><span class="icon-grande" data-icon="&#xe003;"></span></button>
                                <button class="btn btn-glow btn-success" type="submit" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ReportarEquipo()" title="Reportar Equipo"><span class="icon-grande" data-icon="&#xe220;"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="EnviarCotizacion()" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></!--button>
                                    <!--button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(0)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></!--button>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(0)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                    <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(0)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button-->
                                    <button class="btn btn-glow btn-default" type="button" onclick="GenerarCertificado()">Generar Certificado</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos por Reportar"></span></a></h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label idioma="Cliente"></label>
                                <select id="ClienteIngreso" class="form-control" onchange="ConsularReportesIngresos()" style="width:100%" />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Cotizaciones Aprobadas"></label>
                                <input id="Aprobadas" type="checkbox" onchange="ConsularReportesIngresos()" checked class="form-control text-center" style="width:100%">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table display  table-bordered" id="TablaReportar">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="Nro"></th>
                                        <th width="10%" idioma="Ingreso"></th>
                                        <th width="75%" idioma="Equipo"></th>
                                        <th width="10%" idioma="Fecha"><br><span idioma="Reportado"></span></th>
                                        <th width="10%" idioma="Tiempo"><br><span idioma="Transcurrido"></span></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="enviar_cotizacion" class="modal fade" tabindex="-1" role="dialog">
        <form id="formenviarcotizacion">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="spcotizacion"></span></h4>
                    </div>
                    <div class="modal-body with-padding">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label idioma="Cliente"></label>
                                <input type="text" class="form-control" id="eCliente" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label idioma="Correo Electrónico"></label>
                                <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <label idioma="Observación de Envío"></label>
                                <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="modalcotizacion" class="modal fade" tabindex="-1" role="dialog">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="DATOS DE LA COTIZACION"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Servicio de Calibración"></label><br>
                            <textarea class="form-control" id="CServicio" rows="4" name="Servicio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Método"></label><br>
                            <textarea class="form-control" id="CMetodo" rows="4" name="Metodo" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Punto de Calibración"></label><br>
                            <textarea class="form-control" id="CPunto" rows="3" name="CPunto" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Observación de Calibración"></label><br>
                            <textarea class="form-control" id="CObservCerti" rows="3" name="CObservCerti" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Proxima Calibración"></label><br>
                            <input type="text" class="form-control" id="CProxima" name="CProxima" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Días de Entrega"></label><br>
                            <input type="text" class="form-control" id="CEntrega" name="CEntrega" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Asesor Comercial"></label><br>
                            <input type="text" class="form-control" id="CAsesorComer" name="CAsesorComer" readonly />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div id="ReportarEquipo" class="modal fade" tabindex="-1" role="dialog">
        <form id="formreportar">
            <input type="hidden" name="idreporte" id="idreporte" value="0" />
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Reportar Equipo del Ingreso Número"></span> <span id="rpingreso"></span></h4>
                    </div>
                    <div class="modal-body with-padding">
                        <div class="tabbable page-tabs" id="tabreportaringreso">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#Reporte1" onclick="javascript:NroReporte = 1;" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 1"></span></a></li>
                                <li><a href="#Reporte2" data-toggle="tab" onclick="javascript:NroReporte = 2;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 2"></span></a></li>
                                <li><a href="#Reporte3" data-toggle="tab" onclick="javascript:NroReporte = 3;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 3"></span></a></li>
                                <li><a href="#Reporte4" data-toggle="tab" onclick="javascript:NroReporte = 4;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 4"></span></a></li>
                                <li><a href="#Reporte5" data-toggle="tab" onclick="javascript:NroReporte = 5;"><i class="icon-checkbox-partial"></i><span idioma="Reporte Nro 5"></span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active fade in" id="Reporte1">
                                    <input type="hidden" id="IdReporte1" value="0" />
                                    <div id="registroingreso1"></div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-5">
                                            <label idioma="Concepto"></label>
                                            <select type="text" class="form-control" name="Concepto" id="Concepto1" onchange="CambioConcepto(this.value,1)" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Apto para Calibración</option>
                                                <option value="2">Requiere Ajuste o Suministro</option>
                                                <option value="5">Mantenimiento y Limpieza</option>
                                                <option value="3">Sin Posibilidad de Ajuste</option>
                                                <option value="4">Requiere Sub-Contratación</option>
                                                <option value="6">No Autorizado</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Nro Informe"></label><br>
                                            <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme1" disabled />
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <br>
                                            <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                            <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(1)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                            <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(1)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                            <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(1)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                            <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(1)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Ajuste"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste1" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Suministro"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro1" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Observación/Informe"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion1" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Conclusiones"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion1" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Número de Foto"></label>
                                            <select class="form-control" name="NumFoto1" id="NumFoto1" disabled onchange="MostrarFoto(1, this.value)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <label idioma="Examine Foto del Ingreso"></label>
                                            <input type="file" class="form-control" name="Documento1" id="Documento1" accept="image/*" onchange="GuardarDocumento(1)" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <img src="" id="FotoMan1" width="95%" />
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade in" id="Reporte2">
                                    <input type="hidden" id="IdReporte2" value="0" />
                                    <div id="registroingreso2"></div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-5">
                                            <label idioma="Concepto"></label>
                                            <select type="text" class="form-control" name="Concepto" id="Concepto2" onchange="CambioConcepto(this.value,2)" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Apto para Calibración</option>
                                                <option value="2">Requiere Ajuste o Suministro</option>
                                                <option value="5">Mantenimiento y Limpieza</option>
                                                <option value="3">Sin Posibilidad de Ajuste</option>
                                                <option value="4">Requiere Sub-Contratación</option>
                                                <option value="6">No Autorizado</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Nro Informe"></label><br>
                                            <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme2" disabled />
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <br>
                                            <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                            <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(2)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                            <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(2)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                            <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(2)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                            <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(2)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Ajuste"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste2" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Suministro"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro2" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Observación/Informe"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion2" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Conclusiones"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion2" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Número de Foto"></label>
                                            <select class="form-control" name="NumFoto2" id="NumFoto2" disabled onchange="MostrarFoto(2, this.value)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <label idioma="Examine Foto del Ingreso"></label>
                                            <input type="file" class="form-control" name="Documento2" id="Documento2" accept="image/*" onchange="GuardarDocumento(2)" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <img src="" id="FotoMan2" width="95%" />
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade in" id="Reporte3">
                                    <input type="hidden" id="IdReporte3" value="0" />
                                    <div id="registroingreso3"></div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-5">
                                            <label idioma="Concepto"></label>
                                            <select type="text" class="form-control" name="Concepto" id="Concepto3" onchange="CambioConcepto(this.value,3)" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Apto para Calibración</option>
                                                <option value="2">Requiere Ajuste o Suministro</option>
                                                <option value="5">Mantenimiento y Limpieza</option>
                                                <option value="3">Sin Posibilidad de Ajuste</option>
                                                <option value="4">Requiere Sub-Contratación</option>
                                                <option value="6">No Autorizado</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Nro Informe"></label><br>
                                            <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme3" disabled />
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <br>
                                            <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                            <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(3)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                            <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(3)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                            <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(3)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                            <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(3)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Ajuste"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste3" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Suministro"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro3" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Observación/Informe"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion3" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Conclusiones"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion3" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Número de Foto"></label>
                                            <select class="form-control" name="NumFoto3" id="NumFoto3" disabled onchange="MostrarFoto(3, this.value)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <label idioma="Examine Foto del Ingreso"></label>
                                            <input type="file" class="form-control" name="Documento3" id="Documento3" accept="image/*" onchange="GuardarDocumento(3)" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <img src="" id="FotoMan3" width="95%" />
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade in" id="Reporte4">
                                    <input type="hidden" id="IdReporte4" value="0" />
                                    <div id="registroingreso4"></div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-5">
                                            <label idioma="Concepto"></label>
                                            <select type="text" class="form-control" name="Concepto" id="Concepto4" onchange="CambioConcepto(this.value,4)" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Apto para Calibración</option>
                                                <option value="2">Requiere Ajuste o Suministro</option>
                                                <option value="5">Mantenimiento y Limpieza</option>
                                                <option value="3">Sin Posibilidad de Ajuste</option>
                                                <option value="4">Requiere Sub-Contratación</option>
                                                <option value="6">No Autorizado</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Nro Informe"></label><br>
                                            <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme4" disabled />
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <br>
                                            <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                            <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(4)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                            <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(4)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                            <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(4)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                            <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(4)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Ajuste"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste4" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Suministro"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro4" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Observación/Informe"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion4" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Conclusiones"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion4" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Número de Foto"></label>
                                            <select class="form-control" name="NumFoto4" id="NumFoto4" disabled onchange="MostrarFoto(4, this.value)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <label idioma="Examine Foto del Ingreso"></label>
                                            <input type="file" class="form-control" name="Documento4" id="Documento4" accept="image/*" onchange="GuardarDocumento(4)" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <img src="" id="FotoMan4" width="95%" />
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade in" id="Reporte5">
                                    <input type="hidden" id="IdReporte5" value="0" />
                                    <div id="registroingreso5"></div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-5">
                                            <label idioma="Concepto"></label>
                                            <select type="text" class="form-control" name="Concepto" id="Concepto5" onchange="CambioConcepto(this.value,5)" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Apto para Calibración</option>
                                                <option value="2">Requiere Ajuste o Suministro</option>
                                                <option value="5">Mantenimiento y Limpieza</option>
                                                <option value="3">Sin Posibilidad de Ajuste</option>
                                                <option value="4">Requiere Sub-Contratación</option>
                                                <option value="6">No Autorizado</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Nro Informe"></label><br>
                                            <input type="text" class="form-control text-center text-XX" name="NroInforme" id="NroInforme5" disabled />
                                        </div>
                                        <div class="col-sm-5 text-right">
                                            <br>
                                            <button class="btn btn-glow btn-success guardarreporte" type="button" title="Guardar Reporte"><span class="icon-grande" data-icon="&#xe26c;"></span></button>
                                            <button class="btn btn-glow btn-primary" type="button" onclick="InformeTecnico(5)" title="Generar Informe Técnico"><span class="icon-grande" data-icon="&#xe22d;"></span></button>
                                            <button class="btn btn-glow btn-warning" type="button" onclick="VistaInforme(5)" title="Vista Previa Informe Técnico"><span class="icon-grande" data-icon="&#xe0f6;"></span></button>
                                            <button class="btn btn-glow btn-info" type="button" onclick="ImprimirInforme(5)" title="Imprimir Informe Técnico"><span class="icon-grande" data-icon="&#xe0f7;"></span></button>
                                            <button class="btn btn-glow btn-danger" type="button" onclick="EnviarReporte(5)" title="Enviar Reporte"><span class="icon-grande" data-icon="&#xe255;"></span></button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Ajuste"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Ajuste" id="Ajuste5" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Suministro"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Suministro" id="Suministro5" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Observación/Informe"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Observacion" id="Observacion5" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12">
                                            <label idioma="Conclusiones"></label><br>
                                            <textarea type="text" rows="5" class="form-control" name="Conclusion" id="Conclusion5" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-2">
                                            <label idioma="Número de Foto"></label>
                                            <select class="form-control" name="NumFoto5" id="NumFoto5" disabled onchange="MostrarFoto(5, this.value)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <label idioma="Examine Foto del Ingreso"></label>
                                            <input type="file" class="form-control" name="Documento5" id="Documento5" accept="image/*" onchange="GuardarDocumento(5)" disabled />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <img src="" id="FotoMan5" width="95%" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="enviar_reporte" class="modal fade" tabindex="-1" role="dialog">
        <form id="formenviarreporte">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Reporte del Ingreso Número"></span> <span id="rspreporte"></span></h4>
                    </div>
                    <input type="hidden" class="form-control" id="rReporte" readonly />
                    <div class="modal-body with-padding">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label idioma="Cliente"></label>
                                <input type="text" class="form-control" id="rCliente" readonly />
                            </div>
                            <div class="col-sm-6">
                                <label idioma="Correo Electrónico"></label>
                                <textarea class="form-control" id="rCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <label idioma="Observación de Envío"></label>
                                <textarea class="form-control" id="RObserEnvio" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                        <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>






    <script>
        TraducirIdioma($("#menu_idioma").val() * 1);
        $.getScript(url + 'js/OperPrevLongitud.js?unico=' + Math.round(Math.random() * 10000));
    </script>




