﻿<div class="row">
    <div class="col-md-12">
        <form id="FormPrevia" onkeypress = "return pulsar(event)">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Certificado (Temperatura-Termómetro de Vídrio)"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                            <button class="btn btn-glow btn-danger" type="button" onclick="EliminarTemporal()"><span idioma="Eliminar Temporal"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Tipo de Certificado"></label>
                                <select class="form-control text-center" onchange="CambioCertificado(this.value)" required name="NumCertificado" id="NumCertificado" tabindex="0" style="width:100%">
                                    <option idioma="PRESIÓN POSITIVA" value="1"></option>
                                    <option idioma="PRESIÓN NEGATIVA" value="2"></option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Nró Ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" required onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngreso(this.value, event,'1')" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="1" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Remisión"></label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Especialista del Reporte"></label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Recibido"></label>
                                <input type="text" class="form-control" id="FechaRec" name="fecha" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tiempo Trans"></label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <tr class="tabcertr">
                                    <th colspan="7" class="text-XX text-center bg-gris" idioma="INFORMACIÓN DE LA CALIBRACIÓN"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Solicitante"></th>
                                    <td id="Solicitante" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2" idioma="Número de Certificado"></th>
                                    <td colspan="3" class="text-XX" id="Certificado" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Dirección"></th>
                                    <td id="Direccion" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2" idioma="Número de Ingreso"></th>
                                    <td colspan="3" id="TIngreso" class="text-XX" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Recepción"></th>
                                    <td colspan="6" id="FechaIng" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fecha de Calibración"></th>
                                    <td id="FechaCal" style="padding-left:10px;">&nbsp;</td>
                                    <th colspan="2" idioma="Unidad de calibración"></th>
                                    <td colspan="3" id="Medida" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Fecha de Expedición"></th>
                                    <td width="50%" id="FechaExp" style="padding-left:10px;">&nbsp;</td>
                                    <th width="8%" idioma="Conversión"></th>
                                    <td width="8%" align="center" id="UnidadCon">&nbsp;</td>
                                    <td width="8%" align="center" id="ValorCon">&nbsp;</td>
                                    <td width="7%" align="center" id="MedidaCon">psi</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th rowspan="2" idioma="Próxima Calibración"></th>
                                    <td rowspan="2" colspan="1" id="Proxima">
                                        <input type="date" name="ProximaCali" id="ProximaCali" onchange="GuardarTemporal()" style="width:220px" class="sinbordecon text-XX bg-amarillo" />
                                        <select style="width:120px" id="TiempoCali" onchange="CambioTiempoCali(this.value)">
                                            <option value="0">--</option>
                                            <option value="1">1 Años</option>
                                            <option value="2">2 Años</option>
                                        </select>
                                    </td>
                                    <th colspan="2" idioma="Unidad del">SI</th>
                                    <td colspan="3" id="MedidaSI" style="padding-left:20px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="8%" idioma="Conversión"></th>
                                    <td width="8%" align="center" id="UnidadConSI">&nbsp;</td>
                                    <td width="8%" align="center" id="ValorConSI">&nbsp;</td>
                                    <td width="7%" align="center" id="MedidaConSI">kPa</td>
                                </tr>
                            </table>
                            <br />
                            <table width="80%" class="tabcertificado" align="center" border="1">
                                <tr class="tabcertr">
                                    <th colspan="5" class="text-XX text-center bg-gris" idioma="DATOS DEL INSTRUMENTO BAJO CALIBRACIÓN (IBC)"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Instrumeto"></th>
                                    <td colspan="1" style="padding-left:10px;" id="Equipo">&nbsp;</td>
                                    <th idioma="Rango de medida"></th>
                                    <td colspan="2" class="text-XX" style="padding-left:10px;" id="RangoMedida">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fabricante"></th>
                                    <td style="padding-left:10px;" id="Marca">&nbsp;</td>
                                    <th idioma="División de Escala"></th>
                                    <td colspan="2" class="text-XX" style="padding-left:10px;" id="DivEscala">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Modelo"></th>
                                    <td id="Modelo" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Resolución"></th>
                                    <td colspan="2" class="text-XX" style="padding-left:10px;" id="Resolucion">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="15%" idioma="Serie"></th>
                                    <td width="50%" id="Serie" style="padding-left:10px;">&nbsp;</td>
                                    <th width="15%" idioma="Clase"></th>
                                    <td><input type="text" class="sinbordecon text-XX2 bg-amarillo" value="" id="Clase" name="Clase" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,4,1)" onchange="CalcularClase(this)" onkeyup="ValidarTexto(this, 3)" style="width:150px" />&nbsp;<span class="medida"></span></td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Fluido Usuado"></th>
                                    <td id="Fluido" style="padding-left:10px;">&nbsp;</td>
                                    <th idioma="Tope en el cero"></th>
                                    <td colspan="2" id="TopeCero" style="padding-left:10px;">&nbsp;</td>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Cuenta con Gliserina"></th>
                                    <td colspan="4" width="40%" id="Gliserina" style="padding-left:10px;">&nbsp;</td>

                                </tr>
                            </table>
                        </div>

                        <hr />
                        
                        <table width="95%" align="center" border="1" class="tabcertificado">
                            <tr class="tabcertr">
                                <th class="text-center bg-gris" style="font-size:28px" idioma="TOMA DE DATOS"></th>
                            </tr>
                        </table>
                        <br />
                        <div class="col-md-4 text-center text-XX">
                            <center>
                                <label idioma="Hora de Inicio de la Calibración"></label>
                                <input type="text" class="form-control text-XX bg-warning text-center" id="CaHoraIni" readonly value="" style="width:200px">
                            </center>
                            <br />
                        </div>
                        <div class="col-md-4 text-center text-XX">
                            <center>
                                <label idioma="Hora Final de la Calibración"></label>
                                <input type="text" class="form-control text-XX bg-warning text-center" id="CaHoraFin" readonly value="0" style="width:200px">
                            </center>
                            <br />
                        </div>
                        <div class="col-md-4 text-center text-XX">
                            <center>
                                <label idioma="Tiempo Transcurrido"></label>
                                <input type="text" class="form-control text-XX bg-warning text-center" id="CaTiempo" readonly value="0" style="width:200px">
                            </center>
                            <br />
                        </div>
                        <hr />
                                                                        
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="Observaciones"></label>
                                <textarea rows="4" class="form-control bg-amarillo" id="Observacion" onchange="GuardarTemporal()" name="Observacion">La calibración se realizó en las instalaciones permanentes de Calibration Service S.A.S.</textarea>
                            </div>
                        </div>
                        <hr />
                        <div id="CertificadoAnulado" class="text-XX text-danger">

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-glow btn-info" type="button" onclick="ModalCotizacion()"><span idioma="Ver Cotización"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ReCalcular()"><span idioma="Re-Calcular"></span></button>
                                <button class="btn btn-glow btn-primary" type="submit"><span idioma="Guardar Certificado"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="ImprimirPrevia()"><span idioma="Vista Previa"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="LlamarGenerarCertificado()"><span idioma="Generar Certificado"></span></button>
                                <button class="btn btn-glow btn-primary " type="button" onclick="ImprimirCertificado()">F6 <span idioma="Imprimir Certificado"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="VerCondiciones()"><span idioma="Condiciones Ambientales"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="HistorialCertificado()">F11 <span idioma="Historial de Certificado"></span></button>
                            </div>
                        </div>
                        <div id="FirmarCertificadoPT" class="hidden">
                            <div class="row">
                                <div class="col-md-12">
                                    <center>
                                        <label class="control-label" idioma="Firma del Especialista"></label><br>
                                        <canvas id="padfirmar" width="540px" height="160px" style="background-color:darkgray;"></canvas>
                                    </center>
                                </div>
                            </div>

                            <div class="row text-center">
                                <button class="btn btn-glow btn-warning" type="button" onclick="$('#FirmarCertificadoPT').addClass('hidden'); clearCanvas(canvas,ctx);"><span idioma="Cerrar"></span></button>
                                <button type="button" class="btn btn-glow btn-danger" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
                                    Borra Firma
                                </button>
                                <button class="btn btn-glow btn-primary" tabindex="3" type="button" onclick="GenerarCertificado()"><span idioma="Generar Certificado"></span></button>
                            </div>
                            <hr />
                        </div>
                        <center><h3 style="color:blue; font-size:22px;"><span idioma="CALCULOS DE LA OPERACION"></span></h3></center>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Condiciones Ambientales"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="3" class="text-center bg-gris" idioma="Condiciones ambientales máximas"></th>
                                    <th colspan="3" class="text-center bg-gris" idioma="Condiciones ambientales mínimas"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="TEMPERATURA"></th>
                                    <th width="15%" class="text-center " id="TempMax">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">°C</th>
                                    <th width="25%" class="bg-gris" idioma="TEMPERATURA"></th>
                                    <th width="15%" class="text-center " id="TempMin">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris">°C</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="bg-gris" idioma="HUMEDAD"></th>
                                    <th class="text-center " id="HumeMax">&nbsp;</th>
                                    <th class="text-center bg-gris">%HR</th>
                                    <th class="bg-gris" idioma="HUMEDAD"></th>
                                    <th class="text-center " id="HumeMin">&nbsp;</th>
                                    <th class="text-center bg-gris">%HR</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="bg-gris" idioma="PPRESIÓN ATM"></th>
                                    <th class="text-center"><input type="text" class="bg-amarillo sinbordecon text-XX2 text-center"  id="PresMax" name="PresMax" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,1,1)" onkeyup="CalcularPresion(this, 1)" /></th>
                                    <th class="text-center bg-gris">hPa</th>
                                    <th class="bg-gris" idioma="PPRESIÓN ATM"></th>
                                    <th class="text-center"><input type="text" class="bg-amarillo sinbordecon text-XX2 text-center" id="PresMin" name="PresMin" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,1,1)" onkeyup="CalcularPresion(this, 2)" /></th>
                                    <th class="text-center bg-gris">hPa</th>
                                </tr>
                            </table>
                            <hr />
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="4" class="text-center bg-gris" idioma="Correcciones Condiciones ambientales"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Temp máx"></th>
                                    <th width="25%"><input type="text" name="CoTempMax" id="CoTempMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Temp min"></th>
                                    <th width="25%"><input type="text" name="CoTempMin" id="CoTempMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Hum rel máx"></th>
                                    <th width="25%"><input type="text" name="CoHumeMax" id="CoHumeMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Hum rel min"></th>
                                    <th width="25%"><input type="text" name="CoHumeMin" id="CoHumeMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="25%" class="bg-gris" idioma="Pres atm Máx"></th>
                                    <th width="25%"><input type="text" name="CoPresMax" id="CoPresMax" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                    <th width="25%" class="bg-gris" idioma="Pres atm Min"></th>
                                    <th width="25%"><input type="text" name="CoPresMin" id="CoPresMin" readonly class="form-control sinbordecon text-XX2 text-center" /></th>
                                </tr>
                            </table>
                            <hr />
                             <div class="form-group row">
                                <div class="col-md-12">
                                    <b><span idioma="Presión atmosférica"></span></b>
                                    <table width="100%" align="left" border="1" class="tabcertificado">
                                        <thead>
                                            <tr class="tabcertr">
                                                <th width="12%" class="bg-gris text-center" idioma="Patrón"><br>(hPa)</th>
                                                <th width="13%" class="bg-gris text-center" idioma="Indicador"><br>(hPa)</th>
                                                <th width="13%" class="bg-gris text-center" idioma="Error"><br>(hPa)</th>
                                                <th width="12%" class="bg-gris text-center" idioma="Corrección"><br>(hPa)</th>
                                                <th width="13%" class="bg-gris text-center">± U<br>(hPa)</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TBAtmosferica"></tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="file" class="form-control" id="documento" accept=".csv" onchange="GuardarDocumento()" />

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <select class="form-control" id="medidor">
                                        <option value="https://www.webstorage-service.com/data/viewcur.html?bsn=429A00BF&rsn=42BC021C">Presion</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <button id="ButCargarTemperatura" class="btn btn-glow btn-success" onclick="CargarTemperatura()" type="button"><span idioma="CARGAR ARCHIVO DE TEMPERATURA"></span></button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-glow btn-primary" onclick="AbrirGrafica()" type="button"><span idioma="Abrir Gráfica del Instrumento"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            
                            <table width="100%" align="center" border="1" class="tabcertificado">
                                <thead>
                                    <tr class="tabcertr">
                                        <th colspan="8" class="text-center bg-gris" idioma="Datos del certificado termohigrometro"></th>
                                    </tr>
                                    <tr class="tabcertr">
                                        <th width="12%" class="bg-gris text-center" idioma="Patrón"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Instrumento"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Corrección"></th>
                                        <th width="12%" class="bg-gris text-center">U</th>
                                        <th width="13%" class="bg-gris text-center" idioma="Patrón"></th>
                                        <th width="13%" class="bg-gris text-center" idioma="Instrumento"></th>
                                        <th width="12%" class="bg-gris text-center" idioma="Corrección"></th>
                                        <th width="12%" class="bg-gris text-center">U</th>
                                    </tr>
                                </thead>
                                <tbody id="TBTemperatura"></tbody>
                                <tr class="tabcertr">
                                    <th colspan="8" idioma="Mínimo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Temperatura"></th>
                                    <th class="text-center" id="MinTemp1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinTemp1">&nbsp;</th>
                                    <th class="text-center" id="MinTemp2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinTemp2">&nbsp;</th>
                                    <th class="text-center" id="MinTemp3">&nbsp;</th>
                                    <th class="text-center">Temp (°C)</th>
                                    <th class="text-center" id="ForMinTemp3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Humedad"></th>
                                    <th class="text-center" id="MinHume1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMinHume1">&nbsp;</th>
                                    <th class="text-center" id="MinHume2">&nbsp;</th>
                                    <th class="text-center style=" background-color:moccasin"" id="ForMinHume2">&nbsp;</th>
                                    <th class="text-center" id="MinHume3">&nbsp;</th>
                                    <th class="text-center">Hum (%HR)</th>
                                    <th class="text-center" id="ForMinHume3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th colspan="8" idioma="Máximo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Temperatura"></th>
                                    <th class="text-center" id="MaxTemp1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxTemp1">&nbsp;</th>
                                    <th class="text-center" id="MaxTemp2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxTemp2">&nbsp;</th>
                                    <th class="text-center" id="MaxTemp3">&nbsp;</th>
                                    <th class="text-center">Temp (°C)</th>
                                    <th class="text-center" id="ForMaxTemp3">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th class="text-center bg-gris" idioma="Humedad"></th>
                                    <th class="text-center" id="MaxHume1">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxHume1">&nbsp;</th>
                                    <th class="text-center" id="MaxHume2">&nbsp;</th>
                                    <th class="text-center" style="background-color:moccasin" id="ForMaxHume2">&nbsp;</th>
                                    <th class="text-center" id="MaxHume3">&nbsp;</th>
                                    <th class="text-center">Hum (%HR)</th>
                                    <th class="text-center" id="ForMaxHume3">&nbsp;</th>
                                </tr>

                            </table>
                             
                            <hr />
                            
                            <h3><span idioma="Presión atmosférica"></span></h3>
                            <table width="100%" align="right" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th colspan="9" idioma="Mínimo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center" id="MinPres1">&nbsp;</th>
                                    <th width="10%" class="text-center" style="background-color:moccasin" id="ForMinPres1">&nbsp;</th>
                                    <th width="10%" class="text-center" id="MinPres2">&nbsp;</th>
                                    <th width="10%" class="text-center" style="background-color:moccasin" id="ForMinPres2">&nbsp;</th>
                                    <th width="10%" class="text-center" id="MinPres3">&nbsp;</th>
                                    <th width="10%" class="text-center" style="background-color:moccasin" id="ForMinPres3">&nbsp;</th>
                                    <th width="10%" class="text-center" id="MinPres4">&nbsp;</th>
                                    <th width="10%" class="text-center">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris" id="ForMinPres4">&nbsp;</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th colspan="9" idioma="Máximo"></th>
                                </tr>
                                <tr class="tabcertr">
                                    <th width="10%" class="text-center" id="MaxPres1">&nbsp;</th>
                                    <th width="10%" class="text-center" style="background-color:moccasin" id="ForMaxPres1">&nbsp;</th>
                                    <th width="10%" class="text-center" id="MaxPres2">&nbsp;</th>
                                    <th width="10%" class="text-center" style="background-color:moccasin" id="ForMaxPres2">&nbsp;</th>
                                    <th width="10%" class="text-center" id="MaxPres3">&nbsp;</th>
                                    <th width="10%" class="text-center" style="background-color:moccasin" id="ForMaxPres3">&nbsp;</th>
                                    <th width="10%" class="text-center" id="MaxPres4">&nbsp;</th>
                                    <th width="10%" class="text-center">&nbsp;</th>
                                    <th width="10%" class="text-center bg-gris" id="ForMaxPres4">&nbsp;</th>
                                </tr>
                            </table>
                            
                            <hr>
                            <h3><span idioma="Variación"></span></h3>
                            <table width="35%" border="1" class="tabcertificado">
                                <tr class="tabcertr">
                                    <th width="40%" idioma="Temperatura"></th>
                                    <th class="text-center" width="30%" id="VarTemp">&nbsp;</th>
                                    <th class="text-center" width="30%">°C</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Humedad"></th>
                                    <th class="text-center" id="VarHume">&nbsp;</th>
                                    <th class="text-center">% HR</th>
                                </tr>
                                <tr class="tabcertr">
                                    <th idioma="Pres atm"></th>
                                    <th class="text-center" id="VarPres">&nbsp;</th>
                                    <th class="text-center">hPa</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="GraTemperatura"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="GraHumedad"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse"><span id="TituloLinea1" idioma="Corrección de la medición en (psi) vs Lectura en (psi)"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-9">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <div class="col-md-3">
                        <h3><span idioma="DATOS DE LA GRÁFICA"></span></h3>
                        <table width="100%" align="center" border="1" class="tabcertificado" style="font-size:11px;">
                            <tbody id="TBGrafica1"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="TituloLinea2" idioma="Corrección ± Incertidumbre (psi) vs Valor Nominal (psi)"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-9">
                        <canvas id="myCharDesviacion"></canvas>
                    </div>
                    <div class="col-md-3">
                        <h3><span idioma="DATOS DE LA GRÁFICA"></span></h3>
                        <table width="100%" align="center" border="1" class="tabcertificado" style="font-size:11px;">
                            <tbody id="TBGrafica2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma=""></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <canvas id="myCharBarra"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalcotizacion" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="DATOS DE LA COTIZACION"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Servicio de Calibración"></label><br>
                        <textarea class="form-control" id="CServicio" rows="4" name="Servicio" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Método"></label><br>
                        <textarea class="form-control" id="CMetodo" rows="4" name="Metodo" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Punto de Calibración"></label><br>
                        <textarea class="form-control" id="CPunto" rows="3" name="CPunto" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Observación de Calibración"></label><br>
                        <textarea class="form-control" id="CObservCerti" rows="3" name="CObservCerti" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Proxima Calibración"></label><br>
                        <input type="text" class="form-control" id="CProxima" name="CProxima" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Días de Entrega"></label><br>
                        <input type="text" class="form-control" id="CEntrega" name="CEntrega" readonly />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Asesor Comercial"></label><br>
                        <input type="text" class="form-control" id="CAsesorComer" name="CAsesorComer" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/PlaCertPresion.js?unico=' + Math.round(Math.random() * 10000));
</script>




