﻿
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-info" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Recibir Ingreso"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" ng-click="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-success" type="button"  ng-show="Botones.btnguardar" ng-click="Guardar()"><span idioma="Guardar"></span></button>
                        <button class="btn btn-glow btn-primary" type="button" ng-show="Botones.btnregistro" ng-click="VerFotos()"><span idioma="Ver Fotos"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" ng-show="Botones.btnregistro" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                        <button class="btn btn-glow btn-danger" type="button" ng-show="Botones.btnregistro" ng-click="ModalEditarPlantillas()"><span idioma="Editar Plantillas"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label idioma="Nró Ingreso"></label>
                            <input type="text" class="form-control text-center text-XX" onkeypress="return NumCheck(event, this,0)" maxlength="12" ng-blur="BuscarIngreso()" ng-keyup="ValidarIngreso(Ingreso, $event)" pattern="[0-9]{1,12}" max="12" min="1" ng-model="Ingreso"  autofocus tabindex="0" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Remisión"></label>
                            <input type="text" class="form-control text-center text-XX" ng-value="Registro.remision" ng-disabled="true" />
                        </div>
                        <div class="col-md-4">
                            <label idioma="Asesor"></label>
                            <input type="text" class="form-control" ng-value="Registro.usuario" ng-disabled="true" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Fecha de Ingreso"></label>
                            <input type="text" class="form-control" ng-value="Registro.fechaingreso" ng-disabled="true" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Tiempo Trans"></label>
                            <input type="text" class="form-control" ng-value="Registro.tiempo" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Magnitud"></label><br>
                            <input type="text" class="form-control" ng-value="Registro.magnitud" ng-disabled="true" />
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Equipo"></label><br>
                            <input type="text" class="form-control" ng-value="Registro.equipo" ng-disabled="true" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Rango"></label><br>
                            <input type="text" class="form-control" ng-value="Registro.rango" ng-disabled="true" />
                        </div>

                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Marca"></label>
                            <input type="text" class="form-control" ng-value="Registro.marca" ng-disabled="true" />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Modelo"></label>
                            <input type="text" class="form-control" ng-value="Registro.modelo" ng-disabled="true" />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Serie" class="label-info"></label>
                            <input type="text" class="form-control" ng-value="Registro.serie" ng-disabled="true" />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="Garantía"></label>
                            <input type="text" class="form-control" ng-value="Registro.garantia" ng-disabled="true" />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="En Sitio"></label>
                            <input type="text" class="form-control" ng-value="Registro.sito" ng-disabled="true" />
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <label idioma="Accesorio"></label><br>
                            <textarea class="form-control" rows="4" ng-value="Registro.accesorio" ng-disabled="true" />
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación de Ingreso"></label><br>
                            <textarea class="form-control" id="Observacion" rows="4" ng-value="Registro.observacioning" ng-disabled="true" />
                        </div>


                    </div>
                    <div id="registrorecibirlab">

                    </div>
                    <hr />
                    <h3><span idioma="DATOS DE RECIBO DE INGRESO"></span></h3>
                    <hr />
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Plantillas del Ingreso"></label><br>
                            <table class="table ng-disabled="true" table-bordered hover">
                                <thead>
                                    <tr>
                                        <th width="97%" idioma="Plantilla"></th>
                                        <th width="3%" align="center" height="40px">Selección</th>
                                    </tr>
                                </thead>
                                <tbody id="TBPlantillas"></tbody>
                            </table> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-4">
                            <label idioma="Asesor que Entrega"></label><br>
                            <select id="Asesor" name="Asesor" class="form-control" style="width:100%">
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-8 text-right">
                            <br />
                            <button class="btn btn-glow btn-danger" type="button" ng-show="Botones.btnregistro" ng-click="EliminarRecIngresoLab()"><span idioma="Eliminar Recibido"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" ng-show="Botones.btnregistro" ng-click="NoAutorizado()"><span idioma="No autorizado"></span></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación del Especialista"></label><br>
                            <textarea type="file" id="Observaciones" name="Observaciones" rows="5" class="form-control" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos Recibidos"></span></a></h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label idioma="Fecha Inicio"></label>
                            <input type="date" class="form-control" id="FechaInicio" />
                        </div>
                        <div class="col-md-3">
                            <label idioma="Fecha Final"></label>
                            <input type="date" class="form-control" id="FechaFin" />
                        </div>
                        <div class="col-md-3">
                            <label idioma="Especialista"></label>
                            <select class="form-control" style="width:100%" id="Especialista"  />
                        </div>
                        <div class="col-md-2 text-right">
                            <br>
                            <button type="button" class="btn btn-glow btn-primary" onclick="ConsultarRecibidoLab()"><span idioma="Buscar"></span></button>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table display  table-bordered" id="TablaReportar">
                            <thead>
                                <tr>
                                    <th width="5%" idioma="Nro"></th>
                                    <th width="10%" idioma="Ingreso"></th>
                                    <th width="30%" idioma="Equipo"></th>
                                    <th width="30%" idioma="Observación"></th>
                                    <th width="10%" idioma="Asesor"> <br><span idioma="Entrega"></span><br><span idioma="Recibe"></span></th>
                                    <th width="10%" idioma="Fecha"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalPlantillas" class="modal fade" role="dialog">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Editar Plantillas del Ingreso número"></span> <span id="springreso"></span></h4>
            </div>
            <input type="hidden" class="form-control" id="eReporte" ng-disabled="true" />
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12">
                        <label idioma="Plantillas del Ingreso"></label><br>
                        <table class="table ng-disabled="true" table-bordered hover">
                            <thead>
                                <tr>
                                    <th width="97%" idioma="Plantilla"></th>
                                    <th width="3%" align="center" height="40px">Selección</th>
                                </tr>
                            </thead>
                            <tbody id="TBEditarPlantillas"></tbody>
                        </table>
                    </div>
                </div>    
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="EditarPlantillas()"><span idioma="Editar Plantillas"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


