﻿
<div class="modal-body with-padding">
    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-success" style="font-size:14px;">
                <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Cámara Vídeo</h6></div>
                <div class="panel-body">
                    <div id="my_camera"></div>

                    <br />
                    <div class="row text-center">
                        <button class="btn btn-glow btn-success" ng-click="TomarFoto()" type="button">F12 Capturar Foto</button>
                        <button class="btn btn-glow btn-danger" ng-click="EliminarFoto()" type="button">F10 Eliminar Foto</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-5">

            <div class="panel panel-success" style="font-size:14px;">
                <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>{{Modal.titulo}}</h6></div>
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center">
                            <span ng-repeat="i in range(1,Modal.total)">
                                <button class="btn btn-primary" type="button" ng-click="CambiarFoto(i,Modal.numero)">{{i}}</button>
                            </span>
                        </div>
                        <hr>
                        <center><h3>Fóto Número {{Modal.foto}}</h3></center>
                        <div class="col-xs-12 col-sm-12 text-center">
                            <img ng-src="../Adjunto/imagenes/ingresos/{{Modal.numero}}/{{Modal.foto}}.jpg?id={{Modal.aleatorio}}" width="90%">
                        </div>
                    </div>

                    <input type="hidden" name="id_imagen" id="id_imagen" value="">
                    <canvas id="tci6fotonue" style="display:none;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button type="button" class="btn btn-glow btn-danger" ng-click="Modal.Close()">Cerrar</button>
    </div>
</div>
<script>
    Webcam.attach("#my_camera");

</script>
        