﻿<div class="modal-header bg-info">

    <button type="button" class="close" ng-click="Modal.Close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes"></span></h4>
</div>
<div class="modal-body with-padding">

    <div class="form-group row">

        <div class="col-xs-6 col-md-4">
            <label idioma="Razón Social"></label>
            <input name="CRazon" id="CRazon" class="form-control" ng-model="Modal.razonsocial" ng-keyup="Modal.CargarModal()" autofocus />
        </div>
        <div class="col-xs-6 col-md-2">
            <label idioma="Cédula/Nit"></label>
            <input name="CCedula" id="CCedula" class="form-control" ng-model="Modal.cedula" ng-keyup="Modal.CargarModal()" onkeyup="CargarModalClientes()" />
        </div>

    </div>

    <div class="table-responsive" style="min-height:300px;">
        <table class="table table-condensed table-bordered display"  ng-table="TablaModalClientes">
            <tr ng-repeat = "x in $data" ng-dblclick="ObtenerDatatable(x,2)">
                <td data-title="'Tipo Cliente'" sortable="'tipocliente'">{{x.tipocliente}}</td>
                <td data-title="'NIT/Cédula'" sortable="'documento'">{{x.documento}}</td>
                <td data-title="'Nombre'" sortable="'nombrecompleto'" ng-bind-html="x.nombrecompleto"></td>
                <td data-title="'% Desc.'" sortable="'descuento'" class="text-right">{{x.descuento | number : 2}}</td>
                <td data-title="'% IVA'" sortable="'iva'" class="text-right">{{x.iva | number : 2}}</td>
                <td data-title="'Moneda'" sortable="'moneda'">{{x.moneda}}</td>
                <td data-title="'Dirección'" sortable="'direccion'">{{x.direccion}}</td>
                <td data-title="'Ciudad'" sortable="'ciudad'">{{x.ciudad}}</td>
                <td data-title="'Teléfonos'" sortable="'telefono'">{{x.telefono}}</td>
                <td data-title="'Email'" sortable="'email'">{{x.email}}</td>
            </tr>
        </table>
    </div>
    <font size="2px" color="red"><i>Busque el cliente por razón social o cédula/NIT y haga un click en la fila del cliente que desea seleccionar</i></font>
</div>
<div class="modal-footer">
    <button class="btn btn-glow btn-warning" type="button" ng-click="Modal.Close()"><span idioma="Cerrar"></span></button>
</div>

