﻿<div class="modal-header bg-info">
    <button type="button" class="close" ng-click="Modal.Close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
</div>
<div class="modal-body with-padding">
    <div class="table-responsive" style="min-height:300px;">
        <table class="table table-condensed table-bordered display" show-filter="true"  ng-table="TablaModalIngresos">
            <tr ng-repeat = "x in $data" ng-dblclick="ObtenerDatatable(x,3)">
                <td data-title="'Remisión'" sortable="'remision'" filter="{ 'remision': 'text' }">{{x.remision}}</td>
                <td class="text-XX" data-title="'Ingresos'" sortable="'ingreso'" filter="{ 'ingreso': 'text' }">{{x.ingreso}}</td>
                <td data-title="'Fecha'" sortable="'fecha'" filter="{ 'fecha': 'text' }">{{x.fecha}}</td>
                <td data-title="'Equipo'" sortable="'equipo'" filter="{ 'equipo': 'text' }" ng-bind-html="x.equipo"></td>
                <td data-title="'Serie'" sortable="'serie'" filter="{ 'serie': 'text' }">{{x.serie}}</td>
                <td data-title="'Asesor'" sortable="'usuario'" filter="{ 'usuario': 'text' }">{{x.usuario}}</td>
                <td data-title="'Accesorios'" sortable="'accesorio'" filter="{ 'accesorio': 'text' }">{{x.accesorio}}</td>
                <td data-title="'Observación'" sortable="'observacion'" filter="{ 'observacion': 'text' }">{{x.observacion}}</td>
            </tr>
        </table>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-glow btn-warning" type="button" ng-click="Modal.Close()"><span idioma="Cerrar"></span></button>
</div>