﻿<div class="modal-header bg-info">
    <button type="button" class="close" aria-hidden="true" ng-click="Modal.Close()">&times;</button>
    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
</div>
<div class="modal-body with-padding">

    <div class="form-group row">
        <div class="col-xs-6 col-md-2" ng-show="Modal.dis_ubicacion">
            <label idioma="Ubicación Depósito"></label>
            <select ng-model="Modal.ubicacion"  ng-change="Modal.CargarModal()" style="width:100%">
                <option value='0'>Todas</option>
            </select>
        </div>
        <div class="col-xs-6 col-md-2" ng-show="Modal.dis_moneda">
            <label idioma="Moneda"></label>
            <select  ng-model="Modal.moneda"   style="width:100%">
                <option ng-disabled="value.inactivo" ng-selected= "{{value.id == Servicio.moneda}}" ng-repeat="value in Modal.Combos.moneda" 
                    value="{{value.id}}">{{value.value}}     
                </option>
            </select>
        </div>
        <div class="col-xs-6 col-md-2">
            <label idioma="Grupo"></label>
            <select ng-model="Modal.grupo" ng-change="Modal.CargarModal()"   style="width:100%;">
                <option value="">--Seleccione--</option>
                <option ng-repeat="value in Modal.Combos.grupo" 
                    value="{{value.id}}">{{value.value}}     
                </option>
            </select>
        </div>
        <div class="col-xs-6 col-md-2">
            <label idioma="Código ó Código de Barras"></label>
            <input ng-value="Modal.codigobarras" class="form-control" ng-keyup="Modal.CargarModal()" />
        </div>
        <div class="col-xs-6 col-md-1" ng-show="Modal.dis_precio">
            <label idioma="Precio"></label>
            <input ng-value="Modal.precio" class="form-control text-XX text-center" ng-disabled="true"  />
        </div>
        <div class="col-xs-6 col-md-3">
            <label idioma="Artículo/Marca/Modelo/Característica"></label>
            <input class="form-control" ng-model="Modal.descripcion" ng-keyup="Modal.CargarModal()" />
        </div>
    </div>
    <div class="table-responsive" style="min-height:300px;">
        <table class="table table-condensed table-bordered display" ng-table="TablaModalInventarios">
            <tr ng-repeat = "x in $data" ng-dblclick="ObtenerDatatable(x,1)">
                <td data-title="'Foto'" sortable="'foto'" ng-bind-html="x.foto"></td>
                <td data-title="'ID'" sortable="'id'">{{x.id}}</td>
                <td data-title="'Código Interno'" sortable="'codigointerno'">{{x.codigointerno}}</td>
                <td data-title="'Código Barras'" sortable="'codigobarras'">{{x.codigobarras}}</td>
                <td data-title="'Grupo'" sortable="'grupo'">{{x.grupo}}</td>
                <td data-title="'Tipo'" sortable="'tipo'">{{x.tipo}}</td>
                <td data-title="'Artículo/Servicio'" sortable="'equipo'">{{x.equipo}}</td>
                <td data-title="'Marca'" sortable="'marca'">{{x.marca}}</td>
                <td data-title="'Modelo'" sortable="'modelo'">{{x.modelo}}</td>
                <td data-title="'Presentación'" sortable="'presentacion'">{{x.presentacion}}</td>
                <td data-title="'Característica'" sortable="'caracteristica'">{{x.caracteristica}}</td>
                <td class="text-right text-XX" data-title="'Existencia'" sortable="'existencia'"><a ng-click = "ModalExistencias(x.id, x.existencia)" title="Detalle de la existencia">{{x.existencia | number : 3}}</a></td>
                <td class="text-right text-XX" data-title="'Separadas'" sortable="'separadas'">{{x.separadas | number:3}}</td>
                <td class="text-right text-XX" data-title="'Cotizadas'" sortable="'cotizadas'">{{x.cotizadas | number:3 }}</td>
                <td class="text-right text-XX" data-title="'Disponibles'" sortable="'disponibles'">{{x.disponibles | number :3}}</td>
                <td class="text-right" data-title="'Último Costo MN'" sortable="'ultimocosto'">{{x.ultimocosto | number : _DE}}</td>
                <td class="text-right" data-title="'Precio MN'" sortable="'precio'">{{x.precio | number : _DE}}</td>
                <td class="text-right" data-title="'Último Costo USD'" sortable="'ultimocostousd'">{{x.ultimocostousd | number : _DE}}</td>
                <td class="text-right" data-title="'Precio USD'" sortable="'preciousd'">{{x.preciousd | number : _DE}}</td>
                <td data-title="'Referencia'" sortable="'referencia'">{{x.referencia}}</td>
                <td data-title="'Uso Interno'" sortable="'uso_interno'">{{x.uso_interno}}</td>
                <td data-title="'% IVA'" sortable="'iva'">{{x.iva | number : 2}}</td>
                <td data-title="'Cuenta Contable'" sortable="'cuenta'">{{x.cuenta}}</td>
                <td data-title="'Proveedor'" sortable="'proveedor'">{{x.proveedor}}</td>
            </tr>
        </table>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-glow btn-warning" type="button" ng-click="Modal.Close()"><span idioma="Cerrar"></span></button>
</div>