﻿<div class="tabbable page-tabs" id="tabingresos">
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formmonturas" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="COMPRABANTE DE CONTABILIDAD"></span></a></h3>
                            </div>
                            <div class="col-sm-8 col-xs-12 text-right">
                                <button class="btn btn-default" type="button" id="btnlimpiar" onClick="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                <button class="btn btn-info" type="button" id="btnguardar1" onClick="GuardarIngreso()">F3<span idioma="Guardar"></span></button>
                                <button class="btn btn-warning" type="button" onClick="ModalCambioCliente()"><span idioma="Importar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-xs-4 col-sm-2 col-sm-2">
                                    <label idioma="Numero"></label>
                                    <input type="text" class="form-control" onKeyPress="return NumCheck(event, this,0)" maxlength="12" onBlur="BuscarCliente(this.value,0)" onKeyUp="ValidarCliente(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus tabindex="0" />
                                </div>
                                <div class="col-xs-10 col-sm-4 col-sm-5">
                                    <!-- Campo de entrada de fecha -->
                                    <label idioma="Fecha"></label><br />
                                    <input width="700" maxlength="12" type="date" name="form-control" min="1900-12-31"
                                           max="2019-12-31">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabbable page-tabs" id="tabingresos">
                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="tabcrear">
                            <form id="formmonturas" style="background-color:white">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">
                                    <!-- aqui termina -->
                                    <div class="tabbable page-tabs" id="tabingresos">
                                        <form action="" method="post">
                                            <table width="100%" class="table table-striped" id="lista_productos">
                                                <thead>
                                                    <tr>
                                                        <th border="1" bgcolor="#4C5D68"><a data-toggle="collapse" href="#collapse1"><span class="Estilo1" id="Menu_Empresa" idioma="CUENTA"></span></a></th>
                                                        <th border="1" bgcolor="#4C5D68"><a data-toggle="collapse" href="#collapse1"><span class="Estilo1" id="Menu_Empresa" idioma="CONCEPTO"></span></a></th>
                                                        <th border="1" bgcolor="#4C5D68"><a data-toggle="collapse" href="#collapse1"><span class="Estilo1" id="Menu_Empresa" idioma="BENEFICIARIO"></span></a></th>
                                                        <th border="1" bgcolor="#4C5D68"><a data-toggle="collapse" href="#collapse1"><span class="Estilo1" id="Menu_Empresa" idioma="DEBITO"></span></a></th>
                                                        <th border="1" bgcolor="#4C5D68"><a data-toggle="collapse" href="#collapse1"><span class="Estilo1" id="Menu_Empresa" idioma="CREDITO"></span></a></th>
                                                        <th border="1" bgcolor="#4C5D68"><a data-toggle="collapse" href="#collapse1"><span class="Estilo1" id="Menu_Empresa" idioma="CENTRO"></span></a></th>
                                                        <th><button align="right" type="button" class="btn btn-danger button_agregar_producto"><span idioma="Agregar"></span></button></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div id="divAnulaciones" class="col-sm-12 hidden">
                                <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion" idioma="Número"></span></label>
                            </div>
                        </div>
                        <div id="modalIntervalo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-success">

                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Intervalo de Medición"></span></h4>
                                        <input type="hidden" id="NumIntervalo" value="1" />
                                    </div>
                                    <div class="modal-body with-padding">
                                        <div class="form-group row">
                                            <div class="col-xs-12 col-sm-4">
                                                <label><a href="javascript:AgregarOpcion(4,'MEDIDA','IMedida')"><span idioma="Unidade de Medida (+)"></span></a></label>
                                                <select name="IMedida" id="IMedida" class="form-control" style="width:100%" />
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <label idioma="Dede"></label>
                                                <input name="IDesde" id="IDesde" class="form-control" />
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <label idioma="Hasta"></label>
                                                <input name="IHasta" id="IHasta" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                                        <button class="btn btn-success" type="button" onClick="GuardarIntervalo()"><span idioma="Guardar"></span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="enviar_remision" class="modal fade" tabindex="-1" role="dialog">
                            <form id="formenviarremision">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                                        </div>
                                        <div class="modal-body with-padding">
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    <label idioma="Cliente"></label>
                                                    <input type="text" class="form-control" id="eCliente" readonly />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label idioma="Correo Electrónico"></label>
                                                    <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                                                </div>
                                            </div>
                                            <iframe id="resultadopdfremision" width="100%" height="350px"></iframe>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                                            <button class="btn btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <script language="JavaScript">
                            TraducirIdioma($("#menu_idioma").val() * 1);
                            $.getScript(url + 'js/productos.js');
                        </script>




