﻿<div class="tabbable page-tabs" id="tabingresos">   
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formmonturas" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Cuenta"></span></a></h3>
                            </div>
                            <div class="col-sm-8 col-xs-12 text-right">
                                <button class="btn btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                <button class="btn btn-info" type="button" id="btnguardar1" onclick="GuardarIngreso()">F3<span idioma="Guardar"></span></button>
                                <button class="btn btn-warning" type="button" onclick="ModalCambioCliente()"><span idioma="Importar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-xs-4 col-sm-2 col-sm-2">
                                    <label idioma="Cuenta"></label>
                                    <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarCliente(this.value,0)" onkeyup="ValidarCliente(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus tabindex="0" />
                                </div>
                                <div class="col-xs-10 col-sm-4 col-sm-5">
                                    <label idioma="Nombre"></label>
                                    <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" disabled />
                                </div>
                                <div class="col-xs-10 col-sm-2">
                                    <label  class="col-xs-10 col-sm-2 text-left" idioma="Tercero"></label>                                   
                                        <input type="checkbox" class="form-control">                                    
                                </div>
                                <div class="col-xs-10 col-sm-2 text-left">
                                    <label  class="text-left" width="200" aling="left" idioma="Centro de Control"></label>
                                    <input type="checkbox" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="divAnulaciones" class="col-sm-12 hidden">
                        <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion" idioma="Cuenta"></span></label>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered hover" width="100%" id="Malla" style="font-size:14px">
                        <thead>
                            <tr class="bg-primary">
                                <th width="10px" height="40px" idioma="Nro"></th>
                                <th width="60px" idioma="Ingreso / fecha <br> usuario"></th>
                                <th width="90px" idioma="Magnitud<br>Equipo-Intervalo"></th>
                                <th width="90px" idioma="Marca<br>Modelo"></th>
                                <th width="40px" idioma="Estado"></th>
                                <th width="40px" idioma="Cantidad"></th>
                                <th width="80px" idioma="Serie"></th>
                                <th width="50px" idioma="Cotización"></th>
                                <th width="30px" idioma="Garantía"></th>
                                <th width="30px" idioma="Sitio"></th>
                                <th width="120px" idioma="Accesorio"></th>
                                <th width="120px" idioma="Observación"></th>
                                <th width="5px">&nbsp;</th>
                                <th width="5px">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody id="bodyIngreso"></tbody>
                    </table>
                </div>                                    
                <div style="display:none;" class="row">
                    <div style="display:none;" class="col-sm-6  col-sm-6 col-xs-12  ">
                        <div style="display:none;" class="panel panel-primary" style="font-size:14px; color:black;">

                            <div style="display:none;" class="panel-body">                                                         
                                <div style="display:none;" class="row">
                                    <div style="display:none;" class="col-sm-12 col-xs-12">                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Remisiuuuuón"></label>
                        <input name="CRemision" id="CRemision" class="form-control" />
                    </div>                 
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Ingreso"></label>
                        <input name="CIngreso" id="CIngreso" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <label idioma="Cliente"></label>
                        <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Estado"></label>
                        <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                            <option value="0">Todos</option>
                            <option value="Ingresado">Ingresados</option>
                            <option value="Cerrado">Cerradas</option>
                            <option value="Cotizado">Cotizado</option>
                            <option value="Laboratorio">Laboratorio</option>
                            <option value="Calibrado">Calibrado</option>
                            <option value="Anulado">Anuladas</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitudes"></label>
                        <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Equipos"></label>
                        <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Marca"></label>
                        <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Modelos"></label>
                        <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Intervalo"></label>
                        <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Serie"></label>
                        <input name="CSerie" id="CSerie" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-4 col-sm-3">
                        <label idioma="Pais"></label>
                        <select name="CPais" id="CPais" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Departamento"></label>
                        <select name="CDepartamento" id="CDepartamento" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Ciudad"></label>
                        <select name="CCiudad" id="CCiudad" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <label idioma="Usuarios"></label>
                        <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        <br>
                        <button class="btn btn-primary" type="button" onclick="ConsularRemisiones()"><span idioma="Buscar"></span></button>
                        <button class="btn btn-success" type="button" onclick="ConsularRemisiones()"><span idioma="ReportePDF"></span></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table table-bordered hover" id="TablaRemisiones" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                            <thead>
                                <tr>
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%"><span idioma="Remisrión"></span></th>
                                    <th width="3%"><span idioma="Recepción"></span></th>
                                    <th width="3%"><span idioma="Cotización"></span></th>
                                    <th width="3%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Prueba"></span></th>
                                    <th width="15%"><span idioma="Cliente"></span></th>
                                    <th width="15%"><span idioma="Sede"></span></th>
                                    <th width="15%"><span idioma="Cotancto"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="Ciudad"></span></th>                                    
                                    <th><span idioma=" Correo Electrónico"></span></th>
                                    <th><span idioma="Cantidad Equipos"></span></th>
                                    <th><span idioma="Fecha Hora"></span></th>
                                    <th><span idioma="Usuario"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade in" id="tabveringresos">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Remisión"></label>
                        <input name="ICRemision" id="ICRemision" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Recepción"></label>
                        <select class="form-control" name="CRecepcion" id="ICRecepcion" tabindex="11">
                            <option value="">--Seleccione--</option>
                            <option value="CLIENTE">CLIENTE</option>
                            <option value="LA MOVIL">LA MOVIL</option>
                            <option value="CORREO CERTIFICADO">CORREO CERTIFICADO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Ingreso"></label>
                        <input name="CIngreso" id="ICIngreso" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <label idioma="Cliente"></label>
                        <select name="CCliente" id="ICCliente" class="form-control" style="width:100%" />
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="ICFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="ICFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Usuarios"></label>
                        <select name="CUsuario" id="ICUsuario" class="form-control" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitudes"></label>
                        <select name="CMagnitud" id="ICMagnitud" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Equipos"></label>
                        <select name="CEquipo" id="ICEquipo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Marca"></label>
                        <select name="CMarca" id="ICMarca" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Modelos"></label>
                        <select name="CModelo" id="ICModelo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Intervalo"></label>
                        <select name="ICIntervalo" id="ICIntervalo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Serie"></label>
                        <input name="CSerie" id="ICSerie" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Sitio"></label>
                        <select name="ICSitio" id="ICSitio" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Sitio"></label>
                        <select name="ICGarantia" id="ICGarantia" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-10 text-right">
                        <br>
                        <button class="btn btn-primary" type="button" onclick="ConsularIngresos()"><span idioma="Buscar"></span></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table table-bordered hover" id="TablaIngresos" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                            <thead>
                                <tr>
                                    <th width="3%"><span idioma="Ingreso"></span></th>
                                    <th width="3%"><span idioma="Remisión"></span></th>
                                    <th width="3%"><span idioma="Recepción"></span></th>
                                    <th width="15%"><span idioma="Cliente<br>NIT"></span></th>
                                    <th width="15%"><span idioma="Sede<br>Dirección"></span></th>
                                    <th width="15%"><span idioma="Contacto<br>Telefono<br>Correo"></span></th>
                                    <th><span idioma="Magnitud"></span></th>
                                    <th><span idioma="Equipo"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Intervalo 1"></span></th>
                                    <th><span idioma="Intervalo 2"></span></th>
                                    <th><span idioma="Intervalo 3"></span></th>
                                    <th><span idioma="Serie"></span></th>
                                    <th><span idioma="Garantía"></span></th>
                                    <th><span idioma="Sitio"></span></th>
                                    <th width="15%"><span idioma="Accesorio"></span></th>
                                    <th width="15%"><span idioma="Observación"></span></th>
                                    <th><span idioma="Fecha"></span></th>
                                    <th><span idioma="Usuario"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="modalCambioEmpresa" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de Cliente"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <h3><span idioma="CLIENTE ACTUAL"></span></h3>
                <div class="form-group row">
                    <div class="form-group">
                        <label class="col-md-2" idioma="Cliente"></label>
                        <div class="col-md-10">
                            <div class="form-control" id="AcCliente">15558285</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Dirección"></label>
                        <div class="col-md-10">
                            <div class="form-control" id="AcDireccion"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Contacto"></label>
                        <div class="col-md-10">
                            <div class="form-control" id="AcContacto"></div>
                        </div>
                    </div>
                    <hr />
                    <h3><span idioma="CAMBIO DE CLIENTE"></span></h3>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Cliente"></label>
                        <div class="col-md-10">
                            <select class="form-control" style="width:100%" id="CaCliente" onchange="CambioSedeContacto(this.value)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Dirección"></label>
                        <div class="col-md-10">
                            <select class="form-control" style="width:100%" id="CaDireccion"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Contacto"></label>
                        <div class="col-md-10">
                            <select class="form-control" style="width:100%" id="CaContacto"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
                <button class="btn btn-success" type="button" onclick="CambiarCliente()"><span idioma="Cambiar Cliente"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalArticulos" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="spanagregar" idioma="Agregar Equipo"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <label idioma="Magnitud"></label>
                        <select name="Magnitud" id="Magnitud" class="form-control" onchange="CargarIntervalos(this.value)" style="width:100%"></select>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <label><a href="javascript:AgregarOpcion(1,'EQUIPO','Equipo')"><span idioma="Equipos (+)"></span></a></label>
                        <select name="Equipo" id="Equipo" class="form-control" onchange="MagnitudEquipo(this.value)" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label><a href="javascript:AgregarOpcion(2,'MARCA','Marca')"><span idioma="Marcas (+)"></span></a></label>
                        <select name="Marca" id="Marca" class="form-control" onchange="CargarModelos(this.value)" style="width:100%"></select>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label><a href="javascript:AgregarOpcion(3,'MODELO','Modelo')"><span idioma="Modelos (+)"></span></a></label>
                        <select name="Modelo" id="Modelo" class="form-control" onchange="CantidadEquipos()" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label><a href="javascript:AgregarIntervalo(1)" id="LabIntervalo"><span idioma="1er Intervalo de Rangos (+)"></span></a></label>
                        <select name="Intervalo" id="Intervalo" class="form-control" onchange="CantidadEquipos()" style="width:100%"></select>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label><a href="javascript:AgregarIntervalo(2)" id="LabIntervalo"><span idioma="2do Intervalo de Rangos (+)"></span></a></label>
                        <select name="Intervalo2" id="Intervalo2" class="form-control" onchange="CantidadEquipos()" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label><a href="javascript:AgregarIntervalo(3)" id="LabIntervalo"><span idioma="3er Intervalo de Rangos (+)"></span></a></label>
                        <select name="Intervalo3" id="Intervalo3" class="form-control" onchange="CantidadEquipos()" style="width:100%"></select>
                    </div>
                    <div class="col-xs-2 col-sm-3">
                        <label idioma="Nro Ingreso"></label>
                        <input class="form-control text-XX text-right" id="Ingreso" tabindex="36" name="Ingreso" readonly type="text" />
                    </div>
                    <div class="col-xs-2 col-sm-3">
                        <label idioma="Equipos Agregados"></label>
                        <input class="form-control text-XX text-right" id="TEquipos" tabindex="36" name="TEquipos" readonly type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-12">
                        <label idioma="Serie"></label>
                        <input class="form-control text-XX" id="Serie" tabindex="36" name="Serie" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label idioma="Garantía"></label>
                        <select name="Garantia" id="Garantia" class="form-control" style="width:100%">
                            <option value="NO">NO</option>
                            <option value="SI">SI</option>
                        </select>
                    </div>
                    <div class="col-xs-2 col-sm-6">
                        <label idioma="En Sitio"></label>
                        <select name="Sitio" id="Sitio" class="form-control" style="width:100%">
                            <option value="NO">NO</option>
                            <option value="SI">SI</option>
                        </select>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-xs-10 col-sm-12">

                        <label><a href="javascript:AgregarOpcion(5,'ACCESORIO','SelAccesorio')"><span idioma="Accesorios (+)"></span></a></label>
                        <select class="form-control" id="SelAccesorio" name="SelAccesorio" onchange="AgregarAcceObser(this.value,1)" style="width:100%"/>
                        <textarea class="form-control" id="Accesorio" name="Accesorio" rows="4"/>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-xs-10 col-sm-12">
                        <label><a href="javascript:AgregarOpcion(6,'OBSERVACIÓN','SelObservacion')"><span idioma="Observaciones (+)"></span></a></label>
                        <select class="form-control" id="SelObservacion" name="SelObservacion" onchange="AgregarAcceObser(this.value,2)" style="width:100%" />
                        <textarea class="form-control" id="Observacion" rows="4" name="Observacion"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" onclick="LimpiarIngreso()" ><span idioma="Limpiar"></span></button>
                <button class="btn btn-success" type="button" id="AgregarIngreso" ><span idioma="Agregar"></span></button>
                <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalIntervalo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Intervalo de Medición"></span></h4>
                <input type="hidden" id="NumIntervalo" value="1" />
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <label><a href="javascript:AgregarOpcion(4,'MEDIDA','IMedida')"><span idioma="Unidade de Medida (+)"></span></a></label>
                        <select name="IMedida" id="IMedida" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Dede"></label>
                        <input name="IDesde" id="IDesde" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Hasta"></label>
                        <input name="IHasta" id="IHasta" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-success" type="button" onclick="GuardarIntervalo()"><span idioma="Guardar"></span></button>
            </div>

        </div>
    </div>
</div>



<div id="enviar_remision" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdfremision" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>




<script language="JavaScript">
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Ingreso.js');
</script>




