﻿

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><span id="Menu_Empresa" idioma="Traductor de Idiomas"></span></h3>
            </div>
            <div class="col-md-8 col-xs-12 text-right">
                <button class="btn btn-glow btn-default" type="button" tabindex="3" onclick="NuevaTraduccion()">
                    <i class="glyphicon glyphicon-file" title="Nuevo Texto"></i>
                    <span idioma="Nuevo Texto"></span>
                </button>
                <button class="btn btn-glow btn-success" type="button" tabindex="3" onclick="ImportarTraduccion()">
                    <i class="fa fa-file-excel-o"></i>
                    <span idioma="Importar de Excel"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <label idioma="Idioma"></label>
                <select class="form-control" id="SIdioma" onchange="TablaIdiomas(this.value)">
                    <option value="1">Español</option>
                    <option value="2">Inglés</option>
                </select>
            </div>
        </div>
        <div class="table-responsive" id="dividioma">
            <table class="table display  table-bordered" id="tablaidioma">
                <thead>
                    <tr>
                        <th><span idioma="Texto"></span></th>
                        <th><span idioma="Traducción"></span></th>
                        <th width="5%">&nbsp;</th>
                        <th width="5%">&nbsp;</th>
                    </tr>
                </thead>
            </table>
                    
        </div>
    </div>
</div>




<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $("#SIdioma").val($("#menu_idioma").val());
    TablaIdiomas($("#menu_idioma").val() * 1);
</script>
