﻿<input type="hidden" value="2" id="opcion" />
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Reporte General de Facturas"></span></a></h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-group block form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 id="h1" class="panel-title panel-trigger">
                        <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                    </h6>
                    <div class="panel-body">
                        <div id="tPrecio1" class="panel-collapse collapse in">
                            <div class="form-group row">

                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Factura"></label>
                                    <input name="ReFactura" id="ReFactura" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Orden"></label>
                                    <input name="ReOrden" id="ReOrden" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Cotizacion"></label>
                                    <input name="ReCotizacion" id="ReCotizacion" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Ingreso"></label>
                                    <input name="ReIngreso" id="ReIngreso" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Cliente"></label>
                                    <select name="ReCliente" id="ReCliente" class="form-control" style="width:100%" />
                                </div>
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Estado"></label>
                                    <select name="ReEstado" id="ReEstado" class="form-control" style="width:100%">
                                        <option value="T">Todos</option>
                                        <option value="Facturado">Facturadas</option>
                                        <option value="Enviado">Enviadas</option>
                                        <option value="Anulado">Anuladas</option>
                                        <option value="Vencida">Vencidas</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Fecha Desde"></label>
                                    <input type="date" name="ReFechaDesde" id="ReFechaDesde" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Fecha Hasta"></label>
                                    <input type="date" name="ReFechaHasta" id="ReFechaHasta" class="form-control" />
                                </div>
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Días"></label>
                                    <input type="number" name="ReUltimoDia" id="ReUltimoDia" value="0" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-4 col-md-1">
                                    <label idioma="Tipo"></label>
                                    <select name="ReTipo" id="ReTipo" class="form-control" style="width:100%">
                                        <option value="0">Todos</option>
                                        <option value="1">CONTADO</option>
                                        <option value="2">CREDITO</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Asesor"></label>
                                    <select id="ReAsesor" name="ReAsesor" style="width:100%" tabindex="1"></select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Departamento"></label>
                                    <select id="ReDepartamento" name="ReDepartamento" style="width:100%" tabindex="1"></select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Ciudad"></label>
                                    <select id="ReCiudad" name="ReCiudad" style="width:100%" tabindex="1"></select>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label idioma="Usuario"></label>
                                    <select id="ReUsuario" name="ReUsuario" style="width:100%" tabindex="1"></select>
                                </div>
                                <div class="col-xs-4 col-md-3 text-right">
                                    <br>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="Reporte(1)"><span idioma="Consultar"></span></button>
                                    <button class="btn btn-glow btn-info" type="button" onclick="Resumen(1)"><span idioma="Resumen"></span></button>
                                    <button class="btn btn-glow btn-success" type="button" onclick="Reporte(2)"><span idioma="Reporte PDF"></span></button>
                                </div>
                            </div>
                            <hr />
                            <h3>Totales</h3>
                            <div class="form-group row">
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="Sub-Total"></label>
                                    <input name="TSubTotal" id="TSubTotal" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <a class="text-XX" href="javascript:FacturasAnuladas()"><span idioma="Anuladas Mes Anterior"></span></a>
                                    <input name="TAnuladas" id="TAnuladas" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="SubTotal-Anuladas"></label>
                                    <input name="TSubTotal" id="TSubTotalAnuladas" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="Descuento"></label>
                                    <input name="TSubTotal" id="TDescuento" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="IVA"></label>
                                    <input name="TSubTotal" id="TIva" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="GRAN TOTAL"></label>
                                    <input name="TSubTotal" id="TTotal" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="Rete Fuente"></label>
                                    <input name="TReteFuente" id="TReteFuente" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="Rete IVA"></label>
                                    <input name="TReteIca" id="TReteIca" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="Rete ICA"></label>
                                    <input name="TReteIva" id="TReteIva" disabled class="form-control text-right text-XX" />
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <label class="text-XX" idioma="TOTAL-SIN RETENCIONES"></label>
                                    <input name="TSubTotal" id="TTotalRete" disabled class="form-control text-right text-XX" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive" id="FacturaDetallada">

            <table class="table display  table-bordered hover" id="tablamodalrepfac">
                <thead>
                    <tr>
                        <th width="5%">&nbsp;</th>
                        <th width="8%"><span idioma="Factura"></span></th>
                        <th width="8%"><span idioma="Orden de Compra"></span></th>
                        <th width="20%"><span idioma="Cliente"></span></th>
                        <th><span idioma="Tipo_Cliente"></span></th>
                        <th><span idioma="Fecha Factura"></span></th>
                        <th><span idioma="Vencimiento"></span></th>
                        <th><span idioma="Radicado"></span></th>
                        <th><span idioma="Estado"></span></th>
                        <th><span idioma="Subtotal"></span></th>
                        <th><span idioma="Descuento"></span></th>
                        <th><span idioma="IVA"></span></th>
                        <th><span idioma="Total"></span></th>
                        <th><span idioma="Abonado"></span></th>
                        <th><span idioma="Saldo"></span></th>
                        <th><span idioma="ReteFuente"></span></th>
                        <th><span idioma="ReteIVA"></span></th>
                        <th><span idioma="ReteICA"></span></th>
                        <th><span idioma="Total<br>Sin Retención"></span></th>
                        <th><span idioma="Plazo Pagos"></span></th>
                        <th><span idioma="Dias Vencidos"></span></th>
                        <th><span idioma="Observación Factura"></span></th>
                        <th><span idioma="Departamento"></span></th>
                        <th><span idioma="Ciudad"></span></th>
                        <th><span idioma="Telefonos"></span></th>
                        <th><span idioma="Email"></span></th>
                        <th><span idioma="Usuario"></span></th>
                        <th><span idioma="Registro"></span><br /><span idioma="Radicado"></span></th>
                        <th><span idioma="Recibido"></span><br /><span idioma="Radicado"></span></th>
                        <th><span idioma="usu_anula"></span></th>
                        <th><span idioma="fecha_anula"></span></th>
                        <th><span idioma="Observ_anula"></span></th>
                        <th><span idioma="usu_envia"></span></th>
                        <th><span idioma="fecha_envia"></span></th>
                        <th><span idioma="correo_envia"></span></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="8" style="text-align:right">Total:</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th style="text-align:right">0</th>
                        <th colspan="2" style="text-align:right">0</th>
                        <th colspan="12">&nbsp;</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="table-responsive hidden" id="FacturaResumida">

            <table class="table display  table-bordered hover " id="tablamodalfacresumen">
                <thead>
                    <tr>
                        <th width="5%">&nbsp;</th>
                        <th width="20%"><span idioma="Cliente"></span></th>
                        <th><span idioma="Tipo_Cliente"></span></th>
                        <th><span idioma="Subtotal"></span></th>
                        <th><span idioma="Descuento"></span></th>
                        <th><span idioma="IVA"></span></th>
                        <th><span idioma="Total"></span></th>
                        <th><span idioma="Abonado"></span></th>
                        <th><span idioma="Saldo"></span></th>
                        <th><span idioma="ReteFuente"></span></th>
                        <th><span idioma="ReteIVA"></span></th>
                        <th><span idioma="ReteICA"></span></th>
                        <th><span idioma="Total<br>Sin Retención"></span></th>
                        <th><span idioma="Departamento"></span></th>
                        <th><span idioma="Ciudad"></span></th>
                        <th><span idioma="Telefonos"></span></th>
                        <th><span idioma="Email"></span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <hr />
        <div class="form-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span idioma="Grafica Consolidado de Facturación"></span></h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <canvas id="GraficaFac"></canvas>
                        </div>
                        <div class="col-md-12">
                            <table class="table display  table-bordered hover">
                                <thead>
                                    <tr>
                                        <th idioma="Año/Mes"></th>
                                        <th idioma="SubTotal"></th>
                                        <th idioma="Descuento"></th>
                                        <th idioma="IVA"></th>
                                        <th idioma="Anulado"></th>
                                        <th idioma="IVA-Anulado"></th>
                                        <th idioma="Total"></th>
                                        <th idioma="Saldo"></th>
                                        <th idioma="Pagado"></th>
                                    </tr>
                                </thead>
                                <tbody id="TablaFac"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="ModalFacturasAnuladas" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Facturas Anuladas"></span></h4>
            </div>
            <input type="hidden" id="IdPro" name="IdPro" value="0" />
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table table-bordered hover" width="100%" id="TablaFacturasAnula">
                        <thead>
                            <tr>
                                <th>Factura</th>
                                <th>Orden</th>
                                <th>Cliente</th>
                                <th>Fecha Factura</th>
                                <th>Subtotal</th>
                                <th>Descuento</th>
                                <th>Valor-Anulado</th>
                                <th>IVA</th>
                                <th>Rete-Fuente</th>
                                <th>Rete-IVA</th>
                                <th>Rete-ICA</th>
                                <th>Total</th>
                                <th>Observación<br>Anulación</th>
                                <th>Fecha<br>Anulación</th>
                                <th>Usuario<br>Anula</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ReporteFactura.js?unico=' + Math.round(Math.random() * 10000));
</script>
