﻿
<div class="tabbable page-tabs" id="tab-bancos">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabbancos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Bancos"></span></a></li>
        <li><a href="#tabcuentas" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Cuenta Bancara"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabbancos">
            <form id="formBancos" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span  idioma="Registro de Bancos"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarBancos()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Ban_Id" readonly value="0" name="Ban_Id" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Nombre"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Ban_Nombre" id="Ban_Nombre" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Formato"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Ban_Formato" name="Ban_Formato" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="Texto1">Texto1</option>
                                        <option value="Excel1">Excel1</option>
                                        <option value="Excel2">Excel2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Orden de Consignación"></label>
                                <div class="col-sm-1">
                                    <input type="number" value="0" class="form-control" id="Ban_Consignar" name="Ban_Consignar" style="width:100%" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Ban_Estado" name="Ban_Estado" style="width:100%" required />
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaBancos">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="45%" idioma="Nombre"></th>
                                        <th width="15%" idioma="Formato"></th>
                                        <th width="15%"><span idioma="Órden para"></span><br><span idioma="Consignar"></span></th>
                                        <th width="15%" idioma="Estado"></th>
                                        <th width="5%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabcuentas">
            <form id="formCuentaBancaria" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span  idioma="Registro de Cuentas Bancarias"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarCuentas()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Banco"></label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="Cue_Banco" name="Cue_Banco" onchange="CambioBanco()" style="width:100%" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Cue_Id" value="0" readonly name="Cue_Id" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Tipo Cuenta"></label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="Cue_Tipo" name="Cue_Tipo" style="width:100%" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Número Cuenta"></label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control text-center" id="Cue_Cuenta" name="Cue_Cuenta" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Cuenta Contable"></label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="Cue_CuentaContable" name="Cue_CuentaContable" style="width:100%" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="Cue_Estado" name="Cue_Estado" style="width:100%" required />
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaCuentas">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="25%" idioma="Banco"></th>
                                        <th width="20%" idioma="Tipo de Cuenta"></th>
                                        <th width="20%" idioma="Número de Cuenta"></th>
                                        <th width="10%" idioma="Cuenta Contable"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalReemplazo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <input type="hidden" id="NumeroReemplazo" value="0" />
                <input type="hidden" id="IdReemplazo" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TituloReemplazar" idioma="Cliente"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label id="TextoReemplazo" idioma="Ingrese el NIT/Cédula del Cliente"></label>
                        <center>
                            <select name="OpcionReemplazo" id="OpcionReemplazo" class="form-control" style="width:100%" />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="ReemplazarEquipos()"><span idioma="Reemplazar y Eliminar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Bancos.js?unico=' + Math.round(Math.random() * 10000));
</script>




