﻿
<form id="formMagnitud" style="background-color:white">
    <div class="panel panel-primary" style="font-size:14px; color:black;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de País/Departamento/Ciudad"></span></a></h3>
                </div>
                <div class="col-md-8 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarPais()"><span idioma="Nuevo"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="GuardarPais()"><span idioma="Guardar"></span></button>
                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">

                <div class="form-group row">
                    <label class="col-sm-1 control-label"><a href="javascript:ActualizarOpcion(1,'País','Pais')"><span idioma="País"></span></a></label>
                    <div class="col-sm-4">
                        <select class="form-control text-center" id="Pais" name="Pais" onchange="CambioDepartamento(this.value)" required style="width:100%" />
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-glow btn-danger" title="Eliminar País" type="button" onclick="EliminarOpcion(1)"><span data-icon="&#xe0d8;"></span></button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 control-label"><a href="javascript:ActualizarOpcion(2,'Departamento','Departamento')"><span idioma="Departamento"></span></a></label>
                    <div class="col-sm-4">
                        <select class="form-control text-center" id="Departamento" name="Departamento" onchange="CambioCiudad(this.value)" required style="width:100%" />
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-glow btn-danger" title="Eliminar Departamento" type="button" onclick="EliminarOpcion(2)"><span data-icon="&#xe0d8;"></span></button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 control-label"><a href="javascript:ActualizarOpcion(3,'Ciudad','Ciudad')"><span idioma="Ciudad"></span></a></label>
                    <div class="col-sm-4">
                        <select type="text" class="form-control text-center" id="Ciudad" name="Ciudad" required style="width:100%" />
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-glow btn-danger" title="Eliminar Ciudad" type="button" onclick="EliminarOpcion(3)"><span data-icon="&#xe0d8;"></span></button>
                    </div>
                </div>
                <hr />
                <table class="table display  table-bordered hover" id="TablaPais">
                    <thead>
                        <tr>
                            <th width="5%" idioma="Id_Pais"></th>
                            <th width="25%" idioma="Pais"></th>
                            <th width="5%" idioma="Id_Dpto."></th>
                            <th width="30%" idioma="Departamento"></th>
                            <th width="5%" idioma="Id_Ciudad"></th>
                            <th width="30%" idioma="Ciudad"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</form>
        
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + "js/Pais.js");
</script>




