﻿
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formClientes" style="background-color:white">
                <input type="hidden" name="IdCliente" id="IdCliente" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Clientes"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="CambioNIT()"><span idioma="Cambio de NIT/Cédula"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="EnviarClave()"><span idioma="Enviar Clave de Acceso"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="EnviarCliEEstCuen()"><span idioma="Enviar Estado Cuenta"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Tipo de Cliente"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="TipoCliente" name="TipoCliente" onchange="CongTipoCliente(this.value)" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Documento"></label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="Documento" name="Documento" onblur="BuscarCliente(this.value)" maxlength="15" onkeyup="ValidarCliente(this)" required style="width:100%">
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Razón Social/Nombre"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Nombres" id="Nombres" required>
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Nombre Comercial"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Comercial" id="Comercial">
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Teléfono"></label>
                                <div class="col-sm-2">
                                    <input type="text" name="Telefonos" id="Telefonos" class="form-control" required>
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Celular"></label>
                                <div class="col-sm-2">
                                    <input type="text" id="Celular" name="Celular" class="form-control">
                                </div>
                            </div>

                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label " idioma="Correo Electrónico"></label>
                                <div class="col-sm-4">
                                    <input type="email" name="Email" id="Email" class="form-control">
                                </div>

                                <label class="col-sm-2 control-label text-right" idioma="Correo Electrónico Cartera"></label>
                                <div class="col-sm-4">
                                    <input type="email" name="EmailCartera" id="EmailCartera" class="form-control">
                                </div>
                            </div>

                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="País"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="Pais" onchange="CambioDepartamento(this.value,'Departamento','Ciudad')" id="Pais" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Departamento"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="Departamento" id="Departamento" onchange="CambioCiudad(this.value,'Ciudad')" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Ciudad"></label>
                                <div class="col-sm-4">
                                    <select type="text" class="form-control" name="Ciudad" id="Ciudad" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Dirección Principal"></label>
                                <div class="col-sm-10">
                                    <input type="text"  class="form-control" name="Direccion" id="Direccion" required>
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Requiere Solicitud"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Solicitud" name="Solicitud" required style="width:100%">
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label text-right" idioma="Aprobar Cotización"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Cotizacion" name="Cotizacion" required style="width:100%">
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label text-right" idioma="Aprobar Ajuste"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Ajuste" name="Ajuste" required style="width:100%">
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Rete Fuente"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="ReteFuente" id="ReteFuente" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Rete IVA"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="ReteIva" id="ReteIva" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Rete ICA"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="ReteIca" id="ReteIca" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Asesor"></label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="Asesor" id="Asesor" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Habitual"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Habitual" name="Habitual" required style="width:100%">
                                        <option value="NO">NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </div>
                                 <label class="col-sm-2 control-label text-right" idioma="IVA"></label>
                                <div class="col-sm-2">
                                    <select id="Iva" name="Iva" class="form-control" required style="width:100%"/>
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="Estado" id="Estado" required style="width:100%">
                                        <option value="1">Activo</option>
                                        <option value="2">Pre-Bloqueo</option>
                                        <option value="3">Bloqueado</option>
                                        <option value="4">Inactivo</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label" idioma="Firma Certificado"></label>
                                <div class="col-sm-2">
                                    <select type="text" class="form-control" name="FirmaCertificado" id="FirmaCertificado" required style="width:100%">
                                        <option value="DIGITAL">DIGITAL</option>
                                        <option value="MANUAL">MANUAL</option>
                                    </select>
                                </div>
                            </div>

                            <hr />
                            <div class="form-group">
                                <div class="tabbable page-tabs" id="tab-opciones">
                                    <ul class="nav nav-tabs">
                                        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcomerciales" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Certificados Realizados"></span></a></li>
                                        <li id="proli7"><a href="#tabsedes" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Estadisticas de valores patrón"></span></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tabcomerciales">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Tabla de Precios"></label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" name="TablaPrecios" id="TablaPrecios" style="width:100%" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Límte de Crédito"></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" id="Limite" name="Limite" required class="form-control" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Plazo de Pago"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="PlazoPago" name="PlazoPago" maxlength="3" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="% Descuentos"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="Descuento" name="Descuento" maxlength="3" max="100" required class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Días de Pre-Bloqueo"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="DiasPre" name="DiasPre" maxlength="3" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Días de Bloqueo"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="DiasBlo" name="DiasBlo" maxlength="3" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Cobrar Certificado"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="Certificado" name="Certificado" required style="width:100%">
                                                                <option value="">--</option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Enviar Certificado por Correo"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="EnviarCertificado" name="EnviarCertificado" required style="width:100%">
                                                                <option value="NO">NO</option>
                                                                <option value="SI">SI</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Cobrar Informe Técnico"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="InformeTecnico" name="InformeTecnico" required style="width:100%">
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Entregar Con Saldo"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="Entregasinfac" name="Entregasinfac" required style="width:100%">
                                                                <option value="">--</option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" idioma="Estadística de Cotizaciones por Clientes"></label>
                                                    <table class="table display  table-bordered">
                                                        <thead>
                                                            <tr class="bg-info">
                                                                <th idioma="Operación"></th>
                                                                <th idioma="Cant"></th>
                                                                <th idioma="Monto"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th idioma="Cotizaciones Pendientes"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Aprobadas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Modificadas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Facturadas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Anuladas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" idioma="Estado de Cuenta"></label>
                                                    <table class="table display  table-bordered">
                                                        <thead>
                                                            <tr class="bg-info">
                                                                <th idioma="Concepto"></th>
                                                                <th idioma="Cant"></th>
                                                                <th idioma="Monto"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th idioma="Límite de Crédito"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Saldo Pendiente"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Saldo Disponible"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Facturas Vencidas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Facturas Por Vencerse"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabsedes">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-3 col-sm-3">
                                                    <label idioma="Nombre Sede"></label>
                                                    <input type="text" class="form-control" id="SNombre" tabindex="3" />
                                                </div>
                                                <div class="col-xs-4 col-md-3 col-sm-3">
                                                    <label idioma="Dirección"></label>
                                                    <input type="text" class="form-control" id="SDireccion" tabindex="3" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="País"></label>
                                                    <select type="text" class="form-control" id="SPais" onchange="CambioDepartamento(this.value,'SDepartamento','SCiudad')" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="Departamento"></label>
                                                    <select type="text" class="form-control" id="SDepartamento" onchange="CambioCiudad(this.value,'SCiudad')" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="Ciudad"></label>
                                                    <select type="text" class="form-control" id="SCiudad" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-12 text-right">
                                                    <button class="btn btn-glow btn-default" type="button" onclick="LimpiarSede()"><span idioma="Limpiar"></span></button>
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="GuardarSede()"><span idioma="Agregar"></span></button>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaSede">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Sede"></th>
                                                            <th idioma="Dirección"></th>
                                                            <th idioma="Departamento"></th>
                                                            <th idioma="Ciudad"></th>
                                                            <th width="3%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabcontacto">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-4">
                                                    <label idioma="Nombre Completo"></label>
                                                    <input type="text" class="form-control" id="CNombre" />
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <label idioma="Correo Electrónico"></label>
                                                    <input type="text" class="form-control" id="CEmail" />
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Teléfonos"></label>
                                                    <input type="text" class="form-control" id="CTelefonos" />
                                                </div>
                                                <div class="col-xs-4 col-md-2">
                                                    <label idioma="Fax/Celular"></label>
                                                    <input type="text" class="form-control" id="CCelular" />
                                                </div>
                                                <div class="col-xs-4 col-md-12 text-right">
                                                    <button class="btn btn-glow btn-default" type="button" onclick="LimpiarContacto()"><span idioma="Limpiar"></span></button>
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="GuardarContacto()"><span idioma="Agregar"></span></button>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaContacto">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Nombres"></th>
                                                            <th idioma="Email"></th>
                                                            <th idioma="Teléfonos"></th>
                                                            <th idioma="Fax/Celular"></th>
                                                            <th width="3%">&nbsp;</th>
                                                            <th width="3%">&nbsp;</th>
                                                            <th width="3%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabcontabilidad">
                                            <br />
                                            <div class="form-group-min row">
                                                <label class="col-sm-2 control-label" idioma="Cuenta Contable"></label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="CuentaContable" id="CuentaContable" style="width:100%" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabdocumentos">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-3">
                                                    <label idioma="Tipo de Documento"></label>
                                                    <select class="form-control" id="TipoDocumento" style="width:100%" onchange="CambioDocumento(this.value)" />
                                                </div>
                                                <div class="col-xs-4 col-md-8">
                                                    <label idioma="Examinar Documento"></label>
                                                    <input type="file" name="ArchivoCliente" id="ArchivoCliente" onchange="SubirDocumento(this.id)" accept="application/pdf" class="form-control" />
                                                </div>
                                                <div class="col-xs-4 col-md-1">
                                                    <br />
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="GuardarDocumento()"><span idioma="Guardar"></span></button>
                                                </div>
                                            </div>
                                            <hr />
                                            <h3 id="CreacionDocumento"></h3>
                                            <iframe id="DocumentoCliente" width="100%" height="600px"></iframe>
                                        </div>
                                        <div class="tab-pane fade in" id="tabestadocuenta">
                                            <br />
                                            <div class="form-group-min row">
                                                <div class="col-md-4">
                                                    <label idioma="Saldo Actual"></label>
                                                    <input type="text" class="form-control text-XX text-right" disabled id="CliESaldo" />
                                                </div>
                                                <div class="col-md-4">
                                                    <label idioma="Saldo Vencido"></label>
                                                    <input type="text" class="form-control text-XX text-right" disabled id="CliEVencido" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label idioma="Tipo Cliente"></label>
                                                    <input type="text" class="form-control text-XX text-center" disabled id="CliEcTipo" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label idioma="Plazo Pago"></label>
                                                    <input type="text" class="form-control text-XX text-center" disabled id="CliEcPlazo" />
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group-min row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table display  table-bordered hover" id="TabCliEEstCuen">
                                                            <thead>
                                                                <tr>
                                                                    <th idioma="Factura"></th>
                                                                    <th idioma="Fecha"></th>
                                                                    <th idioma="Vencimiento"></th>
                                                                    <th idioma="Días Vencidos"></th>
                                                                    <th idioma="SubtTotal"></th>
                                                                    <th idioma="Descuento"></th>
                                                                    <th idioma="IVA"></th>
                                                                    <th idioma="Total Pagar"></th>
                                                                    <th idioma="Abonado"></th>
                                                                    <th idioma="Saldo"></th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="NIT/Cédula"></label>
                            <input name="MDocumento" id="MDocumento" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Razón Social"></label>
                            <input name="MCliente" id="MCliente" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Nombre Comercial"></label>
                            <input name="MComercial" id="MComercial" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Tipo Cliente"></label>
                            <select name="MTipo" id="MTipo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Estado"></label>
                            <select name="MEstado" id="MEstado" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="1">Activos</option>
                                <option value="2">Bloqueados</option>
                                <option value="3">Pre-Bloqueado</option>
                                <option value="4">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="País"></label>
                            <select name="MPais" id="MPais" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Departamento"></label>
                            <select name="MDepartamento" id="MDepartamento" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Ciudad"></label>
                            <select name="MCiudad" id="MCiudad" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Asesor"></label>
                            <select name="MAsesor" id="MAsesor" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Habitual"></label>
                            <select name="MHabitual" id="MHabitual" class="form-control" style="width:100%">
                                <option value="T">Todos</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Aprob_Cotizacion"></label>
                            <select name="MAprob_Cotizacion" id="MAprob_Cotizacion" class="form-control" style="width:100%">
                                <option value="T">Todos</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Aprob_Ajuste"></label>
                            <select name="MAprob_Ajuste" id="MAprob_Ajuste" class="form-control" style="width:100%">
                                <option value="T">Todos</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-1 text-center">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarClientes()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaClientes">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Habitual<br>Aprobar_Coti<br>Aprobar_Ajuste"></span></th>
                                    <th width="8%"><span idioma="Tipo de Cliente"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="País"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Cuenta Contable"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitCli" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalReeContacto" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <input type="hidden" id="IdReemplazo" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Reemplazar Contacto"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <table class="table display  table-bordered hover" id="TablaReeContacto">
                        <thead>
                            <tr>
                                <th width="5%">Id</th>
                                <th idioma="Nombres"></th>
                                <th idioma="Email"></th>
                                <th idioma="Teléfonos"></th>
                                <th idioma="Fax/Celular"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="Reemplazar()"><span idioma="Reemplazar y Eliminar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalPermisoContacto" class="modal fade" role="dialog">
    <form id="FormPermisos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Permisos del Contacto"></span> <span id="ContacPermiso"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <input id="IdContacPermiso" name="IdContacPermiso" type="hidden" />
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table display  table-bordered hover">
                                <tbody>
                                    <tr>
                                        <td>Ver Cotizaciones y Reportes</td>
                                        <td><input type="checkbox" id="PermCotizacion" name="PermCotizacion" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Estado de los ingresos(equipos/instrumentos)</td>
                                        <td><input type="checkbox" id="PermIngreso" name="PermIngreso" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Estado de Cuenta de recibos y facturas</td>
                                        <td><input type="checkbox" id="PermEstadoCuenta" name="PermEstadoCuenta" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Generar Solicitudes de Cotizaciones</td>
                                        <td><input type="checkbox" id="PermSolicitudes" name="PermSolicitudes" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Descargar Certificados</td>
                                        <td><input type="checkbox" id="PermCertificados" name="PermCertificados" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Administrar Inventario</td>
                                        <td><input type="checkbox" id="PermInventarios" name="PermInventarios" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Realizar Quejas</td>
                                        <td><input type="checkbox" id="PermQuejas" name="PermQuejas" n class="form-control permiso" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" type="submit"><span idioma="Asignar Permisos"></span></button>
                </div>

            </div>
        </div>
    </form>
    
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Clientes.js?unico=' + Math.round(Math.random() * 10000));

</script>




