﻿
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li class="active"><a id="lab_crearmodificar" href="#tabservicios" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Servicios"></span></a></li>
        <li><a href="#tabotrosservicios" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Otros Servicios"></span></a></li>
        <li><a href="#tabmetodos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Métodos"></span></a></li>
        <li><a href="#tabplantillas" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Plantillas"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabservicios">
            <form id="formServicios" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Servicios"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarServicios()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Ser_Id" readonly value="0" name="Ser_Id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Código"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" name="Ser_Codigo" id="Ser_Codigo" value="0" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" name="Ser_Descripcion" id="Ser_Descripcion" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Días Entrega"></label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control text-center" name="Ser_Dias" id="Ser_Dias" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Acreditado"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Ser_Acreditado" name="Ser_Acreditado" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Sub-Contratado"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Ser_Proveedor" name="Ser_Proveedor" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Sitio"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Ser_Sitio" name="Ser_Sitio" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Express"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Ser_Express" name="Ser_Express" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="2">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descuento"></label>
                                <div class="col-sm-1">
                                    <select class="form-control" id="Ser_Descuento" name="Ser_Descuento" style="width:100%" required>
                                        <option value="">--</option>
                                        <option value="1">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="IVA"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Ser_IVA" name="Ser_IVA" style="width:100%" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Otros"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Ser_Otro" name="Ser_Otro" style="width:100%" required>
                                        <option value="0">NINGUN</option>
                                        <option value="1">SOLO OBSERVACIONES</option>
                                        <option value="2">TODOS LOS DATOS DEL CERTIFICADO</option>
                                        <option value="3">SIN PRECIOS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Cuenta Contable"></label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Ser_CuentaContable" id="Ser_CuentaContable" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Ser_Estado" name="Ser_Estado" style="width:100%" required />
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaServicios">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="10%" idioma="Código"></th>
                                        <th width="65%" idioma="Descripción"></th>
                                        <th width="10%" idioma="Acreditado"></th>
                                        <th width="10%" idioma="Días de Entrega"></th>
                                        <th width="10%" idioma="Sub-Contratado"></th>
                                        <th width="10%" idioma="Sitio"></th>
                                        <th width="10%" idioma="Express"></th>
                                        <th width="10%" idioma="Otros"></th>
                                        <th width="10%" idioma="Descuento"></th>
                                        <th width="10%" idioma="IVA"></th>
                                        <th width="10%" idioma="Cuenta Contable"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabotrosservicios">
            <form id="formOtroServicios" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Otros Servicios"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarOtroServicios()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="OSer_Id" value="0" readonly name="OSer_Id" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Inicial"></label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="OSer_Iniciales" id="OSer_Iniciales" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="OSer_Descripcion" id="OSer_Descripcion" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descuento"></label>
                                <div class="col-sm-2">
                                    <input class="form-control text-right" id="OSer_Descuento" name="OSer_Descuento" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Precio"></label>
                                <div class="col-sm-2">
                                    <input class="form-control text-right" id="OSer_Precio" name="OSer_Precio" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,1)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="IVA"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="OSer_IVA" name="OSer_IVA" style="width:100%" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Cuenta Contable"></label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="OSer_CuentaContable" id="OSer_CuentaContable" required style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="OSer_Estado" name="OSer_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaOtroServicios">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="10%" idioma="Inicial"></th>
                                        <th width="30%" idioma="Descripción"></th>
                                        <th width="10%" idioma="Porcentaje"></th>
                                        <th width="10%" idioma="Precio"></th>
                                        <th width="10%" idioma="IVA"></th>
                                        <th width="10%" idioma="Cuenta Contable"></th>
                                        <th width="10%" idioma="Estado"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabmetodos">
            <form id="formMetodos" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Métodos"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarMetodos()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Met_Id" name="Met_Id" value="0" readonly required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Equipos"></label>
                                <div class="col-sm-11">
                                    <select class="form-control" id="Met_Equipos" name="Met_Equipos" style="width:100%" required multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" id="Met_Descripcion" name="Met_Descripcion" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Met_Estado" name="Met_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaMetodos">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="45%" idioma="Método"></th>
                                        <th width="40%" idioma="Equipos"></th>
                                        <th width="5%" idioma="Estado"></th>
                                        <th width="5%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabplantillas">
            <form id="formPlantillas" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Métodos"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarPlantillas()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Pla_Id" name="Pla_Id" value="0" readonly required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Equipos"></label>
                                <div class="col-sm-11">
                                    <select class="form-control" id="Pla_Equipos" name="Pla_Equipos" style="width:100%" required multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Codigo"></label>
                                <div class="col-sm-2">
                                    <input class="form-control" id="Pla_Codigo" name="Pla_Codigo" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" id="Pla_Descripcion" name="Pla_Descripcion" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Acreditada"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Pla_Acreditado" name="Pla_Acreditado" style="width:100%" required>
                                        <option value="">--Seleccione--</option>
                                        <option value="1">Acrediata</option>
                                        <option value="0">No Acreditada</option>
                                        <option value="2">Opcional</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Archivo de Excel"></label>
                                <div class="col-sm-11">
                                    <input class="form-control" id="Pla_Archivo" name="Pla_Archivo" type="file" onchange="GuardarDocumento(this.id)" accept="*.xlsx, *.xlsm, *.xls" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Pla_Estado" name="Pla_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaPlantillas">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="10%" idioma="Código"></th>
                                        <th width="35%" idioma="Plantilla"></th>
                                        <th width="5%" idioma="Acreditada"></th>
                                        <th width="35%" idioma="Equipos"></th>
                                        <th width="5%" idioma="Estado"></th>
                                        <th width="5%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalReemplazoServicio" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <input type="hidden" id="NumeroReemplazo" value="0" />
                <input type="hidden" id="IdReemplazo" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TituloReemplazar" idioma="Cliente"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label id="TextoReemplazo" idioma="Ingrese el NIT/Cédula del Cliente"></label>
                        <center>
                            <select name="OpcionReemplazo" id="OpcionReemplazo" class="form-control" style="width:100%" />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="ReemplazarServicio()"><span idioma="Reemplazar y Eliminar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Servicios.js?unico=' + Math.round(Math.random() * 10000));
</script>




