﻿
<div class="tabbable page-tabs" id="tab-autorizacion">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formAutorizacion" style="background-color:white">
                <input type="hidden" name="IdAutorizacion" id="IdAutorizacion" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Autorización al personal"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="Imprimier()"><span idioma="Imprimir"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="Suspender()"><span idioma="Suspender"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label idioma="Fecha Autorización"></label>
                                    <input type="text" class="form-control" name="Fecha" id="Fecha" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Estado"></label>
                                    <input type="text" class="form-control" name="Estado" id="Estado" value="Temporal" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Usuario Autorizó"></label>
                                    <input type="text" class="form-control" name="Usuario" id="Usuario" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Fecha de Suspención"></label>
                                    <input type="text" class="form-control" name="FechaSus" id="FechaSus" readonly />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Empleado"></label>
                                <div class="col-sm-7">
                                    <select type="text" class="form-control" name="Empleado" id="Empleado" onchange="CargarCargo()" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Cargo"></label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Magnitud"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Magnitud" id="Magnitud" onchange="CargarEquipos(this.value)" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Equipo"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Equipo" id="Equipo" onchange="MagnitudEquipo(this.value)" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Intervalo"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Intervalo" id="Intervalo" required style="width:100%" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Procedimiento"></label>
                                <div class="col-sm-11">
                                    <select type="text" class="form-control" name="Procedimiento" id="Procedimiento" required style="width:100%" />
                                </div>
                            </div>

                            <div class="form-group-min row">
                                <label class="col-sm-1 control-label" idioma="País"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Pais" onchange="CambioDepartamento(this.value)" id="Pais" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Departamento"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Departamento" id="Departamento" onchange="CambioCiudad(this.value)" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Ciudad"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Ciudad" id="Ciudad" required style="width:100%" />
                                </div>
                            </div>

                            <hr />

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label idioma="Área de Calibración"></label>
                                    <select type="text" class="form-control" name="AreaCalibracion" id="AreaCalibracion" required style="width:100%" />
                                </div>
                                <div class="col-sm-6">
                                    <label idioma="Área de Mantenimiento"></label>
                                    <select type="text" class="form-control" name="AreaMantenimiento" id="AreaMantenimiento" required style="width:100%" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Empleado"></label>
                        <select class="form-control" name="CEmpleado" id="CEmpleado" style="width:100%" tabindex="11"/>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Cargo"></label>
                        <select class="form-control" name="CCargo" id="CCargo" style="width:100%" tabindex="11" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Procedimiento"></label>
                        <select name="CProcedimiento" id="CProcedimiento" class="form-control" style="width:100%" />
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Estado"></label>
                        <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                            <option value="0">Todos</option>
                            <option value="Autorizado">Autorizado</option>
                            <option value="Suspendido">Suspendido</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitudes"></label>
                        <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Equipos"></label>
                        <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Intervalo"></label>
                        <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Area Calibración"></label>
                        <select name="CAreaCalibracion" id="CAreaCalibracion" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Area Mantenimiento"></label>
                        <select name="CAreaMantenimiento" id="CAreaMantenimiento" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarAutorizacion()"><span idioma="Buscar"></span></button>
                    </div>

                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" id="TablaAutorizaciones" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                            <thead>
                                <tr>
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%"><span idioma="ID"></span></th>
                                    <th width="15%"><span idioma="Empleado"></span></th>
                                    <th width="3%"><span idioma="Cargo"></span></th>
                                    <th width="3%"><span idioma="Magnitud"></span></th>
                                    <th width="3%"><span idioma="Equipo"></span></th>
                                    <th><span idioma="Intervalo"></span></th>
                                    <th width="15%"><span idioma="Procedimiento"></span></th>
                                    <th width="5%"><span idioma="Ciudad"></span></th>
                                    <th width="5%"><span idioma="Area Calibración"></span></th>
                                    <th width="5%"><span idioma="Area Mantenimiento"></span></th>
                                    <th><span idioma="Fecha"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Usuario"></span></th>
                                    <th><span idioma=" Actualizado"></span></th>
                                    <th><span idioma="Suspendido"></span></th>
                                    <th><span idioma="Observación"></span></th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitPro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Proveedor"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="12" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/AutorizacionPersonal.js?unico=' + Math.round(Math.random() * 10000));
</script>




