﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formProveedores" style="background-color:white">
                <input type="hidden" name="IdProveedor" id="IdProveedor" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Entrevista de Ingreso de Personal"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="CambioNIT()"><span idioma="Generar PDF"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label idioma="Fecha de Ingreso"></label>
                                            <input type="text" class="form-control" name="FechaIn" id="FechaIn" readonly />
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Usuario"></label>
                                            <input type="text" class="form-control" name="Usuario" id="Usuario" readonly />
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Estado"></label>
                                            <input type="text" class="form-control" name="Estado" id="Estado" readonly />
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="# Control"></label>
                                            <input type="text" class="form-control" name="Control" id="Control" readonly />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Documento"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Documento" name="Documento" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Nombre" id="Nombre" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Fecha de Nacimiento"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="FechaN" id="FechaN" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Lugar de Nacimiento"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="LugarN" id="LugarN" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Estado Civil"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="EstadoC" id="EstadoC" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Dirección de Residencia"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Teléfono/Celular"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Telefono" id="Telefono" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Correo Electrónico"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="Correo" id="Correo" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group-min row">
                                        <label class="col-sm-2 control-label" idioma="Cargo al que Aplica"></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="CargoA" id="CargoA" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center">
                                        <div class="form-group-min row">
                                            <img src="../../imagenes/img_avatar.png" height="300px" />
                                        </div>
                                        <div class="form-group-min row">
                                            <button class="btn btn-glow btn-success" type="button"><span idioma="Subir Foto"></span></button>
                                            <button class="btn btn-glow btn-danger" type="button"><span idioma="Eliminar Foto"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr />

                            <h3><span idioma="CALIFICACIÓN"></span></h3>
                            <table class="table display  table-bordered hover">
                                <thead>
                                    <tr class="bg-primary">
                                        <th width="25%" idioma="ASPECTO"></th>
                                        <th width="25%" idioma="PONDERACIÓN"></th>
                                        <th width="25%" idioma="CALIFICACIÓN PARCIAL"></th>
                                        <th width="25%" idioma="CALIFICACIÓN PONDERADA"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th idioma="SECCIÓN">1</th>
                                        <td>20%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th idioma="SECCIÓN">1</th>
                                        <td>20%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th idioma="SECCIÓN">2</th>
                                        <td>20%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th idioma="SECCIÓN">3</th>
                                        <td>20%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th idioma="FACILIDAD DE COMUNICACIÓN Y MANEJO DE LENGUAJE"></th>
                                        <td>15%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th idioma="PRESENTACIÓN PERSONAL"></th>
                                        <td>15%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th idioma="RELACIÓN ENTRE LAS NECESIDADES Y LOS INTERESES DEL CANDIDATO"></th>
                                        <td>10%</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="right" idioma="CALIFICACIÓN TOTAL"></th>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>


                            <hr />



                            <h3><span idioma="SECCIÓN 1. PREGUNTAS DE TIPO PERSONAL Y FAMILIAR"></span></h3>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿CÓMO CONSIGUIÓ SU PRIMER EMPLEO?"></label>
                                    <textarea type="text" class="form-control" name="ConsiguioE" id="ConsiguioE" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿CUÁLES SON SUS DEFICIENCIAS O PUNTOS DÉBILES? "></label>
                                    <textarea type="text" class="form-control" name="Puntos" id="Puntos" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿QUÉ OPINIÓN TIENE DE SU ANTERIOR JEFE?"></label>
                                    <textarea type="text" class="form-control" name="Opinion" id="Opinion" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿PREFIERE TRABAJAR SOLO O EN EQUIPO?"></label>
                                    <textarea type="text" class="form-control" name="Prefiere" id="Prefiere" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿QUÉ CONDICIONES DEBERÍAN DARSE PARA QUE USTED Y SU FAMILIA CONSIDEREN QUE HA TENIDO ÉXITO?"></label>
                                    <textarea type="text" class="form-control" name="Condiciones" id="Condiciones" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿QUÉ NOS PODRÍA APORTAR COMO PERSONA Y COMO PROFESIONAL?"></label>
                                    <textarea type="text" class="form-control" name="Aportar" id="Aportar" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿EN QUÉ TRABAJO SE HA SENTIDO MÁS A GUSTO Y POR QUÉ?"></label>
                                    <textarea type="text" class="form-control" name="Sentido" id="Sentido" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿QUÉ INFLUENCIA TUVO SU NIÑEZ EN LA CLASE DE PERSONA QUE ES HOY?"></label>
                                    <textarea type="text" class="form-control" name="Influencia" id="Influencia" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿CÓMO CREE QUE LO DESCRIBIRÍAN SUS (EX)COMPAÑEROS?"></label>
                                    <textarea type="text" class="form-control" name="Describiran" id="Describiran" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿POR QUÉ CREE USTED QUE DEBERÍAMOS CONTRATARLO?"></label>
                                    <textarea type="text" class="form-control" name="Contratarlo" id="Contratarlo" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="CALIFICACIÓN PARCIAL DE LA SECCIÓN"></label>
                                    <input type="text" class="form-control" name="Calificacion" id="Calificacion" readonly />
                                </div>
                            </div>

                            <hr />
                            <h3><span idioma="SECCIÓN 2. CON RELACIÓN A SU TRABAJO ANTERIOR"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Empresa"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Empresa" id="Empresa" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Contacto"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Contacto" id="Contacto" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Cargo del Contacto"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CargoC" id="CargoC" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Teléfono de Contacto"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TelefonoC" id="TelefonoC" readonly />
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿CUÁLES FUERON LOS CARGOS QUE DESEMPEÑÓ EN LA MENCIONADA EMPRESA, LOS PERIODOS DE DESARROLLO Y LAS PRINCIPALES RESPONSABILIDADES ASOCIADAS?"></label>
                                    <textarea type="text" class="form-control" name="CargoD" id="CargoD" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿FUE ASCENDIDO O PROMOVIDO DURANTE SU PERMANENCIA EN LA EMPRESA? ¿POR QUÉ?"></label>
                                    <textarea type="text" class="form-control" name="Promovido" id="Promovido" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="DESCRIBA LA RELACIÓN CON SUS SUPERIORES"></label>
                                    <textarea type="text" class="form-control" name="Superiores" id="Superiores" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="DESCRIBA LA RELACIÓN CON SUS COMPAÑEROS"></label>
                                    <textarea type="text" class="form-control" name="Compañeros" id="Compañeros" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿CUÁLES FUERON LOS MOTIVOS DE SU RETIRO?"></label>
                                    <textarea type="text" class="form-control" name="Motivos" id="Motivos" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿TUVO PERSONAL A CARGO? ¿CUÁNTAS PERSONAS?"></label>
                                    <textarea type="text" class="form-control" name="PersonalC" id="PersonalC" rows="4" readonly />
                                </div>
                            </div>

                            <hr />
                            <h3><span idioma="A RESPONDER POR EL CONTACTO DE LA EMPRESA SEÑALADO POR EL ASPIRANTE. VALORE DE 1 A 5 LOS SIGUIENTES ASPECTOS CON RELACIÓN AL ASPIRANTE, SIENDO 5 LA VALORACIÓN MÁS ALTA"></span></h3>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Compromiso y Lealtad"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CompromisoL" id="CompromisoL" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Responsabilidad"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Responsabilidad" id="Responsabilidad" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Calidad de su Trabajo"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CalidadT" id="CalidadT" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Trabajo en Equipo"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="TrabajoE" id="TrabajoE" readonly />
                                </div>
                            </div>
                            <div class="form-group-min row">
                                <label class="col-sm-2 control-label" idioma="Relaciones Interpersonales"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="RelacionesI" id="RelacionesI" readonly />
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="A RESPONDER POR EL CONTACTO DE LA EMPRESA SEÑALADO POR EL ASPIRANTE. ¿VOLVERÍA A CONTRATAR AL ASPIRANTE EN SU EMPRESA?"></label>
                                    <textarea type="text" class="form-control" name="ContratoA" id="ContratoA" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="A RESPONDER POR EL CONTACTO DE LA EMPRESA SEÑALADO POR EL ASPIRANTE. ¿RECOMIENDA AL ASPIRANTE PARA SER VINCULADO?"></label>
                                    <textarea type="text" class="form-control" name="Recomienda" id="Recomienda" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Calificación Parcial de la Sección"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CalificacioP" id="CalificacioP" readonly />
                                </div>
                            </div>

                            <hr />
                            <h3><span idioma="SECCIÓN 3. CON RELACIÓN AL TRABAJO AL QUE ASPIRA"></span></h3>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN EN LOS REQUISITOS DE LA NORMA ISO/IEC17025?"></label>
                                    <textarea type="text" class="form-control" name="Iso" id="Iso" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN EN METROLOGÍA BÁSICA?"></label>
                                    <textarea type="text" class="form-control" name="Metrologia" id="Metrologia" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN EN MICROSOFT EXCEL?"></label>
                                    <textarea type="text" class="form-control" name="Microsoft" id="Microsoft" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN EN EL SISTEMA INTERNACIONAL DE UNIDADES (SI)?"></label>
                                    <textarea type="text" class="form-control" name="SistemaI" id="SistemaI" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN SOBRE TEORÍA DE ERRORES?"></label>
                                    <textarea type="text" class="form-control" name="TeoriaE" id="TeoriaE" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN SOBRE INCERTIDUMBRE DE MEDICIÓN?"></label>
                                    <textarea type="text" class="form-control" name="Incertidumbre" id="Incertidumbre" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN SOBRE HERRAMIENTAS ESTADÍSTICAS?"></label>
                                    <textarea type="text" class="form-control" name="Herramientas" id="Herramientas" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label idioma="¿HA RECIBIDO ALGÚN TIPO DE FORMACIÓN O CAPACITACIÓN SOBRE CALIBRACIÓN DE INSTRUMENTOS DE MEDICIÓN EN ALGUNA MAGNITUD?"></label>
                                    <textarea type="text" class="form-control" name="Instrumentos" id="Instrumentos" rows="4" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Calificación Parcial de la Sección"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="CalificacioPS" id="CalificacioPS" readonly />
                                </div>
                            </div>

                        </div>
                     </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Fecha"></label>
                            <input name="Fecha" id="Fecha" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label idioma="Usuario"></label>
                            <select name="Usuario" id="Usuario" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Control"></label>
                            <select name="Control" id="Control" class="form-control" style="width:100%" />
                        </div>
                        
                        <div class="col-xs-4 col-md-3 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarProveedores()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaProveedores">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Contacto"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="País"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioNitPro" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Proveedor"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="12" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Proveedores.js?unico=' + Math.round(Math.random() * 10000));
                    //$('body').removeClass('nav-md');
                    //$('body').addClass('nav-sm');

</script>




