﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formPermisolaboral" style="background-color:white">
                <input type="hidden" name="IdEmpleado" id="IdEmpleado" value="0" />
                <input type="hidden" name="IdPermiso" id="IdPermiso" value="0" />
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Permiso Laboral"></span></a></h3>
                        </div>
                        <div class="col-md-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default eliminapermiso" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-warning eliminapermiso" type="button" onclick="ModalEmpleados('permiso')"><span idioma="Buscar Empleado"></span></button>
                            <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            <button class="btn btn-glow btn-primary" type="button"><span idioma="Aprobar/Rechazar"></span></button>
                            <button class="btn btn-glow btn-success" type="button" onclick="ImprimirPermisolaboral()"><span idioma="Generar PDF"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label idioma="# Control"></label>
                                <input type="text" class="form-control" name="Control" id="Control" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="Fecha Registro"></label>
                                <input type="text" class="form-control" name="Fecha" id="Fecha" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="Estado"></label>
                                <input type="text" class="form-control" name="Estado" id="Estado" readonly />
                            </div>
                            <div class="col-sm-2">
                                <label idioma="Fecha Apro/Recha"></label>
                                <input type="text" class="form-control" name="FechaApro/Recha" id="FechaApro/Recha" readonly />
                            </div>
                            <div class="col-sm-4">
                                <label idioma="Usuario Apro/Recha"></label>
                                <input type="text" class="form-control" name="UsuarioApro/Recha" id="UsuarioApro/Recha" readonly />
                            </div>

                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Documento"></label>
                                <input type="text" class="form-control" name="Documento" id="Documento" readonly required />
                            </div>
                            <div class="col-md-6">
                                <label idioma="Nombre"></label>
                                <input type="text" class="form-control" name="Nombre" id="Nombre" readonly required />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Cargo"></label>
                                <input type="text" class="form-control" name="Cargo" id="Cargo" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Telefono"></label>
                                <input type="text" class="form-control" name="Telefono" id="Telefono" readonly />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Celular"></label>
                                <input type="text" class="form-control" name="Celular" id="Celular" readonly />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Correo Electrónico"></label>
                                <input type="text" class="form-control" name="Correo" id="Correo" readonly />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Dirección"></label>
                                <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                            </div>
                        </div>
                        <hr />
                        <h3><span idioma="TIEMPO SOLICITADO"></span></h3>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" class="form-control" rows="12" name="FechaD" id="FechaD" onblur ="CalcularTiempo()" required />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Hora Desde"></label>
                                <input type="time" class="form-control" rows="12" name="HoraD" id="HoraD" onblur="CalcularTiempo()" required />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" class="form-control" rows="12" name="FechaH" id="FechaH" onblur="CalcularTiempo()" required />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Hora Hasta"></label>
                                <input type="time" class="form-control" rows="12" name="HoraH" id="HoraH" onblur="CalcularTiempo()" required />
                            </div>
                            <div class="col-md-1">
                                <label idioma="Recuperar"></label>
                                <input type="checkbox" class="form-control" rows="12" name="Recuperar" id="Recuperar" onchange="ActivarRecuperar(this)"  />
                            </div>
                            <div class="col-md-3">
                                <label idioma="Cálculo del Tiempo"></label>
                                <input type="text" class="form-control" rows="12" name="Calculo" id="Calculo" readonly />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="PROPUESTA PARA RECUPERAR EL TIEMPO DE PERMISO"></label>
                                <textarea class="form-control" rows="12" name="FormaRecuperar" id="FormaRecuperar" readonly required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="MOTIVO DEL PERMISO"></label>
                                <textarea class="form-control" rows="12" name="Motivo" id="Motivo" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <h3><span idioma="SOPORTE ANEXOS"></span></h3>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <input  id="DocumentoArchivo" type="file" multiple onchange="GuardarDocumentoAnexo(this.id)" class="form-control"  accept="image/*" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <table class="table display  table-bordered hover">
                                    <thead>
                                        <tr>
                                            <th width="3%">#</th>
                                            <th width="97%" idioma="Archivo"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="TablaAnexos"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label idioma="OBSERVACIÓN"></label>
                                <textarea class="form-control" rows="12" name="Observacion" id="Observacion" required />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-xs-4 col-md-1">
                        <label idioma="Control"></label>
                        <input name="MControl" id="MControl" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="NIT/Cédula/Nombre"></label>
                        <input name="MEmpleado" id="MEmpleado" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Cargo"></label>
                        <select name="MCargo" id="MCargo" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-4 col-md-1">
                        <label idioma="Estado"></label>
                        <select name="MEstado" id="MEstado" class="form-control" style="width:100%" >
                            <option values= "">Todos</option>
                            <option values= "Pendiente">Pendientes</option>
                            <option values= "Aprobado">Aprobados</option>
                            <option values= "Rechazado">Rechazado</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-1 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsultaPermisos()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaProveedores">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                <th width="15%"><span idioma="Razón Social"></span></th>
                                <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                <th width="8%"><span idioma="Contacto"></span></th>
                                <th width="5%"><span idioma="Estado"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Telefonos"></span></th>
                                <th><span idioma="Celular"></span></th>
                                <th><span idioma="Correo Electrónico"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Departamento"></span></th>
                                <th><span idioma="País"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalEmpleados" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Empleados"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Nombre del Empleado"></label>
                        <input name="ENombres" id="ENombres" class="form-control" onkeyup="CargarModalEmpleados('permiso')" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Documento"></label>
                        <input name="EDocumento" id="EDocumento" class="form-control" onkeyup="CargarModalEmpleados('permiso')" />
                    </div>

                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover" id="tablamodalempleados_permiso">
                        <thead>
                            <tr>
                                <th width="5%"><span idioma="Tipo Documento"></span></th>
                                <th><span idioma="Documento"></span></th>
                                <th width="30%"><span idioma="Nombre Completo"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Cargo"></span></th>
                                <th><span idioma="Sueldo"></span></th>
                                <th><span idioma="Celular"></span></th>
                                <th><span idioma="Email"></span></th>
                                <th><span idioma="ID"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/PermisoLaboral.js?unico=' + Math.round(Math.random() * 10000));
</script>




