﻿<div class="tabbable page-tabs" id="tab-usuarios">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro de Participantes"></span></a></li>
        <li><a id="lab_asistencia" href="#tabasistencia" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro de Asistencia de Participantes"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-8">
                    <form id="formParticipante" style="background-color:white">
                        <input type="hidden" name="IdParticipante" id="IdParticipante" value="0" />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de los Participantes"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-info" type="submit"><span idioma="Guardar"></span></button>
                                        <button class="btn btn-success" type="button" onclick="ImprimirEscarapela()"><span idioma="Imprimir Escarapela"></span></button>
                                        <button class="btn btn-danger" type="button" onclick="CambioDocumento()"><span idioma="Cambio Documento"></span></button>

                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Curso:</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" id="Curso" name="Curso" onchange="CargarTabla(this.value)" style="width:100%" required />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Documento:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="Documento" name="Documento" disabled onkeypress="return NumCheck(event, this,0)" onblur="BuscarPersonal(this.value,1)" onkeyup="ValidarPersonal(this.value)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Nombre Completo:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Nombres" id="Nombres" disabled required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Empresa:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Empresa" id="Empresa" disabled required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Cargo:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Cargo" id="Cargo" disabled required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">País:</label>
                                    <div class="col-sm-6">
                                        <select type="text" class="form-control" name="Pais" disabled onchange="CambioDepartamento(this.value)" id="Pais" style="width:100%"  />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Departamento:</label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" id="Departamento" disabled onchange="CambioCiudad(this.value)" style="width:100%"  />
                                    </div>
                                    <label class="col-sm-2 control-label text-right">Ciudad:</label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="Ciudad" disabled id="Ciudad" style="width:100%"  />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Correo Electrónico:</label>
                                    <div class="col-sm-4">
                                        <input type="email" name="Email" id="Email" disabled class="form-control" >
                                    </div>
                                    <label class="col-sm-2 control-label text-right">Teléfono:</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="Telefono" name="Telefono" disabled class="form-control" >
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Foto de la visita"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <div class="form-group row">
                                    <img id="ImagenPersona" src="../../imagenes/img_avatar.png" height="300px" />
                                </div>
                                <div class="form-group row">
                                    <button class="btn btn-info" type="button" onclick="SubirFoto()">Tomar Foto</button>
                                    <button class="btn btn-success" type="button" onclick="ExaminarFoto()">Subir Foto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered hover display" id="TablaParticipantes">
                            <thead>
                                <tr>
                                    <th width="10%">&nbsp;</th>
                                    <th width="20%">Curso</th>
                                    <th width="20%">Empresa</th>
                                    <th width="20%">Participante</th>
                                    <th width="20%">Nro Documento</th>
                                    <th width="10%">Cargo</th>
                                    <th width="10%">Correo Electronico</th>
                                    <th width="10%">Teléfono</th>
                                    <th width="10%">País</th>
                                    <th width="10%">Departamento</th>
                                    <th width="10%">Ciudad</th>
                                    <th width="10%">Registro</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabasistencia">
            <div class="form-group row">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Asistenas de los Participantes"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-success" type="button" onclick="CargarTablaAsistencia()"><span idioma="Consultar"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Curso:</label>
                                <select type="text" class="form-control" id="ACurso" onchange="CargarParticipantes(this.value)" style="width:100%" required />
                            </div>
                            <div class="col-sm-3">
                                <label>Documento</label> 
                                <input type="text" class="form-control" id="ADocumento" onkeypress="return NumCheck(event, this,0)" onkeyup="RegistrarAsistencia(this.value, event)" required>
                            </div>
                        </div>

                        <hr />

                        <h3>TABLA DE ASISTENCIA</h3>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Participantes:</label>
                                <select type="text" class="form-control" id="AParticipante" style="width:100%"  />
                            </div>
                            <div class="col-sm-2">
                                <label>Fecha Desde</label>
                                <input type="date" class="form-control" id="AFechaDesde" >
                            </div>
                            <div class="col-sm-2">
                                <label>Fecha Hasta</label>
                                <input type="date" class="form-control" id="AFechaHasta">
                            </div>
                        </div>

                        <hr />
                        <div class="table-responsive">
                            <table class="table table-bordered hover display" id="TablaAsistencia">
                                <thead>
                                    <tr>
                                        <th width="10%">&nbsp;</th>
                                        <th width="20%">Curso</th>
                                        <th width="20%">Empresa</th>
                                        <th width="20%">Participante</th>
                                        <th width="10%">Cargo</th>
                                        <th width="10%">Correo Electronico</th>
                                        <th width="10%">Teléfono</th>
                                        <th width="10%">Fecha</th>
                                        <th width="10%">Entrada</th>
                                        <th width="10%">Salida</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalFotoPer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-foto">
        <div class="modal-content">
            <input type="hidden" value="0" id="TipoFoto"/>
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulotipofoto" idioma="Foto del PArticipante"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div id="my_cameraperso" style="width:0px; height:0px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-primary" type="button" onclick="TomarFoto()"><span idioma="Tomar Foto"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalCambioDocumento" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de Documento"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarDocumento()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>



