﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs" id="tabdevolucion">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" ng-class="getTabPaneClass(1)">
                    <form id="formmonturas" style="background-color:white">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Devolución"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" ng-click="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-success" type="button" id="btnguardar1" ng-click="GuardarDevolucion()">F3<span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" ng-click="EnviarDevolucion()">F4<span idioma="Enviar"></span></button>
                                        <button class="btn btn-glow btn-info" type="button" id="btnenviar" ng-click="EntregarDevolucion()">F6<span idioma="Entregar"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" ng-click="EnviarCertificado()">F7 <span idioma="Enviar Certificado"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-6 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" ng_model="Documento" onkeypress="return NumCheck(event, this,0)" maxlength="12" ng-blur="BuscarCliente(0)" ng-keyup="ValidarCliente(DocumentoCli,$event)" pattern="[0-9]{1,12}" max="12" min="1" id="Cliente" autofocus tabindex="0" />
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-sm-5">
                                            <label idioma="Nombre del Cliente"></label><br>
                                            <input type="text" class="form-control" ng-value="Cliente.nombrecompleto" id="NombreCliente" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Devolución"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8"   ng-blur="BuscarDevolucion(this.value)" pattern="[0-9]{1,7}" max="7" min="1" ng-model="Devolucion" id="Devolucion" tabindex="10" />
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <label idioma="Departamento/Ciudad"></label>
                                            <input type="text" class="form-control" ng-value="Cliente.departamento + ' / ' + Cliente.ciudad" ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                            <label idioma="Sitio"></label><br>
                                            <select  id="Sitio" ng-model="sitio" select2="" ui-select2="{ allowClear: true}" required tabindex="4" style="width:100%">
                                                <option value="NO">NO</option>
                                                <option value="SI">SI</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="hidden-xs col-md-4 col-sm-4">
                                            <label idioma="Sede"></label><br>
                                            <select id="Sede" ng-model="Registro.sede" select2="" ui-select2="{ allowClear: true}" class="ComboCliente" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option ng-selected="{{value.id == Registro.sede}}"
                                                    ng-repeat="value in Combos.sede" value="{{value.id}}">{{value.value}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="hidden-xs col-md-2 col-sm-3">
                                            <label idioma="Contacto"></label><br>
                                            <select id="Contacto" ng-model="Registro.contacto"select2="" ui-select2="{ allowClear: true}" class="ComboCliente"
                                            ng-change="DatosContacto(Registro.contacto)" style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected="{{value.id == Registro.contacto}}"
                                                ng-repeat="value in Combos.contacto" value="{{value.id}}">{{value.value}}
                                            </option>
                                        </select>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 col-sm-3">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" ng-value="Cliente.email" ng-disabled="true" />
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" ng-value="Cliente.telefono + ' / ' + Cliente.celular" ng-disabled="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="SaldoClienteDev"></div>
                            <div class="col-md-12" id="divAnulaciones"></div>
                        </div>
                                         
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table display  table-bordered hover" width="100%" id="Malla" style="font-size:14px">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th width="3%" height="40px"><input type="checkbox" id="seleccionatodo" ng-model="Ingreso.seleccionartodo" ng-change="SeleccionarTodo()" class="form-control" /></th>
                                                <th width="10%" idioma="Ingreso / fecha <br> usuario"></th>
                                                <th width="10%" idioma="Magnitud<br>Equipo-Intervalo"></th>
                                                <th width="10%" idioma="Marca<br>Modelo"></th>
                                                <th width="10%" idioma="Serie"></th>
                                                <th width="3%" idioma="Ubicación"></th>
                                                <th width="10%" idioma="Certificado"></th>
                                                <th width="20%" idioma="Observación"></th>
                                                <th width="20%" idioma="Observación Devolución"></th>
                                                <th width="5%">&nbsp;</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="x in Registro.tabla" id="{{'fila-'+($index+1)}}"
                                                ng-dblclick="SelecccionarFila(x, $index)">
                                                <td class="text-center"><b>{{$index+1}}</b></td>
                                                <td>
                                                    <div ng-if="x.idequipo != 0">
                                                        <b>{{x.ingreso}}</b><br>Fecha {{x.fechaing}}<br>Usuario {{x.usuario}}
                                                    </div>
                                                    <div ng-if="x.idequipo == 0">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-if="x.idequipo != 0">
                                                        <b> {{x.magnitud}}</b><br>{{x.equipo}}<br>{{x.intervalo}}
                                                    </div>
                                                    <div ng-if="x.idequipo == 0">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-if="x.idequipo != 0">
                                                        <br><b>{{x.marca}}</b><br>{{x.modelo}}
                                                    </div>
                
                                                    <div ng-if="x.idequipo == 0">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-if="x.idequipo != 0">
                                                        <b>{{x.serie}}</b>
                                                    </div>
                                                    <div ng-if="x.idequipo == 0">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-if="x.idequipo != 0">
                                                        <b>{{x.ubicacion}}</b>
                                                    </div>
                                                    <div ng-if="x.idequipo == 0">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                <td class='text-center'><input type='text' name='Certificados[]' " + ($.trim(data[x].certificado) != "" || $.trim(data[x].informetecnico) != "" ? "readonly" : "") + " class='text-center text-XX sinborde' style='width:99%' value = '" + (IdDevolucion > 0 ? data[x].certificadodevo : data[x].certificado) + "'>" +
                                                    ($.trim(data[x].certificado) != "" ? "<br><a href='javascript:VerCertificados(" + data[x].ingreso + ")'>Ver Detalle</a>" : ($.trim(data[x].informetecnico) != "" ? "<br><a href='javascript:VerInforme(" + data[x].informetecnico + ")'>Ver Informe " + data[x].informetecnico + "</a>" : "")) + "</td>
                                                <td>
                                                    <div ng-if="x.idequipo != 0">
                                                        <b>{{x.observacion}}</b>
                                                    </div>
                                                    <div ng-if="x.idequipo == 0">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                                
                                                <td><textarea name='Observaciones[]' class='form-control sinborde' rows='4'> {{x.observadev}} </textarea> <input type='hidden' name='Informes[]' value= " {{x.informetecnico}}"><input type='hidden' name='Certificadospdf[]' value='"  {{x.certificadospdf}}  "'></td>
                                                <td align='center'><button class='verfotos btn btn-success' title='Ver Fotos' type='button' ng-click='CargarModalFoto(" + {{x.ingreso}} + "," + {{x.fotos}} + ",1)'><span data-icon='&#xe2c7;'></span></button></td></tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn btn-glow-group" role="group">
                                    <button type="button" class="btn btn-glow btn-info" title="Buscar Cliente" ng-click="ModalClientes()">F1 <span idioma="Clientes"></span></button>
                                    <button class="btn btn-glow btn-success"  type="button" ng-click="GuardarDevolucion()">F3 <span idioma="Guardar"></span></button>
                                    <button class="btn btn-glow btn-primary"  type="button" ng-click="LlamarImprimir()">F6 <span idioma="Imprimir Devolución"></span></button>
                                    <button class="btn btn-glow btn-warning"  type="button" ng-click="ImprimirEtiqueta()">F7 <span idioma="Imprimir Etiqueta Envío"></span></button>
                                    <button class="btn btn-glow btn-danger"  type="button" ng-click="AnularDevolucion()">F8 <span idioma="Anular"></span></button>
                                    <button class="btn btn-glow btn-info"  type="button" ng-click="InicializarCamaraDev()">F9 <span idioma="Tomar Fotos"></span></button>
                                    <button class="btn btn-glow btn-info"  type="button" ng-click="VerFotosDev()">F10 <span idioma="Ver Fotos"></span></button>
                                    <button class="btn btn-glow btn-info"  type="button" ng-click="VerFotosEntrega()">F11 <span idioma="Ver Fotos Entrega"></span></button>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-6  col-sm-6 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tipo de Cliente"></label>
                                                <input class="form-control text-XX text-center" id="TipoCliente" ng-value="Cliente.tipocliente" readonly style="width:100%" ng-disabled="true" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Plazo de Pago"></label>
                                                <input class="form-control text-XX text-center" id="PlazoPago" readonly style="width:100%" ng-value="Cliente.plazopago" ng-disabled="true"/>
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Total Equipos:"></label>
                                                <input class="form-control text-XX text-center" id="Totales" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Fecha de Registro"></label>
                                                <input class="form-control text-XX text-center" id="FechaReg" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Usuario"></label>
                                                <input class="form-control text-XX text-center" id="UsuarioReg" value="0" readonly style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones"></label>
                                                <textarea class="form-control" name="Observaciones" id="Observaciones" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6  col-sm-6 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label idioma="Quién Recibió"></label>
                                                <input class="form-control text-XX text-center" id="RPersona" readonly style="width:100%" ng-value="Devolucion.rpersona" ng-disabled="true" />
                                            </div>
                                            <div class="col-sm-4 col-xs-12">
                                                <label idioma="Fecha de Entrega"></label>
                                                <input class="form-control text-XX text-center" id="RFecha" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-2 col-xs-12">
                                                <br>
                                                <button class="btn btn-glow btn-success" title="Ver Devolución Firmada" type="button" ng-click="VerDevolucionFirma()"><span data-icon='&#xe2c7;'></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label idioma="EmpresaEnvio"></label>
                                                <input class="form-control text-XX text-center" id="REmpresa" readonly style="width:100%" ng-value="Devolucion.rempresa" ng-disabled="true" />
                                            </div>
                                            <div class="col-sm-4 col-xs-12">
                                                <label idioma="Guía de Envío"></label>
                                                <input class="form-control text-XX text-center" id="RGuia" readonly style="width:100%" ng-value="Devolucion.guia" ng-disabled="true" />
                                            </div>
                                            <div class="col-sm-2 col-xs-12">
                                                <br>
                                                <button class="btn btn-glow btn-success" title="Ver Guía de Envía" type="button" ng-click="VerGuia()"><span data-icon='&#xe2c7;'></span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones de la Entrega"></label>
                                                <textarea class="form-control" ng-model="RObservacion" id="RObservacion" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Devolucion"></label>
                                <input ng-model="Consulta.devolucion" id="CDevolucion" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Ingreso"></label>
                                <input name="CIngreso" id="CIngreso" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Entregado"></label>
                                <select ng-model="Consulta.entregado" id="CEntregado" select2="" ui-select2="{ allowClear: true}" style="width:100%">
                                    <option value="T">TODOS</option>
                                    <option value="1">SI</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Cliente"></label>
                                <select ng-model="Consulta.cliente" select2="" ui-select2="{ allowClear: true}" id="CCliente" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.cliente}}" ng-repeat="value in Combos.cliente"
                                        value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" ng-model="Consulta.fechad.value" ng-change="CambioFecha(1,1)" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" ng-model="Consulta.fechah.value" class="form-control" ng-change="CambioFecha(1,2)" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuarios"></label>
                                <select ng-model="Consulta.usuario" select2="" ui-select2="{ allowClear: true}" id="CUsuario" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.usuario}}" ng-repeat="value in Combos.usuario"
                                        value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" ng-click="ConsultarDevoluciones()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select ng-model="Consulta.magnitud" select2="" ui-select2="{ allowClear: true}" id="CMagnitud" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.magnitud}}" ng-repeat="value in Combos.magnitud"
                                        value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select ng-model="Consulta.equipo" select2="" ui-select2="{ allowClear: true}" id="CEquipo" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.equipo}}" ng-repeat="value in Combos.equipo"
                                        value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select ng-model="Consulta.marca" select2="" ui-select2="{ allowClear: true}" id="CMarca" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.marca}}" ng-repeat="value in Combos.marca"
                                        value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select ng-model="Consulta.modelo" select2="" ui-select2="{ allowClear: true}" id="CModelo" class="ComboConsulta" style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.modelo}}" ng-repeat="value in Combos.modelo"
                                        value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select ng-model="Consulta.intervalo" select2="" ui-select2="{ allowClear: true}" id="CIntervalo" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == Consulta.intervalo}}"
                                ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Serie"></label>
                                <input ng-model="Consulta.serie" id="CSerie" class="form-control" />
                            </div>

                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <a class="btn btn-info" download="TablaDevolución.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'TablaDevoluciones', 'Registro');">Exportar a Excel</a>
                                <a class="btn btn-primary" download="TablaDevolución.csv" href="#" onclick="return ngTableExcelExport.csv(this, 'TablaDevoluciones', 'Registro', ';');">Exportar a CSV - ";" separator - UTF8</a>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <div class="table-responsive" id="ExportarDevoluciones">
                                    <table class="table display table-bordered hover" show-filter="true" ng-table="TablaDevoluciones" id="TablaDevoluciones">
                                        <tr ng-repeat = "x in $data" ng-dblclick="ObtenerConsulta(x)">
                                            <td data-title="''" ><button class='btn btn-glow btn-success imprimir' title='Imprimir Devolución' type='button' ng-click="ImprimirDevolucion(x.devolucion, 0)"><span data-icon='&#xe0f7;'></span></button></td>
                                            <td title="Número de devolución" class="text-XX" data-title="'Devolución'" sortable="'devolucion'" filter="{ 'devolucion': 'text' }">{{x.devolucion}}</td>
                                            <td title="NIT/Cédula del cliente" data-title="'NIT/Cédula'" sortable="'documento'" filter="{ 'documento': 'text' }">{{x.documento}}</td>
                                            <td title="Razón Social del Cliente" data-title="'Cliente'" sortable="'cliente'" filter="{ 'cliente': 'text' }">{{x.cliente}}</td>
                                            <td title="Sede del Cliente" data-title="'Sede'" sortable="'sede'" filter="{ 'sede': 'text' }">{{x.sede}}</td>
                                            <td title="Contacto del Cliente" data-title="'Contacto'" sortable="'contacto'" filter="{ 'contacto': 'text' }">{{x.contacto}}</td>
                                            <td title="Departamento de la ubicación de la sede del cliente" data-title="'Departamento'" sortable="'departamento'" filter="{ 'departamento': 'text' }">{{x.departamento}}</td>
                                            <td title="Ciudad de la ubicación de la sede del cliente" data-title="'Ciudad'" sortable="'ciudad'" filter="{ 'ciudad': 'text' }">{{x.ciudad}}</td>
                                            <td title="Teléfono del contacto del Cliente" data-title="'Teléfonos'" sortable="'telefonos'" filter="{ 'telefonos': 'text' }">{{x.telefonos}}</td>
                                            <td title="Correo electrónico del contacto del Cliente" data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{x.email}}</td>
                                            <td title="Cantidad de equipos" class="text-right" data-title="'Cantidad de equipos'" sortable="'totales'">{{x.totales}}</td>
                                            <td title="Fecha de registro de la remisión" data-title="'Fecha/hora'" sortable="'fecha'" filter="{ 'fecha': 'text' }">{{x.fecha}}</td>
                                            <td title="Entregado" data-title="'Entregado'" sortable="'entregado'" filter="{ 'entregado': 'text' }">{{x.entregado}}</td>
                                            <td title="Usuario que registró la remisión" data-title="'Usuario'" sortable="'usuario'" filter="{ 'usuario': 'text' }">{{x.usuario}}</td>
                                            <td title="Anulado" data-title="'Anulado'" sortable="'anulado'" filter="{ 'anulado': 'text' }">{{x.anulado}}</td>
                                            
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_devolucion" class="modal fade" role="dialog">
    <form id="formenviardevolucion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdfdevolucion" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="enviar_certificado" class="modal fade" role="dialog">
    <form id="formenviarcertificado">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Devolución Número"></span> <span id="cespremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="CeCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="CeCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="CObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <div id="detcertificados">

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="entregar_devolucion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Devolución Número"></span> <span id="spremision"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label idioma="Cliente"></label>
                        <input type="text" class="form-control" id="ACliente" ng-model="Cliente.nombrecompleto" ng-disabled="true" />
                    </div>
                    <div class="col-sm-7">
                        <label idioma="Sede"></label>
                        <input type="text" class="form-control" id="ASede" ng-model="Registro.sede" ng-disabled="true" />
                    </div>
                    <div class="col-sm-5">
                        <label idioma="Contacto"></label>
                        <input type="text" class="form-control" id="AContacto" ng-model="Registro.contacto" ng-disabled="true"/>
                    </div>
                    <div class="col-sm-3">
                        <label idioma="Nro Devolución"></label>
                        <input type="text" class="form-control" id="ADevolucion" ng-model="Registro.devolucion" ng-disabled="true" />
                    </div>
                    <div class="col-sm-5">
                        <label idioma="Asesor Logístico"></label>
                        <input type="text" class="form-control" id="AAsesor" ng-model="Registro.asesor" ng-disabled="true" />
                    </div>
                    <div class="col-sm-4">
                        <label idioma="Fecha"></label>
                        <input type="text" class="form-control" id="AFecha" ng-model="Registro.fecha" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                        <label idioma="Personal que se le entregó el equipo"></label>
                        <select id="AEntrega" ng-model="Registro.aentrega" class="ComboCliente" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == Registro.aentrega}}"
                                ng-repeat="value in Combos.aentrega" value="{{value.id}}">{{value.value}}
                            </option>
                        </select>

                    </div>
                    <div class="col-sm-4">
                        <label idioma="Fecha de Entrega"></label>
                        <input type="date" class="form-control" id="AFechaEnt" />
                    </div>
                    <div class="col-sm-6">
                        <label idioma="Tipo de envío"></label>
                        <select class="form-control" id="AEmpresaEnv" style="width:100%"/>
                    </div>
                    <div class="col-sm-6">
                        <label idioma="Guía de envío"></label>
                        <input type="text" class="form-control" id="AGuia" />
                    </div>
                    <div class="col-sm-12">
                        <label idioma="Observación de la entrega"></label>
                        <textarea type="text" rows="4" class="form-control" id="AObservacion" />
                    </div>
                    <div class="col-sm-10">
                        <label idioma="Seleccione el archivo de la devolución firmada"></label>
                        <input type="file" name="OArchivo" id="AArchivo" onchange="GuardarDocumento(this.id)" accept="application/pdf" class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button class="btn btn-glow btn-success"  type="button" ng-click="InicializarCamara()" >Iniciar Cámara</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" tabindex="3" type="button" ng-click="GuardarEntDevolucion()"><span idioma="Entregar Devolución"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modal_camara_web" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body with-padding">
				<div class="row">
					<div class="col-sm-7">
						<div class="panel panel-success" style="font-size:14px;">
							<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Cámara Vídeo</h6></div>
                            <div class="panel-body">
                                <div id="camaraweb"></div>
                                <div class="row text-center">
                                    <button class="btn btn-glow btn-success" ng-click="TomarFotoDev()" type='button'>F12 Capturar Foto</button>
                                    <button class="btn btn-glow btn-danger" ng-click="EliminarFotoDev()" type='button'>F10 Eliminar Foto</button>
                                </div>
                                
                            </div>
						</div>
					</div>
					<div class="col-sm-5">
						<form id="guardarfotocamara" >
							<div class="panel panel-success" style="font-size:14px;">
								<div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i>Foto de la devolución número <span id="FotoNumDevolucion"></span></h6></div>
								<div class="panel-body">
									<div id="fotocamdevo" >
										
									</div>
									<input type='hidden' name='id_imagen' id="id_imagen" value="">	
									<canvas  id="tci6fotonue" style="display:none;"></canvas>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" id="botonDetener222" class="btn btn-glow btn-danger" data-dismiss="modal"><span idioma="Cerrar"></span></button>
				</div> 
			</div>
		</div>
	</div>
</div>

<div id="modalDetalleDevo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulodetalle"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group">
                    <div id="detallemovimiento"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalFotosDev" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Fotos de la Devolución Nro"></span> <span id="springresodev"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="AlbunFotosDevolucion" style="height:450px">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalFotosEntrega" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Fotos de Entrega de la Devolución Nro"></span> <span id="springresoent"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="AlbunFotosEntrega" style="height:450px">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalClientesDev" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="CRazon" id="CRazon" class="form-control" onkeyup="CargarModalClientes('dev')" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="CCedula" id="CCedula" class="form-control" onkeyup="CargarModalClientes('dev')" />
                    </div>

                </div>

                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover " id="tablamodalclientedev">
                        <thead>
                            <tr>
                                <th><span idioma="Tipo Cliente"></span></th>
                                <th><span idioma="NIT/Cédula"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Teléfonos"></span></th>
                                <th><span idioma="Email"></span></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <font size="2px" color="red"><i>Busque el cliente por razón social o cédula/NIT y haga un click en la fila del cliente que desea seleccionar</i></font>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar [Esc]"></span></button>
            </div>
        </div>
    </div>
</div>
