﻿<div class="row col-sm-12">
    <form id="formmonturas" style="background-color:white">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Fotos por Ingreso"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-success" type="button" id="btnlimpiar" onclick="SubirFoto()"><span idioma="Subir Foto"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nró Ingreso"></label>
                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngreso(this.value, event,0)" onblur="BuscarIngreso(this.value, '',1)" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="0" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-5">
                            <label idioma="Equipo"></label><br>
                            <input type="text" class="form-control" name="Equipo" id="Equipo" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="Marca"></label>
                            <input type="text" class="form-control" name="Marca" id="Marca" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <label idioma="Modelo"></label>
                            <input type="text" class="form-control" name="Modelo" id="Modelo" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <label idioma="Serie" class="label-info"></label>
                            <input type="text" class="form-control" name="Serie" id="Serie" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Accesorio"></label><br>
                            <textarea class="form-control" id="Accesorio" name="Accesorio" readonly />
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación"></label><br>
                            <textarea class="form-control" id="Observacion" name="Observacion" readonly />
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <center>
                            <div id="my_cameraing"></div>
                        </center>
                    </div>
                    <br>                    
                    <div class="form-group row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="row text-center">
                                <button class="btn btn-glow btn-success" onclick="TomarFotoIng()" type='button'><span idioma="F12 Capturar Foto"></span></button>
                                <button class="btn btn-glow btn-danger" onclick="EliminarFotoIng()" type='button'><span idioma="F10 Eliminar Foto"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="tabbable page-tabs">
                        <ul class="nav nav-tabs">
                            <li id="proli1" class="active"><a id="lab_crearmodificar" href="#fot_detallado" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Foto Individual"></span></a></li>
                            <li id="proli7"><a href="#fot_albun" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Albún de Fotos"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="fot_detallado">
                                <div class="form-group row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="panel panel-success" style="font-size:14px;">
                                            <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i><span idioma="Fotos del Ingreso"></span></h6></div>
                                            <div class="panel-body">
                                                <center>
                                                    <div id="AlbunFotosIng">
                                                    </div>
                                                    <input type='hidden' name='id_imagen' id="id_imagen" value="">
                                                    <canvas id="tci6fotonueing" style="display:none;"></canvas>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="fot_albun">
                                <div id="Albun_Detallado" style="width:100%;height:500px;overflow-y:visible;overflow-x:hidden">
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </form>
</div>



