﻿<div class="row col-sm-12">
    <form id="formmonturas" style="background-color:white">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Fotos por Devolución"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-success" type="button" id="btnlimpiar" onclick="SubirFotoDev()"><span idioma="Subir Foto"></span></button>
                        <button class="btn btn-glow btn-info" type="button" id="btnlimpiar" onclick="VerDevolucion()"><span idioma="Ver Devolucion"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-2">
                            <label idioma="Nró de Devolución"></label>
                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarDevolucion(this.value, event,0)" onblur="BuscarDevolucion(this.value, '',1)" pattern="[0-9]{1,12}" max="12" min="1" name="Devolucion" id="Devolucion" autofocus tabindex="0" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 col-sm-6">
                            <label idioma="Cliente"></label><br>
                            <input type="text" class="form-control" name="Cliente" id="Cliente" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <label idioma="Contacto"></label>
                            <input type="text" class="form-control" name="Contacto" id="Contacto" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-12">
                            <label idioma="Dirección"></label>
                            <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Cantidad de Ingresos"></label>
                            <input type="text" class="form-control" name="Cantidad" id="Cantidad" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Fecha de Registro"></label>
                            <input type="text" class="form-control" name="Fecha" id="Fecha" readonly />
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <label idioma="Asesor Logístico"></label>
                            <input type="text" class="form-control" name="Asesor" id="Asesor" readonly />
                        </div>

                        <div class="col-xs-12 col-sm-12">
                            <label idioma="Observación"></label><br>
                            <textarea class="form-control" id="Observacion" name="Observacion" readonly />
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <center>
                            <div id="my_cameradeb"></div>
                        </center>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="row text-center">
                                <button class="btn btn-glow btn-success" onclick="TomarFotoDev()" type='button'><span idioma="F12 Capturar Foto"></span></button>
                                <button class="btn btn-glow btn-danger" onclick="EliminarFotoDev()" type='button'><span idioma="F10 Eliminar Foto"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="tabbable page-tabs">
                        <ul class="nav nav-tabs">
                            <li id="proli1" class="active"><a id="lab_crearmodificar" href="#fot_detallado" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Foto Individual"></span></a></li>
                            <li id="proli7"><a href="#fot_albun" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Albún de Fotos"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="fot_detallado">
                                <div class="form-group row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="panel panel-success" style="font-size:14px;">
                                            <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i><span idioma="Fotos por Devolución"></span></h6></div>
                                            <div class="panel-body">
                                                <center>
                                                    <div id="AlbunFotosDev">
                                                    </div>
                                                    <input type='hidden' name='id_imagen' id="id_imagen" value="">
                                                    <canvas id="tci6fotonuedeb" style="display:none;"></canvas>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="fot_albun">
                                <div id="Albun_DetalladoDev" style="width:100%;height:500px;overflow-y:visible;overflow-x:hidden">
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





