﻿
<div class="tabbable page-tabs" id="tabingresos">
    <ul class="nav nav-tabs">
        <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar Remisión"></span></a></li>
        <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Ver Ingresos"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" ng-class="getTabPaneClass(1)">
            <form id="formmonturas" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span
                                            id="Menu_Empresa" idioma="Registro de Ingreso"></span></a></h3>
                            </div>
                            <div class="col-sm-8 col-xs-12 text-right">
                                <a class="btn btn-warning btn-icon" title="Ayuda" href="javascript:ManualAyuda(1)"><i
                                        class="icon-question3"></i></a>
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar"
                                    ng-click="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="button" id="btnguardar1"
                                    ng-click="GuardarIngreso()">F3 <span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-warning" type="button"
                                    ng-click="ModalCambioCliente()"><span
                                        idioma="Cambio de Cliente/Sede/Remisión"></span></button>

                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-xs-4 col-sm-2 col-sm-2">
                                    <label idioma="NIT/Cédula"></label>
                                    <input type="text" class="form-control" ng_model="Documento"  onkeypress="return NumCheck(event, this,0)" maxlength="12"
                                    ng-blur="BuscarCliente('','')" ng-keyup="ValidarCliente($event)"
                                        pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus
                                        tabindex="0" />
                                </div>
                                <div class="col-xs-8 col-sm-4 col-sm-5">
                                    <label idioma="Nombre del Cliente"></label>
                                    <input type="text" class="form-control" ng-value="Cliente.nombrecompleto"
                                        ng-disabled="true" />
                                </div>
                                <div class="col-xs-4 col-sm-2 col-sm-2">
                                    <label idioma="Remisión"></label>
                                    <input type="text" class="form-control text-XX text-center" onkeypress="return NumCheck(event, $event.target,0)" maxlength="8" ng-blur="BuscarRemision()" ng-model="Remision" id="Remision" ng-keyup="ValidarRemision($event)" tabindex="10" /> 
                                </div>
                                <div class="col-xs-8 col-sm-2 col-sm-2">
                                    <label idioma="Modo de Recepción"></label>
                                    <select ng-model="Recepcion" select2="" ui-select2="{ allowClear: true}" id="Recepcion" tabindex="11"
                                        style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option value="CLIENTE">CLIENTE</option>
                                        <option value="LA MOVIL">LA MOVIL</option>
                                        <option value="CORREO CERTIFICADO">CORREO CERTIFICADO</option>
                                        <option value="EN SITIO">EN SITIO</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-sm-2">
                                    <label idioma="Estado" class="label-info"></label>
                                    <input type="text" class="form-control" ng-value="Registro.estado" id="Estado"
                                        ng-disabled="true" />
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <label idioma="Sede"></label>
                                    <select id="Sede" ng-model="Registro.sede" select2="" ui-select2="{ allowClear: true}" class="ComboCliente" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.sede}}"
                                            ng-repeat="value in Combos.sede" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label idioma="Contacto"></label>
                                    <select id="Contacto" ng-model="Registro.contacto" select2="" ui-select2="{ allowClear: true}"  class="ComboCliente"
                                        ng-change="DatosContacto(Registro.contacto)" style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Registro.contacto}}"
                                            ng-repeat="value in Combos.contacto" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-xs-6 col-sm-3">
                                    <label idioma="Email"></label>
                                    <input type="text" class="form-control" ng-value="Cliente.email"
                                        ng-disabled="true" />
                                </div>
                                <div class="col-xs-6 col-sm-2">
                                    <label idioma="Teléfonos"></label>
                                    <input type="text" class="form-control"
                                        ng-value="Cliente.telefono + ' / ' + Cliente.celular" ng-disabled="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="divAnulaciones" class="col-sm-12 hidden">
                        <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion">Prueba</span></label>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table display  table-bordered hover" width="100%" id="Malla" style="font-size:14px">
                        <thead>
                            <tr class="bg-primary">
                                <th width="10px" height="40px" idioma="Nro"></th>
                                <th width="60px" idioma="Ingreso / fecha <br> usuario"></th>
                                <th width="90px" idioma="Magnitud<br>Equipo-Intervalo"></th>
                                <th width="90px" idioma="Marca<br>Modelo"></th>
                                <th width="40px" idioma="Estado"></th>
                                <th width="40px" idioma="Cantidad"></th>
                                <th width="80px" idioma="Serie"></th>
                                <th width="50px" idioma="Cotización"></th>
                                <th width="30px" idioma="Garantía"></th>
                                <th width="30px" idioma="Sitio"></th>
                                <th width="30px" idioma="Convenio"></th>
                                <th width="120px" idioma="Accesorio"></th>
                                <th width="120px" idioma="Observación"></th>
                                <th width="5px">&nbsp;</th>
                                <th width="5px">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="x in Registro.tabla" ng-dblclick="SelecccionarFila(x, $index)" ng-class="$index % 2 == 0  ? 'bg-gris' :''">
                                <td class="text-center"><b>{{$index+1}}</b></td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.ingreso}}</b><br>Fecha {{x.fechaing}}<br>Usuario {{x.usuario}}
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b> {{x.magnitud}}</b><br>{{x.equipo}}<br>{{x.intervalo}}
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <br><b>{{x.marca}}</b><br>{{x.modelo}}
                                    </div>

                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.estado == 'Temporal'">
                                        <label class='bg-warning'>{{x.estado}}</label>
                                    </div>
                                    <div ng-if="x.estado == 'Cerrado'">
                                        <label class='bg-primary'>{{x.estado}}</label>
                                    </div>
                                    <div ng-if="x.estado == 'Ingresado'">
                                        <label class='bg-success'>{{x.estado}}</label>
                                    </div>
                                    <div ng-if="x.estado != 'Temporal' && x.estado != 'Ingresado' && x.estado != 'Cerrado'">
                                        <label class='bg-default'>{{x.estado}}</label>
                                    </div>
                                    
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.cantidad}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.serie}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.cotizacion}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.garantia}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.sitio}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.convenio}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.idequipo != 0">
                                        <b>{{x.accesorio}}</b>
                                    </div>
                                    <div ng-if="x.idequipo == 0">
                                        &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="x.observacion">
                                        <b>Obser:</b> {{x.observacion}}
                                    </div>
                                </td>
                                <td align='center'><button class='btn btn-danger' title='Eliminar Ingreso' type='button' ng-click="EliminarIngreso(x, $index)"><span data-icon='&#xe0d8;'></span></button></td>
                                <td align='center'><button class='btn btn-success' title='Ver Fotos' type='button' ng-click='InicializarCamara(x)'><span data-icon='&#xe2c7;'></span></button></td></tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr /> 
                <div class="row">
                    <div class="col-md-10">
                        <input type="file" ng-model="OArchivo" id="OArchivo"
                            ng-change="GuardarDocumentoAdjunto(this.id,3,'')" accept="application/pdf"
                            class="form-control" />
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" class="btn btn-glow btn-primary" ng-click="VerRemision()">F1 <span
                                idioma="Ver Remisión"></span></button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn btn-glow-group" role="group">
                            <button class="btn btn-glow btn-info" type="button" title="Buscar Cliente" ng-click="ModalClientes()" >F1 <span idioma="Clientes"></span></button>
                            <button class="btn btn-glow btn-info" type="button" ng-click="ModalArticulos()">F4 <span idioma="Agregar Equipo"></span></button>
                            <button class="btn btn-glow btn-success" id="btnguardar3" type="button" ng-click="GuardarIngreso()">F6 <span idioma="Guardar"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" ng-click="LlamarImprimir()">F7 <span idioma="Imprimir"></span></button>
                            <button class="btn btn-glow btn-danger" id="btnanularped3" type="button" ng-click="AnularIngreso()">F8 <span idioma="Anular"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" ng-click="CambioSede()">F9 <span idioma="Cambio Sede/Dirección"></span></button>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-sm-6  col-sm-6 col-xs-12  ">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-6">
                                        <label idioma="Tipo de Cliente"></label>
                                        <input class="form-control text-XX text-center" ng-value="Cliente.tipocliente"
                                            readonly style="width:100%" ng-disabled="true" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <label idioma="Plazo de Pago"></label>
                                        <input class="form-control text-XX text-center" ng-value="Cliente.plazopago"
                                            readonly style="width:100%" ng-disabled="true" />
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <label idioma="Total Equipos"></label>
                                        <input class="form-control text-XX text-center" id="Totales"  ng-value="Cliente.tcantidad" value="0" readonly
                                            style="width:100%" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <label idioma="Fecha de Registro"></label>
                                        <input class="form-control text-XX text-center" id="FechaReg" ng-value="Cliente.fechareg" readonly
                                            style="width:100%" />
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <label idioma="Usuario"></label>
                                        <input class="form-control text-XX text-center" id="UsuarioReg" ng-value="Cliente.usuarioreg" value="0"
                                            readonly style="width:100%" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <label idioma="Observaciones"></label>
                                        <textarea class="form-control" name="Observaciones" id="Observaciones" ng-value="Cliente.observaciones"
                                            rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
            
            <div class="row">
                <div class="col-xs-4 col-sm-1">
                    <label idioma="Remisión"></label>
                    <input ng-model="Consulta.remision" id="CRemision" class="form-control" />
                </div>
                <div class="col-xs-4 col-sm-1">
                    <label idioma="Recepción"></label>
                    <select type="text"  id="CRecepcion" ng-model="Consulta.recepcion" select2="" ui-select2="{ allowClear: true}"
                        style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option value="CLIENTE">CLIENTE</option>
                        <option value="LA MOVIL">LA MOVIL</option>
                        <option value="CORREO CERTIFICADO">CORREO CERTIFICADO</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-1">
                    <label idioma="Ingreso"></label>
                    <input ng-model="Consulta.ingreso" id="CIngreso" class="form-control" />
                </div>
                <div class="col-xs-4 col-sm-3">
                    <label idioma="Cliente"></label>
                    <select ng-model="Consulta.cliente" select2="" ui-select2="{ allowClear: true}" id="CCliente" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.cliente}}" ng-repeat="value in Combos.cliente"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>

                <div class="col-xs-4 col-sm-2">
                    <label idioma="Estado"></label>
                    <select type="text" id="CEstado" ng-model="Consulta.estado" select2="" ui-select2="{ allowClear: true}"
                        style="width:100%">
                        <option value="0">Todos</option>
                        <option value="Ingresado">Ingresados</option>
                        <option value="Cerrado">Cerradas</option>
                        <option value="Cotizado">Cotizado</option>
                        <option value="Laboratorio">Laboratorio</option>
                        <option value="Calibrado">Calibrado</option>
                        <option value="Anulado">Anuladas</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Fecha Desde"></label>
                    <input type="date" ng-model="Consulta.fechad.value" ng-change="CambioFecha(1,1)" class="form-control" />
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Fecha Hasta"></label>
                    <input type="date" ng-model="Consulta.fechah.value" class="form-control" ng-change="CambioFecha(1,2)" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Magnitudes"></label>
                    <select ng-model="Consulta.magnitud" select2="" ui-select2="{ allowClear: true}" id="CMagnitud" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.magnitud}}" ng-repeat="value in Combos.magnitud"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Equipos"></label>
                    <select ng-model="Consulta.equipo" select2="" ui-select2="{ allowClear: true}" id="CEquipo" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.equipo}}" ng-repeat="value in Combos.equipo"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Marca"></label>
                    <select ng-model="Consulta.marca" select2="" ui-select2="{ allowClear: true}" id="CMarca" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.marca}}" ng-repeat="value in Combos.marca"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Modelos"></label>
                    <select ng-model="Consulta.modelo" select2="" ui-select2="{ allowClear: true}" id="CModelo" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.modelo}}" ng-repeat="value in Combos.modelo"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>


                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Intervalo"></label>
                    <select ng-model="Consulta.intervalo" select2="" ui-select2="{ allowClear: true}" id="CIntervalo" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.intervalo}}"
                            ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Serie"></label>
                    <input ng-model="Consulta.serie" id="CSerie" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-xs-4 col-sm-3">
                    <label idioma="País"></label>
                    <select ng-model="Consulta.pais" select2="" ui-select2="{ allowClear: true}" id="CPais" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.pais}}" ng-repeat="value in Combos.pais"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Departamento"></label>
                    <select ng-model="Consulta.departamento" select2="" ui-select2="{ allowClear: true}" id="CDepartamento" class="ComboConsulta"
                        style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.departamento}}"
                            ng-repeat="value in Combos.departamento" value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <label idioma="Ciudad"></label>
                    <select ng-model="Consulta.ciudad" select2="" ui-select2="{ allowClear: true}" id="CCiudad" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.ciudad}}" ng-repeat="value in Combos.ciudad"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-3">
                    <label idioma="Usuarios"></label>
                    <select ng-model="Consulta.usuario" select2="" ui-select2="{ allowClear: true}" id="CUsuario" class="ComboConsulta" style="width:100%">
                        <option value="">--Seleccione--</option>
                        <option ng-selected="{{value.id == Consulta.usuario}}" ng-repeat="value in Combos.usuario"
                            value="{{value.id}}">{{value.value}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 text-right">
                    <br>
                    <button class="btn btn-glow btn-primary" type="button" ng-click="ConsultarRemisiones()"><span
                            idioma="Buscar"></span></button>
                    <button class="btn btn-glow btn-success" type="button" ng-click="ConsultarRemisiones()"><span
                            idioma="Reporte PDF"></span></button>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <div class="col-md-12">
                    <a class="btn btn-info" download="TablaRemisión.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'TablaRemisiones', 'Registro');">Exportar a Excel</a>
                    <a class="btn btn-primary" download="TablaRemisión.csv" href="#" onclick="return ngTableExcelExport.csv(this, 'TablaRemisiones', 'Registro', ';');">Exportar a CSV - ";" separator - UTF8</a>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="table-responsive" id="ExportarRemisiones">
                        <table class="table display table-bordered hover" show-filter="true" ng-table="TablaRemisiones" id="TablaRemisiones">
                            <tr ng-repeat = "x in $data" ng-dblclick="ObtenerConsulta(x)">
                                <td data-title="''" ><button class='btn btn-glow btn-success imprimir' title='Imprimir Remisión' type='button' ng-click="ImprimirRemision(x.remision, x.estado, 0)"><span data-icon='&#xe0f7;'></span></button></td>
                                <td tittle="Número de remisión" class="text-XX" data-title="'Remisión'" sortable="'remision'" filter="{ 'remision': 'text' }">{{x.remision}}</td>
                                <td title="Recepción" data-title="'Recepción'" sortable="'recepcion'" filter="{ 'recepcion': 'text' }">{{x.recepcion}}</td>
                                <td title="Cotización" data-title="'Cotización'" sortable="'cotizacion'" filter="{ 'cotizacion': 'text' }">{{x.cotizacion}}</td>
                                <td title="Estado de la Remisión" data-title="'Estado'" sortable="'estado'" filter="{ 'estado': 'text' }">{{x.estado}}</td>
                                <td title="NIT/Cédula del cliente" data-title="'NIT/Cédula'" sortable="'documento'" filter="{ 'documento': 'text' }">{{x.documento}}</td>
                                <td title="Razón Social del Cliente" data-title="'Cliente'" sortable="'cliente'" filter="{ 'cliente': 'text' }">{{x.cliente}}</td>
                                <td title="Sede del Cliente" data-title="'Sede'" sortable="'sede'" filter="{ 'sede': 'text' }">{{x.sede}}</td>
                                <td title="Contacto del Cliente" data-title="'Contacto'" sortable="'contacto'" filter="{ 'contacto': 'text' }">{{x.contacto}}</td>
                                <td title="Departamento de la ubicación de la sede del cliente" data-title="'Departamento'" sortable="'departamento'" filter="{ 'departamento': 'text' }">{{x.departamento}}</td>
                                <td title="Ciudad de la ubicación de la sede del cliente" data-title="'Ciudad'" sortable="'ciudad'" filter="{ 'ciudad': 'text' }">{{x.ciudad}}</td>
                                <td title="Teléfono del contacto del Cliente" data-title="'Teléfonos'" sortable="'telefonos'" filter="{ 'telefonos': 'text' }">{{x.telefonos}}</td>
                                <td title="Correo electrónico del contacto del Cliente" data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{x.email}}</td>
                                <td title="Cantidad de equipos" class="text-right" data-title="'Cantidad de equipos'" sortable="'totales'">{{x.totales}}</td>
                                <td title="Fecha de registro de la remisión" data-title="'Fecha/hora'" sortable="'fecha'" filter="{ 'fecha': 'text' }">{{x.fecha}}</td>
                                <td title="Usuario que registró la remisión" data-title="'Usuario'" sortable="'usuario'" filter="{ 'usuario': 'text' }">{{x.usuario}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="tab-pane fade in" ng-class="getTabPaneClass(3)">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Remisión"></label>
                        <input ng-model="ConsultaIngreso.remision" id="ICRemision" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Recepción"></label>
                        <select ng-model="ConsultaIngreso.recepcion" select2="" ui-select2="{ allowClear: true}" id="ICRecepcion" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option value="CLIENTE">CLIENTE</option>
                            <option value="LA MOVIL">LA MOVIL</option>
                            <option value="CORREO CERTIFICADO">CORREO CERTIFICADO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Ingreso"></label>
                        <input name="CIngreso" ng-model="ConsultaIngreso.ingresos" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <label idioma="Cliente"></label>
                        <select ng-model="ConsultaIngreso.cliente" select2="" ui-select2="{ allowClear: true}" id="ICCliente" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.cliente}}" ng-repeat="value in Combos.cliente"
                                value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" ng-model="ConsultaIngreso.fechad.value" ng-change="CambioFecha(2,1)" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" ng-model="ConsultaIngreso.fechah.value" ng-change="CambioFecha(2,2)" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Usuarios"></label>
                        <select ng-model="ConsultaIngreso.usuario" select2="" ui-select2="{ allowClear: true}" id="ICUsuario" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.usuario}}" ng-repeat="value in Combos.usuario"
                                value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitudes"></label>
                        <select ng-model="ConsultaIngreso.magnitud" select2="" ui-select2="{ allowClear: true}" id="ICMagnitud" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.magnitud}}" ng-repeat="value in Combos.magnitud"
                                value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Equipos"></label>
                        <select ng-model="ConsultaIngreso.equipo" select2="" ui-select2="{ allowClear: true}" id="ICEquipo" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.equipo}}" ng-repeat="value in Combos.equipo"
                                value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Marca"></label>
                        <select ng-model="ConsultaIngreso.marca" select2="" ui-select2="{ allowClear: true}" id="ICMarca" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.marca}}" ng-repeat="value in Combos.marca"
                                value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Modelos"></label>
                        <select ng-model="ConsultaIngreso.modelo" select2="" ui-select2="{ allowClear: true}" id="ICModelo" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.modelo}}" ng-repeat="value in Combos.modelo"
                                value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Intervalo"></label>
                        <select ng-model="ConsultaIngreso.intervalo" select2="" ui-select2="{ allowClear: true}" id="ICIntervalo" class="ComboConsulta" style="width:100%">
                            <option value="">--Seleccione--</option>
                            <option ng-selected="{{value.id == ConsultaIngreso.intervalo}}"
                                ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Serie"></label>
                        <input name="CSerie" ng-model="ConsultaIngreso.serie" id="ICSerie" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Sitio"></label>
                        <select ng-model="ConsultaIngreso.sitio" select2="" ui-select2="{ allowClear: true}" id="ICSitio" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Garantía"></label>
                        <select ng-model="ConsultaIngreso.garantia" select2="" ui-select2="{ allowClear: true}" id="ICGarantia" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Convenio"></label>
                        <select ng-model="ConsultaIngreso.convenio" select2="" ui-select2="{ allowClear: true}" id="ICConvenio" style="width:100%">
                            <option value="">--</option>
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-9 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" ng-click="ConsultarIngresos()"><span
                                idioma="Buscar"></span></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-12">
                        <a class="btn btn-info" download="TablaIngreso.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'TablaIngresos', 'Registro');">Exportar a Excel</a>
                        <a class="btn btn-primary" download="TablaIngreso.csv" href="#" onclick="return ngTableExcelExport.csv(this, 'TablaIngresos', 'Registro', ';');">Exportar a CSV - ";" separator - UTF8</a>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <div class="table-responsive" >
                            <table class="table display table-bordered hover" show-filter="true" ng-table="TablaIngresos" id="TablaIngresos">
                                <tr ng-repeat = "x in $data" ng-dblclick="ObtenerConsulta(x)">
                                    <td tittle="Número de ingreso" class="text-XX" data-title="'Ingreso'" sortable="'ingreso'" filter="{ 'ingreso': 'text' }">{{x.ingreso}}</td>
                                    <td tittle="Número de remisión" class="text-XX" data-title="'Remisión'" sortable="'remision'" filter="{ 'remision': 'text' }">{{x.remision}}</td>
                                    <td title="Recepción" data-title="'Recepción'" sortable="'recepcion'" filter="{ 'recepcion': 'text' }">{{x.recepcion}}</td>
                                    <td title="NIT/Cédula del cliente" data-title="'NIT/Cédula'" sortable="'cliente'" filter="{ 'cliente': 'text' }"><span ng-bind-html="x.cliente"></span></td>
                                    <td title="Sede del Cliente" data-title="'Sede/dirección'" sortable="'direccion'" filter="{ 'direccion': 'text' }"><span ng-bind-html="x.direccion"></span></td>
                                    <td title="Contacto del Cliente" data-title="'Contacto/teléfono/correo'" sortable="'contacto'" filter="{ 'contacto': 'text' }"><span ng-bind-html="x.contacto"></span></td>
                                    <td title="Magnitud del equipo" data-title="'Magnitud'" sortable="'magnitud'" filter="{ 'magnitud': 'text' }">{{x.magnitud}}</td>
                                    <td title="Equipo" data-title="'Equipo'" sortable="'equipo'" filter="{ 'equipo': 'text' }">{{x.equipo}}</td>
                                    <td title="Marca del equipo" data-title="'Marca'" sortable="'marca'" filter="{ 'marca': 'text' }">{{x.marca}}</td>
                                    <td title="Modelo del equipo" data-title="'Modelo'" sortable="'modelo'" filter="{ 'modelo': 'text' }">{{x.modelo}}</td>
                                    <td title="Intervalo 1" data-title="'Intervalo'" sortable="'rango1'" filter="{ 'rango1': 'text' }">{{x.rango1}}</td>
                                    <td title="Intervalo 2" data-title="'Intervalo 2'" sortable="'rango2'" filter="{ 'rango2': 'text' }">{{x.rango2}}</td>
                                    <td title="Intervalo 3" data-title="'Intervalo 3'" sortable="'rango3'" filter="{ 'rango3': 'text' }">{{x.rango3}}</td>
                                    <td title="Serie del equipo" data-title="'Serie'" sortable="'serie'" filter="{ 'serie': 'text' }">{{x.serie}}</td>
                                    <td title="Garantía del equipo" data-title="'Garantía'" sortable="'garantia'" filter="{ 'garantia': 'text' }">{{x.garantia}}</td>
                                    <td title="Sitio" data-title="'Sitio'" sortable="'sitio'" filter="{ 'sitio': 'text' }">{{x.sitio}}</td>
                                    <td title="Convenio" data-title="'Convenio'" sortable="'convenio'" filter="{ 'convenio': 'text' }">{{x.convenio}}</td>
                                    <td title="Accesorios del equipo" class="text-right" data-title="'Accesorio'" sortable="'accesorio'" filter="{ 'accesorio': 'text' }">{{x.accesorio}}</td>
                                    <td title="Observación del equipo" data-title="'Observacion'" sortable="'observacion'" filter="{ 'observacion': 'text' }">{{x.observacion}}</td>
                                    <td title="Fecha de registro del ingreso" data-title="'Fecha/hora'" sortable="'fecha'" filter="{ 'fecha': 'text' }">{{x.fecha}}</td>
                                    <td title="Usuario que registró el ingreso" data-title="'Usuario'" sortable="'usuario'" filter="{ 'usuario': 'text' }">{{x.usuario}}</td>
                                    <td title="Número de Cotización" class="text-XX" data-title="'N° cotización'" sortable="'ncotizacion'" filter="{ 'ncotizacion': 'text' }">{{x.ncotizacion}}</td>
                                    <td title="Cotizado" class="text-XX" data-title="'Cotizado'" sortable="'cotizado'" filter="{ 'cotizado': 'text' }">{{x.cotizado}}</td>
                                    <td title="Número de factura" data-title="'N° factura'" sortable="'factura'">{{x.factura}}</td>
                                    <td title="Valor facturado" data-title="'Valor facturado'" sortable="'facturado'">{{x.facturado}}</td>
                                    <td title="Valor ajuste" data-title="'Valor ajuste'" sortable="'ajuste'">{{x.ajuste}}</td>
                                    <td title="Valor suministro" data-title="'Valor suministro'" sortable="'suministro'">{{x.suministro}}</td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="modalCambioEmpresa" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de Cliente"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <h3><span idioma="CLIENTE ACTUAL"></span></h3>
                <div class="form-group row">
                    <div class="form-group">
                        <label class="col-md-2" idioma="Cliente"></label>
                        <div class="col-md-10">
                            <div class="form-control" id="AcCliente">15558285</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Dirección"></label>
                        <div class="col-md-10">
                            <div class="form-control" id="AcDireccion"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Contacto"></label>
                        <div class="col-md-10">
                            <div class="form-control" id="AcContacto"></div>
                        </div>
                    </div>
                    <hr />
                    <h3><span idioma="CAMBIO DE CLIENTE"></span></h3>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Cliente"></label>
                        <div class="col-md-10">
                            <select class="form-control" style="width:100%" id="CaCliente"
                                onchange="CambioSedeContacto(this.value)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Dirección"></label>
                        <div class="col-md-10">
                            <select class="form-control" style="width:100%" id="CaDireccion"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" idioma="Contacto"></label>
                        <div class="col-md-10">
                            <select class="form-control" style="width:100%" id="CaContacto"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span
                        idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" ng-click="CambiarCliente()"><span
                        idioma="Cambiar Cliente"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalArticulos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="spanagregar"
                        idioma="Agregar Equipo"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="tabbable page-tabs" id="tabarticulos">
                    <ul class="nav nav-tabs" style="margin-bottom:0px;">
                        <li ng-class="getTabSerClass(1)" ng-click="setActiveSerTab(1)" ng-show="VisibleServicio[0]"><a><i class="icon-checkbox-partial"></i><span idioma="Instrumenos"></span></a></li>
                        <li ng-class="getTabSerClass(2)" ng-click="setActiveSerTab(2)" ng-show="VisibleServicio[1]"><a><i class="icon-checkmark3"></i><span idioma="Pesas"></span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-ser fade in" ng-class="getTabPaneSerClass(1)" ng-show="VisibleServicio[0]">

                            <div class="row">
                                <div class="col-xs-2 col-sm-6">
                                    <label><span idioma="{{Titulo_Serie}}"></span> <a ng-click="CambiarSerie()"><span
                                                idioma="Cambiar {{Titulo_Serie}}"></span></a></label>
                                    <input class="form-control text-XX" id="Serie" tabindex="36" ng-model="SerieIngreso"
                                        ng-blur="BuscarSerie()" ng-keyup="ValidarSerie($event)" type="text"
                                        ng-disabled="Ingreso.dis_serie" />
                                </div>
                                <div class="col-sm-2">
                                    <br>
                                    <button class="btn btn-glow btn-info" type="button" id="btnguardar1"
                                        ng-click="GenerarSerie()"><span idioma="Generar"></span></button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <label idioma="Magnitud"></label>
                                    <select id="Magnitud" ng-model="Ingreso.magnitud" ng-change="CargarIntervalos(Ingreso.magnitud)" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Ingreso.magnitud}}" ng-repeat="value in Combos.magnitud"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label><a href="javascript:AgregarOpcion(1,'EQUIPO','Equipo')"><span
                                                idioma="Equipos (+)"></span></a></label>
                                    <select ng-model="Ingreso.equipo"
                                    ng-change="MagnitudEquipo(Pesa.equipo,'','','','',1)" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Ingreso.equipo}}" ng-repeat="value in Combos.equipo"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label><a href="javascript:AgregarOpcion(2,'MARCA','Marca')"><span
                                                idioma="Marcas (+)"></span></a></label>
                                    <select ng-model="Ingreso.marca" id="Marca"
                                        ng-change="CargarModelos(Ingreso.marca,'',1)" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Ingreso.marca}}" ng-repeat="value in Combos.marca"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label><a href="javascript:AgregarOpcion(3,'MODELO','Modelo')"><span
                                                idioma="Modelos (+)"></span></a></label>
                                    <select ng-model="Ingreso.modelo" id="Modelo" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Ingreso.dis_campos">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Ingreso.modelo}}" ng-repeat="value in Combos.modelo"
                                            value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <label><a href="javascript:AgregarIntervalo(1)" id="LabIntervalo"><span
                                                idioma="1er Intervalo de Rangos (+)"></span></a></label>
                                    <select id="Intervalo" ng-model="Ingreso.intervalo"
                                        ng-change="BuscarPrecio()" ng-disabled="Ingreso.dis_campos" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                        <option value="0">VER ESPECIFICACIONES</option>
                                        <option ng-selected="{{value.id == Ingreso.intervalo}}"
                                            ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>



                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label><a href="javascript:AgregarIntervalo(2)" id="LabIntervalo"><span
                                                idioma="2do Intervalo de Rangos (+)"></span></a></label>
                                    <select id="Intervalo2" ng-model="Ingreso.intervalo2" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Ingreso.intervalo2}}"
                                            ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>




                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label><a href="javascript:AgregarIntervalo(3)" id="LabIntervalo"><span
                                                idioma="3er Intervalo de Rangos (+)"></span></a></label>
                                    <select id="Intervalo3" ng-model="Ingreso.intervalo3" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected="{{value.id == Ingreso.intervalo3}}"
                                            ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-2 col-sm-3">
                                    <label idioma="Nro Ingreso"></label>
                                    <input class="form-control text-XX text-right" id="Ingreso" tabindex="36" ng-value="Ingreso.ingreso | number:0"
                                        readonly type="text" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-sm-2">
                                    <label idioma="Equipos Agregados"></label>
                                    <input class="form-control text-XX text-right" id="TEquipos" tabindex="36"
                                        ng-model="Ingreso.tcantidad" type="text" ng-disabled="true">
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <label><span idioma="Garantía"></span></label>
                                    <select  ng-model="Ingreso.garantia" id="Garantia" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="NO">NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </div>
                                <div class="col-xs-2 col-sm-2">
                                    <label><span idioma="En Sitio"></span></label>
                                    <select  ng-model="Ingreso.sitio" id="Sitio" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="NO">NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </div>
                                <div class="col-xs-2 col-sm-2">
                                    <label><span idioma="Convenio"></span></label>
                                    <select  ng-model="Ingreso.convenio" id="Convenio" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                        ng-disabled="Ingreso.dis_campos">
                                        <option value="0">NO</option>
                                        <option value="1">SI</option>
                                    </select>
                                </div>
                                <div class="col-xs-2 col-sm-4">
                                    <label><span idioma="{{Titulo_Identificacion}}"></span></label>
                                    <input class="form-control"  ng-model="Ingreso.ident_equipo" id="Convenio" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Ingreso.dis_campos">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-sm-6">
                                    <div><label><a href="javascript:AgregarOpcion(5,'ACCESORIO','SelAccesorio')"><span
                                                    idioma="Accesorios (+)"></span></a></label></div>
                                    <div>
                                        <select  id="SelAccesorio" ng-model="Ingreso.comaccesorio" ng-change="AgregarAcceObser(1)" 
                                            ng-disabled="Ingreso.dis_campos" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                            <option value="">--Seleccione--</option>
                                            <option ng-repeat="value in Combos.accesorio" value="{{value.id}}">{{value.value}}
                                        </select>
                                    </div>
                                    <div>
                                        <textarea class="form-control" id="Accesorio" rows="6" ng-model="Ingreso.accesorio"
                                            ng-disabled="Ingreso.dis_campos"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-sm-6">
                                    <div><label><a href="javascript:AgregarOpcion(6,'OBSERVACIÓN','SelObservacion')"><span
                                                    idioma="Observaciones (+)"></span></a></label>
                                    </div>
                                    <div>
                                        <select id="SelObservacion" ng-model="Ingreso.comobservacion" ng-change="AgregarAcceObser(2)"
                                            ng-disabled="Ingreso.dis_campos" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                            <option value="">--Seleccione--</option>
                                            <option ng-repeat="value in Combos.observacion" value="{{value.id}}">{{value.value}}
                                        </select>
                                    </div>
                                    <div>
                                        <textarea class="form-control" id="Observacion" rows="6" ng-model="Ingreso.observacion"
                                            ng-disabled="Ingreso.dis_campos"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!---------------------SERVICIO DE PESAS------------------------------->
                         <div class="tab-pane pane-ser fade in" ng-class="getTabPaneSerClass(2)" ng-show="VisibleServicio[1]">
                            <div class="row">
                                <div class="col-xs-2 col-sm-6">
                                    <label><span idioma="Serie"></span> <a href="javascript:CambiarSerie()"><span
                                                idioma="Cambiar Serie"></span></a></label>
                                    <input class="form-control text-XX" id="SeriePesa" tabindex="36" ng-model="SeriePesa"
                                        ng-blur="BuscarPesa()" ng-keyup="ValidarPesa($event)" type="text"
                                        ng-disabled="Pesa.dis_serie" />
                                </div>
                                <div class="col-sm-2">
                                    <br>
                                    <button class="btn btn-glow btn-info" type="button" 
                                        ng-click="GenerarSeriePesa()"><span idioma="Generar"></span></button>
                                </div>
                            </div>
                            <hr />
                            <div class=" row">
                                <div class="col-xs-6 col-md-3">
                                    <label><span idioma="Equipos (+)"></span></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(1,2)">Recargar</a>
                                    <select id="EquipoPesa" ng-model="Pesa.equipo"  ng-change="MagnitudEquipo(Pesa.equipo,'','','','',2)" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Pesa.dis_ingreso">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected= "{{value.id == equipo}}" ng-repeat="value in Combos.equipo_pesa" 
                                            value="{{value.id}}">{{value.value}}     
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <label><a ng-click="AgregarOpcion(2,'MARCA','MarcaPesa', Pesa.marca)"><span idioma="Marcas (+)"></span></a></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(2,2)">Recargar</a>                        
                                    <select ng-model="Pesa.marca" id="MarcaPesa" ng-change="CargarModelos(Pesa.marca, '',2)" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Pesa.dis_ingreso">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected= "{{value.id == Pesa.marca}}" ng-repeat="value in Combos.marca_pesa" 
                                            value="{{value.id}}">{{value.value}}     
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <label><a ng-click="AgregarOpcion(3,'MODELO','ModeloPesa')"><span idioma="Modelos (+)"></span></a></label> &nbsp;&nbsp;<a ng-click="RecargarCargarCombos(3,2)">Recargar</a>
                                    <select id="ModeloPesa" ng-model="Pesa.modelo"  ng-change="BuscarPrecio()" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Pesa.dis_ingreso">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected= "{{value.id == Pesa.modelo}}" ng-repeat="value in Combos.modelo_pesa" 
                                            value="{{value.id}}">{{value.value}}     
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <label idioma="Clase"></label>
                                    <select id="ClasePesa"  ng-model="Pesa.clase"  select2="" ui-select2="{ allowClear: true}" style="width:100%;"  ng-change="TablaClases()" ng-disabled="Pesa.dis_ingreso">
                                        <option value="">--Seleccione--</option>
                                        <option ng-selected= "{{value.id == Pesa.clase}}" ng-repeat="value in Combos.clase" 
                                            value="{{value.id}}">{{value.value}}     
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        
                                        <div class="col-xs-12 col-sm-4">
                                            <label><span idioma="Garantía"></span></label>
                                            <select  ng-model="Ingreso.garantia" id="Garantia" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                                ng-disabled="Ingreso.dis_campos">
                                                <option value="NO">NO</option>
                                                <option value="SI">SI</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 col-sm-4">
                                            <label><span idioma="En Sitio"></span></label>
                                            <select  ng-model="Ingreso.sitio" id="Sitio" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                                ng-disabled="Ingreso.dis_campos">
                                                <option value="NO">NO</option>
                                                <option value="SI">SI</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 col-sm-4">
                                            <label><span idioma="Convenio"></span></label>
                                            <select  ng-model="Ingreso.convenio" id="Convenio" select2="" ui-select2="{ allowClear: true}" style="width:100%;"
                                                ng-disabled="Ingreso.dis_campos">
                                                <option value="0">NO</option>
                                                <option value="1">SI</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 col-sm-4">
                                            <label idioma="Equipos Agregados"></label>
                                            <input class="form-control text-XX text-right" id="TEquipos" tabindex="36"
                                                ng-model="Ingreso.tcantidad" type="text" ng-disabled="true">
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <label idioma="Ingreso"></label>
                                            <input class="form-control text-center text-XX" id="IngresoPesa"  tabindex="36" ng-model="Pesa.ingreso" type="text" />
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <label idioma="Cantidad"></label>
                                            <input class="form-control text-center text-XX" id="IngresoPesa"  tabindex="36" ng-model="Pesa.ingreso" type="text" />
                                        </div>
                                        <div class="col-xs-2 col-sm-12">
                                            <label><span idioma="Id Interno"></span></label>
                                            <input class="form-control"  ng-model="Ingreso.ident_equipo" id="Convenio" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Ingreso.dis_campos">
                                        </div>
                                    </div>
                                    <div class=" row">
                                        <div class="col-sm-12">
                                            <label idioma="Id Interno"></label>
                                            <input class="form-control" id="Serie" tabindex="36" ng-model="Servicio.Serie"
                                                type="text" ng-model="Servicio.Ident_Equipo" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <br />
                                    <div class="table-responsive">
                                        <table class="table table-bordered display scroll">
                                            <thead>
                                                <tr>
                                                    <th>Nominal</th>
                                                    <th>CMC</th>
                                                    <th width="15%">Cant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in Pesa.tabla_clase" ng-class="$index % 2 == 0  ? 'bg-gris' :''">
                                                    <td>{{x.nominal}}</td>
                                                    <td class="text-right">{{x.cmc}}</td>
                                                    <td class="text-right">{{x.precio | number : 2}}</td>
                                                    <td><input ng-Model="Pesa.tabla_clase[$index].cantidad" class='sinbordecon text-right text-XX'  ng-keyup="CalcularPreClase($event.target, $index)"></td>
                                                    <td class="text-right">{{Pesa.tabla_clase[$index].subtotal | number : 2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-sm-6">
                                    <div><label><a href="javascript:AgregarOpcion(5,'ACCESORIO','SelAccesorio')"><span
                                                    idioma="Accesorios (+)"></span></a></label></div>
                                    <div>
                                        <select  id="SelAccesorio" ng-model="Ingreso.comaccesorio" ng-change="AgregarAcceObser(1)" 
                                            ng-disabled="Ingreso.dis_campos" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                            <option value="">--Seleccione--</option>
                                            <option ng-repeat="value in Combos.accesorio" value="{{value.id}}">{{value.value}}
                                        </select>
                                    </div>
                                    <div>
                                        <textarea class="form-control" id="Accesorio" rows="6" ng-model="Ingreso.accesorio"
                                            ng-disabled="Ingreso.dis_campos"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-sm-6">
                                    <div><label><a href="javascript:AgregarOpcion(6,'OBSERVACIÓN','SelObservacion')"><span
                                                    idioma="Observaciones (+)"></span></a></label>
                                    </div>
                                    <div>
                                        <select id="SelObservacion" ng-model="Ingreso.comobservacion" ng-change="AgregarAcceObser(2)"
                                            ng-disabled="Ingreso.dis_campos" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                            <option value="">--Seleccione--</option>
                                            <option ng-repeat="value in Combos.observacion" value="{{value.id}}">{{value.value}}
                                        </select>
                                    </div>
                                    <div>
                                        <textarea class="form-control" id="Observacion" rows="6" ng-model="Ingreso.observacion"
                                            ng-disabled="Ingreso.dis_campos"></textarea>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-default" type="button" ng-click="LimpiarIngresoTodo()"><span
                        idioma="Limpiar"></span></button>
                <button class="btn btn-glow btn-success" type="button" id="AgregarIngreso"
                    ng-click="GuardarIngreso()"><span idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                        idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


<div id="modalIntervalo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Intervalo de Medición"></span>
                </h4>
                <input type="hidden" id="NumIntervalo" value="1" />
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <label><a href="javascript:AgregarOpcion(4,'MEDIDA','IMedida')"><span
                                    idioma="Unidades de Medida (+)"></span></a></label>
                        <select name="IMedida" id="IMedida" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Desde"></label>
                        <input name="IDesde" id="IDesde" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Hasta"></label>
                        <input name="IHasta" id="IHasta" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                        idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" ng-click="GuardarIntervalo()"><span
                        idioma="Guardar"></span></button>
            </div>

        </div>
    </div>
</div>


<div id="enviar_remision" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span
                            idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required
                                title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdfremision" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                            idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span
                            idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

