﻿<div class="row col-sm-12">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Recibir Ingreso sin Certificado e Informe"></span></a></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                            <button class="btn btn-glow btn-success" type="button" id="btnguardar" onclick="Guardar()"><span idioma="Guardar"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="VerFotos()"><span idioma="Ver Fotos"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="CargarModalEmpresa()"><span idioma="Datos de la Empresa"></span></button>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-2">
                                <label idioma="Nró Ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngreso(this.value, event,'1')" pattern="[0-9]{1,12}" max="12" min="1" name="Ingreso" id="Ingreso" autofocus tabindex="0" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Remisión"></label>
                                <input type="text" class="form-control text-center text-XX" id="Remision" disabled />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Especialista Reportó"></label>
                                <input type="text" class="form-control" id="Usuario" disabled />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Fecha de Ingreso"></label>
                                <input type="text" class="form-control" id="FechaIng" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Tiempo Trans"></label>
                                <input type="text" class="form-control" id="Tiempo" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-4">
                                <label idioma="Magnitud"></label><br>
                                <input type="text" class="form-control" name="Magnitud" id="Magnitud" readonly />
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <label idioma="Equipo"></label><br>
                                <input type="text" class="form-control" name="Equipo" id="Equipo" readonly />
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label idioma="Rango"></label><br>
                                <input type="text" class="form-control" name="Rango" id="Rango" readonly />
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <label idioma="Marca"></label>
                                <input type="text" class="form-control" name="Marca" id="Marca" readonly />
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <label idioma="Modelo"></label>
                                <input type="text" class="form-control" name="Modelo" id="Modelo" readonly />
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <label idioma="Serie" class="label-info"></label>
                                <input type="text" class="form-control" name="Serie" id="Serie" readonly />
                            </div>


                            <div class="col-xs-12 col-sm-6">
                                <label idioma="Observación de Ingreso"></label><br>
                                <textarea class="form-control" id="Observacion" rows="7" name="Observacion" readonly />
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label idioma="Observación del Especialista"></label><br>
                                <textarea class="form-control" id="Observaesp" rows="7" name="Observaesp" readonly />
                            </div>


                        </div>
                        <div id="registrorecibiring">

                        </div>
                        <hr />
                        <h3><span idioma="DATOS DE RECIBIR INGRESO EN LOGISTICA"></span></h3>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-6 col-sm-4">
                                <label idioma="Asesor que Entrega"></label><br>
                                <select id="Asesor" name="Asesor" class="form-control" style="width:100%" />
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <label idioma="Ubicacion"></label><br>
                                <select id="Ubicacion" name="Ubicacion" class="form-control" style="width:100%" />
                            </div>
                            <div class="col-xs-6 col-sm-4 text-right">
                                <br />
                                <button class="btn btn-glow btn-danger" type="button" onclick="EliminarRecIngresoNO()"><span idioma="Eliminar Recibido"></span></button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-sm-12">
                                <label idioma="Observación del Asesor para la devolución"></label><br>
                                <textarea type="file" id="Observaciones" name="Observaciones" rows="5" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos Recibidos"></span></a></h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label idioma="Fecha Inicio"></label>
                                <input type="date" class="form-control" id="FechaInicio" />
                            </div>
                            <div class="col-md-3">
                                <label idioma="Fecha Final"></label>
                                <input type="date" class="form-control" id="FechaFin" />
                            </div>
                            <div class="col-md-3">
                                <label idioma="Especialista"></label>
                                <select class="form-control" style="width:100%" id="Especialista" />
                            </div>
                            <div class="col-md-2 text-right">
                                <br>
                                <button type="button" class="btn btn-glow btn-primary" onclick="ConsultarRecibidoIng()">Buscar</button>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" id="TablaReportar">
                                <thead>
                                    <tr>
                                        <th width="5%">Nro</th>
                                        <th width="5%" idioma="Ubicación"></th>
                                        <th width="10%" idioma="Ingreso"></th>
                                        <th width="25%" idioma="Equipo"></th>
                                        <th width="30%" idioma="Observación"></th>
                                        <th width="10%" idioma="Asesor"><br>Entrega<br>Recibe</th>
                                        <th width="10%" idioma="Fecha"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetalleIng" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulodetalle"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group">
                    <div id="detallemovimiento"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>
