﻿<div class="tabbable page-tabs" id="tab-usuarios">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro Personal de Entrada y Salida"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Visitas"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-7">
                    <form id="formPersonal" style="background-color:white">
                        <input type="hidden" name="IdPersonal" id="IdPersonal" value="0" />
                        <input type="hidden" id="IdVisita" value="0" />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Entrada y Salida"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" ng-click="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Documento"></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="Documento" name="Documento" onkeypress="return NumCheck(event, this,0)" onblur="BuscarPersonal(this.value)" onkeyup="ValidarPersonal(this.value)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Nombres" id="Nombres" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Cargo"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Cargo" id="Cargo" required>
                                    </div>
                                </div>
                                                                
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Empresa"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Empresa" id="Empresa" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="País"></label>
                                    <div class="col-sm-6">
                                        <select type="text" class="form-control" name="Pais" onchange="CambioDepartamento(this.value)" id="Pais" style="width:100%" required />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma= "Departamento"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" id="Departamento" onchange="CambioCiudad(this.value)" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma= "Ciudad"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="Ciudad" id="Ciudad" style="width:100%" required />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma= "Teléfono-Empresa"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="Telefonos" id="Telefonos" class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Celular"></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="Celular" name="Celular" class="form-control" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Correo Personal"></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="CorreoPersonal" id="CorreoPersonal">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="EPS"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="EPS" id="EPS" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="ARL"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="ARL" id="ARL" style="width:100%" required />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Contacto-Emergencias"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="Contacto" id="Contacto" class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Telefonos"></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="TelefonosEmer" name="TelefonosEmer" class="form-control" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Motivo Visita"></label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" name="Motivo" id="Motivo" rows="2" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Área a Visitar"></label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" name="Area" id="Area" rows="2" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Responsable Interno"></label>
                                    <div class="col-sm-4">
                                        <select type="text" class="form-control" name="Responsable" id="Responsable" style="width:100%" required />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Uso de EPP"></label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" class="form-control" name="EPP" id="EPP" style="width:100%"  />
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Documento Entregado">:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="DocumentoEntr" id="DocumentoEntr" style="width:100%" required>
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Cedula">Cédula</option>
                                            <option value="Carnet de Trabajo">Carnet de Trabajo</option>
                                            <option value="Carnet Estudiantil">Carnet Estudiantil</option>
                                            <option value="Licencia de Conducir">Licencia de Conducir</option>
                                            <option value="Otro">Otro Documento</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 text-right">
                                        <button class="btn btn-glow btn-primary" type="button" ng-click="SubirFoto(2)"><span idioma="SubirFoto"></span></button>
                                        <button class="btn btn-glow btn-success" type="button" ng-click="VerDocumento()"><span idioma="VerDocumento"></span></button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Fecha Entrada"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="FechaEntrada" id="FechaEntrada" class="form-control" disabled>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Fecha Salida"></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="FechaSalida" name="FechaSalida" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Foto de la visita"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <div class="form-group row">
                                    <img  id="ImagenPersona" src="../Adjunto/imagenes/img_avatar.png" height="300px" />
                                </div>
                                <div class="form-group row">
                                    <button class="btn btn-glow btn-success" type="button" ng-click="SubirFoto(1)"><span idioma="Subir Foto">Subir Foto</span></button>
                                </div>
                            </div>
                            <h3><span idioma="Historial de Visitas"></span></h3>
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaVisitasPers">
                                    <thead>
                                        <tr>
                                            <th width="40%" idioma="Motivo"></th>
                                            <th width="40%" idioma="Empresa"></th>
                                            <th width="10%" idioma="Fecha"><br>Entrada</th>
                                            <th width="10%" idioma="Fecha"><br>Salida</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Consultar Usuarios"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Empresa"></label>
                                    <input class="form-control" id="CEmpresa" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Visitante"></label>
                                    <input class="form-control" id="CVisitante" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Motivo"></label>
                                    <input class="form-control" id="CMotivo" />
                                </div>

                                <div class="col-md-2">
                                    <label idioma="Fecha Desde"></label>
                                    <input class="form-control" type="date" id="CDesde" />
                                </div>

                                <div class="col-md-2">
                                    <label idioma="Fecha Hasta"></label>
                                    <input class="form-control" type="date" id="CHasta" />
                                </div>
                                
                                <div class="col-md-2 text-right">
                                    <br />
                                    <button class="btn btn-glow btn-primary" title="Limpiar" type="button" ng-click="ConsultarVisitas()"><span idioma="Consultar"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table display  table-bordered hover" id="TablaPersonaVisita">
                                            <thead>
                                                <tr>
                                                    <th width="10%">&nbsp;</th>
                                                    <th width="3%">ID</th>
                                                    <th width="20%" idioma="Empresa"></th>
                                                    <th width="20%" idioma="Visitante"></th>
                                                    <th width="10%" idioma="Teléfono"><br>Celular</th>
                                                    <th width="10%" idioma="Cargo"></th>
                                                    <th width="10%" idioma="Correo Personal"></th>
                                                    <th width="20%" idioma="Motivo"></th>
                                                    <th width="10%" Idioma="Fecha Entrada"></th>
                                                    <th width="10%" idioma="Fecha Salida"></th>
                                                    <th width="10%" idioma="País"></th>
                                                    <th width="10%" idioma="Departamento"></th>
                                                    <th width="10%" idioma="Ciudad"></th>
                                                    <th width="10%" idioma="Usuario"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalFotoPer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-foto">
        <div class="modal-content">
            <input type="hidden" value="0" id="TipoFoto"/>
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="titulotipofoto" idioma="Foto del Personal"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div id="my_cameraperso" style="width:0px; height:0px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" ng-click="TomarFoto()"><span idioma="Tomar Foto"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalFotoDocumento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Foto del Documento"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row text-center">
                    <img id="FotoDocumento" width="100%"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalFotoPersona" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Foto de la Visita"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row text-center">
                    <img id="FotoVisita" width="100%" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalVisita" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Detalle de la Visita"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Documento"></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="MoDocumento" disabled>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="MoNombres" disabled>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Cargo"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="MoCargo" disabled>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Empresa"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="MoEmpresa" disabled>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="País"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoPais" class="form-control" disabled>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Departamento"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoDepartamento" class="form-control" disabled>
                    </div>
                    <label class="col-sm-2 control-label text-right" idioma="Ciudad"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoCiudad" class="form-control" disabled>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Teléfono-Empresa"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoTelefonos" class="form-control" disabled>
                    </div>
                    <label class="col-sm-2 control-label text-right" idioma="Celular"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoCelular" class="form-control" disabled>
                    </div>
                </div>


                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Correo Personal"></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="MoCorreoPersonal" disabled>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="EPS"></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="MoEPS" disabled />
                    </div>
                    <label class="col-sm-2 control-label text-right" idioma="ARL"></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="MoARL" disabled />
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Contacto-Emergencias"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoContacto" class="form-control" disabled>
                    </div>
                    <label class="col-sm-2 control-label text-right" idioma="Telefonos"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoTelefonosEmer" class="form-control" disabled>
                    </div>
                </div>


                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Motivo Visita"></label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="MoMotivo" rows="2" disabled></textarea>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Área a Visitar"></label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="MoArea" rows="2" disabled></textarea>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Responsable Interno"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoResponsable" class="form-control" disabled>
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Uso de EPP"></label>
                    <div class="col-sm-1">
                        <input type="checkbox" class="form-control" id="MoEPP" disabled />
                    </div>
                </div>


                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Documento Entregado"></label>
                    <div class="col-sm-4">
                        <input class="form-control" disabled id="MoDocumentoEntr">
                    </div>
                </div>

                <div class=" row">
                    <label class="col-sm-2 control-label" idioma="Fecha Entrada"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoFechaEntrada" class="form-control" disabled>
                    </div>
                    <label class="col-sm-2 control-label text-right" idioma="Fecha Salida"></label>
                    <div class="col-sm-4">
                        <input type="text" id="MoFechaSalida" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>




