﻿
<div class="tabbable page-tabs" id="tabsalida">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta Salida y Entradas"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formmonturas" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Salida de Equipos"></span></a></h3>
                            </div>
                            <div class="col-sm-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="button" id="btnguardar1" onclick="GuardarSalida()">F3 <span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-warning " type="button" id="btnenviar" onclick="EnviarOrden()">F4 <span idioma="Enviar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-xs-4 col-sm-2 col-sm-2">
                                    <label idioma="NIT/Cédula"></label>
                                    <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="15" onblur="BuscarProveedor(this.value)" onkeyup="ValidarProveedor(this.value)" pattern="[0-9]{1,15}" max="15" min="1" name="Proveedor" id="Proveedor" autofocus tabindex="0" />
                                </div>
                                <div class="col-xs-10 col-sm-4 col-sm-5">
                                    <label idioma="Nombre del Proveedor"></label><br>
                                    <input type="text" class="form-control" name="NombreProveedor" id="NombreProveedor" disabled />
                                </div>
                                <div class="col-xs-4 col-sm-1">
                                    <label idioma="Salida"></label>
                                    <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="15" onblur="BuscarSalida(this.value)" pattern="[0-9]{1,15}" max="15" min="1" name="Salida" id="Salida" autofocus tabindex="11" />
                                </div>
                                <div class="col-xs-4 col-sm-1">
                                    <label idioma="Orden"></label>
                                    <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="15" onblur="BuscarOrdenSal(this.value)" pattern="[0-9]{1,15}" max="15" min="1" name="Orden" id="Orden" autofocus tabindex="11" />
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label idioma="Ciudad/Departamento"></label>
                                    <input type="text" class="form-control" name="Ciudad" id="Ciudad" readonly tabindex="11" />
                                </div>
                                <div class="col-xs-4 col-sm-1">
                                    <label idioma="Estado"></label>
                                    <input type="text" class="form-control" name="Estado" id="Estado" value="Temporal" readonly />
                                </div>

                                <div class="hidden-xs col-sm-4 col-sm-4">
                                    <label idioma="Dirección"></label><br>
                                    <input type="text" class="form-control" name="Direccion" id="Direccion" readonly />
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <label idioma="Teléfonos"></label>
                                    <input type="text" class="form-control" name="Telefonos" id="Telefonos" disabled />
                                </div>

                                <div class="col-xs-4 col-sm-5 col-sm-2">
                                    <label idioma="Email"></label>
                                    <input type="text" class="form-control" name="Email" id="Email" readonly />
                                </div>

                                <div class="col-xs-4 col-sm-5 col-sm-4">
                                    <label idioma="Cliente"></label>
                                    <select class="form-control" name="Cliente" id="Cliente" tabindex="1" onchange="TablaSalida(this.value)" style="width:100%"></select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="SaldoClienteDev"></div>
                    <div class="col-md-12" id="divAnulaciones"></div>
                </div>

                <div class="table-responsive">
                    <table class="table display -bordered" width="100%" id="Malla" style="font-size:14px">
                        <thead>
                            <tr class="bg-primary">
                                <th width="3%" height="40px"><input type="checkbox" id="seleccionatodo" onchange="SeleccionarTodo()" class="form-control" /></th>
                                <th width="10%" height="40px">Ingreso</th>
                                <th width="10%" idioma="Instrumento/Equipo"></th>
                                <th width="10%" idioma="Marca"></th>
                                <th width="10%" idioma="Modelo"></th>
                                <th width="7%" idioma="Intervalo"></th>
                                <th width="7%" idioma="Serie"></th>
                                <th width="7%" idioma="Nro Orden"></th>
                                <th width="15%" idioma="Accesorio"></th>
                                <th width="7%" idioma="Retornado"></th>
                                <th width="15%" idioma="Observación<br>Retorno"></th>
                                <th width="3%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="bodySalida"></tbody>
                    </table>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn btn-glow-group" role="group">
                            <button type="button" class="btn btn-glow btn-info" onclick="javascript:ModalProveedores()">F1 <span idioma="Proveedores"></span></button>
                            <button class="btn btn-glow btn-info" type="button" onclick="CargarOIngreso()">F4 <span idioma="Agregar Ingreso"></span></button>
                            <button class="btn btn-glow btn-success" type="button" onclick="GuardarSalida()">F6 <span idioma="Guardar"></span></button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ImprimirSalida(0)">F7 <span idioma="Imprimir"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="AnularSalida()">F8 <span idioma="Anular"></span></button>
                            <button class="btn btn-glow btn-success" type="button" onclick="RecibirEquipo()">F9 <span idioma="Retornar Equipo"></span></button>
                        </div>
                    </div>
                </div>
                <hr />
                <h3><span idioma="DATOS DEL CERTIFICADO"></span></h3>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label idioma="A NOMBRE DE"></label>
                        <input type="text" class="form-control" id="NombreCer" />
                    </div>
                    <div class="col-md-8">
                        <label idioma="Dirección"></label>
                        <input class="form-control" id="DireccionCer" />
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-2">
                        <label idioma="MOTIVO SALIDA"></label>
                        <select class="form-control" id="Motivo" style="width:100%" />
                    </div>
                    <div class="col-md-10">
                        <label idioma="Observación"></label>
                        <input class="form-control" id="Observacion" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h3><span idioma="DATOS DE LA SALIDA"></span></h3>
                        <div class="form-group row">
                            <div class="col-sm-4 col-xs-6">
                                <label idioma="Fecha"></label>
                                <input type="date" class="form-control text-XX text-center" id="FechaSalida" />
                            </div>
                            <div class="col-sm-8 col-xs-6">
                                <label idioma="Usuario"></label>
                                <input class="form-control text-XX text-center" id="UsuarioSalida" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <h3><span idioma="DATOS DEL RETORNO">DATOS DEL RETORNO</span></h3>
                        <div class="form-group row">
                            <div class="col-sm-3 col-xs-6">
                                <label idioma="Fecha"></label>
                                <input class="form-control text-XX text-center" id="FechaRetorno" readonly style="width:100%" />
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <label idioma="Items Retornados"></label>
                                <input class="form-control text-XX text-center" id="EquipoRetorno" value="0" readonly style="width:100%" />
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label idioma="Usuario"></label>
                                <input class="form-control text-XX text-center" id="UsuarioRetorno" readonly style="width:100%" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Salida"></label>
                        <input name="CSalida" id="CSalida" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Ingreso"></label>
                        <input name="CIngreso" id="CIngreso" class="form-control" />
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <label idioma="Proveedor"></label>
                        <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%" />
                    </div>

                    <div class="col-xs-4 col-sm-4">
                        <label idioma="Cliente"></label>
                        <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Motivo Salida"></label>
                        <select name="CMotivo" id="CMotivo" class="form-control" style="width:100%" />
                    </div>


                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitudes"></label>
                        <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Equipos"></label>
                        <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Marca"></label>
                        <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Modelos"></label>
                        <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Intervalo"></label>
                        <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Serie"></label>
                        <input name="CSerie" id="CSerie" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Usuarios"></label>
                        <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Estado"></label>
                        <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                            <option value="T">TODOS</option>
                            <option value="Salida">Salida</option>
                            <option value="Recibido">Recibido</option>
                            <option value="Anulado">Anulado</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Retorno"></label>
                        <select name="CRetorno" id="CRetorno" class="form-control" style="width:100%">
                            <option value="T">TODOS</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-2 col-sm-2 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsularSalida()"><span idioma="Buscar"></span></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" id="TablaSalida" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                            <thead>
                                <tr>
                                    <th width="3%">&nbsp;</th>
                                    <th width="3%"><span idioma="Salida"></span></th>
                                    <th width="15%"><span idioma="Proveedor"></span></th>
                                    <th width="15%"><span idioma="Cliente"></span></th>
                                    <th><span idioma="Motivo Salida"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Cantidad Items"></span></th>
                                    <th><span idioma="Fecha Salida"></span></th>
                                    <th><span idioma="Items Retornados"></span></th>
                                    <th><span idioma="Fecha Retornes"></span></th>
                                    <th><span idioma="Anulado"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="modalIngresoSalida" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalingresosalida">
                        <thead>
                            <tr>
                                <th><span idioma="Remisión"></span></th>
                                <th><span idioma="Ingresos"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="serie"></span></th>
                                <th><span idioma="Asesor"></span></th>
                                <th><span idioma="Observación"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalRetornarEquipo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetSalida"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered">
                        <thead>
                            <tr>
                                <th width="3%"><span idioma="#"></span></th>
                                <th width="5%"><span idioma="Ingreso"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="Marca<br>Modelo"></span></th>
                                <th><span idioma="Intervalo<br>Serie"></span></th>
                                <th width="15%"><span idioma="Accesorio"></span></th>
                                <th width="20%"><span idioma="Observación<br>Retorno"></span></th>
                                <th width="3%">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="TBRetorno"></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button"><span idioma="Recibir Equipo" onclick="RetornarEquipo()"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalIngresoSalida" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalingresosalida">
                        <thead>
                            <tr>
                                <th><span idioma="Remisión"></span></th>
                                <th><span idioma="Ingresos"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="serie"></span></th>
                                <th><span idioma="Asesor"></span></th>
                                <th><span idioma="Observación"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>



