﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabsolicitudes">
            <ul class="nav nav-tabs">
                <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i
                            class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
                <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i
                            class="icon-checkmark3"></i><span idioma="Consultar Solicitud"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" ng-class="getTabPaneClass(1)">
                    <form id="formsolicitud" style="background-color:white">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span
                                                    id="Menu_Empresa" idioma="Registro de Solicitud"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar"
                                            ng-click="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit">F3 <span
                                                idioma="Generar Solicitud"></span></button>
                                        <button class="btn btn-glow btn-warning" type="button"
                                            ng-click="ModalCambioCliente()"><span
                                                idioma="Cambio de Cliente/Sede/Remisión"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-md-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" ng-model="Documento" tabindex="0" ng-blur="BuscarClienteSol(0)" id="Cliente" ng-keyup="ValidarCliente($event)" autofocus />
                                        </div>
                                        <div class="col-xs-10 col-sm-4 col-sm-5">
                                            <label idioma="Nombre del Cliente"></label>
                                            <input type="text" class="form-control" ng-model="Cliente.nombrecompleto"
                                                id="NombreCliente" ng-disabled="true" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Solicitud"></label>
                                            <input type="text" class="form-control text-XX text-center"
                                                onkeypress="return NumCheck(event, this,0)" maxlength="8"
                                                ng-blur="BuscarSolicitud(0)" ng-keyup="ValidarSolicitud($event)"
                                                pattern="[0-9]{1,7}" max="7" min="1" ng-model="Solicitud" id="Solicitud"
                                                tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Remisión"></label>
                                            <input type="text" class="form-control text-XX text-center"
                                                onkeypress="return NumCheck(event, this,0)" maxlength="8"
                                                ng-blur="BuscarRemisiom(0)" ng-keyup="ValidarRemision($event)"
                                                pattern="[0-9]{1,7}" max="7" min="1" ng-model="Remision" id="Remision"
                                                tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Estado" class="label-info"></label>
                                            <input type="text" class="form-control" ng-value="Registro.estado"
                                                ng-disabled="true" />
                                        </div>

                                        <div class="col-xs-12 col-md-4 col-sm-4">
                                            <label idioma="Sede"></label><br>
                                            <select id="Sede" ng-model="Registro.sede" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                                <option value="">--Seleccione--</option>
                                                <option ng-selected= "{{value.id == Registro.sede}}" ng-repeat="value in Combos.sede" 
                                                    value="{{value.id}}">{{value.value}}     
                                                </option>
                                            </select>

                                        </div>
                                        <div class="col-xs-12 col-md-3 col-sm-3">
                                            <label idioma="Contacto"></label><br>
                                            <select id="Contacto" ng-model="Registro.contacto" ng-change="DatosContacto(Registro.contacto)" select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                                                <option value="">--Seleccione--</option>
                                                <option ng-selected= "{{value.id == Registro.contacto}}" ng-repeat="value in Combos.contacto" 
                                                    value="{{value.id}}">{{value.value}}     
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-xs-4 col-sm-3 col-sm-3">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" ng-value="Cliente.email"
                                                ng-disabled="true" id="Email" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-sm-3">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control"
                                                ng-value="Cliente.telefono + ' / ' + Cliente.celular" ng-disabled="true"
                                                id="Telefonos" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="SaldoClienteDev"></div>

                        <div class="row">
                            <div id="divAnulaciones" class="col-md-12">

                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" width="100%" style="font-size:14px">
                                <thead>
                                    <tr class="bg-primary">
                                        <th width="3%">Nro</th>
                                        <th width="3%" idioma="Ingreso"></th>
                                        <th width="20%" idioma="Equipo"></th>
                                        <th width="3%" idioma="Cant"></th>
                                        <th width="10%" idioma="Servicio<br>Otro Servicio<br>Producto o Suministro">
                                        </th>
                                        <th width="20%"><span idioma="Punto Específico"></span><br><span
                                                idioma="Punto Método"></span></th>
                                        <th width="15%"><span idioma="A Nombre de/"></span><br><span
                                                idioma="Dirección de"></span></th>
                                        <th width="18%"><span idioma="Declaración de"></span><br><span
                                                idioma="Conformidad"></span></th>
                                        <th width="18%" idioma="Observación"></th>
                                        <th width="15%"><span idioma="Proxima Calibractión/"></span><br><span
                                                idioma="Certificado"></span></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in Registro.tabla" ng-dblclick="SelecccionarFila(x, $index)" ng-class="$index % 2 == 0  ? 'bg-gris' :''">
                                        <td class="text-center"><b>{{$index+1}}</b></td>
                                        <td>{{x.ingreso}}</td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0">
                                                <b>{{x.magnitud}}</b><br>{{x.equipo}}<br><b>{{x.marca}}</b><br>{{x.modelo}}<br><b>
                                                    <div ng-if="x.proxima != ''"></div>{{x.intervalo}}
                                                </b></div>
                                        </td>

                                        <td class="text-center">{{x.cantidad}}</td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0"><b>Acreditado:
                                                </b>{{x.acreditado}}<br><b>Sitio: </b>{{x.sitio}}<br><b>Express:
                                                </b>{{x.express}}<br><b>SubContratado: </b>{{x.subcontratado}}</div>
                                            <div ng-if="x.idarticulo > 0">{{x.observacion}}</div>
                                            <div ng-if="x.idotroservicio > 0"><b>{{x.otroservicio}}</b><br><b>Obser: </b>{{x.observacion}}</div>
                                            
                                        </td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0"><b>{{x.punto}}</b><br>{{x.metodo}}</div>
                                        </td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0"><b>{{x.nombreca}}</b><br>{{x.direccion}}
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0">{{x.declaracion}}</div>
                                        </td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0">{{x.observacion}}</div>
                                        </td>
                                        <td>
                                            <div ng-if="x.idarticulo == 0&&x.idotroservicio == 0">
                                                <div ng-if="x.proxima != ''"><b>{{x.proxima}}</b><br>{{x.certificado}}
                                                </div>
                                                <div ng-if="x.proxima == ''">{{x.certificado}}</div>
                                            </div>
                                        </td>
                                        <td><button class="btn btn-glow btn-danger" title="Eliminar Item" type="button"
                                                ng-click="EliminarItem(x, $index)"><span
                                                    data-icon="&#xe0d7;"></span></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="btn btn-glow-group" role="group">
                                <button type="button" class="btn btn-glow btn-info btn-icon2" title="Buscar Cliente" ng-click="ModalClientes('')"><span class="hidden-xs"style="font-size:20px">F3<br></span><span style="font-size:30px;"data-icon="&#xe03d;"></span></button>
                                <button type="button" class="btn btn-glow btn-info btn-icon2"
                                    title="Agregar Equipo de Calibración" ng-click="BuscarServicio()"><span class="hidden-xs" style="font-size:20px">F4<br></span><span style="font-size:30px; margin-bottom:-10px; margin-top:-20px;"data-icon="&#xe2b5;"></span></button>
                                <button type="button" class="btn btn-glow btn-info  btn-icon2"
                                    title="Agregar Otro Servicio" ng-click="ModalOServicio()"><span
                                        class="hidden-xs" style="font-size:20px">F6<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe2bb;"></span></button>
                                <button type="button" class="btn btn-glow btn-primary btn-icon2" title="Agregar Ingreso"
                                    ng-click="ModalIngreso()"><span class="hidden-xs"
                                        style="font-size:20px">F7<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe2be;"></span></button>
                                <button type="button" class="btn btn-glow btn-primary btn-icon2"
                                    title="Agregar Artículo de inventario" ng-click="ModalArticulos()"><span
                                        class="hidden-xs" style="font-size:20px">F7<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe140;"></span></button>
                                <button class="btn btn-glow btn-success btn-icon2" title="Generar Solicitud"
                                    type="submit"><span class="hidden-xs" style="font-size:20px">F10<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe2ab;"></span></button>
                                <button class="btn btn-glow btn-primary btn-icon2" title="Imprimir Solicitud"
                                    type="button" ng-click="ImprimirSolicitud(Registro.solicitud)"><span
                                        class="hidden-xs" style="font-size:20px">F11<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe0f8;"></span></button>
                                <button class="btn btn-glow btn-warning btn-icon2" title="Reemplazar Cotización"
                                    type="button" ng-click="ReemplazarSolicitud()"><span class="hidden-xs"
                                        style="font-size:20px">Alt+F6<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe333;"></span></button>
                                <button class="btn btn-glow btn-warning btn-icon2" title="Importar Cotización"
                                    type="button" ng-click="ImportarSolicitud()"><span class="hidden-xs"
                                        style="font-size:20px">Alt+F7<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe268;"></span></button>
                                <button class="btn btn-glow btn-danger btn-icon2" title="Anular Solicitud" type="button"
                                    ng-click="AnularSolicitud()"><span class="hidden-xs"
                                        style="font-size:20px">Alt+F8<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe2c0;"></span></button>
                                <button class="btn btn-glow btn-warning btn-icon2" title="Eliminar Solicitud"
                                    type="button" ng-click="EliminarSolicitud()"><span class="hidden-xs"
                                        style="font-size:20px">Alt+F9<br></span><span
                                        style="font-size:30px; margin-bottom:-10px;"
                                        data-icon="&#xe0d8;"></span></button>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-sm-5 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tipo de Cliente"></label>
                                                <input class="form-control text-XX text-center"
                                                    ng-value="Cliente.tipocliente" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Plazo de Pago"></label>
                                                <input class="form-control text-XX text-center"
                                                    ng-value="Cliente.plazopago" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Total Equipos:"></label>
                                                <input class="form-control text-XX text-center"
                                                    ng-value="Registro.tcantidad" value="0" readonly
                                                    style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Fecha de Registro"></label>
                                                <input class="form-control text-XX text-center"
                                                    ng-value="Registro.fechareg" readonly style="width:100%" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Usuario"></label>
                                                <input class="form-control text-XX text-center"
                                                    ng-value="Registro.usuarioreg" value="0" readonly
                                                    style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones"></label>
                                                <textarea class="form-control" name="Observacion"
                                                    ng-model="Registro.observacion" required rows="8"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">
                                    <div class="panel-body">
                                        <i><b><span
                                                    idioma="Para utilizar nuestro servicio gratuito de transporte de ítems en Bogotá D.C. diligencie ambas ubicaciones o la ubicación de entrega si desea recibirlo por correo certificado."></span></b></i>
                                        <h5><label><span idioma="Ubicación de Recogida"></span><input type="checkbox"
                                                    ng-checked="Registro.CheRecoger" ng-model="Registro.CheRecoger"
                                                    ng-change="ActivarRecogida()"></label></h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label idioma="Dirección, Ciudad, Depto. Y Páis"></label>
                                                <input type="text" class="form-control" id="MRDireccion"
                                                    ng-model="Registro.MRDirecion" ng-disabled="!Registro.CheRecoger"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Contacto"></label>
                                                <input type="text" class="form-control" id="MRContacto"
                                                    ng-model="Registro.MRContacto" ng-disabled="!Registro.CheRecoger"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" id="MRTelefono"
                                                    ng-model="Registro.MRTelefono" ng-disabled="!Registro.CheRecoger"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Correo Electrónico"></label>
                                                <input type="text" class="form-control" id="MRCorreo"
                                                    ng-model="Registro.MRCorreo" ng-disabled="!Registro.CheRecoger"
                                                    required>
                                            </div>
                                        </div>
                                        <h5><label><span idioma="Ubicación de Entrega"></span><input type="checkbox"
                                                    ng-checked="Registro.CheEntrega" ng-model="Registro.CheEntrega"
                                                    ng-change="ActivarEntrega()"></label></h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label idioma="Dirección, Ciudad, Depto. Y Páis"></label>
                                                <input type="text" class="form-control" id="MEDireccion"
                                                    ng-model="Registro.MEDirecion" ng-disabled="!Registro.CheEntrega"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Contacto"></label>
                                                <input type="text" class="form-control" id="MEContacto"
                                                    ng-model="Registro.MEContacto" ng-disabled="!Registro.CheEntrega"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" id="METelefono"
                                                    ng-model="Registro.METelefono" ng-disabled="!Registro.CheEntrega"
                                                    required>
                                            </div>
                                            <div class="col-md-6">
                                                <label idioma="Correo Electrónico"></label>
                                                <input type="text" class="form-control" id="MECorreo"
                                                    ng-model="Registro.MECorreo" ng-disabled="!Registro.CheEntrega"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="tab-pane fade in" ng-class="getTabPaneClass(2)">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Solicitud"></label>
                                <input ng-model="Consulta.solicitud" id="CSolicitud" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Cotización"></label>
                                <input ng-model="Consulta.cotizacion" id="CCotizacion" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Cliente"></label>
                                <select ng-model="Consulta.cliente" id="CCliente" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.cliente}}"
                                        ng-repeat="value in Combos.cliente" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Estado"></label>
                                <select ng-model="Consulta.estado" id="CEstado" style="width:100%" select2="" ui-select2="{ allowClear: true}"> 
                                    <option value="0">Todos</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Cotizado">Cotizado</option>
                                    <option value="Anulado">Anulado</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" ng-model="Consulta.fechad.value"
                                    ng-change="CambioFecha(Consulta.fechad.value,1)" class="form-control" />
                            </div>

                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" ng-model="Consulta.fechah.value"
                                    ng-change="CambioFecha(Consulta.fechah.value,2)" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Asesor"></label>
                                <select ng-model="Consulta.usuario" id="CUsuario" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.usuario}}"
                                        ng-repeat="value in Combos.usuario" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select ng-model="Consulta.magnitud" id="CMagnitud" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.magnitud}}"
                                        ng-repeat="value in Combos.magnitud" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Equipos"></label>
                                <select ng-model="Consulta.equipo" id="CEquipo" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.equipo}}"
                                        ng-repeat="value in Combos.equipo" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select ng-model="Consulta.marca" id="CMarca" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.marca}}"
                                        ng-repeat="value in Combos.marca" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select ng-model="Consulta.modelo" id="CModelo" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.modelo}}"
                                        ng-repeat="value in Combos.bmodelo" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select ng-model="Consulta.intervalo" id="CIntervalo" class="ComboConsulta" select2="" ui-select2="{ allowClear: true}"
                                    style="width:100%">
                                    <option value="">--Seleccione--</option>
                                    <option ng-selected="{{value.id == Consulta.intervalo}}"
                                        ng-repeat="value in Combos.bintervalo" value="{{value.id}}">{{value.value}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-1 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button"
                                    ng-click="ConsultarSolicitud()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaSolicitudes"
                                    style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%">&nbsp;</th>
                                            <th width="3%" idioma="Solicitud"></th>
                                            <th width="3%" idioma="Fecha"></th>
                                            <th width="10%" idioma="Estado"></th>
                                            <th width="20%" idioma="Cliente"></th>
                                            <th width="7%" idioma="Dirección"></th>
                                            <th width="7%" idioma="Teléfono"></th>
                                            <th width="7%" idioma="Correo"></th>
                                            <th width="7%" idioma="Observación"></th>
                                            <th width="7%" idioma="Cant Equipo"></th>
                                            <th width="7%" idioma="Cotización"></th>
                                            <th width="7%" idioma="Asesor"></th>
                                            <th width="7%" idioma="Anulado"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <a class="btn btn-info" download="TablaSolicitudes.xls" href="#" onclick="return ngTableExcelExport.excel(this, 'TablaSolicitudes', 'Registro');">Exportar a Excel</a>
                                <a class="btn btn-primary" download="TablaSolicitudes.csv" href="#" onclick="return ngTableExcelExport.csv(this, 'TablaSolicitudes', 'Registro', ';');">Exportar a CSV - ";" separator - UTF8</a>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <div class="table-responsive" id="ExportarCotizaciones">
                                    <table class="table display table-bordered hover" show-filter="true" ng-table="TablaSolicitudes" id="TablaSolicitudes">
                                        <tr ng-repeat = "x in $data" ng-dblclick="ObtenerConsulta(x)">
                                            <td data-title="''" ><button class='btn btn-glow btn-success imprimir' title='Imprimir Solicitud' type='button' ng-click="ImprimirSolicitud(x.solicitud,0)"><span data-icon='&#xe0f7;'></span></button></td>
                                            <td title="Número de Solicitud" class="text-XX" data-title="'Solicitud'" sortable="'solicitud'" filter="{ 'solicitud': 'text' }">{{x.solicitud}}</td>
                                            <td title="Fecha de la Solicitud" data-title="'Fecha'" sortable="'fecha'" filter="{ 'fecha': 'text' }">{{x.fecha}}</td>
                                            <td title="Estado de la Solicitud" data-title="'Estado'" sortable="'estado'" filter="{ 'estado': 'text' }">{{x.estado}}</td>                                            
                                            <td title="Razón Social del Cliente" data-title="'Cliente'" sortable="'cliente'" filter="{ 'cliente': 'text' }">{{x.cliente}}</td>
                                            <td title="Direccion sede del Cliente" data-title="'Dirección'" sortable="'direccion'" filter="{ 'direccion': 'text' }">{{x.sede}}</td>
                                            <td title="Contacto del Cliente" data-title="'Contacto'" sortable="'contacto'" filter="{ 'contacto': 'text' }">{{x.contacto}}</td>
                                            <td title="Departamento de la ubicación de la sede del cliente" data-title="'Departamento'" sortable="'departamento'" filter="{ 'departamento': 'text' }">{{x.departamento}}</td>
                                            <td title="Ciudad de la ubicación de la sede del cliente" data-title="'Ciudad'" sortable="'ciudad'" filter="{ 'ciudad': 'text' }">{{x.ciudad}}</td>
                                            <td title="Teléfono del contacto del Cliente" data-title="'Teléfonos'" sortable="'telefonos'" filter="{ 'telefonos': 'text' }">{{x.telefonos}}</td>
                                            <td title="Correo electrónico del contacto del Cliente" data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{x.email}}</td>
                                            <td title="Cantidad de items de la cotización" class="text-right" data-title="'Items'">{{x.cantidad}}</td>
                                            <td title="Cantidad de items ingresados al laboratorio" class="text-right" data-title="'Items Ingresados'">{{x.itemingresado}}</td>
                                            <td title="Subtotal de la cotización" class="text-right" data-title="'SubTotal'">{{x.subtotal | number:2}}</td>
                                            <td title="Descuento de la cotización" class="text-right" data-title="'Descuento'">{{x.descuento | number:2}}</td>
                                            <td title="IVA de la cotización" class="text-right" data-title="'IVA'">{{x.iva | number:2}}</td>
                                            <td title="Total de la cotización" class="text-right" data-title="'Total'">{{x.total | number : 2}}</td>
                                            <td title="Fecha de registro de la cotización" data-title="'Fecha'">{{x.fecha}}</td>
                                            <td title="Usuario que registró la cotización" data-title="'Usuario'">{{x.usuario}}</td>
                                            <td title="Fecha, hora y usuario que reemplazó la cotización" data-title="'Reemplazada'"><span ng-bind-html="x.reemplazado"></span></td></td>
                                            <td title="Fecha, hora y usuario que aprobó la cotización" data-title="'Aprobada'"><span ng-bind-html="x.aprobado"></span></td></td>
                                            <td title="Fecha, hora y usuario que rechazó la cotización" data-title="'Rechazada'"><span ng-bind-html="x.rechazado"></span></td></td>
                                            <td title="Fecha, hora y usuario que anuló la cotización" data-title="'Anulada'"><span ng-bind-html="x.anula"></span></td>
                                            <td title="Fecha, hora y correos electrónicos donde se envió la cotización" data-title="'Enviada'"><span ng-bind-html="x.envio"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="ModalServicios" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="FormArticuloSol">
            <div class="modal-content">
                <div class="modal-header bg-info">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregar Equipo"></span></h4>
                </div>
                <div class="modal-body with-padding">

                    <div class="tabbable page-tabs" id="tabarticulos">
                        <ul class="nav nav-tabs" style="margin-bottom:0px;">
                            <li ng-class="getTabSerClass(1)" ng-click="setActiveSerTab(1)" ng-show="VisibleServicio[0]"><a><i class="icon-checkbox-partial"></i><span idioma="Instrumenos"></span></a></li>
                            <li ng-class="getTabSerClass(2)" ng-click="setActiveSerTab(2)" ng-show="VisibleServicio[1]"><a><i class="icon-checkmark3"></i><span idioma="Pesas"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane pane-ser fade in" ng-class="getTabPaneSerClass(1)" ng-show="VisibleServicio[0]">

                                <div class="form-group-min row">
                                    <div class="col-xs-6 col-md-6">
                                        <label idioma="Magnitud"></label>
                                        <select id="Magnitud" ng-model="Servicio.Magnitud" ng-change="CargarIntervalos(Servicio.Magnitud,'','','')" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Servicio.dis_ingreso">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected= "{{value.id == Servicio.Magnitud}}" ng-repeat="value in Combos.magnitud" 
                                                value="{{value.id}}">{{value.value}}     
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <label><a ng-click="AgregarOpcion(1,'EQUIPO','Equipo')"><span idioma="Equipos (+)"></span></a></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(1)">Recargar</a>
                                        <select id="Equipo" ng-model="Servicio.Equipo"  ng-change="MagnitudEquipo(Servicio.Equipo)" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Servicio.dis_ingreso">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected= "{{value.id == Servicio.Equipo}}" ng-repeat="value in Combos.equipo" 
                                                value="{{value.id}}">{{value.value}}     
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <div class="col-xs-12 col-md-3">
                                        <label><a ng-click="AgregarOpcion(2,'MARCA','Marca', Servicio.marca)"><span idioma="Marcas (+)"></span></a></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(2)">Recargar</a>                        
                                        <select ng-model="Servicio.Marca" id="Marca"  select2="" ui-select2="{ allowClear: true}"
                                            ng-change="CargarModelos(Servicio.Marca,'')" style="width:100%" required>
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected="{{value.id == Servicio.Marca}}" ng-repeat="value in Combos.marca"
                                                value="{{value.id}}">{{value.value}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label><a ng-click="AgregarOpcion(3,'MODELO','Modelo')"><span idioma="Modelos (+)"></span></a></label> &nbsp;&nbsp;<a ng-click="RecargarCargarCombos(3)">Recargar</a>
                                        <select ng-model="Servicio.Modelo"  ng-change="BuscarPrecio()" select2="" ui-select2="{ allowClear: true}"
                                            style="width:100%" required>
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected="{{value.id == Servicio.Modelo}}" ng-repeat="value in Combos.modelo"
                                                value="{{value.id}}">{{value.value}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label><a ng-click="AgregarIntervalo()" id="LabIntervalo"><span idioma="Intervalo de Rangos 1 (+)"></span></a></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(4)">Recargar</a>
                                        <select id="Intervalo" ng-model="Servicio.Intervalo"  select2="" ui-select2="{ allowClear: true}"
                                            ng-change="BuscarPrecio()" style="width:100%" required>
                                            <option value="">VER ESPECIFICACIONES</option>
                                            <option ng-selected="{{value.id == Servicio.Intervalo}}"
                                                ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label><span idioma="Intervalo de Rangos 2"></span></label>
                                        <select id="Intervalo2" ng-model="Servicio.Intervalo2"  select2="" ui-select2="{ allowClear: true}"
                                            style="width:100%">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected="{{value.id == Servicio.Intervalo2}}"
                                                ng-repeat="value in Combos.intervalo" value="{{value.id}}">{{value.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <div class="col-sm-2">
                                        <label idioma="Serie"></label>
                                        <input class="form-control" id="Serie" tabindex="36" ng-model="Servicio.Serie"
                                            type="text" ng-model="Servicio.Serie" required />
                                    </div>
                                    <div class="col-sm-2">
                                        <label idioma="Id Interno"></label>
                                        <input class="form-control" id="Serie" tabindex="36" ng-model="Servicio.Serie"
                                            type="text" ng-model="Servicio.Ident_Equipo" required />
                                    </div>
                                    <div class="col-xs-4 col-md-1">
                                        <label idioma="Ingreso"></label>
                                        <input class="form-control text-center text-XX" id="Ingreso" tabindex="36"
                                            ng-value="Servicio.Ingreso | number:0" ng-disabled="true" type="text" required />
                                    </div>
                                    <div class="col-xs-4 col-md-1">
                                        <label idioma="Cantidad"></label>
                                        <input class="form-control text-XX text-center" maxlength="4" id="Cantidad" value="1"
                                            ng-model="Servicio.Cantidad" ng-focus="FormatoEntrada($event.target, 1)"
                                            ng-blur="FormatoSalida($event.target,3)" ng-keyup="ValidarTexto($event.target,3)" tabindex="36"
                                            name="Cantidad" type="text" required />
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label  idioma="Acreditación"></label>
                                            <select  id="Acreditacion" select2="" ui-select2="{ allowClear: true}"
                                                ng-model="Servicio.Acreditacion" style="width:100%">
                                                <option value="SI">SI</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <label  idioma="Sitio"></label>
                                        <select  id="Sitio" ng-model="Servicio.Sitio" required select2="" ui-select2="{ allowClear: true}"
                                            style="width:100%">
                                            <option value="SI">SI</option>
                                            <option value="NO" selected>NO</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <label  idioma="Express"></label>
                                            <select  id="Express" ng-model="Servicio.Express" select2="" ui-select2="{ allowClear: true}"
                                                style="width:100%">
                                                <option value="SI">SI</option>
                                                <option value="NO" selected>NO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label  idioma="Sub-Contratada"></label>
                                            <select  id="SubContratado" select2="" ui-select2="{ allowClear: true}"
                                                ng-model="Servicio.SubContratado" style="width:100%">
                                                <option value="SI">SI</option>
                                                <option value="NO" selected>NO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <fieldset style="background-color:aliceblue">
                                        <legend><label><span idioma="Datos de la Certificación"></span></label></legend>

                                        <div class="col-xs-12 col-md-6">
                                            <label idioma="Punto Específico de la Calibración"></label>
                                            <input class="form-control" id="Punto" tabindex="36" value="N/A"
                                                ng-model="Servicio.Punto" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label idioma="Método de la Calibración"></label>
                                            <input class="form-control" id="Metodo" tabindex="36" value="LABORATORIO"
                                                ng-model="Servicio.Metodo" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="A Nombre de"></label>
                                            <input type="text" id="NombreCa" ng-model="Servicio.NombreCa" class="form-control"
                                                tabindex="35" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Dirección"></label>
                                            <input type="text" id="Direccion" ng-model="Servicio.Direccion" value="SEDE"
                                                class="form-control" tabindex="35" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Declaración de Conformidad"></label>
                                            <input class="form-control" id="Declaracion" tabindex="36" value="N/A"
                                                ng-model="Servicio.Declaracion" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Observación"></label>
                                            <input class="form-control" id="Observacion" tabindex="36" value="N/A"
                                                ng-model="Servicio.Observacion" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label><span idioma="Tipo de Certificado"></span></label>
                                                <select id="Certificado" ng-model="Servicio.Certificado" select2="" ui-select2="{ allowClear: true}"
                                                     tabindex="10" style="width:100%" required>
                                                    <option value="">--</option>
                                                    <option value="DIGITAL">DIGITAL</option>
                                                    <option value="IMPRESO">IMPRESO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label  idioma="Próxima Calibración"></label>
                                                <input class="form-control" type="text" id="Proxima" ng-model="Servicio.Proxima">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                             <!---------------------SERVICIO DE PESAS------------------------------->
                            <div class="tab-pane pane-ser fade in" ng-class="getTabPaneSerClass(2)" ng-show="VisibleServicio[1]">
                                <div class=" row">
                                    <div class="col-xs-6 col-md-3">
                                        <label><span idioma="Equipos (+)"></span></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(1,2)">Recargar</a>
                                        <select id="EquipoPesa" ng-model="Pesa.equipo"  ng-change="MagnitudEquipo(Pesa.equipo,'','','','',2)" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Pesa.dis_ingreso">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected= "{{value.id == equipo}}" ng-repeat="value in Combos.equipo_pesa" 
                                                value="{{value.id}}">{{value.value}}     
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label><a ng-click="AgregarOpcion(2,'MARCA','MarcaPesa', Pesa.marca)"><span idioma="Marcas (+)"></span></a></label>&nbsp;&nbsp;<a ng-click="RecargarCargarCombos(2,2)">Recargar</a>                        
                                        <select ng-model="Pesa.marca" id="MarcaPesa" ng-change="CargarModelos(Pesa.marca, '',2)" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Pesa.dis_ingreso">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected= "{{value.id == Pesa.marca}}" ng-repeat="value in Combos.marca_pesa" 
                                                value="{{value.id}}">{{value.value}}     
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label><a ng-click="AgregarOpcion(3,'MODELO','ModeloPesa')"><span idioma="Modelos (+)"></span></a></label> &nbsp;&nbsp;<a ng-click="RecargarCargarCombos(3,2)">Recargar</a>
                                        <select id="ModeloPesa" ng-model="Pesa.modelo"  ng-change="BuscarPrecio()" select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-disabled="Pesa.dis_ingreso">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected= "{{value.id == Pesa.modelo}}" ng-repeat="value in Combos.modelo_pesa" 
                                                value="{{value.id}}">{{value.value}}     
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <label idioma="Clase"></label>
                                        <select id="ClasePesa"  ng-model="Pesa.clase"  select2="" ui-select2="{ allowClear: true}" style="width:100%;"  ng-change="TablaClases()" ng-disabled="Pesa.dis_ingreso">
                                            <option value="">--Seleccione--</option>
                                            <option ng-selected= "{{value.id == Pesa.clase}}" ng-repeat="value in Combos.clase" 
                                                value="{{value.id}}">{{value.value}}     
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label idioma="Acreditación"></label>
                                                <select  id="Acreditacion" select2="" ui-select2="{ allowClear: true}"
                                                    ng-model="Servicio.Acreditacion" style="width:100%">
                                                    <option value="SI">SI</option>
                                                    <option value="NO">NO</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label  idioma="Sitio"></label>
                                                <select  id="Sitio" ng-model="Servicio.Sitio" required select2="" ui-select2="{ allowClear: true}"
                                                    style="width:100%">
                                                    <option value="SI">SI</option>
                                                    <option value="NO" selected>NO</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label  idioma="Express"></label>
                                                    <select  id="Express" ng-model="Servicio.Express" select2="" ui-select2="{ allowClear: true}"
                                                        style="width:100%">
                                                        <option value="SI">SI</option>
                                                        <option value="NO" selected>NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label  idioma="Sub-Contratada"></label>
                                                <select  id="SubContratado" select2="" ui-select2="{ allowClear: true}"
                                                    ng-model="Servicio.SubContratado" style="width:100%">
                                                    <option value="SI">SI</option>
                                                    <option value="NO" selected>NO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col-xs-6 col-sm-2">
                                                <label idioma="Ingreso"></label>
                                                <input class="form-control text-center text-XX" id="IngresoPesa"  tabindex="36" ng-model="Pesa.ingreso" type="text" />
                                            </div>
                                            <div class="col-xs-6 col-sm-2">
                                                <label idioma="Cantidad"></label>
                                                <input class="form-control text-center text-XX" id="IngresoPesa"  tabindex="36" ng-model="Pesa.ingreso" type="text" />
                                            </div>
                                            <div class="col-sm-4">
                                                <label idioma="Serie"></label>
                                                <input class="form-control" id="Serie" tabindex="36" ng-model="Servicio.Serie"
                                                    type="text" ng-model="Servicio.Serie" required />
                                            </div>
                                            <div class="col-sm-4">
                                                <label idioma="Id Interno"></label>
                                                <input class="form-control" id="Serie" tabindex="36" ng-model="Servicio.Serie"
                                                    type="text" ng-model="Servicio.Ident_Equipo" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <br />
                                        <div class="table-responsive">
                                            <table class="table table-bordered display scroll">
                                                <thead>
                                                    <tr>
                                                        <th>Nominal</th>
                                                        <th>CMC</th>
                                                        <th width="15%">Cant</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in Pesa.tabla_clase" ng-class="$index % 2 == 0  ? 'bg-gris' :''">
                                                        <td>{{x.nominal}}</td>
                                                        <td class="text-right">{{x.cmc}}</td>
                                                        <td class="text-right">{{x.precio | number : 2}}</td>
                                                        <td><input ng-Model="Pesa.tabla_clase[$index].cantidad" class='sinbordecon text-right text-XX'  ng-keyup="CalcularPreClase($event.target, $index)"></td>
                                                        <td class="text-right">{{Pesa.tabla_clase[$index].subtotal | number : 2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <fieldset style="background-color:aliceblue">
                                        <legend><label><span idioma="Datos de la Certificación"></span></label></legend>

                                        <div class="col-xs-12 col-md-6">
                                            <label idioma="Método de la Calibración"></label>
                                            <input class="form-control" id="MetodoPesa" tabindex="36" value="LABORATORIO"
                                                ng-model="Pesa.Metodo" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="A Nombre de"></label>
                                            <input type="text" id="NombreCaPesa" ng-model="Pesa.NombreCa" class="form-control"
                                                tabindex="35" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Dirección"></label>
                                            <input type="text" id="DireccionPesa" ng-model="Pesa.Direccion" value="SEDE"
                                                class="form-control" tabindex="35" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Declaración de Conformidad"></label>
                                            <input class="form-control" id="DeclaracionPesa" tabindex="36" value="N/A"
                                                ng-model="Pesa.Declaracion" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label idioma="Observación"></label>
                                            <input class="form-control" id="ObservacionPesa" tabindex="36" value="N/A"
                                                ng-model="Pesa.Observacion" type="text" required autocomplete="on" />
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label><span idioma="Tipo de Certificado"></span></label>
                                                <select id="CertificadoPesa" ng-model="Pesa.Certificado" select2="" ui-select2="{ allowClear: true}"
                                                    tabindex="10" style="width:100%" required>
                                                    <option value="">--</option>
                                                    <option value="DIGITAL">DIGITAL</option>
                                                    <option value="IMPRESO">IMPRESO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label  idioma="Próxima Calibración"></label>
                                                <input class="form-control" type="text" id="ProximaPesa" ng-model="Pesa.Proxima">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" ng-click="InicializarServicio()"><span
                                idioma="Limpiar"></span></button>
                        <button class="btn btn-glow btn-info" type="button" ng-click="ActualizarIngresoSol()"><span
                                idioma="Actualizar Ingreso"></span></button>
                        <button class="btn btn-glow btn-success" type="submit"><span idioma="Agregar"></span></button>
                        <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                                idioma="Cerrar"></span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="modalIntervalo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Intervalo de Medición"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-4">
                        <label><a ng-click = "AgregarOpcion(4,'MEDIDA','IMedida')"><span idioma="Unidades de Medida (+)"></span></a></label>
                        <select ng-model="Intervalo.medida"  select2="" ui-select2="{ allowClear: true}" style="width:100%;">
                            <option value="">--Seleccione--</option>
                            <option ng-disabled="value.inactivo" ng-selected= "{{value.id == Intervalo.medida}}" ng-repeat="value in Combos.medida" 
                                value="{{value.id}}">{{value.value}}     
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Dede"></label>
                        <input ng-model = "Intervalo.desde" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label idioma="Hasta"></label>
                        <input ng-model = "Intervalo.hasta" id="IHasta" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" ng-click="GuardarIntervalo()"><span idioma="Guardar"></span></button>
            </div>

        </div>
    </div>
</div>



<div id="enviar_remision" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarremision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span
                            idioma="Envío del Remisión Número"></span> <span id="spremision"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required
                                title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdfremision" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                            idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span
                            idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="modalIngresoSol" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalingresosol">
                        <thead>
                            <tr>
                                <th><span idioma="Remisión"></span></th>
                                <th><span idioma="Ingresos"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="serie"></span></th>
                                <th><span idioma="Asesor"></span></th>
                                <th><span idioma="Observación"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                        idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>




<div id="ModalOtroServicio" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregar Otros Servicios"></span>
                </h4>
            </div>
            <div class="modal-body with-padding">
                <div class="form-group-min row">
                    <div class="col-xs-6 col-md-3">
                        <label idioma="Ingreso"></label>
                        <input class="form-control text-XX text-right" ng-model="Servicio.Ingreso" tabindex="36"
                            name="OIngreso" type="text" onfocus="FormatoEntrada(this, 1)"
                            onblur="FormatoSalida(this,_DE)" />
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <label idioma="Cantidad"></label>
                        <input class="form-control text-XX text-right" ng-model="Servicio.Cantidad" tabindex="36"
                            id="OCantidad" type="text" onfocus="FormatoEntrada(this, 1)"
                            onblur="FormatoSalida(this,_DE)" onkeyup="CalcularPOSer(this)" />
                    </div>
                </div>
                <div class="form-group-min row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Otro Servicio"></label>
                        <div ng-if="Servicio.Articulo == 0">
                            <select id="OServicio"  select2="" ui-select2="{ allowClear: true}" style="width:100%;" ng-model="Servicio.OtroServicio">
                                <option value="">--Seleccione--</option>
                                <option ng-disabled="value.inactivo" ng-repeat="value in Combos.otroservicio" 
                                    value="{{value.id}}">{{value.value}}     
                                </option>
                            </select>
                        </div>
                        <div ng-if="Servicio.Articulo > 0">
                            <p>{{Servicio.des_servicio}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group-min row">
                    <div class="col-xs-12 col-md-12">
                        <label><span idioma="Detalle del Servicio"></span></label>
                        <div ng-if="Servicio.Articulo == 0">
                            <textarea id="OObservacion" class="form-control" ng-model="Servicio.Observacion" rows="4">
                            </textarea>
                        </div>
                        <div ng-if="Servicio.Articulo > 0">
                            <p>{{Servicio.Observacion}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-glow btn-default" type="button" id="LimpiarServicio"
                    onclick="LimpiarOtroServicio()">F2 <span idioma="Limpiar"></span></button>
                <button class="btn btn-glow btn-success" type="button" ng-click="AgregarOtroServicio()">F10 <span
                        idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span
                        idioma="Cerrar"></span> [Esc]</button>
            </div>
        </div>
    </div>
</div>


<div id="modalIngresoSol" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Ingresos"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalingresocol">
                        <thead>
                            <tr>
                                <th><span idioma="Remisión"></span></th>
                                <th><span idioma="Ingresos"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Equipo"></span></th>
                                <th><span idioma="serie"></span></th>
                                <th><span idioma="Asesor"></span></th>
                                <th><span idioma="Observación"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span> [Esc]</button>
            </div>
        </div>
    </div>
</div>