﻿<div class="row col-sm-12">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Recibir Ingreso en Logistica"></span></a></h3>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table width="100%" align="center" border="1" class="tablaarchivo">
                            <thead>
                                <tr>
                                    <th width="10%" class="text-XX">Nro</th>
                                    <th width="15%" class="text-XX">B</th>
                                    <th width="15%" class="text-XX">C</th>
                                    <th width="15%" class="text-XX">D</th>
                                    <th width="15%" class="text-XX">E</th>
                                    <th width="15%" class="text-XX">F</th>
                                    <th width="15%" class="text-XX">G</th>
                                </tr>
                                <tr>
                                    <td class="text-XX text-center" height="80px">1</td>
                                    <td class="text-XX bg-danger">&nbsp;</td>
                                    <td class="text-XX bg-danger">&nbsp;</td>
                                    <td class="text-XX bg-danger">&nbsp;</td>
                                    <td class="text-XX bg-danger">&nbsp;</td>
                                    <td class="text-XX bg-danger">&nbsp;</td>
                                    <td class="text-XX bg-danger">&nbsp;</td>
                                </tr>
                            </thead>
                            <tbody id="TBArchivo"></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Ingresos Recibidos"></span></a></h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label idioma="Ingreso"></label>
                                <input type="text" class="form-control" id="CIngreso" />
                            </div>
                            <div class="col-md-4">
                                <label idioma="Cliente/Contacto"></label>
                                <select type="text" class="form-control" id="CCliente" />
                            </div>
                            <div class="col-md-3">
                                <label idioma="Equipo/Marca/Modelo"></label>
                                <input type="text" class="form-control" id="CEquipo" />
                            </div>
                            <div class="col-md-2">
                                <label idioma="Entregado"></label>
                                <select type="text" class="form-control" id="CEntregado">
                                    <option value="-1">--</option>
                                    <option value="1">SI</option>
                                    <option value="0" selected>NO</option>
                                </select>
                            </div>
                            <div class="col-md-1 text-right">
                                <br>
                                <button type="button" class="btn btn-glow btn-primary" onclick="ConsultarUbicacion()"><span idioma="Buscar"></span></button>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table display  table-bordered hover" id="TablaUbicacion">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="Ubicación"></th>
                                        <th width="10%" idioma="Ingreso"></th>
                                        <th width="25%" idioma="Equipo"></th>
                                        <th width="30%" idioma="Cliente"></th>
                                        <th width="10%" idioma="Fecha Ingreso"></th>
                                        <th width="15%" idioma="Entregado"></th>
                                        <th width="15%" idioma="Fotos"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetalleUbicacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Detalle de la Ubicación"></span> <span id="dtubicacion"></span> </h4>
            </div>
            <div class="modal-body with-padding">
                <div class="col-md-12 text-right">
                    <button class="btn btn-glow btn-success" type="button" onclick="AgregarUbicacion()"><span idioma="Agregar Nueva Ubicación"></span></button>
                </div>
                <div class="tabbable page-tabs">
                    <ul class="nav nav-tabs">
                        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#detallado" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Detallado"></span></a></li>
                        <li id="proli7"><a href="#dfotos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Fotos"></span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="detallado">
                            <table class="table display  table-bordered hover" id="TablaDetallado">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="Fecha Ubicación"></th>
                                        <th width="10%" idioma="Ingreso"></th>
                                        <th width="25%" idioma="Equipo"></th>
                                        <th width="24%" idioma="Cliente"></th>
                                        <th width="10%" idioma="Fecha Ingreso"></th>
                                        <th width="15%" idioma="Devolución"></th>
                                        <th width="15%" idioma="Entrega"></th>
                                        <th width="15%" idioma="Fotos"></th>
                                        <th width="3%">&nbsp;</th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade in" id="dfotos">
                            <div id="DetalleFoto" style="width:100%;height:400px;overflow-y:visible;overflow-x:hidden">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Agregando nueva ubicación"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label idioma="Digite el número de ingreso"></label>
                                <input type="text" class="form-control text-center text-XX" onkeypress="return NumCheck(event, this,0)" maxlength="12" onkeyup="BuscarIngreso(this.value, event,0)" pattern="[0-9]{1,12}" max="12" min="1" id="EIngreso" autofocus tabindex="0" />
                            </div>
                            <div class="col-sm-6">
                                <label idioma="Ubicación"></label>
                                <select class="form-control" id="EUbicacion" style="width:100%">
                                    <option value="">--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" idioma="Magnitud"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="EMagnitud" name="EMagnitud" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" idioma="Equipo"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="EEquipo" name="EEquipo" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" idioma="Marca"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="EMarca" name="EMarca" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" idioma="Modelo"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="EModelo" name="EModelo" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" idioma="Rango"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ERango" name="ERango" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" idioma="Serie"></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ESerie" name="ESerie" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="AlbunFotosdet" style="min-height:300px;">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="GuardarUbicacion()"><span idioma="Guardar Ubicación"></span></button>
            </div>
        </div>
    </div>
</div>



