﻿
<div>
    <div class="panel panel-info" style="font-size:14px; color:black;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Comprobante de Pago"></span></a></h3>
                </div>
                <div class="col-md-10 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">[F2] <span idioma="Limpiar/Cancelar"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="ModalComprobante()">[F10] <span idioma="Buscar"></span></button>
                    <button class="btn btn-glow btn-success" type="button" id="btnGuardar" onclick="GuardarComprobante()">[F3] <span idioma="Guardar"></span></button>
                    <button class="btn btn-glow btn-warning hidden" type="button" id="btnEnviar" onclick="EnviarComprobante()">[F4] <span idioma="Enviar"></span></button>
                    <button class="btn btn-glow btn-warning hidden" type="button" id="btnImprimir" onclick="ImprimirComprobante(1)">[F6] <span idioma="Imprimir"></span></button>
                    <button class="btn btn-glow btn-danger hidden" type="button" id="btnAnular" onclick="AnularComprobante()">[F8] <span idioma="Anular"></span></button>

                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-sm-9">
                        <div class="form-group-min row">
                            <div class="col-xs-3 col-md-3 col-sm-3">
                                <label idioma="NIT/C.C."></label>
                                <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarProveedorCP(this.value,0)" onkeyup="ValidarProveedorCP(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Proveedor" id="Proveedor" autofocus tabindex="0" />
                            </div>
                            <div class="col-xs-9 col-md-11 col-sm-10">
                                <br>
                                <label id="NombreProveedor"></label>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12">
                            <div class="form-group-min row">
                                <label idioma="Concepto"></label>
                                <input type="text" value="CANCELACIÓN DE FACTURA DE COMPRA" autofocus class="form-control" name="Concepto" id="Concepto" tabindex="1" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-sm-3">
                        <div class="col-xs-6 col-md-12 col-sm-12">
                            <div class="form-group-min row">
                                <label idioma="Comprobante de Pago"></label>
                                <div style="font-size:23px; font-weight:bold" id="Comprobante" class="text-center">0</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-12 col-sm-12">
                            <div class="form-group-min row">
                                <a href="javascript:LlamarModalMovimientosCP()"><span idioma="Valor Recaudado"></span></a>
                                <input type="text" class="form-control text-right text-XX" name="VRecaudado" id="VRecaudado" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-danger text-XX" id="Detalle_MovimientoComp"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="SaldoProveedorDev"></div>
    <a class="btn btn-glow btn-info" href="javascript:ModalProveedoresCP()">F1 <span idioma="Proveedores"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:CargarModaltarjeta()">F8 <span idioma="Tarjeta"></span></a>
    <a class="btn btn-glow btn-default hidden" href="javascript:CargarModalCheque()">F9 <span idioma="Cheques"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:CargarModalConsig()">F11 <span idioma="Depósito hecho al Proveedor"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:LimpiarPagos()">F7 <span idioma="Limpiar Movimientos"></span></a>
    <hr />
    <div id="divAnulaciones" class="col-md-12 hidden">
        <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion"></span></label>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-12">
            <div style="width:100%; height:350px; overflow-x:auto;">
                <table class="table display -bordered" width="100%" id="Malla" style="font-size:14px">
                    <thead>
                        <tr class="bg-primary">
                            <th><span idioma="Nro"></span></th>
                            <th><span idioma="Compra"></span></th>
                            <th><span idioma="Factura"></span></th>
                            <th><span idioma="Fecha Compra"></span></th>
                            <th><span idioma="Vencimiento"></span></th>
                            <th><span idioma="Sub-Total"></span></th>
                            <th><span idioma="Descuento"></span></th>
                            <th><span idioma="IVA"></span></th>
                            <th><span idioma="Valor Total"></span></th>
                            <th><span idioma="Abono"></span></th>
                            <th><span idioma="Saldo"></span></th>
                            <th><span idioma="ReteFuente"></span></th>
                            <th><span idioma="ReteIVA"></span></th>
                            <th><span idioma="ReteICA"></span></th>
                        </tr>
                    </thead>

                    <tbody id="bodycompra"></tbody>
                </table>
            </div>
        </div>

        <div class="col-md-2 col-xs-12">
            <div class="col-md-12 col-xs-6">
                <div class="form-group-min">
                    <label idioma="Total General en Compras"></label>
                    <input type="text" class="form-control text-right" disabled name="TCompra" id="TCompra" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="form-group-min">
                    <label idioma="Saldo por abonar a compra"></label>
                    <input type="text" class="form-control text-right" disabled name="SCompra" id="SCompra" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="form-group-min">
                    <label idioma="Valor Recibido"></label>
                    <input type="text" class="form-control text-right" disabled name="VRecibido" id="VRecibido" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="form-group-min">
                    <label idioma="Saldo por Pagar"></label>
                    <input type="text" class="form-control text-right" disabled name="SPagar" id="SPagar" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="form-group-min">
                    <label idioma="Diferencia"></label>
                    <input type="text" class="form-control text-right" disabled name="SDiferencia" id="SDiferencia" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="font-size:22px">
        <label idioma="SubTotal"></label>:&nbsp;&nbsp; <span id="SSubTotal">0</span>&nbsp;&nbsp;&nbsp;
        <label idioma="IVA"></label>:&nbsp;&nbsp; <span id="SIVA">0</span>&nbsp;&nbsp;&nbsp;
        <label idioma="Total Seleccionado"></label>:&nbsp;&nbsp; <span id="STotal">0</span>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <a class="text-XX" href="javascript:LlamarRetencion(1,'Retención I.V.A')"><span idioma="Retención I.V.A"></span></a>
                                <input class="form-control text-right text-XX" id="RetIVA" name="RetIVA" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <a class="text-XX" href="javascript:LlamarRetencion(2,'Retención Fuente')"><span idioma="Retención Fuente"></span></a>
                                <input class="form-control text-right text-XX" id="RetFuente" name="RetFuente" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <a class="text-XX" href="javascript:LlamarRetencion(3,'Retención I.C.A.')"><span idioma="Retención I.C.A"></span></a>
                                <input class="form-control text-right text-XX" id="RetICA" name="RetICA" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <label idioma="Retención CREE"></label>
                                <input class="form-control text-right text-XX" id="RetCREE" name="RetCREE" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <label idioma="Descuento"></label>
                                <input class="form-control text-right text-XX" id="Descuento" name="Descuento" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <label idioma="Otro Ingreso"></label>
                                <input class="form-control text-right text-XX" id="OIngreso" name="OIngreso" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)"  />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <label idioma="Otros Egreso"></label>
                                <input class="form-control text-right text-XX" id="OEgreso" name="OEgreso" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <label idioma="Efectivo" class="text-XX"></label>
                                <input class="form-control  text-right text-XX" id="Efectivo" name="Efectivo" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" style="font-size:20px; font-weight:bold" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <a href="javascript:CargarVerPagosCP('C','Comprobante por Cheque')" class="text-XX"><span idioma="Cheque"></span></a>
                                <input class="form-control text-right text-XX" value="0" id="TCheque" name="TCheque" disabled />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <a href="javascript:CargarVerPagosCP('T','Comprobante por Tarjeta')" class="text-XX"><span idioma="Tarjeta"></span></a>
                                <input class="form-control text-right text-XX" value="0" id="TTarjeta" name="TTarjeta" disabled />
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="form-group-min">
                                <a href="javascript:CargarVerPagosCP('CO','Comprobante por Consignación')" class="text-XX"><span idioma="Depósito"></span></a>
                                <input class="form-control  text-right text-XX" id="TConsignacion" name="TConsignacion" value="0" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group-min">
                                <label idioma="Observación"></label>
                                <textarea class="form-control"  id="Observacion" name="Observacion" rows="2"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        



<div id="modalConsultarComprobantes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Comprobantes de Caja"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group-min row">

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro Comprobante"></label>
                        <input name="BNComprobante" id="BNComprobante" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Compra"></label>
                        <input name="BCompra" id="BCompra" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Documento"></label>
                        <input name="BDocumento" id="BDocumento" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Proveedor"></label>
                        <input name="BProveedor" id="BProveedor" class="form-control" />
                    </div>

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Estado"></label>
                        <select name="BEstado" id="BEstado" class="form-control" style="width:100%">
                            <option value="T">Todos</option>
                            <option value="Registrado">Registrado</option>
                            <option value="Anulado">Anulado</option>
                            <option value="Enviado">Enviado</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="BFechaDesde" id="BFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="BFechaHasta" id="BFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Ultimos Días"></label>
                        <input type="number" name="BUltimoDia" id="BUltimoDia" value="3" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalComprobantes()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <hr />
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="tablamodalComprobantes">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="CPago"></span></th>
                                <th width="8%"><span idioma="Documento"></span></th>
                                <th width="20%"><span idioma="Proveedor"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Abonado"></span></th>
                                <th><span idioma="Usuario"></span></th>
                                <th><span idioma="Anulado"></span></th>
                                <th><span idioma="Enviado"></span></th>
                                <th><span idioma="Cantidad"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="enviar_orden" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarpedido">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de Pedido Nro"></span> <span id="sppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group-min row">
                        <div class="col-md-6">
                            <label idioma="Proveedor"></label>
                            <input type="text" class="form-control" id="eProveedor" readonly />
                        </div>
                        <div class="col-md-6">
                            <label idioma="Correo"></label>
                            <input type="email" class="form-control" id="eCorreo" required />
                        </div>
                    </div>
                    <iframe id="resultadopdfpedido" width="100%" height="400px"></iframe>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalTarjeta" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formfacturarpedido">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Comprobante por Tarjeta "></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group-min row">
                        <label idioma="Tipo" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <select type="text" class="form-control"  name="ttipo" id="ttipo" tabindex="200" style="width:100%" required >
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label idioma="Número" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <input type="number" class="form-control" name="tnumero" id="tnumero" tabindex="201" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <label idioma="Valor" class="col-md-3 col-xs-12  control-label"></label>
                        <div class="col-md-9 col-xs-12">
                            <input type="text" class="form-control text-right" name="Tarjeta" id="Tarjeta" tabindex="202" value="0" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                        </div>
                    </div>
                    
                    <div class="form-group-min row">
                        <label idioma="Autorización" class="col-md-4 col-xs-12  control-label"></label>
                        <div class="col-md-8 col-xs-12">
                            <input type="text" class="form-control" name="tautoriza" id="tautoriza" tabindex="205" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" ><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-danger" tabindex="3" type="button" onclick="LimpiarTarjeta()"><span idioma="Limpiar tarjeta"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalCheque" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Comprobante por Cheque"></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group-min">
                                        <div class="form-group-min row">
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Banco"></label>
                                                <select name="ChBanco" id="ChBanco" tabindex="200" style="width:100%" required></select>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Plaza"></label>
                                                <select name="ChPlaza" id="ChPlaza" tabindex="200" style="width:100%" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group-min row">
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Número"></label>
                                                <input type="text" class="form-control" pattern="[0-9]{1,20}" max="20" min="1" name="ChNumero" id="ChNumero" tabindex="200" required/>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label idioma="Número de Cuenta"></label>
                                                <input type="text" class="form-control" name="ChCuenta" id="ChCuenta" tabindex="200" required/>
                                            </div>
                                        </div>
                                        <div class="form-group-min row">
                                            <div class="col-md-6 col-xs-6">
                                                <label>
                                                    <span idioma="A primer Beneficiario"></span>
                                                    <input type="radio" name="ChTipoC" value="1" id="ChTipoC_B" tabindex="200"  />
                                                </label>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>
                                                    <span idioma="Para Cambio"></span>
                                                    <input type="radio" name="ChTipoC" value="2" id="ChTipoC_C"  />
                                                </label>
                                            </div>
                                        </div>
                                        <hr style="margin-top:0px; margin-bottom:0px;" />
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <h3><label idioma="GIRADOR"></label></h3>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <label>
                                                    <span idioma="Persona Natural"></span>
                                                    <input type="radio" name="ChPersona" onchange="chCambioPersona('N')" id="ChPersona_N" required />
                                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label>
                                                    <span idioma="Persona Jurídica"></span>
                                                    <input type="radio" name="ChPersona" onchange="chCambioPersona('J')" id="ChPersona_J" checked required />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <label idioma="Nombre"></label>
                                                <input type="text" class="form-control" inicial="" name="ChNombre" id="ChNombre" tabindex="201" required />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Cédula"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChCedula" id="ChCedula" tabindex="201" required />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Teléfono"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChTelefono" id="ChTelefono" tabindex="201" required />
                                            </div>
                                            <div class="col-md-12 col-xs-12">
                                                <label idioma="Dirección"></label>
                                                <input type="text" class="form-control" inicial ="" name="ChDireccion" id="ChDireccion" tabindex="201" required />
                                            </div>
                                        </div>
                                        <hr style="margin-top:6px; margin-bottom:6px;" />
                                        <div class="row">
                                            <div class="col-md-5 col-xs-4">
                                                <label idioma="Fecha"></label>
                                                <input type="date" class="form-control" name="ChFecha" id="ChFecha" tabindex="201" required />
                                            </div>
                                            <div class="col-md-2 col-xs-2">
                                                <label idioma="#Cheques"></label>
                                                <input type="text" class="form-control text-center" onkeyup="ValidarTexto(this,1)" name="ChCantidad" id="ChCantidad" tabindex="201" required />
                                            </div>
                                            <div class="col-md-5 col-xs-6">
                                                <label idioma="Valor"></label>
                                                <input type="text" class="form-control text-right" name="Cheque" id="Cheque" tabindex="201" required onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Autorización"></label>
                                                <input type="text" class="form-control" name="ChAutorizacion" id="ChAutorizacion" tabindex="201"/>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label idioma="Autorizado por"></label>
                                                <input type="text" class="form-control" name="ChAutorizado" id="ChAutorizado" tabindex="201"/>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7 col-xs-12">
                            <br>
                            <div class="row">
                                <div class="col-md-12 col-xs-12 text-right">
                                    <button type="button" onclick="LimpiarCheque()" class="btn btn-glow btn-default"><span idioma="Limpiar"></span></button>
                                    <button type="submit" class="btn btn-glow btn-success"><span idioma="Guardar Cheque"></span></button>
                                </div>
                            </div>
                            <div class="table-responsive" id="divtabcheque">
                                <table class="table display  table-bordered">
                                    <thead>
                                        <tr>
                                            <th idioma="Id"></th>
                                            <th idioma="Banco"></th>
                                            <th idioma="Plaza"></th>
                                            <th idioma="Número"></th>
                                            <th idioma="Cuenta"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class=" col-md-12 col-xs-12">
                                <font size="5px"><b><span idioma="Total En Cheques"></span>:</b>&nbsp;<span id='chTotales'>0</span></font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalVerChequeCP" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span id ="TituloVerPagos"></span> <span id="fppedido"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div id="VerChequeComprobante"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalMovBancarioCP" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formCheques">
        <input type="hidden" id="id_cheque" name="id_cheque" value="0" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Movimientos Bancarios"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="row">
                        <div class="col-xs-4 col-sm-6">
                            <label idioma="Cuenta Bancaria"></label>
                            <select class="form-control" id="MCuenta" onchange="CargarModalMovimientosCP()" style="width:100%" />
                        </div>
                        <div class="col-sm-3">
                            <label idioma="Año"></label>
                            <select class="form-control" id="MAnio" onchange="CargarModalMovimientosCP()" style="width:100%" />
                        </div>
                        <div class="col-sm-3">
                            <label idioma="Mes"></label>
                            <select class="form-control" id="MMes" onchange="CargarModalMovimientosCP()" style="width:100%">
                                <option value="">--Seleccione--</option>
                                <option value="1">1. Enero</option>
                                <option value="2">2. Febrero</option>
                                <option value="3">3. Marzo</option>
                                <option value="4">4. Abril</option>
                                <option value="5">5. Mayo</option>
                                <option value="6">6. Junio</option>
                                <option value="7">7. Julio</option>
                                <option value="8">8. Agosto</option>
                                <option value="9">9. Septiembre</option>
                                <option value="10">10. Octubre</option>
                                <option value="11">11. Noviembre</option>
                                <option value="12">12. Diciembre</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive" style="min-height:350px;">
                        <table class="table display  table-bordered hover"  width="100%" id="MTablaMovimientoCP" style="font-size:14px">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="3%" idioma="ID"></th>
                                    <th width="10%" idioma="Fecha"></th>
                                    <th width="10%" idioma="Referencia"></th>
                                    <th width="18%" idioma="Descripción"></th>
                                    <th width="7%" idioma="Oficina"></th>
                                    <th width="10%" idioma="Salida"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="ModalConsignacion" class="modal fade" tabindex="-1" role="dialog" style="color:black;">
    <form id="formfacturarpedido">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consignar"></span> </h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group-min row">
                        <div class="col-md-12 col-xs-12">
                            <label idioma="Cuenta donde consignó el Proveedor"></label>
                            <select type="text" class="form-control" name="con_cuenta" id="con_cuenta" tabindex="300" style="width:100%" required></select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-12 col-xs-12">
                            <label idioma="Número de control"></label>
                            <input type="text" class="form-control" name="con_numero" id="con_numero" tabindex="301" required />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Fecha de consignación"></label>
                            <input type="date" class="form-control text-right" name="con_fecha" id="con_fecha" tabindex="302" />
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Tipo de Movimiento"></label>
                            <select name="con_tipo" style="width:100%" id="con_tipo">
                                <option value="" selected>--Seleccione--</option>
                                <option value="E">Efectivo</option>
                                <option value="M">Trasnferencia</option>
                                <option value="C">Cheque</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-min row">
                        <div class="col-md-9 col-xs-12">
                            <label idioma="Valor a Consignar"></label>
                            <input type="text" class="form-control text-right" name="Consignacion" disabled id="Consignacion" tabindex="303" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-danger" tabindex="3" type="button" onclick="LimpiarConsignacion()"><span idioma="Limpiar Consignación"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalRetencion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="desretencion"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input id="RTipoRetencion" type="hidden" value="0"  />
                <div class="form-group-min row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Base del Cálculo"></label>
                        <center>
                            <input name="RSubTotal" id="RSubTotal" disabled class="form-control text-right text-XX"" />
                        </center>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label>Porcentaje del Proveedor (<span id="RPorProveedor"></span>)%</label>
                        <center>
                            <input type="text" name="RPorcentaje" id="RPorcentaje" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onkeyup="CalcularRetencion(this)" autofocus class="form-control text-center text-XX" />
                        </center>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Retención Aplicada"></label>
                        <center>
                            <input name="RRetencion" id="RRetencion" maxlength="12" class="form-control text-right text-XX" disabled />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="AgregarRetencio()"><span idioma="Agregar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="ActualizarRetencioCPago()"><span idioma="Actualizar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalProveedoresCP" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Proveedores"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="PRazon" id="PRazon" class="form-control" onkeyup="CargarModalProveedoresCP()" autofocus />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="PCedula" id="PCedula" class="form-control" onkeyup="CargarModalProveedoresCP()" />
                    </div>

                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table table-bordered hover" id="tablamodalproveedorecp">
                        <thead>
                            <tr>
                                <th><span idioma="NIT/Cédula"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="País"></span></th>
                                <th><span idioma="Teléfonos"></span></th>
                                <th><span idioma="Email"></span></th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>


    
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/CPago.js?unico=' + Math.round(Math.random() * 10000));
</script>




