﻿
<br>
<form id="formmonturas" style="background-color:white; color:black;">
    <div class="panel panel-primary" style="font-size:14px; color:black;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Nota de Débito y Crédito"></span></a></h3>
                </div>
                <div class="col-md-9 col-xs-12 text-right">
                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">[F2] <span idioma="Limpiar/Cancelar"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="ModalRecibo()">[F10] <span idioma="Buscar"></span></button>
                    <button class="btn btn-glow btn-success" type="button" id="btnGuardar" onclick="GuardarNota()">[F3] <span idioma="Guardar"></span></button>
                    <button class="btn btn-glow btn-warning hidden" type="button" id="btnEnviar" onclick="EnviarNota()">[F4] <span idioma="Enviar"></span></button>
                    <button class="btn btn-glow btn-warning hidden" type="button" id="btnImprimir" onclick="ImprimirNota()">[F6] <span idioma="Imprimir"></span></button>
                    <button class="btn btn-glow btn-danger hidden" type="button" id="btnAnular" onclick="AnularNota()">[F8] <span idioma="Anular"></span></button>
                    
                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-2" >
                        <div class="form-group row">
                            <div class="col-xs-6 col-md-12 col-sm-12">
                                <label><input id="nota_d" name="nota" type="radio" onchange="CargarConcepto('D')" /><span idioma="Nota de Débito"></span></label>
                            </div>
                            <div class="col-xs-6 col-md-12 col-sm-12">
                                <label><input id="nota_c" name="nota" type="radio" onchange="CargarConcepto('C')" checked /><span idioma="Nota de Crédito"></span> </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-8">
                        <div class="form-group row">
                            <div class="col-xs-3 col-md-3 col-sm-3">
                                <label idioma="NIT/C.C."></label>
                                <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarCliente(this.value,0)" onkeyup="ValidarCliente(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus tabindex="0" />
                            </div>
                            <div class="col-xs-8 col-md-10 col-sm-10">
                                <br>
                                <label id="NombreCliente"></label>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 col-sm-2">
                        <div class="col-xs-6 col-md-12 col-sm-12">
                            <div class="form-group row">
                                <label idioma="Número"></label>
                                <div style="font-size:23px; font-weight:bold" id="Recibo" class="text-center">0</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-12 col-sm-12">
                            <div class="form-group row">
                                <label idioma="Valor"></label>
                                <input type="text" class="form-control text-right" name="VRecaudado" id="VRecaudado" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label idioma="Concepto"></label>
                            <select class="form-control" name="Concepto" id="Concepto" required style="width:100%"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9 col-sm-9">
                        <div class="form-group">
                            <label idioma="Observación"></label>
                            <textarea class="form-control" rows="2" name="Observacion" id="Observacion"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-glow btn-info" href="javascript:ModalClientes()">F1 <span idioma="Buscar Clientes"></span></a>

    <hr />

    <div id="divAnulaciones" class="col-md-12 hidden">
        <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion" idioma="Prueba"></span></label>
    </div>
    
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div style="width:100%; height:250px; overflow-x:auto;">
                <table class="table display -bordered" width="100%" id="Malla" style="font-size:14px">
                    <thead>
                        <tr class="bg-primary">
                            <th width="10px"><span idioma="Nro"></span></th>
                            <th width="70px"><span idioma="Factura"></span></th>
                            <th width="90px"><span idioma="Fecha Factura"></span></th>
                            <th width="90px"><span idioma="Vencimiento"></span></th>
                            <th width="90px"><span idioma="Sub-Total"></span></th>
                            <th width="90px"><span idioma="Descuento"></span></th>
                            <th width="90px"><span idioma="IVA"></span></th>
                            <th width="90px"><span idioma="Valor Total"></span></th>
                            <th width="90px"><span idioma="Abono"></span></th>
                            <th width="90px"><span idioma="Saldo"></span></th>
                            <th width="90px"><span idioma="Asesor"></span></th>
                        </tr>
                    </thead>

                    <tbody id="bodyfacturacion"></tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="col-md-12 col-xs-6">
                <div class="form-group">
                    <label idioma="Total General en Facturas"></label>
                    <input type="text" class="form-control text-right" disabled name="TFactura" id="TFactura" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="form-group">
                    <label idioma="Saldo por abonar a factura"></label>
                    <input type="text" class="form-control text-right" disabled name="SFactura" id="SFactura" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
            <div class="col-md-12 col-xs-6">
                <div class="form-group">
                    <label idioma="Diferencia"></label>
                    <input type="text" class="form-control text-right" disabled name="SDiferencia" id="SDiferencia" style="font-size:20px; font-weight:bold" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="font-size:22px">
        <label idioma="SubTotal"></label>:&nbsp;&nbsp; <span id="SSubTotal">0</span>&nbsp;&nbsp;&nbsp;
        <label idioma="IVA"></label>:&nbsp;&nbsp; <span id="SIVA">0</span>&nbsp;&nbsp;&nbsp;
        <label idioma="Total Seleccionado"></label>:&nbsp;&nbsp; <span id="STotal">0</span>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <a class="text-XX" href="javascript:LlamarRetencion(1,'Retención I.V.A')"><span idioma="Retención I.V.A"></span></a>
                                <input class="form-control text-right text-XX" id="RetIVA" name="RetIVA" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <a class="text-XX" href="javascript:LlamarRetencion(2,'Retención Fuente')"><span idioma="Retención Fuente"></span></a>
                                <input class="form-control text-right text-XX" id="RetFuente" name="RetFuente" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <a class="text-XX" href="javascript:LlamarRetencion(3,'Retención I.C.A.')"><span idioma="Retención I.C.A"></span></a>
                                <input class="form-control text-right text-XX" id="RetICA" name="RetICA" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Retención CREE"></label>
                                <input class="form-control text-right" id="RetCREE" name="RetCREE" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Descuento"></label>
                                <input class="form-control text-right" id="Descuento" name="Descuento" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Otros Ingreso"></label>
                                <input class="form-control text-right" id="OIngreso" name="OIngreso" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="form-group">
                                <label idioma="Otros Egreso"></label>
                                <input class="form-control text-right" id="OEgreso" name="OEgreso" value="0" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTextoCaja(this,1)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>   
        


<div id="modalConsultarRecibos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Facturas"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro Recibo"></label>
                        <input name="BNRecibo" id="BNRecibo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Cód Cliente"></label>
                        <input name="BCodigo" id="BCodigo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Cliente"></label>
                        <input name="BCliente" id="BCliente" class="form-control" />
                    </div>
                    
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Estado"></label>
                        <select name="FEstado" id="FEstado" class="form-control" style="width:100%">
                            <option value="T" idioma="Todos"></option>
                            <option value="F" idioma="Facturados"></option>
                            <option value="A" idioma="Anuladas"></option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="FFechaDesde" id="FFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="BFechaHasta" id="BFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Ultimos Días"></label>
                        <input type="number" name="BUltimoDia" id="BUltimoDia" value="3" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalRecibos()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <div id="divmodalrecibos" class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered" id="tablamodalrecibos">

                        <thead>

                            <tr>
                                <th width="8%"><span idioma="Nro Recibo"></span></th>
                                <th><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Cliente"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Abonado"></span></th>
                                <th><span idioma="Anulado"></span></th>
                                <th><span idioma="Total"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="modalConsultarNotas" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Notas de Débito/Crédito"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-4 col-md-1">
                        <label idioma="Tipo"></label>
                        <select name="NTipo" id="NTipo" class="form-control" style="width:100%">
                            <option value="ND">ND</option>
                            <option value="NC">NC</option>
                        </select>
                    </div>

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Nro de Nota"></label>
                        <input name="NNRecibo" id="NNRecibo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Cód Cliente"></label>
                        <input name="NCodigo" id="NCodigo" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Cliente"></label>
                        <input name="NCliente" id="NCliente" class="form-control" />
                    </div>

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Estado"></label>
                        <select name="NEstado" id="NEstado" class="form-control" style="width:100%">
                            <option value="T" idioma="Todos"></option>
                            <option value="F" idioma="Facturados"></option>
                            <option value="A" idioma="Anuladas"></option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="NFechaDesde" id="NFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="NFechaHasta" id="NFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <label idioma="Ultimos Días"></label>
                        <input type="number" name="NUltimoDia" id="NUltimoDia" value="3" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalNotas()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <div id="divmodalnotas" class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered" id="tablamodalnotas">

                        <thead>

                            <tr>
                                <th width="8%"><span idioma="Nro Nota"></span></th>
                                <th width="8%"><span idioma="Tipo"></span></th>
                                <th><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Cliente"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Abonado"></span></th>
                                <th><span idioma="Anulado"></span></th>
                                <th><span idioma="Total"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalRetencion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="desretencion"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input id="RTipoRetencion" type="hidden" value="0"  />
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Base del Cálculo"></label>
                        <center>
                            <input name="RSubTotal" id="RSubTotal" disabled class="form-control text-right text-XX"" />
                        </center>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label>Porcentaje del Cliente (<span id="RPorCliente"></span>)%</label>
                        <center>
                            <input type="text" name="RPorcentaje" id="RPorcentaje" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,5)" onkeyup="CalcularRetencion(this)" autofocus class="form-control text-center text-XX" />
                        </center>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Retención Aplicada"></label>
                        <center>
                            <input name="RRetencion" id="RRetencion" maxlength="12" class="form-control text-right text-XX" disabled />
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="AgregarRetencio()"><span idioma="Agregar"></span></button>
            </div>

        </div>
    </div>
</div>
    
<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/NotaDC.js?unico=' + Math.round(Math.random() * 10000));
    
</script>




