﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable page-tabs" id="tabnotascre">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar Nota Crédito"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <form id="formmonturas" style="background-color:white">
                        <input type="hidden" name="NFactura" id="NFactura" disabled required />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Nota de Crédito"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" onclick="EnviarNotaCre()">F4 <span idioma="Enviar"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="NIT/Cédula"></label>
                                            <input type="text" class="form-control" name="Cliente" id="Cliente" disabled />
                                        </div>
                                        <div class="col-xs-10 col-sm-4">
                                            <label idioma="Nombre del Cliente"></label><br>
                                            <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Nro Nota"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarNota(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Nota" id="Nota" tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Factura"></label>
                                            <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarFacturaNotaCre(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Factura" id="Factura" tabindex="10" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Ciudad/Departamento"></label>
                                            <input type="text" class="form-control" name="Ciudad" id="Ciudad" disabled tabindex="11" />
                                        </div>

                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha"></label>
                                            <input type="date" class="form-control" name="FechaNot" id="FechaNot" tabindex="11" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="hidden-xs col-sm-4 col-sm-4">
                                            <label idioma="Dirección"></label><br>
                                            <input type="text" class="form-control" name="Direccion" id="Direccion" disabled />
                                        </div>

                                        <div class="col-xs-4 col-sm-3 col-sm-3">
                                            <label idioma="Email"></label>
                                            <input type="text" class="form-control" name="Email" id="Email" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <label idioma="Teléfonos"></label>
                                            <input type="text" class="form-control" name="Telefonos" id="Telefonos" disabled />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Estado"></label>
                                            <input type="text" class="form-control" name="Estado" id="Estado" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" id="SaldoClienteDev"></div>
                            <div class="col-md-12 text-danger text-XX" id="divAnulaciones"></div>
                        </div>

                        <div class="table-responsive">
                            <table class="table display -bordered" width="100%" id="TablaCotizacion" style="font-size:14px">
                                <thead>
                                    <tr class="bg-primary">
                                        <th width="3%" align="center" height="40px"><input type="checkbox" id="seleccionatodonc" onchange="SeleccionarTodoNC()" class="form-control" /></th>
                                        <th width="250px" height="40px" idioma="Descripción"></th>
                                        <th width="10px" align="center" height="40px" idioma="Cantidad"></th>
                                        <th width="90px" align="center" idioma="Valor Unitario"></th>
                                        <th width="60px" align="center" idioma="% Desc"></th>
                                        <th width="60px" align="center" idioma="IVA"></th>
                                        <th width="90px" align="center" idioma="Valor Total"></th>
                                    </tr>
                                </thead>

                                <tbody id="bodyNotaCre"></tbody>
                            </table>
                        </div>
                        <hr />
                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn btn-glow-group" role="group">
                                    <button type="button" class="btn btn-glow btn-info" onclick="ModalFacturas()">F1 <span idioma="Facturas"></span></button>
                                    <button class="btn btn-glow btn-success" id="btnguardar3" type="button" onclick="GuardarNotaCre()">F3 <span idioma="Guardar"></span></button>
                                    <button class="btn btn-glow btn-primary" id="btnguardar3" type="button" onclick="ImprimirNotaCre(0)">F6 <span idioma="Imprimir"></span></button>
                                    <button class="btn btn-glow btn-danger" id="btnanularped3" type="button" onclick="AnularNotaCre()">F8 <span idioma="Anular"></span></button>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-9   col-xs-12  ">
                                <div class="panel panel-primary" style="font-size:14px; color:black;">

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tipo de Cliente"></label>
                                                <input class="form-control text-XX text-center" id="TipoCliente" disabled style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Plazo de Pago"></label>
                                                <input class="form-control text-XX text-center" id="PlazoPago" disabled style="width:100%" />
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <label idioma="Tabla Precio:"></label>
                                                <input class="form-control text-XX text-center" id="TablaPrecio" disabled style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-3">
                                                <label idioma="Fecha de Registro"></label>
                                                <input class="form-control text-XX text-center" id="FechaReg" disabled style="width:100%" />
                                            </div>
                                            <div class="col-sm-3 col-xs-3">
                                                <label idioma="Saldo Factura"></label>
                                                <input class="form-control text-XX text-center" id="Saldo" value="0" disabled style="width:100%" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <label idioma="Usuario"></label>
                                                <input class="form-control text-XX text-center" id="UsuarioReg" disabled style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <label idioma="Observaciones"></label>
                                                <textarea class="form-control" name="Observaciones" id="Observaciones" rows="4" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Sub-Total"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tsubtotal" id="tsubtotal" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Descuento"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tdescuento" id="tdescuento" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Gravable"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tbaseimponible" id="tbaseimponible" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Exento"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="texcento" id="texcento" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="IVA"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tiva" id="tiva" disabled="" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="RETEFUENTE"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="tretefuente" id="tretefuente" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="RETEIVA"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="treteiva" id="treteiva" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="RETEICA"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="treteica" id="treteica" style="font-size:20px">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 control-label text-right" idioma="Total a Pagar"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" name="ttotalpagar" id="ttotalpagar" disabled="" style="font-size:22px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Nota"></label>
                                <input name="CNota" id="CNota" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Factura"></label>
                                <input name="CFactura" id="CFactura" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Cliente"></label>
                                <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Estado"></label>
                                <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                                    <option value="Todos">Todas</option>
                                    <option value="Registrado">Registrada</option>
                                    <option value="Anulado">Anulada</option>
                                </select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Asesor"></label>
                                <select name="CAsesor" id="CAsesor" class="form-control" style="width:100%" />
                            </div>
                            <div class="col-xs-4 col-sm-1 text-center">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularNotasCre()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaNotasCredito" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th width="3%">&nbsp;</th>
                                            <th width="5%"><span idioma="Nro Nota"></span></th>
                                            <th width="5%"><span idioma="Factura"></span></th>
                                            <th><span idioma="Fecha Nota"></span></th>
                                            <th><span idioma="Fecha Registro"></span></th>
                                            <th width="15%"><span idioma="Cliente"></span></th>
                                            <th width="15%"><span idioma="Telefono<br>Dirección"></span></th>
                                            <th><span idioma="Ciudad<br>Departamento"></span></th>
                                            <th><span idioma="Correo Electrónico"></span></th>
                                            <th><span idioma="Subtotal"></span></th>
                                            <th><span idioma="Descuento"></span></th>
                                            <th><span idioma="IVA"></span></th>
                                            <th><span idioma="Rete IVA"></span></th>
                                            <th><span idioma="Rete ICA"></span></th>
                                            <th><span idioma="Rete Fuente"></span></th>
                                            <th><span idioma="Total"></span></th>
                                            <th><span idioma="Estado"></span></th>
                                            <th><span idioma="Usuario"></span></th>
                                            <th><span idioma="Anulada"></span></th>
                                            <th><span idioma="Enviada"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="enviar_notacre" class="modal fade" tabindex="-1" role="dialog">
    <form id="formenviarfactura">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Factura Número"></span> <span id="spfactura"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Cliente"></label>
                            <input type="text" class="form-control" id="eCliente" readonly />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdffactura" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalConsultarFacturas" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Facturas"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-4 col-md-2">
                        <label idioma="Factura"></label>
                        <input name="BFactura" id="BFactura" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <label idioma="Cliente"></label>
                        <select name="BCliente" id="BCliente" class="form-control" style="width:100%"/>
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="BFechaDesde" id="BFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-3">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="BFechaHasta" id="BFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="CargarModalFacturas()"><span idioma="Consultar"></span></button>
                    </div>
                </div>
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaModalFacturas">
                        <thead>
                            <tr>
                                <th width="3%"><span idioma="Nro Factura"></span></th>
                                <th width="20%"><span idioma="Cliente"></span></th>
                                <th><span idioma="Fecha"></span></th>
                                <th><span idioma="Estado"></span></th>
                                <th><span idioma="Total"></span></th>
                                <th><span idioma="Abonado"></span></th>
                                <th><span idioma="Saldo"></span></th>
                                <th><span idioma="Enviado"></span></th>
                                <th><span idioma="Anulado"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/NotaCredito.js?unico=' + Math.round(Math.random() * 10000));
</script>




