﻿<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Reporte General de Notas de Crédito"></span></a></h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-group block form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 id="h1" class="panel-title panel-trigger">
                        <a data-toggle="collapse" href="#tPrecio1"><span idioma="Rango de búsqueda"></span></a>
                    </h6>
                    <div class="panel-body">
                        <div id="tPrecio1" class="panel-collapse collapse in">
                            <div class="form-group row">
                                <div class="col-xs-12 col-md-2">
                                    <label idioma="Número Nota CRE"></label>
                                    <input type="text" id="RNumero" class="form-control" tabindex="1" />
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label idioma="Número Factura"></label>
                                    <input type="text" id="RFactura" class="form-control" tabindex="1" />
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <label idioma="Fecha Desde"></label>
                                    <input type="date" id="RFechaI" class="form-control" tabindex="1" />
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <label idioma="Fecha Hasta"></label>
                                    <input type="date" id="RFechaF" class="form-control" tabindex="1" />
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-xs-12 col-md-3">
                                    <label idioma="Asesor"></label>
                                    <select id="RAsesor" class="form-control" style="width:100%" />
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label idioma="Cliente"></label>
                                    <select type="text" id="RCliente" class="form-control" style="width:100%" />
                                </div>
                                <div class="col-xs-4 col-md-3 text-right">
                                    <br>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="Reporte(1)"><span idioma="Consultar"></span></button>
                                    <button class="btn btn-glow btn-success" type="button" onclick="Reporte(2)"><span idioma="Reporte PDF"></span></button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12 col-md-2">
                                    <label><span idioma="Recibos Anulados" class="text-danger"></span> <input type="checkbox" id="RAnulado" /></label>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label><span idioma="Ordenar por Asesor"></span> <input type="checkbox" id="ROrdenarAse" /></label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table display " id="tablaconsulta">
                <thead>
                    <tr>
                        <th><span idioma="Nota Cre"></span></th>
                        <th><span idioma="Observación"></span></th>
                        <th><span idioma="Factura"></span></th>
                        <th><span idioma="Cliente"></span></th>
                        <th><span idioma="Asesor"></span></th>
                        <th><span idioma="Fecha/Recibo"></span></th>
                        <th><span idioma="Valor<br>Factura"></span></th>
                        <th><span idioma="Restado"></span></th>
                        <th><span idioma="Estado"></span></th>
                        <th><span idioma="AnuladoPor"></span></th>
                        <th><span idioma="Fecha Anulación"></span></th>
                        <th><span idioma="ReteIVA"></span></th>
                        <th><span idioma="ReteFuente"></span></th>
                        <th><span idioma="ReteICA"></span></th>
                        <th><span idioma="ReteCREE"></span></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    <script>
        TraducirIdioma($("#menu_idioma").val() * 1);
        $.getScript(url_cliente + 'js/ReporteNota.js?unico=' + Math.round(Math.random() * 10000));
    </script>
