﻿<div class="row col-sm-12">
    <form id="formmonturas" style="background-color:white">
        <div class="panel panel-primary" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Fotos por Inventarios"></span></a></h3>
                    </div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                        <button class="btn btn-glow btn-success" type="button" id="btnlimpiar" onclick="SubirFoto()"><span idioma="Subir Foto"></span></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Ubicación"></label><br>
                            <select  class="form-control" name="Equipo" id="Equipo" style="width:100%" />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label idioma="Responsable"></label><br>
                            <select class="form-control" name="Equipo" id="Equipo" style="width:100%" />
                        </div>
                    </div>
                    <hr />
                    <table class="table display  table-bordered hover">
                        <thead>
                            <tr>
                                <th idioma="Referencia"></th>
                                <th idioma="Serial"></th>
                                <th idioma="Equipo></th>
                            </tr>
                        </thead>
                        <tbody id="TablaEquipos">

                        </tbody>
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-sm-8 col-xs-8">
                            <div id="my_cameraing"></div>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="row text-center">
                                <button class="btn btn-glow btn-success" onclick="TomarFoto()" type='button'>F12<span idioma="Capturar Foto"></span></button>
                                <br />
                                <br />
                                <button class="btn btn-glow btn-danger" onclick="EliminarFoto()" type='button'>F10 <span idioma="Eliminar Foto"></span></button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="panel panel-success" style="font-size:14px;">
                                <div class="panel-heading"><h6 class="panel-title"><i class="icon-table"></i><span idioma="Fotos del Equipo"></span> <span id="DescEquipo"></span> </h6></div>
                                <div class="panel-body">
                                    <center>
                                        <div id="AlbunFotosIng">
                                        </div>
                                        <input type='hidden' name='id_imagen' id="id_imagen" value="">
                                        <canvas id="tci6fotonueing" style="display:none;"></canvas>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                                       

                </div>
            </div>
        </div>
    </form>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/FotoEquipos.js?unico=' + Math.round(Math.random() * 10000));
</script>




