﻿
<div class="tabbable page-tabs" id="tab-inventario">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro de Inventarios"></span></a></li>
        <li id="proli7"><a href="#tabprecios" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Tabla de Precios"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-9">
                    <form id="formArticulos" style="background-color:white">
                        <input type="hidden" name="IdArticulo" id="IdArticulo" value="0" />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Inventarios"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="ActualizarCombos()"><span idioma="Actualizar Combos"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group-min row">
                                    <label class="col-md-2 control-label" idioma="Grupo"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="Grupo" onchange="CargarEquipos(this.value)" name="Grupo" style="width:100%" required />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Tipo de Inventario"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="TipoInventario" name="TipoInventario" required style="width:100%" onchange="CambioTipoInventario(this.value)">
                                            <option value="">--Seleccione--</option>
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="PRODUCTO">PRODUCTO</option>
                                            <option value="SERVICIO">SERVICIO</option>
                                            <option value="SUMINISTRO">SUMINISTRO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-md-2 control-label" idioma="Código Interno"></label>
                                    <div class="col-sm-4">
                                        <input class="form-control" name="CodigoInterno" id="CodigoInterno" disabled />
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Código Barras"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="CodigoBarras" id="CodigoBarras" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarOpcion(2,'EQUIPO/SERVICIO','Equipo')"><span idioma="Equipo/Servicio"></span> (+)</a></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" name="Equipo" id="Equipo" required style="width:100%" onchange="GrupoEquipo(this.value)" />
                                    </div>
                                    <label class="col-sm-2 control-label text-right"><a href="javascript:AgregarOpcion(3,'PRESENTACION','Presentacion')"><span idioma="Presentación"></span> (+)</a></label>
                                    <div class="col-sm-4">
                                        <select id="Presentacion" name="Presentacion" class="form-control" style="width:100%" required />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarOpcion(4,'MARCA','Marca')"><span idioma="Marcas"></span> (+)</a></label>
                                    <div class="col-sm-4">
                                        <select name="Marca" id="Marca" class="form-control" onchange="CargarModelos(this.value)" required style="width:100%" />
                                    </div>
                                    <label class="col-sm-2 control-label text-right"><a href="javascript:AgregarOpcion(5,'MODELO','Modelo')"><span idioma="Modelos"></span> (+)</a></label>
                                    <div class="col-sm-4">
                                        <select id="Modelo" name="Modelo" class="form-control" style="width:100%" required />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label"><a href="javascript:AgregarOpcion(6,'CARACTERISTICA','Caracteristica')"><span idioma="Característica"></span> (+)</a></label>
                                    <div class="col-sm-10">
                                        <select id="Caracteristica" name="Caracteristica" class="form-control" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Descripción"></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="Descripcion" id="Descripcion" rows="2" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Leyenda de Cotización"></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="LeyendaCotizacion" id="LeyendaCotizacion" rows="2" readonly />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Última Factura"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="UltimaFactura" id="UltimaFactura" disabled />
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="Fecha"></label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="Fecha" id="Fecha" disabled />
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="Existencia"></label>
                                    <div class="col-sm-1">
                                        <input type="text" name="Existencia" id="Existencia" disabled value="0" class="form-control text-center">
                                    </div>
                                    <label class="col-sm-1 control-label text-right" idioma="Cotizadas"></label>
                                    <div class="col-sm-1">
                                        <input type="text" name="Existencia" id="Existencia" disabled value="0" class="form-control text-center">
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Proveedor"></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Proveedor" id="Proveedor" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Católogo"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Catalogo" id="Catalogo" required style="width:100%">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Usa Referencia"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Referencia" id="Referencia" required style="width:100%">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Uso Interno"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="UsoInterno" id="UsoInterno" required style="width:100%">
                                            <option value="">--</option>
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Garantía (Meses)"></label>
                                    <div class="col-sm-2">
                                        <input type="text" name="Garantia" id="Garantia" value="0" class="form-control text-center text-XX" onkeyup="ValidarTexto(this,3)">
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Cuenta Contable"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="CuentaContable" name="CuentaContable" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Ficha Técnica PDF"></label>
                                    <div class="col-sm-9">
                                        <input type="file" id="FichaTecnica" name="FichaTecnica" onchange="GuardarDocumento(0,this.id)" accept="application/pdf" class="form-control" />
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" onclick="AbrirPDF(1)" class="btn btn-primary text-center" title="Ver PDF"><i class="icon-file-pdf"></i></button>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Manual PDF"></label>
                                    <div class="col-sm-9">
                                        <input type="file" id="Manual" name="Manual" onchange="GuardarDocumento(1,this.id)" accept="application/pdf" class="form-control" />
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" onclick="AbrirPDF(2)" class="btn btn-primary" title="Ver PDF"><i class="icon-file-pdf"></i></button>
                                    </div>
                                </div>
                                <div class="form-group-min row">
                                    <label class="col-sm-2 control-label" idioma="Estado"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Estado" id="Estado" required style="width:100%">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Fotos del Catálogo"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <div class="form-group row">
                                    <img src="../Adjunto/imagenes/logo_articulo.png" width="100%" id="FotoArticulo" onclick="CatalogoArticulo()" />
                                </div>
                                <div class="form-group row">
                                    <button class="btn btn-glow btn-success" type="button" onclick="SubirFotoArticulo()"><span idioma="Subir Foto"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#DependenciaPrecio" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Estructura de Costo"></span></a></li>
                    <li><a href="#Precios" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Tabla de Precios (Moneda Nacional)"></span></a></li>
                    <li><a href="#PreciosUSD" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Tabla de Precios (Dólares)"></span></a></li>
                    <li><a href="#tabexistencia" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Existencias y Ubicaciones"></span></a></li>
                    <li><a href="#tabkardex" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Kardex"></span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="DependenciaPrecio">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel-group block">
                                    <input type="hidden"  id="DepId" value="0">
                                    <input type="hidden"  id="DepIdArticulo" value="0">
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-md-2 col-sm-2">
                                            <label idioma="Código Interno"></label>
                                            <input type="text" class="form-control" id="DepCodigo" readonly tabindex="3">
                                        </div>
                                        <div class="col-xs-4 col-md-5 col-sm-4">
                                            <label idioma="Artículo"></label>
                                            <textarea type="text" class="form-control" id="DepArticulo" tabindex="3" readonly rows="2"/>
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Cantidad"></label>
                                            <input type="text" id="DepCantidad"  onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,0)" onkeyup="ValidarTexto(this,3)" class="form-control text-right text-XX"  tabindex="3"/>
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Precio M.N."></label>
                                            <input type="text" id="DepPrecioMN" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right text-XX"/>
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Precio USD"></label>
                                            <input type="text" id="DepPrecioUSD" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right text-XX"/>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-md-12 text-right">
                                            <button class="btn btn-glow btn-default" type="button" onclick="LimpiarDependencia()"><span idioma="Limpiar"></span></button>
                                            <button class="btn btn-glow btn-info" type="button" onclick="ModalArticulos()"><span idioma="Buscar Artículo"></span></button>
                                            <button class="btn btn-glow btn-success" type="button" onclick="GuardarDependencia()"><span idioma="Agregar"></span></button>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="table-responsive" style="min-height:300px">
                                        <table class="table display  table-bordered hover" id="TablaDependencia">
                                            <thead>
                                                <tr>
                                                    <th width="3%">&nbsp;</th>
                                                    <th width="3%" idioma="ID"></th>
                                                    <th idioma="Código Interno"></th>
                                                    <th width="40%" idioma="Artículo/Servico/Suministro"></th>
                                                    <th idioma="Cantidad"></th>
                                                    <th idioma="Precio M.N."></th>
                                                    <th idioma="SubTotal M.N."></th>
                                                    <th idioma="precio Dólares"></th>
                                                    <th idioma="SubTotal Dólares"></th>
                                                    <th width="5%" idioma="Estado"></th>
                                                    <th width="8%" idioma="Registro"></th>
                                                    <th width="3%" idioma="Artículo"></th>
                                                    <th width="3%">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-md-4">
                                            &nbsp;
                                        </div>
                                        <div class="col-xs-4 col-md-2">
                                            <label class="text-XX" idioma="Cantidad"></label>
                                            <input name="TCantidad" id="TCantidad" disabled class="form-control text-right text-XX" />
                                        </div>
                                        <div class="col-xs-4 col-md-3">
                                            <label class="text-XX" idioma="Total M.N."></label>
                                            <input name="TTotal" id="TTotal" disabled class="form-control text-right text-XX" />
                                        </div>
                                        <div class="col-xs-4 col-md-3">
                                            <label class="text-XX" idioma="Total USD"></label>
                                            <input name="TTotalUSD" id="TTotalUSD" disabled class="form-control text-right text-XX" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Precios" class="tab-pane fade in">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel-group block form-group">
                                    <h3><span idioma="Debe de ingresar el precio SIN IVA"></span></h3>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span idioma="Ultimo Costo"></span></label>
                                                    <input type="text" id="UltimoCosto" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" tabindex="7" style="font-size:22px;" value="0" />
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span idioma="IVA"></span></label>
                                                    <select type="text" id="Iva" style="width:100%;font-size:22px;" />
                                                </div>
                                                <div class="col-xs-4 col-sm-6 text-right">
                                                    <br />
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="CalcularPrecio()">Calcular Precios</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio1" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="3" value="0" />
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio2" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="4" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio3" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="5" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio4" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="6" value="0"/>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio5" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="7" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio6" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="8" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio7" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="9" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio8" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="10" value="0"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio9" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="11" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecio10" idioma="Precio"></span></label>
                                                    <input type="text" id="Precio10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="12" value="0"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="PreciosUSD" class="tab-pane fade in">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel-group block form-group">
                                    <h3><span idioma="Debe de ingresar el precio SIN IVA"></span></h3>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span idioma="Ultimo Costo"></span></label>
                                                    <input type="text" id="UltimoCostoUSD" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" tabindex="7" style="font-size:22px;" value="0" />
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span idioma="IVA"></span></label>
                                                    <select type="text" id="IvaUSD" style="width:100%;font-size:22px;" />
                                                </div>
                                                <div class="col-xs-4 col-sm-6 text-right">
                                                    <br />
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="CalcularPrecio('USD')">Calcular Precios</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD1" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD1" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="3" value="0" />
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD2" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD2" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="4" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD3" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD3" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="5" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD4" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD4" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="6" value="0"/>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD5" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD5" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="7" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD6" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD6" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="8" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD7" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD7" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="9" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD8" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD8" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="10" value="0"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD9" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD9" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="11" value="0"/>
                                                </div>
                                                <div class="col-xs-4 col-sm-3">
                                                    <label><span id="LaPrecioUSD10" idioma="Precio"></span></label>
                                                    <input type="text" id="PrecioUSD10" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ValidarTexto(this,3)" class="form-control text-right" style="font-size:22px;" tabindex="12" value="0"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tabsedes">
                        <div class="table-responsive" style="min-height:300px">
                            <table class="table display  table-bordered hover" id="TablaSede">
                                <thead>
                                    <tr>
                                        <th idioma="Ubicación"></th>
                                        <th idioma="Responsable"></th>
                                        <th idioma="Serie"></th>
                                        <th idioma="Accesorios"></th>
                                        <th idioma="Costo"></th>
                                        <th idioma="Costo"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Tipo Artículo"></label>
                            <select name="MTipo" id="MTipo" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="PRODUCTO">PRODUCTO</option>
                                <option value="SERVICIO">SERVICIO</option>
                                <option value="SUMINISTRO">SUMINISTRO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Grupo"></label>
                            <select name="CGrupo" id="CGrupo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Equipo"></label>
                            <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Marca"></label>
                            <select name="CMarca" id="CMarca" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Modelo"></label>
                            <select name="CModelo" id="CModelo" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Estado"></label>
                            <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Presentación"></label>
                            <select name="CPresentacion" id="CPresentacion" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="Característica"></label>
                            <select name="CCaracteristica" id="CCaracteristica" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label idioma="Proveedor"></label>
                            <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-sm-1">
                            <label idioma="Referencia"></label>
                            <select type="text" class="form-control" name="CReferencia" id="CReferencia"  style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label idioma="Uso Interno"></label>
                            <select type="text" class="form-control" name="CUsoInterno" id="CUsoInterno"  style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-2 text-right">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarArticulos()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaArticulos">
                            <thead>
                                <tr>
                                    <th width="3%">ID</th>
                                    <th width="8%">&nbsp;</th>
                                    <th><span idioma="Código Interno"></span></th>
                                    <th><span idioma="Código Barras"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Grupo"></span></th>
                                    <th><span idioma="Presentación"></span></th>
                                    <th width="10%"><span idioma="Equipo"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Característica"></span></th>
                                    <th><span idioma="Existencias"></span></th>
                                    <th><span idioma="Proveedor"></span></th>
                                    <th><span idioma="Ultimo Costo"></span></th>
                                    <th><span idioma="Ultima Factura"></span></th>
                                    <th><span idioma="IVA"></span></th>
                                    <th><span idioma="Garantía<br>Meses"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Catálogo"></span></th>
                                    <th><span idioma="Referencia"></span></th>
                                    <th><span idioma="Uso Interno"></span></th>
                                    <th><span idioma="Ficha<br>Técnica"></span></th>
                                    <th><span idioma="Manual de<br>Usuario"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabprecios">
            <div class="panel panel-primary" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Tabla de Precios"></span></a></h3>
                        </div>
                        <div class="col-md-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-primary" type="button" id="btnlimpiar" onclick="TablaPrecios()"><span idioma="Recargar Tabla"></span></button>
                            <button class="btn btn-glow btn-info" type="button"><span idioma="Calcular Precios"></span></button>
                            <button class="btn btn-glow btn-warning" type="button" onclick="ImportarPrecios()"><span idioma="Importar Precios desde Excel"></span></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Código Interno"></label>
                            <input name="PCodigoInterno" id="PCodigoInterno" class="form-control" onchange="TablaPrecios()" autofocus />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Código Barras"></label>
                            <input name="PCodigoBarras" id="PCodigoBarras" class="form-control" onchange="TablaPrecios()" autofocus />
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Grupo"></label>
                            <select name="PGrupo" id="PGrupo" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Tipo"></label>
                            <select name="PTipo" id="PTipo" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="PRODUCTO">PRODUCTO</option>
                                <option value="SERVICIO">SERVICIO</option>
                                <option value="SUMINISTRO">SUMINISTRO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Estado"></label>
                            <select name="PEstado" id="PEstado" class="form-control" style="width:100%">
                                <option value="Todos">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label idioma="Referencia"></label>
                            <select type="text" class="form-control" name="PReferencia" id="PReferencia"  style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <label idioma="Uso Interno"></label>
                            <select type="text" class="form-control" name="PUsoInterno" id="PUsoInterno"  style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Catálogo"></label>
                            <select name="PCatalogo" id="PCatalogo" class="form-control" onchange="TablaPrecios()" style="width:100%">
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-sm-1">
                            <label idioma="Iva"></label>
                            <select name="PIva" id="PIva" class="form-control" onchange="TablaPrecios()" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Equipo"></label>
                            <select name="PEquipo" id="PEquipo" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Marca"></label>
                            <select name="PMarca" id="PMarca" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Modelo"></label>
                            <select name="PModelo" id="PModelo" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Presentación"></label>
                            <select name="PPresentacion" id="PPresentacion" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Característica"></label>
                            <select name="PCaracteristica" id="PCaracteristica" class="form-control" onchange="TablaPrecios()" style="width:100%"></select>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <label idioma="Proveedor"></label>
                            <select name="PProveedor" id="PProveedor" class="form-control" onchange="TablaPrecios()" style="width:100%" />
                        </div>
                    </div>

                    <hr />
                    <div class="table-responsive">
                        <table class="table display table-bordered hover" id="TablaPrecios">
                            <thead>
                                
                                <tr>
                                    <th width="8%">&nbsp;</th>
                                    <th width="5%" idioma="ID"></th>
                                    <th width="10%" idioma="Código Interno"></th>
                                    <th width="65%" idioma="Código de Barra"></th>
                                    <th width="10%" idioma="Grupo"></th>
                                    <th width="10%" idioma="Tipo"></th>
                                    <th width="5%" idioma="Equipo/Servico"></th>
                                    <th width="5%" idioma="Marca"></th>
                                    <th width="5%" idioma="Modelo"></th>
                                    <th width="10%" idioma="Presentación"></th>
                                    <th width="10%" idioma="Característica"></th>
                                    <th width="10%" idioma="Referencia"></th>
                                    <th width="10%" idioma="Uso Interno"></th>
                                    <th width="10%" idioma="Catalogo"></th>
                                    <th width="10%" idioma="Existencia"></th>
                                    <th idioma="Proveedor"></th>
                                    <th idioma="Garantía"></th>
                                    <th width="10%" idioma="Último Costo MN"></th>
                                    <th width="10%" idioma="IVA % MN"></th>
                                    <th width="10%" id="TitPrecio1">Precio1</th>
                                    <th width="10%" id="TitPrecio2">Precio2</th>
                                    <th width="10%" id="TitPrecio3">Precio3</th>
                                    <th width="10%" id="TitPrecio4">Precio4</th>
                                    <th width="10%" id="TitPrecio5">Precio5</th>
                                    <th width="10%" id="TitPrecio6">Precio6</th>
                                    <th width="10%" id="TitPrecio7">Precio7</th>
                                    <th width="10%" id="TitPrecio8">Precio8</th>
                                    <th width="10%" id="TitPrecio9">Precio9</th>
                                    <th width="10%" id="TitPrecio10">Precio10</th>
                                    <th width="10%" idioma="Último Costo USD"></th>
                                    <th width="10%" idioma="IVA % USD"></th>
                                    <th width="10%" id="TitPrecioUSD1">Precio1.USD</th>
                                    <th width="10%" id="TitPrecioUSD2">Precio2.USD</th>
                                    <th width="10%" id="TitPrecioUSD3">Precio3.USD</th>
                                    <th width="10%" id="TitPrecioUSD4">Precio4.USD</th>
                                    <th width="10%" id="TitPrecioUSD5">Precio5.USD</th>
                                    <th width="10%" id="TitPrecioUSD6">Precio6.USD</th>
                                    <th width="10%" id="TitPrecioUSD7">Precio7.USD</th>
                                    <th width="10%" id="TitPrecioUSD8">Precio8.USD</th>
                                    <th width="10%" id="TitPrecioUSD9">Precio9.USD</th>
                                    <th width="10%" id="TitPrecioUSD10">Precio10.USD</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCalPrecio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TitCalPrecio" idioma="Calcular Precios"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" id="Pos" />
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Costo"></label>
                        <input type="text" class="form-control text-right" disabled style="font-size:22px" id="Cos" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Porcentaje"></label>
                        <input type="text" class="form-control text-center" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="CalcularResultado(this,3)" style="font-size:22px" id="Por" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Base"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" onkeyup="CalcularResultado(this,1)" style="font-size:22px" id="PreBas" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="IVA"></label>
                        <input type="text" class="form-control text-center" disabled style="font-size:22px" id="IVA" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Venta"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="ArtCalcularResultado(this,2)" style="font-size:22px" id="PreVen" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-danger" tabindex="34" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" tabindex="33" type="button" onclick="AgregarPrecio()"><span idioma="Agregar Precio"></span></button>
            </div>
        </div>
    </div>
</div>


<div id="modalArticulos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-6 col-md-3">
                        <label idioma="Ubicación Depósito"></label>
                        <select id="MUbicacion" class="form-control" onchange="CargarModalArticulos('Art')" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Grupo"></label>
                        <select id="MGrupo" class="form-control" onchange="CargarModalArticulos('Art')" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Código ó Código de Barras"></label>
                        <input id="MCodigo" class="form-control" onkeyup="CargarModalArticulos('Art')" />
                    </div>
                    <div class="col-xs-6 col-md-1">
                        <label idioma="Precio"></label>
                        <input id="MPrecio" class="form-control text-XX text-center" onkeyup="CargarModalArticulos('Art')" value="1" readonly />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label idioma="Artículo/Marca/Modelo/Característica"></label>
                        <input id="MDescripcion" class="form-control" onkeyup="CargarModalArticulos('Art')" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaModalArticulosArt">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">ID</th>
                                <th width="5%"><span idioma="Código Interno"></span></th>
                                <th width="5%"><span idioma="Código Barras"></span></th>
                                <th><span idioma="Grupo"></span></th>
                                <th><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Artículo"></span></th>
                                <th><span idioma="Marca"></span></th>
                                <th><span idioma="Modelo"></span></th>
                                <th><span idioma="Presentación"></span></th>
                                <th><span idioma="Característica"></span></th>
                                <th><span idioma="Existencia"></span></th>
                                <th><span idioma="Último Costo"></span></th>
                                <th><span idioma="Precio MN"></span></th>
                                <th><span idioma="Precio USD"></span></th>
                                <th><span idioma="Referencia"></span></th>
                                <th><span idioma="Uso Interno"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Cuenta Contable"></span></th>
                                <th><span idioma="Proveedor"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Inventarios.js?unico=' + Math.round(Math.random() * 10000));
</script>




