﻿
<div class="tabbable page-tabs" id="tab-inventario">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabtraslado" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Traslado Interno"></span></a></li>
        <li><a href="#tabaconsulta" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabtraslado">
            <div class="form-group row">
                <div class="panel panel-info hidden" id="BuscarArticulo" >
                    <div class="panel-heading">
                        <h3 class="panel-title"><span idioma="Información General"></span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label idioma="Tipo"></label>
                                <input id="TTipo" class="form-control" readonly>
                            </div>
                            <div class="col-sm-3">
                                <label idioma="Grupo"></label>
                                <select id="TGrupo" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigoTras(1)"></select>
                            </div>

                            <div class="col-sm-3">
                                <label idioma="Equipo"></label>
                                <select id="TEquipo" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigoTras(2)"></select>
                            </div>
                            <div class="col-sm-3">
                                <label idioma="Presentación"></label>
                                <select id="TPresentacion" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigoTras(3)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label idioma="Marca"></label>
                                <select id="TMarca" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigoTras(4)"></select>
                            </div>
                            <div class="col-sm-3">
                                <label idioma="Modelo"></label>
                                <select id="TModelo" class="form-control" tabindex="3" style="width:100%" onchange="BuscarComboCodigoTras(5)"></select>
                            </div>
                            <div class="col-sm-3">
                                <label idioma="Código"></label>
                                <select id="TCodigo" class="form-control" tabindex="3" style="width:100%" onchange="SeleccionarCodigoTras(this.value)"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-xs-2 col-sm-1">
                            <label idioma="Num.Traslado"></label>
                            <input type="text" id="NumTraslado" value="0" readonly class="form-control text-XX text-center" required />
                        </div>
                        <div class="col-xs-2 col-sm-3">
                            <label idioma="Ubicación Origen"></label>
                            <select type="text" id="UbicacionOrig" class="form-control" required style="width:100%" onchange="TablaTraslado()" />
                        </div>
                        <div class="col-xs-2 col-sm-3">
                            <label idioma="Ubicación Destino"></label>
                            <select type="text" id="UbicacionDest" class="form-control" required style="width:100%" onchange="TablaTraslado()" />
                        </div>
                        <div class="col-xs-2 col-sm-3">
                            <label idioma="Responsable"></label>
                            <select type="text" id="Responsable" class="form-control" required style="width:100%" onchange="TablaTraslado()" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-xs-4 col-sm-3">
                            <label idioma="Código de Barras/Interno"></label>
                            <input type="text" id="Codigo" class="form-control input-lg" tabindex="8" required onkeyup="BuscarCodigoTras(this.value, event, 0)" />
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <label idioma="Existencia"></label>
                            <input type="text" id="Existencia" value="" class="form-control text-XX text-center" readonly />
                        </div>
                        <div class="col-xs-2 col-sm-1">
                            <label idioma="Cant.Traslado"></label>
                            <input type="text" id="Traslado" value="1" pattern="[0-9]" maxlength="3" min="1" tabindex="7" onkeypress="return NumCheck(event, this,0)" class="form-control text-XX text-center" onkeyup="ActivarGuardarTras(this.id, event)" required />
                        </div>

                        <div class="col-xs-3 col-sm-7 text-right">
                            <br>
                            <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()">
                                <i class="glyphicon glyphicon-file" title="Cerrar Traslado"></i>
                                <br /><span idioma="Limpiar"></span>
                            </button>
                            <button class="btn btn-glow btn-primary" type="button" onclick="AgregarDetTraslado()">
                                <span data-icon="&#xe26c;"></span><br /><span idioma="Agregar"></span>
                            </button>
                            <button class="btn btn-glow btn-success" type="button" onclick="ActivarBuscarTras()">
                                <span data-icon="&#xe003;"></span><br /><span id="SpanBuscar" idioma="Buscar"></span>
                            </button>
                            <button class="btn btn-glow btn-danger" type="button" onclick="InicializarTraslado()">
                                <span data-icon="&#xe0d8;"></span><br /><span idioma="Inicializar"></span>
                            </button>
                            <button class="btn btn-glow btn-info" type="button" tabindex="3" onclick="TablaTraslado()">
                                <i class="glyphicon glyphicon-file" title="Buscar Traslado"></i>
                                <br /><span idioma="Mostrar"></span>
                            </button>
                            <button class="btn btn-glow btn-primary" type="button" tabindex="3" onclick="GuardarTraslado()">
                                <i class="glyphicon glyphicon-file" title="Cerrar Traslado"></i>
                                <br /><span idioma="Cerrar"></span>
                            </button>
                            <button class="btn btn-glow btn-warning" onclick="ReemplazarTraslado()" title="Anular Traslado">
                                <i class="glyphicon glyphicon-file" title="Reemplazar Traslado"></i>
                                <br /><span idioma="Reemplazar"></span>
                            </button>
                            <button class="btn btn-glow btn-danger" onclick="AnularTraslado()" title="Anular Traslado">
                                <i class="glyphicon glyphicon-file" title="Cerrar Traslado"></i>
                                <br /><span idioma="Anular"></span>
                            </button>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body text-center">
                                    <img src="../../imagenes/logo_articulo.png" id="ImgenArticulo" height="300px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <input type="hidden" id="IdArticuloB" />
                            <table class="table  table-responsive" style="font-size:16px;">
                                <tr>
                                    <th width="20%"><span idioma="Código Interno"></span>:</th>
                                    <td id="CodigoIntB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Código Barras"></span>:</th>
                                    <td id="CodigoBarB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Tipo"></span>:</th>
                                    <td id="TipoB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Grupo"></span>:</th>
                                    <td id="GrupoB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Equipo"></span>:</th>
                                    <td id="EquipoB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th><span idioma="Presentación"></span>:</th>
                                    <td id="PresentacionB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th width="20%"><span idioma="Marca"></span>:</th>
                                    <td id="MarcaB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th><span idioma="Modelo"></span>:</th>
                                    <td id="ModeloB">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th><span idioma="Costo"></span>:</th>
                                    <td id="CostoB">&nbsp;</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="panel panel-info">
                <div class="panel-heading">
                    <span idioma="Artículos a Trasladar"></span>
                </div>
                <div class="panel-body">
                    <div class="datatable">
                        <table class="table display table-bordered hover" id="TablaTraslado">
                            <thead>
                                <tr>
                                    <th width="5%"><span idioma="Nro"></span></th>
                                    <th width="10%"><span idioma="Código"></span></th>
                                    <th><span idioma="Artículo"></span></th>
                                    <th width="12%"><span idioma="Traslado"></span></th>
                                    <th width="12%"><span idioma="Valor"></span></th>
                                    <th width="12%"><span idioma="Fecha"></span></th>
                                    <th width="3%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsulta">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="panel-title"><span id="Menu_Empresa" idioma="Historial Auditoría de Toma Física"></span></h3>
                        </div>
                        <div class="col-sm-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-default" type="button" name="submit" id="Nuevo" onclick="ConsultaAuditoria(1)">
                                <i class="glyphicon glyphicon-file" title="Consultar"></i>
                                <span idioma="Consultar"></span>
                            </button>
                            <button class="btn btn-glow btn-primary" type="button" name="submit" id="Nuevo" onclick="ConsultaAuditoria(2)">
                                <i class="fa fa-file-pdf-o"></i>
                                <span idioma="Reporte PDF"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="panel-group block form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 id="h1" class="panel-title panel-trigger">
                                    <a data-toggle="collapse" href="#tPrecio1"><span class="Rango de búsqueda"></span></a>
                                </h6>
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label idioma="Tipo"></label>
                                            <select class="form-control" id="CTipo" style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option value="SUMINISTRO">SUMINISTRO</option>
                                                <option value="ACTIVO">ACTIVO</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Grupo"></label>
                                            <select id="CGrupo" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>

                                        <div class="col-sm-3">
                                            <label idioma="Equipo"></label>
                                            <select id="CEquipo" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Presentación"></label>
                                            <select id="CPresentacion" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label idioma="Marca"></label>
                                            <select id="CMarca" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label idioma="Modelo"></label>
                                            <select id="CModelo" class="form-control" tabindex="3" style="width:100%"></select>
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Traslado"></label>
                                            <input type="text" name="ACodigo" id="CCodigo" class="form-control" tabindex="6" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha de Inicio"></label>
                                            <input type="date" id="CFechaDesde" class="form-control" tabindex="4" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha Final"></label>
                                            <input type="date" id="CFechaHasta" class="form-control" tabindex="5" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table display " id="TablaAuditoria">
                            <thead>
                                <tr>
                                    <th width="3%">#</th>
                                    <th width="5%"><span idioma="Auditoría"></span></th>
                                    <th><span idioma="Fecha"></span></th>
                                    <th><span idioma="Código"></span></th>
                                    <th><span idioma="Tipo"></span></th>
                                    <th><span idioma="Grupo"></span></th>
                                    <th><span idioma="Equipo"></span></th>
                                    <th><span idioma="Presentación"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Exist."></span></th>
                                    <th><span idioma="TomaFísica"></span></th>
                                    <th width="3%"><span idioma="Diferencia"></span></th>
                                    <th><span idioma="ValorDiferencia"></span></th>
                                    <th><span idioma="Usuario"></span></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCambioReferencia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalCalPrecio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="TitCalPrecio" idioma="Calcular Precios"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" id="Pos" />
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Costo"></label>
                        <input type="text" class="form-control text-right" disabled style="font-size:22px" id="Cos" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Porcentaje"></label>
                        <input type="text" class="form-control text-center" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,2)" onkeyup="CalcularResultado(this,3)" style="font-size:22px" id="Por" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Base"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this,3)" onkeyup="CalcularResultado(this,1)" style="font-size:22px" id="PreBas" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="IVA"></label>
                        <input type="text" class="form-control text-center" disabled style="font-size:22px" id="IVA" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label idioma="Precio Venta"></label>
                        <input type="text" class="form-control text-right" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ArtCalcularResultado(this,2)" style="font-size:22px" id="PreVen" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-danger" tabindex="34" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" tabindex="33" type="button" onclick="AgregarPrecio()"><span idioma="Agregar Precio"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/TrasladoInventario.js?unico=' + Math.round(Math.random() * 10000));
</script>




