﻿
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li class="active"><a id="lab_crearmodificar" href="#tabubicacion" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Ubicación de Depósito"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tabubicacion">
            <form id="formDeposito" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span  idioma="Registro de Ubicación de Depósito"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarDeposito()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="ID"></label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" id="Dep_Id" name="Dep_Id" value="0" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Ubicación del Depósito"></label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="Dep_Ubicacion" name="Dep_Ubicacion" required >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Responsables"></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="Dep_Responsables" name="Dep_Responsables" style="width:100%" multiple />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Estado"></label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="Dep_Estado" name="Dep_Estado" style="width:100%" required>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <table class="table display  table-bordered hover" id="TablaDeposito">
                                <thead>
                                    <tr>
                                        <th width="5%" idioma="ID"></th>
                                        <th width="37%" idioma="Ubicación de Depósito"></th>
                                        <th width="40%" idioma="Responsables"></th>
                                        <th width="5%" idioma="Estado"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Deposito.js?unico=' + Math.round(Math.random() * 10000));
</script>




