﻿<row>
    <div class="col-md-2">
        <label>CV</label>
        <input id="CV" />
    </div>
    <div class="col-md-2">
        <label>NF</label>
        <input id="NF" />
    </div>
    <div class="col-md-2">
        <label idioma="Recibo"></label>
        <input id="Recibo" />
    </div>
</row>
<div class="col-md-12">
    <button class="btn btn-glow btn-primary"  onclick="ImprimirOrden()"><span idioma="Imprimir Orden"></span></button> 
    <button class="btn btn-glow btn-success" onclick="ImprimirOrden()"><span idioma="Imprimir Factura"></span></button> 
    <button class="btn btn-glow btn-warning" onclick="ImprimirOrden()"><span idioma="Imprimir Recibo"></span></button> 
</div>
