﻿<div class="row">

    <div class="panel panel-primary" style="font-size:14px; color:black;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4 col-xs-5">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Consignación de Monturas"></span></a></h3>
                </div>
                <div class="col-md-8 col-xs-7 text-right">
                    <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">[F2] <span idioma="Limpiar"></span></button>
                    <button class="btn btn-glow btn-info" type="button" onclick="Guardar()">[F3] <span idioma="Guardar"></span></button>
                </div>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <div class="form-group row">
                            <div class="col-xs-2 col-md-1 col-sm-2">
                                <label idioma="Cliente"></label>
                                <input type="text" autofocus class="form-control" maxlength="8" onkeypress="return NumCheck(event, this,0)" pattern="[0-9]{1,7}" max="7" min="1" name="Cliente" onblur="BuscarCliente(this.value,0)" id="Cliente" tabindex="1" required />
                            </div>
                            <div class="col-xs-10 col-md-11 col-sm-10">
                                <br>
                                <label id="NombreCliente"></label>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-glow btn-default" href="javascript:ModalClientes()">F1 <span idioma="Buscar Clientes"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:ActivarToma()">F4 <span idioma="Toma Física Cliente"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:ImprimirChequeo()">F6 <span idioma="Imprimir Chequeo"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:BuscarFila()">F7 <span idioma="Buscar Fila"></span></a>
    <a class="btn btn-glow btn-default" href="javascript:VerDetalle()">F8 <span idioma="Detalle"></span></a>
    <a id="btnfacturar" class="btn btn-glow btn-success" href="javascript:Facturar()">F9 <span idioma="Facturar"></span></a>
    <a class="btn btn-glow btn-danger" href="javascript:Devolver()">F10 <span idioma="Devolver"></span></a>
    <a class="btn btn-glow btn-warning" href="javascript:Inicializar()">F11 <span idioma="Inicializar"></span></a>


    <div class="col-md-12 col-xs-12">
        <div style="width:100%; height:400px; overflow-x:auto; overflow-y:auto; ">
            <table class="table display -bordered" width="1200px" id="Malla" style="font-size:14px">
                <thead>
                    <tr class="bg-primary">
                        <th width="30px" idioma="#"></th>
                        <th width="15px" idioma="Nro Consig."></th>
                        <th width="70px" idioma="Código"></th>
                        <th width="250px" idioma="Montura"></th>
                        <th width="80px" idioma="Fecha"></th>
                        <th width="50px" idioma="Días"></th>
                        <th width="90px" idioma="V.Unitario"></th>
                        <th width="35px" idioma="Cant."></th>
                        <th width="30px" idioma="IVA"></th>
                        <th width="90px" idioma="SubTotal"></th>
                        <th width="30px" idioma="Toma Física"></th>
                        <th width="20px" style="width:30px" idioma="Cant Fac/Dev"></th>
                        <th width="30px" idioma="Saldo"></th>
                        <th width="100px" idioma="Valor Facturar/Devolver"></th>
                    </tr>
                </thead>

                <tbody id="bodyconsignacion"></tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="col-md-12 col-xs-12">
        <div class="col-md-2 col-xs-3">
            <label idioma="Unid. Consignacion"></label>
            <input type="text" class="form-control text-center" disabled name="TConsig" id="TConsig" style="font-size:20px; font-weight:bold" />
        </div>
        <div class="col-md-2 col-xs-3">
            <label idioma="Toma Física"></label>
            <input type="text" class="form-control text-center" disabled name="TToma" id="TToma" style="font-size:20px; font-weight:bold" />
        </div>
        <div class="col-md-2 col-xs-3">
            <label idioma="Unid. Fact/Devo"></label>
            <input type="text" class="form-control text-center" disabled name="TFactura" id="TFactura" style="font-size:20px; font-weight:bold" />
        </div>
        <div class="col-md-2 col-xs-3">
            <label idioma="Saldo Unidades"></label>
            <input type="text" class="form-control text-center" disabled name="TSaldo" id="TSaldo" style="font-size:20px; font-weight:bold" />
        </div>

        <div class="col-md-2 col-xs-3">
            <label idioma="Valor Facturar/Devolver"></label>
            <input type="text" class="form-control text-right" disabled name="TValor" id="TValor" style="font-size:20px; font-weight:bold" />
        </div>


    </div>

</div>

<div id="modalClientes" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Clientes por Almacén"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">

                    <div class="col-xs-6 col-md-4">
                        <label idioma="Razón Social"></label>
                        <input name="CRazon" id="CRazon" class="form-control" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <label idioma="Iniciales"></label>
                        <input name="CIniciales" id="CIniciales" class="form-control" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <label idioma="Código"></label>
                        <input name="CCodigo" id="CCodigo" class="form-control" maxlength="8" onkeypress="return NumCheck(event, this,0)" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Cédula/Nit"></label>
                        <input name="CCedula" id="CCedula" class="form-control" onkeyup="CargarModalClientes(this.value)" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label><span idioma="Todos"></span><input type="radio" id="CTodos" disabled /></label><br>
                        <label><span idioma="Clientes de este almacén"></span><input id="CAlmacen" checked type="radio" /></label>
                    </div>

                </div>
                <div id="divmodalcliente" class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered" id="tablamodalcliente">
                        <thead>
                            <tr>
                                <th width="8%"><span idioma="Código"></span></th>
                                <th width="20%"><span idioma="Nombre"></span></th>
                                <th><span idioma="Dirección"></span></th>
                                <th><span idioma="Ciudad"></span></th>
                                <th><span idioma="Tipo Cliente"></span></th>
                                <th><span idioma="Almacén"></span></th>
                                <th><span idioma="Característica"></span></th>
                                <th><span idioma="Nit"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script src="../../js/Consignacion.js"></script>