﻿
<div class="tabbable page-tabs" id="tab-usuarios">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Registro Usuarios"></span></a></li>
        <li id="proli7"><a href="#tbmodulos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Módulos y Acciones"></span></a></li>
        <li id="proli7"><a href="#tbgrupos" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Grupos y Permisos"></span></a></li>
        <li id="proli7"><a href="#tbmenu" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Menú y Opciones"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Usuarios"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="row">
                <div class="col-md-7">
                    <form id="formUsuarios" style="background-color:white">
                        <input type="hidden" name="IdUsuario" id="IdUsuario" value="0" />
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Usuarios"></span></a></h3>
                                    </div>
                                    <div class="col-md-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-danger" type="button" onclick="ReiniciarClave()"><span idioma="Reiniciar Contraseña"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Documento"></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="Documento" name="Documento" onkeypress="return NumCheck(event, this,0)" onblur="BuscarUsuario(this.value)" onkeyup="ValidarUsuario(this.value)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Nombre Completo"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Nombres" id="Nombres" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Cargo"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Cargo" id="Cargo" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Usuario"></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="Usuario" id="Usuario" maxlength="20" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Teléfono"></label>
                                    <div class="col-sm-5">
                                        <input type="text" name="Telefonos" id="Telefonos" class="form-control" required>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Celular"></label>
                                    <div class="col-sm-3">
                                        <input type="text" id="Celular" name="Celular" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Correo Envío"></label>
                                    <div class="col-sm-5">
                                        <input type="email" name="CorreoEnvio" id="CorreoEnvio" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Clave Envío"></label>
                                    <div class="col-sm-3">
                                        <input type="password" id="ClaveEnvio" name="ClaveEnvio" class="form-control">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Correo Personal"></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="CorreoPersonal" id="CorreoPersonal" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Dirección"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Direccion" id="Direccion" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Magnitudes"></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Magnitudes" id="Magnitudes" multiple style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Empleado"></label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Empleado" id="Empleado" style="width:100%" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" idioma="Estado"></label>
                                    <div class="col-sm-2">
                                        <select type="text" class="form-control" name="Estado" id="Estado" required style="width:100%">
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                            <option value="BLOQUEADO">BLOQUEADO</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-right" idioma="Super Usuario"></label>
                                    <div class="col-sm-3">
                                        <select type="password" id="Super" name="Super" class="form-control" style="width:100%">
                                            <option value="0">NO</option>
                                            <option value="1">SI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                        <label class="control-label" idioma="Firma"></label><br>
                                        <img id="ImgFirma" width="520px" height="250px" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Imagen de la firma en png</label>
                                        <input type="file" class="form-control" accept="image/x-png" name="Adjunto" id="Adjunto" onchange="GuardarDocumentoAdjunto(this.id,1,'ImgFirma')">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Foto del Usuario y Grupo"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <div class="form-group row">
                                    <img id="Foto_Empleado" src="../Adjunto/imagenes/img_avatar.png" height="300px" />
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaGruUsuario">
                                    <thead>
                                        <tr>
                                            <th width="5%" idioma="ID"></th>
                                            <th width="7%" idioma="Código"></th>
                                            <th width="65%" idioma="Grupo"></th>
                                            <th width="7%" idioma="Estado"></th>
                                            <th width="10%" idioma="Activado"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade in" id="tbmodulos">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Módulos del Sistema"></span></h3>
                        </div>

                        <div class="panel-body">
                            <input type="hidden" value="0" id="IdModulo" />
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Código"></label>
                                    <input class="form-control" id="MCodigo" maxlength="10" />
                                </div>
                                <div class="col-md-6">
                                    <label idioma="Módulo"></label>
                                    <input class="form-control" id="MModulo" maxlength="40" />
                                </div>
                                <div class="col-md-2">
                                    <label>Estado</label>
                                    <select class="form-control" id="MEstado" style="width:100%">
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <button class="btn btn-glow btn-default" title="Limpiar" type="button" onclick="LimpiarModulo()"><span data-icon="&#xe21f;"></span></button>
                                    <button class="btn btn-glow btn-success" title="Guardar" type="button" onclick="GuardarModulo()"><span data-icon="&#xe26c;"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TablaModulos">
                                        <thead>
                                            <tr>
                                                <th width="5%" idioma="ID"></th>
                                                <th width="10%" idioma="Código"></th>
                                                <th width="75%" idioma="Módulo"></th>
                                                <th width="10%" idioma="Estado"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Permisos por Módulos"></span></h3>
                        </div>

                        <div class="panel-body">
                            <input type="hidden" value="0" id="IdPermiso" />
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <label idioma="Acción"></label>
                                    <input class="form-control" id="Accion" />
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <button class="btn btn-glow btn-default" title="Limpiar" type="button" onclick="LimpiarPermiso()"><span data-icon="&#xe21f;"></span></button>
                                    <button class="btn btn-glow btn-success" title="Guardar" type="button" onclick="GuardarPermiso()"><span data-icon="&#xe26c;"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TablaPermisos">
                                        <thead>
                                            <tr>
                                                <th width="10%" idioma="ID"></th>
                                                <th width="80%" idioma="Acción"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tbgrupos">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Módulos del Sistema"></span></h3>
                        </div>
                        <input type="hidden" value="0" id="IdGrupo" />
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Código"></label>
                                    <input class="form-control" id="GCodigo" />
                                </div>
                                <div class="col-md-6">
                                    <label idioma="Grupo"></label>
                                    <input class="form-control" id="GGrupo" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select class="form-control" id="GEstado" style="width:100%">
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <button class="btn btn-glow btn-default" title="Limpiar" type="button" onclick="LimpiarGrupo()"><span data-icon="&#xe21f;"></span></button>
                                    <button class="btn btn-glow btn-success" title="Guardar" type="button" onclick="GuardarGrupo()"><span data-icon="&#xe26c;"></span></button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TablaGrupos">
                                        <thead>
                                            <tr>
                                                <th width="5%" idioma="ID"></th>
                                                <th width="10%" idioma="Código"></th>
                                                <th width="75%" idioma="Grupo"></th>
                                                <th width="10%" idioma="Estado"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Módulos"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TablaModGrupos">
                                        <thead>
                                            <tr>
                                                <th width="7%" idioma="Código"></th>
                                                <th width="70%" idioma="Módulo"></th>
                                                <th width="15%" idioma="Estado"></th>
                                                <th width="15%" idioma="ID"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Permisos del módulo "></span> <span id="modpermiso"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TablaPerGrupos">
                                        <thead>
                                            <tr>
                                                <th width="25%" idioma="Acción"></th>
                                                <th width="5%" idioma="Activo"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tbmenu">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Menú y Opciones"></span></h3>
                        </div>
                        <input type="hidden" value="0" id="IdGrupo" />
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label idioma="Grupo"></label>
                                    <select class="form-control" id="MGrupo" onchange="TablaMenu(this.value)" style="width:100%"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TablaMenus">
                                        <thead>
                                            <tr>
                                                <th width="5%" idioma="ID"></th>
                                                <th width="75%" idioma="Menú"></th>
                                                <th width="10%" idioma="Activo"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Sub-Menú de "></span><span id="MenuSubmenu"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover" id="TabaSubMenu">
                                        <thead>
                                            <tr>
                                                <th width="7%" idioma="ID"></th>
                                                <th width="70%" idioma="Sub-Menu"></th>
                                                <th width="15%" idioma="Activo"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span idioma="Consultar Usuarios"></span></h3>
                        </div>

                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Usuario"></label>
                                    <input class="form-control" id="CUsuario" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Documento"></label>
                                    <input class="form-control" id="CDocumento" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Nombre Completo"></label>
                                    <input class="form-control" id="CNombre" />
                                </div>

                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select class="form-control" id="CEstado" style="width:100%">
                                        <option value="TODOS">TODOS</option>
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <button class="btn btn-glow btn-primary" title="Limpiar" type="button" onclick="TablaUsuarios()">Consultar</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table display  table-bordered hover" id="TablaUsuarios">
                                            <thead>
                                                <tr>
                                                    <th width="5%" idioma="ID"></th>
                                                    <th width="10%" idioma="Usuario"></th>
                                                    <th width="10%" idioma="Documento"></th>
                                                    <th width="25%" idioma="Nombre Completo"></th>
                                                    <th width="10%" idioma="Cargo"></th>
                                                    <th width="10%" idioma="Teléfono"><br><span idioma="Celular"></span></th>
                                                    <th width="10%" idioma="Correo Personal"></th>
                                                    <th width="10%" idioma="Correo Envío"></th>
                                                    <th width="10%" idioma="Grupos"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Usuarios.js?unico=' + Math.round(Math.random() * 10000));
</script>




