﻿
<div class="tabbable page-tabs" id="tab-proveedores">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formActa" style="background-color:white">
                <input type="hidden" name="IdActa" id="IdActa" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Acta de Reunión"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="Imprimier()"><span idioma="Imprimir"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="Suspender()"><span idioma="Suspender"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="Remplazar()"><span idioma="Remplazar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <label idioma="Fecha"></label>
                                    <input type="text" class="form-control" name="FechaReg" id="FechaReg" disabled />
                                </div>
                                <div class="col-sm-2">
                                    <label idioma="Estado"></label>
                                    <input type="text" class="form-control" name="Estado" id="Estado" disabled />
                                </div>
                                <div class="col-sm-2">
                                    <label idioma="# Control"></label>
                                    <input type="text" class="form-control" name="Control" id="Control" disabled />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Usuario"></label>
                                    <input type="text" class="form-control" name="Usuario" id="Usuario" disabled />
                                </div>
                                <div class="col-sm-3">
                                    <label idioma="Suspención"></label>
                                    <input type="text" class="form-control" name="FechaSus" id="FechaSus" disabled />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group-min row">
                                <label class="col-sm-1 control-label" idioma="País"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Pais" onchange="CambioDepartamento(this.value)" id="Pais" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Departamento"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Departamento" id="Departamento" onchange="CambioCiudad(this.value)" required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Ciudad"></label>
                                <div class="col-sm-3">
                                    <select type="text" class="form-control" name="Ciudad" id="Ciudad" required style="width:100%" />
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label idioma="Lugar"></label>
                                    <input type="text" class="form-control" name="Lugar" id="Lugar" required />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Fecha"></label>
                                    <input type="date" class="form-control" name="Fecha" id="Fecha"  required />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Hora Desde"></label>
                                    <input type="time" class="form-control" name="Horad" id="Horad" required />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Hora Hasta"></label>
                                    <input type="time" class="form-control" name="Horah" id="Horah" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="PRÓXIMA REUNIÓN"></label>
                                    <input type="date" class="form-control" name="ProximaFecha" id="ProximaFecha" />
                                </div>
                                <div class="col-md-1">
                                    <label idioma="RECORDAR"></label>
                                    <input type="checkbox" class="form-control text-center" name="Recordar" id="Recordar"  />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <h3><span idioma="REUNIÓN A CARGO DE"></span></h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-glow btn-success" type="button" onclick="LlamarPersonal(1)"><span idioma="Agregar Responsables"></span></button>
                                </div>
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover">
                                        <thead>
                                            <tr>
                                                <th width="3%">#</th>
                                                <th width="57%" idioma="Nombre"></th>
                                                <th width="20%" idioma="Cargo"></th>
                                                <th width="15%" idioma="Firma"></th>
                                                <th width="5%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Responsables"></tbody>
                                    </table>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <h3><span idioma="ASISTENTES"></span></h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-glow btn-success" type="button" onclick="LlamarPersonal(2)"><span idioma="Agregar Asistentes"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="AgregarTodos()"><span idioma="Agregar Todos"></span></button>
                                    <button class="btn btn-glow btn-danger" type="button" onclick="QuitarTodos()"><span idioma="Quitar Todos"></span></button>
                                </div>
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover">
                                        <thead>
                                            <tr>
                                                <th width="3%">#</th>
                                                <th width="57%" idioma="Nombre"></th>
                                                <th width="20%" idioma="Cargo"></th>
                                                <th width="15%" idioma="Firma"></th>
                                                <th width="5%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Asistentes"></tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <h3><span idioma="ANEXOS DE LA REUNION"></span></h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-glow btn-success" type="button" onclick="AgregarAnexos()"><span idioma="Agregar Anexos"></span></button>
                                </div>
                                <div class="col-md-12">
                                    <table class="table display  table-bordered hover">
                                        <thead>
                                            <tr>
                                                <th width="3%">#</th>
                                                <th width="97%" idioma="Archivo"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="Anexos"></tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label idioma="ORDEN DEL DÍA"></label>
                                    <textarea class="form-control" rows="12" name="Orden" id="Orden" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label idioma="DESARROLLO"></label>
                                    <textarea class="form-control" rows="12" name="Desarrollo" id="Desarrollo"required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group row">
                        <div class="col-xs-4 col-md-2">
                            <label idioma="NIT/Cédula"></label>
                            <input name="MDocumento" id="MDocumento" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Razón Social"></label>
                            <input name="MCliente" id="MCliente" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <label idioma="Nombre Comercial"></label>
                            <input name="MComercial" id="MComercial" class="form-control" />
                        </div>
                        <div class="col-xs-4 col-md-1">
                            <label idioma="Estado"></label>
                            <select name="MEstado" id="MEstado" class="form-control" style="width:100%">
                                <option value="-1">Todos</option>
                                <option value="1">Activos</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-2">
                            <label idioma="País"></label>
                            <select name="MPais" id="MPais" class="form-control" style="width:100%" />
                        </div>
                        <div class="col-xs-4 col-md-1 text-center">
                            <br>
                            <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarProveedores()"><span idioma="Consultar"></span></button>
                        </div>
                    </div>
                    <div id="divmodalpedidos" class="table-responsive" style="min-height:300px;">
                        <table class="table display  table-bordered hover" id="TablaProveedores">

                            <thead>

                                <tr>
                                    <th width="8%"><span idioma="NIT/Cédula"></span></th>
                                    <th width="15%"><span idioma="Razón Social"></span></th>
                                    <th width="15%"><span idioma="Nombre Comercial"></span></th>
                                    <th width="8%"><span idioma="Contacto"></span></th>
                                    <th width="5%"><span idioma="Estado"></span></th>
                                    <th><span idioma="Dirección"></span></th>
                                    <th><span idioma="Telefonos"></span></th>
                                    <th><span idioma="Celular"></span></th>
                                    <th><span idioma="Correo Electrónico"></span></th>
                                    <th><span idioma="Ciudad"></span></th>
                                    <th><span idioma="Departamento"></span></th>
                                    <th><span idioma="País"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAsistencia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Empleados"></span> <span id="TipoEmpleado"></span> </h4>
            </div>
            <div class="modal-body with-padding">
                                
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="tablamodalempleados">
                        <thead>
                            <tr>
                                <th width="5%"><span idioma="Tipo Documento"></span></th>
                                <th><span idioma="Documento"></span></th>
                                <th width="30%"><span idioma="Nombre Completo"></span></th>
                                <th><span idioma="Cargo"></span></th>
                                <th><span idioma="Sueldo"></span></th>
                                <th><span idioma="Celular"></span></th>
                                <th><span idioma="Email"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-success" type="button" onclick="AgregarEmpleados()" data-dismiss="modal"><span idioma="Agregar Empleados Seleccionados"></span></button>

            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/ActaReunion.js?unico=' + Math.round(Math.random() * 10000));
</script>




