﻿<div class="tabbable page-tabs" id="tabActividades">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i
                    class="icon-radio-partial"></i><span idioma="Validar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span
                    idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <div class="panel panel-primary" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h3 class="panel-title"><span id="Menu_Empresa"
                                    idioma="Revision por parte de la dirección"></span></h3>
                        </div>
                        <div class="col-md-8 col-xs-12 text-right">
                            <!--button class="btn btn-glow btn-default" type="button" onclick="cerrarMesaA()"><span idioma="Cerrar mesa de ayuda"></span></button>
                            <button class="btn btn-glow btn-info" type="button" onclick="seguimientoMA()"><span idioma="Ver historial"></span></button>
                            <button-- class="btn btn-glow btn-warning" type="button" onclick="ImprimirQueja(0)"><span idioma="Imprimir mesa de trabajo"></span></button-->
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label" for="Check">Motivo</label>
                            <textarea class="form-control" rows="10" id="motivo" readonly></textarea>
                        </div>
                        <br />
                        <table class="table display  table-bordered hover">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="5%"></th>
                                    <th rowspan="2" width="75%">Pasos a realizar</th>
                                    <th rowspan="1" colspan="2">Tiempon de ejecución</th>
                                </tr>
                                <tr>
                                    <th width="100px">Dias</th>
                                    <th width="100px">Horas</th>
                                </tr>
                            </thead>
                            <tbody id="tBodyCrearAct"></tbody>
                        </table>
                        <div class="form-inline col-md-5 pull-right text-right">
                            <br />
                            <label class="form-check-label" for="Check">Fecha latente de culminación:</label>
                            <input type="date" value="" class="form-control" id="fe_lat" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" style="font-size:14px; color:black;">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h3 class="panel-title"><span id="Menu_Empresa" idioma="Evaluacion de actividad"></span>
                            </h3>
                        </div>
                        <div class="col-md-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-success" type="button" id="guardEval"
                                onclick="guardarEvaluacion()"><span idioma="Guardar evaluación"></span></button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="col-md-4">
                        <div class="">
                            <div class="form-group">
                                <input type="checkbox" value="" class="form-check-input" id="chMayorT"
                                    onchange="activarCampos(this.id)" readonly>
                                <label class="form-check-label" for="Check" id="mayT">Cambiar tiempo de ejcución de
                                    sub-actividades</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" value="" class="form-check-input" id="ch_edi_fe_ini"
                                    onchange="activarCampos(this.id, this.checked)" readonly>
                                <label class="form-check-label" for="Check">Cambiar fecha de inicio la actividad</label>
                                <input type="date" value="" class="form-control" id="fecha_inicio"
                                    onchange="cambFecha()" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Fecha de verificación</label>
                                <input type="date" value="" class="form-control" id="fecVeri" readonly>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" value="" class="form-check-input" id="chArea"
                                    onchange="activarCampos(this.id, this.checked)" readonly>
                                <label class="form-check-label" for="Check">Área</label><br>
                                <select id="areasMult" class="selectpicker form-control" disabled multiple
                                    style="width: 100%;" disabled></select>
                            </div>
                            <div class="form-group">
                                <label class="form-check-label" for="Check">Prioridad</label>
                                <select class="form-control" id="prioridad" style="width: 100%;" disabled>
                                    <option value="0">Sin prioridad</option>
                                    <option value="1">Alta</option>
                                    <option value="2">Media</option>
                                    <option value="3">Baja</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <input type="checkbox" value="0" class="form-check-input" id="afectSG"
                                onchange="activarCampos(this.id, this.checked)" readonly>
                            <label class="form-check-label" for="Check">Afectara al sitema de gestión</label>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="Check">Documentos que afecta</label>
                            <textarea class="form-control" rows="6" id="docAfect" disabled></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="Check">Documentos que lo rigen</label>
                            <textarea class="form-control" rows="7" id="docOrigen" readonly></textarea>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="Check">Pasos de la verificación</label>
                            <textarea class="form-control" rows="8" id="pasosVerif" readonly></textarea>
                        </div>
                        <div class="form-group" id="observCierre">
                            <label class="form-label" for="Check">Observaciones de la verificación</label>
                            <textarea class="form-control" rows="8" id="observaCierre" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-3" id="datoUsrC">
                            <label class="form-label" for="Check">Usuario que creó</label>
                            <input class="form-control" id="usuarioCreo" readonly>
                        </div>
                        <div class="form-group col-lg-3" id="datoCargoC">
                            <label class="form-label" for="Check">Cargo del usuario que creó</label>
                            <input class="form-control" id="cargoCreo" readonly>
                        </div>
                        <div class="form-group col-lg-3" id="datoUsr">
                            <label class="form-label" for="Check">Usuario que evaluó</label>
                            <input class="form-control" id="usuarioEval" readonly>
                        </div>
                        <div class="form-group col-lg-3" id="datoCargo">
                            <label class="form-label" for="Check">Cargo del usuario que evaluó</label>
                            <input class="form-control" id="cargoEval" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">

            <div class="panel panel-primary" style="font-size:14px; color:black;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <h3 class="panel-title"><span id="Menu_Empresa"
                                    idioma="Revision por parte de la dirección"></span></h3>
                        </div>
                        <div class="col-md-8 col-xs-12 text-right">
                            <button class="btn btn-glow btn-info" type="button" onclick="buscarActividad()"><span
                                    idioma="Buscar"></span></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group col-lg-4">
                        <label class="form-check-label" for="Check">Estado actividad</label>
                        <select class="form-control" id="estadoBusq" style="width: 100%;">
                            <option value="0">Por evaluar</option>
                            <option value="1">Evaluadas</option>
                            <option value="2">Finalizadas</option>
                            <option value="">TODAS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <br />
                        <table class="table table-bordered hover">
                            <thead>
                                <tr>
                                    <th width="5%"></th>
                                    <th width="10%">Tipos</th>
                                    <th width="50%">Actividad</th>
                                    <th width="15%">Pasos a realizar</th>
                                    <th width="20%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tBodyActidades">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="ModalDocumentos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetQueja"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table display  table-bordered">
                        <thead>
                            <tr>
                                <th width="70%" idioma="Documento"></th>
                                <th width="15%" idioma="Asesor"></th>
                                <th width="15%" idioma="Fecha"></th>
                            </tr>
                        </thead>
                        <tbody id="TBDocumentos"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"
                    onclick="CerrarModal();"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalEnvio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetEnvio"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="eTipoEnvio" />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label idioma="Cliente"></label>
                        <input type="text" class="form-control" id="eCliente" readonly />
                    </div>
                    <div class="col-md-6">
                        <label idioma="Correo Electrónico"></label>
                        <input type="text" class="form-control" id="eCorreo" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label idioma="Descrión de la Queja"></label>
                        <textarea type="text" class="form-control" rows="10" id="eDescripcion" readonly />
                        </div>
                    <div class="col-md-6">
                        <label id="tipoenvio">&nbsp;</label>
                        <textarea type="text" class="form-control" rows="10" id="eEnvio" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="Observación Adicional">&nbsp;</label>
                        <textarea type="text" class="form-control" rows="4" id="eObservacion" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" onclick="CerrarModal()"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="EnviarCorreo()"><span idioma="Enviar Correo"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/ActividadesAct.js?unico=' + Math.round(Math.random() * 10000));

</script>

<script>
    
</script>