﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#grupochat" data-toggle="tab">
                        <div ng-if="InicioSesion.foto == ''">
                            <img src="../Adjunto/imagenes/300.png" alt="" width="40px">
                            Grupo Calibrations Service SAS 
                            <span class="status status-danger"></span>
                        </div>
                        <div ng-if="InicioSesion.foto != ''">
                            <img ng-src="../Adjunto/imagenes/FotoEmpleados/{{InicioSesion.foto}}" width="40px" alt="">
                            Grupo Calibrations Service SAS 
                            <span class="status status-danger"></span>
                        </div>
                        
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- First tab -->
                <div class="tab-pane active fade in" id="grupochat">
                    <!-- Eugene -->
                    <div class="row">
                        <div class="col-md-9">
                            <div class="block">
                                <div class="chat-member-heading clearfix">
                                    <h6 class="pull-left"><i class="icon-bubble6"></i>{{InicioSesion.usuario}}<small>&nbsp;/&nbsp; usuario activo</small></h6>
                                </div>

                                <div class="chat" id="respuestachat" style="height:450px;">
                                    <div ng-repeat="x in Chat.tabla | orderBy:'id'">
                                        <div class="message reversed" ng-if = "x.codusu == InicioSesion.codusu">
                                            <a class="message-img" ng-click="MaximizarFotoChat(x.foto,x.id)">
                                                <img ng-if="InicioSesion.foto == ''" src="../Adjunto/imagenes/300.png" alt="" class="user-face">
                                                <img ng-if="InicioSesion.foto != ''" ng-src="../Adjunto/imagenes/FotoEmpleados/{{InicioSesion.foto}}" alt="" class="user-face">
                                            </a>
                                            <div class="message-body"  ng-click ="EscucharMensaje(x.mensaje)">
                                                <div ng-bind-html=x.mensaje>
                                                </div>
                                                <span class="attribution">{{x.fecha}}</span>
                                            </div>
                                        </div>
                                        <div class="message" ng-if = "x.codusu != InicioSesion.codusu && (x.idusuario == '0' || x.idusuario.indexOf('/' + InicioSesion.idusuario + '/')*1 > -1)">
                                            <a class="message-img" ng-click="MaximizarFotoChat(x.foto)">
                                                <img ng-if="x.foto == ''" src="../Adjunto/imagenes/300.png" alt="" class="user-face">
                                                <img ng-if="x.foto != ''" ng-src="../Adjunto/imagenes/FotoEmpleados/{{x.foto}}" alt="" class="user-face">
                                            </a>
                                        <div class="message-body"  ng-click ="EscucharMensaje(x.mensaje)" style="{{ x.idusuario != '0' ? 'background-color:cornflowerblue;' : ''}}">
                                                <div ng-bind-html=x.mensaje>
                                                </div>
                                                <span class="attribution"><b>{{x.codusu}}</b> {{x.fecha}}</span>
                                            </div>
                                        </div>
                                        <div class="message reversed hidden" ng-if = "x.codusu != InicioSesion.codusu && (x.idusuario != '0' || x.idusuario.indexOf('/' + InicioSesion.idusuario + '/')*1 == -1)">

                                        </div>
                                    </div>
                                </div>
                                <textarea name="enter-message" class="form-control" ng-model="Chat.mensaje" rows="3" cols="1" placeholder="Ingreso el mensaje que desea enviar..."></textarea>
                                <div class="message-controls">
                                    <span class="pull-left">&nbsp;</span>
                                    <div class="pull-right">
                                        <div class="upload-options">
                                            <a ng-click="SubirArchivoChat()" title="" class="tip" data-original-title="Adjuntar Archivo"><i class="icon-attachment"></i></a>
                                        </div>
                                        <button type="button" ng-click= "EnviarMensaje(Chat.mensaje,Chat.usuarioschat)" class="btn btn-glow btn-danger" data-loading-text="<i class='icon-spinner7 spin'></i> Processing">Enviar Mensaje</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Usuarios del Sistema</label>
                            <select multiple id="Usuarios_Chat" ng-model="Chat.usuarioschat" style="width:100%; height:550px">
                                <option value="0">Todos</option>
                                <option  ng-repeat="value in CombosChat.usuario" 
                                    title="{{value.usuario}}"
                                    style="{{value.chat == '0' ? 'color:red' : 'color:green'}}"
                                    value="{{value.idusu}}">{{value.nomusu}}     
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- /eugene -->
                </div>

            </div>
        </div>
    </div>
</div>