﻿<div class="tabbable page-tabs" id="tabquejas">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-radio-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formmonturas" style="background-color:white">
                <input type="hidden" name="NFactura" id="NFactura" disabled required />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><span id="Menu_Empresa" idioma="Registro de Fallas del Sistemas"></span></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarTodo()">F2<span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="button" onclick="ModalClientes()">F1<span idioma="Clientes"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="GuardaQueja()">F3 <span idioma="Guardar"></span></button>
                                <button class="btn btn-glow btn-danger" type="button" onclick="EnviarAcuse()">F4 <span idioma="Enviar Acuse Queja"></span></button>
                                <button class="btn btn-glow btn-warning" type="button" onclick="ImprimirQueja(0)">F6<span idioma="Imprimir Queja"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-4 col-md-2 col-sm-2">
                                <label idioma="NIT/Cédula"></label>
                                <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="12" onblur="BuscarCliente(this.value,0)" onkeyup="ValidarCliente(this.value)" pattern="[0-9]{1,12}" max="12" min="1" name="Cliente" id="Cliente" autofocus tabindex="0" />
                            </div>
                            <div class="col-xs-10 col-sm-4">
                                <label idioma="Nombre del Cliente"></label><br>
                                <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" disabled />
                            </div>
                            <div class="col-xs-4 col-md-1 col-sm-1">
                                <label class="label-info" idioma="Queja"></label>
                                <input type="text" class="form-control" onkeypress="return NumCheck(event, this,0)" maxlength="8" onblur="BuscarQueja(this.value)" pattern="[0-9]{1,7}" max="7" min="1" name="Queja" id="Queja" tabindex="100" />
                            </div>
                            <div class="col-xs-4 col-md-1 col-sm-1">
                                <label idioma="Estado"></label>
                                <input type="text" class="form-control" name="Estado" id="Estado" value="Temporal" disabled />
                            </div>
                            <div class="col-xs-4 col-md-1 col-sm-1">
                                <label idioma="Fecha Registro"></label>
                                <input type="text" class="form-control" name="FechaReg" id="FechaReg" disabled />
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <label idioma="Asesor/Tecnico"></label>
                                <input type="text" class="form-control" name="AsesorReg" id="AsesorReg" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="hidden-xs col-md-4 col-sm-4">
                                <label idioma="Sede"></label><br>
                                <select class="form-control" id="Sede" name="Sede" required tabindex="3" style="width:100%" />
                            </div>
                            <div class="hidden-xs col-md-3 col-sm-3">
                                <label idioma="Contacto"></label><br>
                                <select class="form-control" id="Contacto" name="Contacto" onchange="DatosContacto(this.value)" required tabindex="4" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <label idioma="Correo Electrónico"></label>
                                <input type="text" class="form-control" name="Email" id="Email" disabled />
                            </div>
                            <div class="col-xs-4 col-md-2 col-sm-3">
                                <label idioma="Teléfonos"></label>
                                <input type="text" class="form-control" name="Telefonos" id="Telefonos" disabled />
                            </div>
                        </div>

                        <br />

                        <div class="form-group row">
                            <div class="hidden-xs col-md-4 col-sm-4">
                                <label idioma="Tipo"></label><br>
                                <select class="form-control" id="Sede" name="Sede" required tabindex="3" style="width:100%" />
                            </div>
                            <div class="hidden-xs col-md-4 col-sm-4">
                                <label idioma="Proceso"></label><br>
                                <select class="form-control" id="Contacto" name="Contacto" onchange="DatosContacto(this.value)" required tabindex="4" style="width:100%" />
                            </div>
                            <div class="col-xs-4 col-md-4 col-sm-4">
                                <label idioma="Magnitud"></label>
                                <select type="text" class="form-control" name="Email" id="Email" disabled />
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-xs-12 col-md-9 col-sm-9">
                                <label idioma="Descripción de la Queja"></label>
                                <textarea class="form-control" name="Descripcion" id="Descripcion" rows="10" />
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label idioma="Fecha Queja"></label>
                                        <input type="date" class="form-control" name="Fecha" id="Fecha" />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Hora"></label>
                                        <input type="time" class="form-control" name="Hora" id="Hora" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="Asesor" id="Asesor" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="Cargo" id="Cargo" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <label idioma="Ingresos Relacionado con la Queja"></label>
                                <select class="form-control" multiple style="width:100%" name="Ingresos" id="Ingresos" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <h3><span idioma="ACUSE DE RECIBO DE LA QUEJA AL RECLAMANTE"></span></h3>
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <label idioma="Fecha de Acuse"></label>
                                <input type="text" class="form-control" name="FechaEnv" id="FechaEnv" disabled />
                            </div>
                            <div class="col-xs-12 col-md-5 col-sm-5">
                                <label idioma="Correo Electrónico"></label>
                                <input type="text" class="form-control" name="CorreoEnv" id="CorreoEnv" disabled />
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-3">
                                <label idioma="Asesor/Tecnico Envió"></label>
                                <input type="text" class="form-control" name="AsesorEnv" id="AsesorEnv" disabled />
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <label idioma="Cargo"></label>
                                <input type="text" class="form-control" name="CargoEnv" id="CargoEnv" disabled />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-9 col-sm-9">
                                <label idioma="Investigación de la Queja"></label>
                                <textarea class="form-control" name="Investigacion" id="Investigacion" rows="11" />
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Fecha de Investigación"></label>
                                        <input type="text" class="form-control" name="FechaInv" id="FechaInv" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorInv" id="AsesorInv" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoInv" id="CargoInv" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-primary" onclick="InvestigarQueja()">Investigar Queja</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-11 col-sm-11">
                                <label idioma="Archivos adjuntos de la investigación de la queja"></label>
                                <input type="file" class="form-control" name="ArchivosInv" onchange="GuardarDocumento(this.id,2)" id="ArchivosInv" />
                            </div>
                            <div class="col-xs-12 col-md-1 col-sm-1">
                                <br>
                                <button type="button" class="btn btn-glow btn-success" onclick="VerArchivos(2,'investigación')">Ver Archivos</button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-9 col-sm-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Requisito o Procedimiento"></label>
                                        <select class="form-control" name="Validacion" id="Validacion" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label idioma="Procede el Requerimiento"></label>
                                        <select class="form-control" name="Validacion" id="Validacion" />
                                    </div>
                                    <div class="col-md-6">
                                        <label idioma="Importancia del Requerimiento"></label>
                                        <select class="form-control" name="Validacion" id="Validacion" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Fecha Aprobación"></label>
                                        <input type="text" class="form-control" name="FechaVal" id="FechaVal" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorVal" id="AsesorVal" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoVal" id="CargoVal" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-primary" onclick="ValidarQueja()"><span idioma="Aprobar Queja"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="form-group row">
                            <div class="col-xs-12 col-md-9 col-sm-9">
                                <label idioma="Validación"></label>
                                <textarea class="form-control" name="Validacion" id="Validacion" rows="11" />
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Fecha Validación"></label>
                                        <input type="text" class="form-control" name="FechaVal" id="FechaVal" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorVal" id="AsesorVal" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoVal" id="CargoVal" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-primary" onclick="ValidarQueja()"><span idioma="Validar Queja"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-11 col-sm-11">
                                <label idioma="Archivos adjuntos de la validación de la queja"></label>
                                <input type="file" class="form-control" name="ArchivosVal" onchange="GuardarDocumento(this.id,1)" id="ArchivosVal" />
                            </div>
                            <div class="col-xs-12 col-md-1 col-sm-1">
                                <br>
                                <button type="button" class="btn btn-glow btn-success" onclick="VerArchivos(1,'validación')"><span idioma="Ver Archivos"></span></button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-9 col-sm-9">
                                <label idioma="Respuesta de la Queja"></label>
                                <textarea class="form-control" name="Respuesta" id="Respuesta" rows="11" />
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Fecha Respuesta"></label>
                                        <input type="text" class="form-control" name="FechaRes" id="FechaRes" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorRes" id="AsesorRes" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoRes" id="CargoRes" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-primary" onclick="ResponderQueja()"><span idioma="Responder Queja"></span></button>
                                        <button type="button" class="btn btn-glow btn-warning" onclick="ModalEnviarCorreo(1)"><span idioma="Enviar Respuesta"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <h3><span idioma="COMUNICACIÓN DE LA RESPUESTA A LA QUEJA AL RECLAMANTE"></span></h3>
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <label idioma="Fecha de Envio"></label>
                                <input type="text" class="form-control" name="FechaEnvRes" id="FechaEnvRes" disabled />
                            </div>
                            <div class="col-xs-12 col-md-5 col-sm-5">
                                <label idioma="Correo Electrónico"></label>
                                <input type="text" class="form-control" name="CorreoEnvRes" id="CorreoEnvRes" disabled />
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-3">
                                <label idioma="Asesor/Tecnico Envió"></label>
                                <input type="text" class="form-control" name="AsesorEnvRes" id="AsesorEnvRes" disabled />
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <label idioma="Cargo"></label>
                                <input type="text" class="form-control" name="CargoEnvRes" id="CargoEnvRes" disabled />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-9 col-sm-9">
                                <label idioma="Cierre de la Queja"></label>
                                <textarea class="form-control" name="Cierre" id="Cierre" rows="11" />
                            </div>
                            <div class="col-xs-4 col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Fecha Respuesta"></label>
                                        <input type="text" class="form-control" name="FechaCie" id="FechaCie" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label idioma="Asesor/Técnico"></label>
                                        <input type="text" class="form-control" name="AsesorCie" id="AsesorCie" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label idioma="Cargo"></label>
                                        <input type="text" class="form-control" name="CargoCie" id="CargoCie" disabled />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-glow btn-primary" onclick="CerrarQueja()"><span idioma="Cerrar Queja"></span></button>
                                        <button type="button" class="btn btn-glow btn-warning" onclick="ModalEnviarCorreo(2)"><span idioma="Enviar Cierre"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <h3><span idioma="COMUNICACIÓN DEL CIERRE DE LA QUEJA AL RECLAMANTE"></span></h3>
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <label idioma="Fecha de Énvío"></label>
                                <input type="text" class="form-control" name="FechaEnvCie" id="FechaEnvCie" disabled />
                            </div>
                            <div class="col-xs-12 col-md-5 col-sm-5">
                                <label idioma="Correo Electrónico"></label>
                                <input type="text" class="form-control" name="CorreoEnvCie" id="CorreoEnvCie" disabled />
                            </div>
                            <div class="col-xs-12 col-md-3 col-sm-3">
                                <label idioma="Asesor/Tecnico Envió"></label>
                                <input type="text" class="form-control" name="AsesorEnvCie" id="AsesorEnvCie" disabled />
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <label idioma="Cargo"></label>
                                <input type="text" class="form-control" name="CargoEnvCie" id="CargoEnvCie" disabled />
                            </div>
                        </div>
                    </div>

                </div>
                        
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Queja"></label>
                        <input name="CQueja" id="CQueja" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Ingreso"></label>
                        <input name="CIngreso" id="CIngreso" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <label idioma="Cliente"></label>
                        <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Desde"></label>
                        <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Fecha Hasta"></label>
                        <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Aesor"></label>
                        <select name="CAsesor" id="CAsesor" class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Estado"></label>
                        <select name="CEstado" id="CEstado" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="Registrado">Registradas</option>
                            <option value="Validado">Validadas</option>
                            <option value="Evaluado-Pro">Evaluadas Procede</option>
                            <option value="Evaluado-NoPro">Evaluadas No Procede</option>
                            <option value="Investigado">Investigadas</option>
                            <option value="Respuesta">Respondidas</option>
                            <option value="Cerrado">Cerradas</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Acuse"></label>
                        <select name="CAcuse" id="CAcuse" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Validada"></label>
                        <select name="CValidada" id="CValidada" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Evaluada"></label>
                        <select name="CEvaluada" id="CEvaluada" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Procede"></label>
                        <select name="CProcede" id="CProcede" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Investigada"></label>
                        <select name="CInvestigada" id="CInvestigada" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Respondida"></label>
                        <select name="CRespondida" id="CRespondida" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Env.Respuesta"></label>
                        <select name="CEnvRespondida" id="CEnvRespondida" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Cerrada"></label>
                        <select name="CCerrada" id="CCerrada" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Env.Cerrada"></label>
                        <select name="CEnvCerrada" id="CEnvCerrada" class="form-control" style="width:100%">
                            <option value="">--</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-1 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsularQuejas()"><span idioma="Buscar"></span></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table display  table-bordered hover" id="TablaQuejas" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                            <thead>
                                <tr class="bg-gris">
                                    <th width="2%">&nbsp;</th>
                                    <th width="8%"><span idioma="Queja"></span></th>
                                    <th width="15%"><span idioma="Cliente<br>Contacto"></span></th>
                                    <th><span idioma="Teléfonos<br>Email<br>Dirección"></span></th>
                                    <th><span idioma="Descripción"></span></th>
                                    <th><span idioma="Ingresos"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Registro"></span></th>
                                    <th><span idioma="Acuse<br>Recibo"></span></th>
                                    <th><span idioma="Validación"></span></th>
                                    <th><span idioma="Evaluación"></span></th>
                                    <th><span idioma="Procede"></span></th>
                                    <th><span idioma="Investigación"></span></th>
                                    <th><span idioma="Respuesta"></span></th>
                                    <th><span idioma="Envío<br>Respuesta"></span></th>
                                    <th><span idioma="Cierre"></span></th>
                                    <th><span idioma="Envió<br>Cierre"></span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="ModalDocumentos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetQueja"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive">
                    <table class="table display  table-bordered">
                        <thead>
                            <tr>
                                <th width="70%" idioma="Documento"></th>
                                <th width="15%" idioma="Asesor"></th>
                                <th width="15%" idioma="Fecha"></th>
                            </tr>
                        </thead>
                        <tbody id="TBDocumentos"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" onclick="CerrarModal();" ><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="ModalEnvio" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span id="DetEnvio"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <input type="hidden" value="0" id="eTipoEnvio" />
                <div class="form-group row">
                    <div class="col-md-6">
                        <label idioma="Cliente"></label>
                        <input type="text" class="form-control" id="eCliente" readonly />
                    </div>
                    <div class="col-md-6">
                        <label idioma="Correo Electrónico"></label>
                        <input type="text" class="form-control" id="eCorreo"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label idioma="Descrión de la Queja"></label>
                        <textarea type="text" class="form-control" rows="10" id="eDescripcion" readonly />
                    </div>
                    <div class="col-md-6">
                        <label id="tipoenvio">&nbsp;</label>
                        <textarea type="text" class="form-control" rows="10" id="eEnvio" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="Observación Adicional">&nbsp;</label>
                        <textarea type="text" class="form-control" rows="4" id="eObservacion" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" onclick="CerrarModal()"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="EnviarCorreo()"><span idioma="Enviar Correo"></span></button>
            </div>
        </div>
    </div>
</div>
    

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url + 'js/Quejas.js?unico=' + Math.round(Math.random() * 10000));
</script>




