﻿<div class="row">
    <div class="col-sm-12">
        <div class="tabbable page-tabs" id="tabtercerizado">
            <ul class="nav nav-tabs">
                <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar Pedidos"></span></a></li>
                <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consulta de Pedidos"></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="tabcrear">
                    <form ng-submit="GuardarPedido()" style="background-color:white">
                        <div class="panel panel-primary" style="font-size:14px; color:black;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span idioma="Registro de Pedidos de Inventarios"></span></a></h3>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 text-right">
                                        <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()">F2 <span idioma="Nuevo"></span></button>
                                        <button class="btn btn-glow btn-info" type="submit">F3 <span idioma="Guardar"></span></button>
                                        <button class="btn btn-glow btn-warning " type="button" id="btnenviar" onclick="EnviarOrden()">F4 <span idioma="Enviar"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-sm-2 col-sm-2">
                                            <label idioma="Tipo de Pedido"></label>
                                            <select class="form-control ComboRegistro" ng-model="Registro.tipo" id="Tipo" tabindex="0" style="width:100%;" required ng-change="ActivarDeposito(Registro.tipo)" >
                                                <option value="">--Seleccione--</option>
                                                <option value="INTERNO">INTERNO</option>
                                                <option value="EXTERNO">EXTERNO</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-2 col-sm-4">
                                            <label idioma="Ubicación Deposito"></label>
                                            <select type="text" id="Deposito" class="form-control ComboRegistro" ng-model="Registro.deposito" ng-disabled="Registro.dis_deposito" required style="width:100%">
                                                <option value="">--Seleccione--</option>
                                                <option ng-selected= "{{value.id == Registro.deposito}}" ng-repeat="value in Combos.deposito" 
                                                    value="{{value.id}}">{{value.value}}     
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-1">
                                            <label idioma="Pedido"></label>
                                            <input type="text" class="form-control" ng-model="Pedido" id="Pedido" />
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha"></label>
                                            <input type="text" class="form-control" ng-value="Registro.fecha" id="Fecha" ng-disabled="true" />
                                        </div>                                        
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Creado por"></label>
                                            <input type="text" class="form-control" ng-value="Registro.usuario" id="Creadopor" ng-disabled="true" />
                                        </div>                                        
                                        <div class="col-xs-4 col-sm-1">
                                            <a href="#" title="Trazabilidad del Pedido">Estado</a>
                                            <input type="text" class="form-control" ng-value="Registro.estado" ng-disabled="true" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label idioma="Descripción del Pedido"></label>
                                            <textarea type="text" class="form-control" ng-model="Registro.descripcion" id="Descripcion" rows="3" required ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-4 col-sm-2">
                                            <label idioma="Fecha Máxima Requerida "></label>
                                            <input type="date" class="form-control" ng-model = "Registro.fechamax.value" id="FechaMaxima" ng-change="CambioFecha(Registro.fechamax.value,1)" required />
                                        </div>  
                                    </div>

                                </div>
                            </div>
                        </div>

                        <input class="form-control" ng-model="prueba" >
                        <div>{{edadx}}</div>
                                                
                        <div class="row">
                            <div id="divAnulaciones" class="col-sm-12 hidden">
                                <label><span class="text-danger" style="font-size:16px;" id="ObsAnulacion"><span idioma="Prueba"></span></span></label>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table display -bordered hover" width="100%" id="Malla" style="font-size:14px">
                                <thead>
                                    <tr class="bg-info">
                                        <th width="3%" align="center" height="40px"><input type="checkbox" ng-model="Registro.allselect"  ng-change="SeleccionarTodo()" class="form-control" ng-disabled="Registro.disabled"/></th>
                                        <th width="64%" idioma="Artículo/Servicio/Suministro"></th>
                                        <th width="15%" idioma="Cantidad"></th>
                                        <th width="10%" idioma="Registro"></th>
                                        <th width="3%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat = "x in Registro.tabla" ng-class="Registro.tabla[$index].class_select">
                                        <td class="text-center"><b>{{$index+1}}</b>
                                            <div ng-if="x.idpedido == 0">
                                                <input class="form-control" type="checkbox" ng-checked="Registro.allselect" ng-change="setCambioSelect($index)" ng-model="Registro.tabla[$index].seleccionado" value="{{x.id}}"  id="{{'seleccionado' + ($index+1)}}">
                                            </div>
                                            <td>{{x.articulo}}</td>
                                            <td class="text-XX">
                                                <div ng-if="x.idpedido == 0">
                                                    <input type="text" class="text-right sinborde"  ng-focus="FormatoEntrada($event.target,1)"  id="{{'tcantidad' + ($index+1)}}" ng-model="Registro.tabla[$index].cantidad" style="width:99%" ng-keyup="ValidarTexto($event.target,3)"  ng-blur="GuardarTempPedido(x, $event.target, 3)" ng-change="CambioTemporal()">
                                                </div>
                                                <div ng-if="x.idcompra > 0" class="text-right">
                                                    {{x.cantidad || number : 3 }}
                                                </div>
                                            </td>
                                            <td class="text-center"><b>{{x.fecha}}</b><br>{{x.usuario}}</td>
                                            <td class="text-center">
                                                <div ng-if="x.idpedido == 0">
                                                    <button class="Eliminar Registro btn btn-danger" title="Eliminar Registro" type="button" ng-click="EliminarRegistroPedido(x, $index)"><span data-icon="&#xe0d8;"></span></button>
                                                </div>
                                            </td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />

                        <div class="form-group row">
                                <div class="btn btn-glow-group" role="group">
                                    <button class="btn btn-glow btn-info botones" type="button" ng-click="ModalArticulos()">F7 <span idioma="Agregar Artículo"></span></button>
                                    <button class="btn btn-glow btn-success botones" type="submit">F9 <span idioma="Guardar"></span></button>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ImprimirOrden(0,0)">F10 <span idioma="Imprimir"></span></button>
                                    <button class="btn btn-glow btn-danger botones2" type="button" onclick="ReemplazarOrden()">F11 <span idioma="Reemplazar"></span></button>
                                    <button class="btn btn-glow btn-warning botones2" type="button" onclick="AnularOrden()">F12 <span idioma="Anular"></span></button>
                                </div>
                        </div>

                        <hr />
                        <div class="form-group row">
                            <div class="col-md-9 col-xs-12  ">
                                
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="row">
                                    <label class="col-sm-4 control-label text-right" idioma="Totales"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" ng_value="Registro.tcantidad | number : 3" disabled style="font-size:20px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade in" id="tabconsultar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Orden"></label>
                                <input name="COrden" id="COrden" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Cotización"></label>
                                <input name="CCotizacion" id="CCotizacion" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-1">
                                <label idioma="Ingreso"></label>
                                <input name="CIngreso" id="CIngreso" class="form-control" />
                            </div>

                            <div class="col-xs-4 col-sm-4">
                                <label idioma="Proveedor"></label>
                                <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-5">
                                <label idioma="Cliente"></label>
                                <select name="CCliente" id="CCliente" class="form-control" style="width:100%" />
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select name="CEquipo" id="CEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Serie"></label>
                                <input name="CSerie" id="CSerie" class="form-control" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuarios"></label>
                                <select name="CUsuario" id="CUsuario" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" name="CFechaDesde" id="CFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" name="CFechaHasta" id="CFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-12 col-sm-6 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularOrdenes()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <hr />
                        <h3>Totales</h3>
                        <div class="form-group row">
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Sub-Total"></label>
                                <input id="TSubTotal" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Anuladas"></label>
                                <input id="TAnuladas" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="Descuento"></label>
                                <input id="TDescuento" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="IVA"></label>
                                <input id="TIva" disabled class="form-control text-right text-XX" />
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <label class="text-XX" idioma="GRAN TOTAL"></label>
                                <input id="TTotal" disabled class="form-control text-right text-XX" />
                            </div>
                        </div>

                        <hr />

                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaOrdenCompra" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%">&nbsp;</th>
                                            <th width="3%"><span idioma="Orden"></span></th>
                                            <th width="15%"><span idioma="Proveedor"></span></th>
                                            <th width="15%"><span idioma="Cliente"></span></th>
                                            <th><span idioma="Cantidad Items"></span></th>
                                            <th><span idioma="Descuento"></span></th>
                                            <th><span idioma="SubTotal"></span></th>
                                            <th><span idioma="IVA"></span></th>
                                            <th><span idioma="Total"></span></th>
                                            <th><span idioma="Departamento"></span></th>
                                            <th><span idioma="Ciudad"></span></th>
                                            <th><span idioma="Teléfonos"></span></th>
                                            <th><span idioma=" Correo Electrónico"></span></th>
                                            <th><span idioma="Días de Entrega"></span></th>
                                            <th><span idioma="Forma de Pago"></span></th>
                                            <th width="3%"><span idioma="Cotización"></span></th>
                                            <th><span idioma="Lugar de Entrega"></span></th>
                                            <th><span idioma="Estado"></span></th>
                                            <th><span idioma="Registro"></span></th>
                                            <th><span idioma="Envío"></span></th>
                                            <th><span idioma="Anulado"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica Consolidado de Órden de Compra"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <canvas id="GraficaOC"></canvas>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table display  table-bordered hover">
                                                <thead>
                                                    <tr>
                                                        <th idioma="Año/Mes"></th>
                                                        <th idioma="SubTotal"></th>
                                                        <th idioma="Descuento"></th>
                                                        <th idioma="IVA"></th>
                                                        <th idioma="Total"></th>
                                                        <th idioma="Facturado"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TablaOC"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tabingresosoc">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Proveedor"></label>
                                <select id="CIProveedor" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-3">
                                <label idioma="Cliente"></label>
                                <select id="CICliente" class="form-control" style="width:100%" />
                            </div>

                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Usuarios"></label>
                                <select id="CIUsuario" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Desde"></label>
                                <input type="date" id="CIFechaDesde" class="form-control" />
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Fecha Hasta"></label>
                                <input type="date" id="CIFechaHasta" class="form-control" />
                            </div>
                            <div class="col-xs-12 col-sm-1 text-right">
                                <br>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ConsularOrdIngreso()"><span idioma="Buscar"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Magnitudes"></label>
                                <select id="CIMagnitud" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Equipos"></label>
                                <select id="CIEquipo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Marca"></label>
                                <select id="CIMarca" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Modelos"></label>
                                <select id="CIModelo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Intervalo"></label>
                                <select id="CIIntervalo" class="form-control" style="width:100%"></select>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label idioma="Serie"></label>
                                <input id="CISerie" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table display  table-bordered hover" id="TablaOrdCompIngreso" style="padding:1px 1px 1px 1px; margin:1px 1px 1px 1px;">
                                    <thead>
                                        <tr>
                                            <th width="3%"><span idioma="Orden"></span></th>
                                            <th width="15%"><span idioma="Fecha"></span></th>
                                            <th><span idioma="Proveedor"></span></th>
                                            <th><span idioma="Cliente"></span></th>
                                            <th><span idioma="Ingreso"></span></th>
                                            <th><span idioma="Magnitud"></span></th>
                                            <th><span idioma="Equipo"></span></th>
                                            <th><span idioma="Marca"></span></th>
                                            <th><span idioma="Modelo"></span></th>
                                            <th><span idioma="Registro"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica de Ingreso, Magnitud por Órden de Compra Mensual"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <canvas id="GraficaMMF"></canvas>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table display  table-bordered hover">
                                                    <thead id="EncTablaMMF">
                                                    </thead>
                                                    <tbody id="TablaMMF"></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica de Ingreso, Magnitud por Órden de Compra"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-10">
                                            <canvas id="GraficaM"></canvas>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="table-responsive">
                                                <table class="table display  table-bordered hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Magnitud</th>
                                                            <th>Ingresos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TablaM"></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span idioma="Grafica de Ingreso, Equipos por Órden de Compra"></span></h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-10">
                                            <canvas id="GraficaE"></canvas>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="table-responsive">
                                                <table class="table display  table-bordered hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Magnitud</th>
                                                            <th>Equipos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TablaE"></tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="enviar_tercerizado" class="modal fade" role="dialog">
    <form id="formenviartercerizado">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Envío de la Orden de Compra Número "></span> <span id="sporden"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label idioma="Proveedor"></label>
                            <input type="text" class="form-control" id="eProveedor" ng-disabled="true" />
                        </div>
                        <div class="col-sm-6">
                            <label idioma="Correo Electrónico"></label>
                            <textarea class="form-control" id="eCorreo" required title="Si desea enviar varios correo puede hacerlo separandolo con ; ejemplo: correo1@gmail.com;correo2@gmail.com"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label idioma="Observación de Envío"></label>
                            <textarea class="form-control" id="ObserEnvio" rows="4"></textarea>
                        </div>
                    </div>
                    <iframe id="resultadopdforden" width="100%" height="350px"></iframe>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" tabindex="3" type="submit"><span idioma="Realizar Envío"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modalArticulos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Consultar Artículos"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-6 col-md-3">
                        <label idioma="Ubicación Depósito"></label>
                        <select id="MUbicacion" class="form-control" onchange="CargarModalArticulos('Ped')" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Grupo"></label>
                        <select id="MGrupo" class="form-control" onchange="CargarModalArticulos('Ped')" style="width:100%" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <label idioma="Código ó Código de Barras"></label>
                        <input id="MCodigo" class="form-control" onkeyup="CargarModalArticulos('Ped')" />
                    </div>
                    <div class="col-xs-6 col-md-1">
                        <label idioma="Precio"></label>
                        <input id="MPrecio" class="form-control text-XX text-center" onkeyup="CargarModalArticulos('Art')" value="1" ng-disabled="true" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label idioma="Artículo/Marca/Modelo/Característica"></label>
                        <input id="MDescripcion" class="form-control" onkeyup="CargarModalArticulos('Ped')" />
                    </div>
                </div>
                <div class="table-responsive" style="min-height:300px;">
                    <table class="table display  table-bordered hover" id="TablaModalArticulosPed">
                        <thead>
                            <tr>
                                <th width="3%">&nbsp;</th>
                                <th width="3%">ID</th>
                                <th width="5%"><span idioma="Código Interno"></span></th>
                                <th width="5%"><span idioma="Código Barras"></span></th>
                                <th><span idioma="Grupo"></span></th>
                                <th><span idioma="Tipo"></span></th>
                                <th width="20%"><span idioma="Artículo"></span></th>
                                <th><span idioma="Marca"></span></th>
                                <th><span idioma="Modelo"></span></th>
                                <th><span idioma="Presentación"></span></th>
                                <th><span idioma="Característica"></span></th>
                                <th><span idioma="Existencia"></span></th>
                                <th><span idioma="Último Costo"></span></th>
                                <th><span idioma="Precio MN"></span></th>
                                <th><span idioma="Precio USD"></span></th>
                                <th><span idioma="Referencia"></span></th>
                                <th><span idioma="Uso Interno"></span></th>
                                <th><span idioma="IVA"></span></th>
                                <th><span idioma="Cuenta Contable"></span></th>
                                <th><span idioma="Proveedor"></span></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>






