﻿<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info" style="font-size:14px; color:black;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Diligencias"></span></a></h3>
                    </div>
                
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label idioma="Fecha de Programación"></label>
                            <input class="form-control" type="date" id="Fecha" />
                        </div>
                        <div class="col-md-2">
                            <label idioma="Tipo de Persona"></label>
                            <select class="form-control" id="Tipo" onchange="CambioCliente(this.value)" style="width:100%">
                                <option value="CLIENTE">CLIENTE</option>
                                <option value="PROVEEDOR">PROVEEDOR</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label idioma="Tipo de Diligencia"></label>
                            <select class="form-control" id="TipoVuelta" onchange="TipoVuelta()" style="width:100%">
                                <option value="">--SELECCIONE--</option>
                                <option value="ENTREGAR EQUIPO">ENTREGAR EQUIPO</option>
                                <option value="RECOGER EQUIPO">RECOGER EQUIPO</option>
                                <option value="ADMINISTRATIVA">ADMINISTRATIVA</option>
                                <option value="ENVIAR-TERCERIZAR">ENVIAR-TERCERIZAR</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5">
                            <label idioma="Empresa"></label>
                            <select class="form-control" id="Cliente" onchange="BuscarDatos(this.value)" style="width:100%" />
                        </div>
                        <div class="col-md-3">
                            <label for="Contacto" idioma="Email Cartera"></label>
                            <input class="form-control" id="EmailCartera" readonly />
                        </div>
                        <div class="col-md-4">
                            <label for="Contacto" idioma="Contacto"></label>
                            <input class="form-control" id="Contacto" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="SaldoClienteDev"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="Direccion" idioma="Dirección"></label>
                            <input class="form-control" id="Direccion" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-7">
                            <label idioma="Actividad"></label>
                            <textarea class="form-control" id="Actividad" rows="6" />
                        </div>
                        <div class="col-md-5">
                            <label for="Ingreso" idioma="Ingresos"></label>
                            <select id="Ingresos" class="form-control" multiple style="width:100%" />
                            <br><br />
                            <div class="text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarVueltas()"><span idioma="Limpiar Vuelta"></span></button>
                                <button class="btn btn-glow btn-success" type="button" onclick="GuardarVueltas()"><span idioma="Agregar Vuelta"></span></button>
                            </div>
                        </div>

                    </div>
                </div>

                <input type="hidden" value="0" id="Id" />

                <hr />
            
            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="BUSQUEDA DE VUELTA"></span></a></h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label idioma="Fecha Inicio"></label>
                                    <input class="form-control" type="date" id="FechaInicio" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Fecha Final></label>
                                    <input class="form-control" type="date" id="FechaFin" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Estado"></label>
                                    <select class="form-control" id="Estado" style="width:100%">
                                        <option value="TODAS">TODAS</option>
                                        <option value="POR APROBAR">POR APROBAR</option>
                                        <option value="AUTORIZADA">AUTORIZADA</option>
                                        <option value="ASIGNADA">ASIGNADA</option>
                                        <option value="RECHAZADA">RECHAZADA</option>
                                        <option value="EJECUTADA">EJECUTADA</option>
                                        <option value="NO EJECUTADA">NO EJECUTADA</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Asesor/Técnico"></label>
                                    <select class="form-control" id="Usuario" style="width:100%" />
                                </div>
                                <div class="col-md-2">
                                    <label idioma="Fecha Programación"></label>
                                    <input class="form-control" type="date" id="FechaPro" />
                                </div>
                                <div class="col-md-2 text-right">
                                    <br>
                                    <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarVueltas()"><span idioma="Consultar"></span></button>
                                    <button class="btn btn-glow btn-info" type="button" onclick="GenerarPDF()"><span idioma="PDF"></span></button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table width="100%" align="center" class="table table-bordered hover display" id="TablaVueltas">
                                            <thead>
                                                <tr>
                                                    <th width="3%" idioma="Fotos"></th>
                                                    <th>&nbsp;</th>
                                                    <th width="3%" idioma="ID"></th>
                                                    <th width="8%" idioma="Fecha Registro"></th>
                                                    <th idioma="Asesor/Técnico"></th>
                                                    <th idioma="Tipo"></th>
                                                    <th idioma="IdEmpresa"></th>
                                                    <th idioma="Empresa"></th>
                                                    <th idioma="Contacto"></th>
                                                    <th idioma="Dirección"></th>
                                                    <th idioma="Tipo"></th>
                                                    <th width="20%" idioma="Actividad"></th>
                                                    <th idioma="Ingresos"></th>
                                                    <th idioma="Fecha Programación"></th>
                                                    <th idioma="Estado"></th>
                                                    <th idioma="Tiempo Transcurrido"></th>
                                                    <th idioma="Aprobado"></th>
                                                    <th idioma="Ejecutado"></th>
                                                    <th idioma="Asignado"></th>
                                                    <th width="20%" idioma="Observación"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <canvas id="myTabla2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalEjecutar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Ejecutar Vuelta"></span></h4>
            </div>
            <input type="hidden" id="IdEjecutar" value="0"  />
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="CLIENTE"></label>
                        <input class="form-control" id="DCliente"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="VUELTA A EJECUTADA"></label>
                        <textarea class="form-control" rows="4" id="DVuelta"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <center>
                            <h3><span idioma="VUELTA EJECUTADA"></span></h3>
                            <select class="form-control" style="width:40%" id="EjeVuelta" >
                                <option value="">--</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                                <option value="RECHAZADA">RECHAZADA</option>
                            </select>
                        </center>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="OBSERVACIÓN DE LA VUELTA"></label>
                        <textarea class="form-control" rows="4" id="OVuelta"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="GuaEjecVuelta()"><span idioma="Ejecutar Vuelta"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal" id="AnularIngreso"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="modalAsignar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Asignar Vuelta"></span></h4>
            </div>
            <input type="hidden" id="IdAEjecutar" value="0" />
            <div class="modal-body with-padding">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="CLIENTE"></label>
                        <input class="form-control" id="ACliente" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label idioma="VUELTA A EJECUTADA"></label>
                        <textarea class="form-control" rows="4" id="AVuelta"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <h3><span idioma="ASIGNAR A"></span></h3>
                        <select class="form-control" style="width:100%" id="UsuarioAsig" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="GuaAsigVuelta()"><span idioma="Asignar Vuelta"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/RegistroVueltas.js?unico=' + Math.round(Math.random() * 10000));
</script>




