
<div class="tabbable page-tabs" id="tab-clientes">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Consultar"></span></a></li>
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formClientes" style="background-color:white">
                <input type="hidden" name="IdCliente" id="IdCliente" value="0" />
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span id="Menu_Empresa" idioma="Registro de Clientes"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar" onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span idioma="Guardar"></span></button>                                
                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Codigo Interno"></label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="CodigoInterno" name="CodigoInterno"  required style="width:100%" />
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Magnitud"></label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="Magnitud" name="Magnitud"  required style="width:100%" />
                                </div>                                                    
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" idioma="Descripcion"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Descripcion" id="Descripcion" required style="width:100%" />
                                </div>                                                          
                            </div>                                                                                                                                                 
                            <hr />
                            <div class="form-group">
                                <div class="tabbable page-tabs" id="tab-opciones">
                                    <ul class="nav nav-tabs">
                                        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcomerciales" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Certificados Realizados"></span></a></li>
                                        <li id="proli7"><a href="#tabsedes" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Estadisticas de valores patrón"></span></a></li>
                                        <li id="proli7"><a href="#tabtransductores" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Transductores"></span></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tabcomerciales">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="form-group row">
                                                        <label class="col-sm-5 control-label" idioma="Tabla de Precios"></label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" name="TablaPrecios" id="TablaPrecios" style="width:100%" required />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-5 control-label" idioma="Límte de Crédito"></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" id="Limite" name="Limite" required class="form-control" onfocus="FormatoEntrada(this, 1)" onblur="FormatoSalida(this)" onkeyup="ValidarTexto(this,1)">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-5 control-label" idioma="Plazo de Pago"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="PlazoPago" name="PlazoPago" maxlength="3" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-5 control-label" idioma="% Descuentos"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="Descuento" name="Descuento" maxlength="3" max="100" required class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Días de Pre-Bloqueo"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="DiasPre" name="DiasPre" maxlength="3" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Días de Bloqueo"></label>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="DiasBlo" name="DiasBlo" maxlength="3" required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Cobrar Certificado"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="Certificado" name="Certificado" required style="width:100%">
                                                                <option value="">--</option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Enviar Certificado por Correo"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="EnviarCertificado" name="EnviarCertificado" required style="width:100%">
                                                                <option value="NO">NO</option>
                                                                <option value="SI">SI</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Cobrar Informe Técnico"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="InformeTecnico" name="InformeTecnico" required style="width:100%">
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-min row">
                                                        <label class="col-sm-5 control-label" idioma="Entregar Con Saldo"></label>
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="Entregasinfac" name="Entregasinfac" required style="width:100%">
                                                                <option value="">--</option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" idioma="Estadística de Cotizaciones por Clientes"></label>
                                                    <table class="table display  table-bordered">
                                                        <thead>
                                                            <tr class="bg-info">
                                                                <th idioma="Operación"></th>
                                                                <th idioma="Cant"></th>
                                                                <th idioma="Monto"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th idioma="Cotizaciones Pendientes"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Aprobadas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Modificadas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Facturadas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones Anuladas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" idioma="Estado de Cuenta"></label>
                                                    <table class="table display  table-bordered">
                                                        <thead>
                                                            <tr class="bg-info">
                                                                <th idioma="Concepto"></th>
                                                                <th idioma="Cant"></th>
                                                                <th idioma="Monto"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th idioma="Límite de Crédito"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Saldo Pendiente"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Saldo Disponible"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Facturas Vencidas"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Facturas Por Vencerse"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <th idioma="Cotizaciones"></th>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade in" id="tabsedes">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-3 col-sm-3">
                                                    <label idioma="Nombre Sede"></label>
                                                    <input type="text" class="form-control" id="SNombre" tabindex="3" />
                                                </div>
                                                <div class="col-xs-4 col-md-3 col-sm-3">
                                                    <label idioma="Dirección"></label>
                                                    <input type="text" class="form-control" id="SDireccion" tabindex="3" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="País"></label>
                                                    <select type="text" class="form-control" id="SPais" onchange="CambioDepartamento(this.value,'SDepartamento','SCiudad')" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="Departamento"></label>
                                                    <select type="text" class="form-control" id="SDepartamento" onchange="CambioCiudad(this.value,'SCiudad')" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="Ciudad"></label>
                                                    <select type="text" class="form-control" id="SCiudad" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-12 text-right">
                                                    <button class="btn btn-glow btn-default" type="button" onclick="LimpiarSede()"><span idioma="Limpiar"></span></button>
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="GuardarSede()"><span idioma="Agregar"></span></button>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaSede">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Sede"></th>
                                                            <th idioma="Dirección"></th>
                                                            <th idioma="Departamento"></th>
                                                            <th idioma="Ciudad"></th>
                                                            <th width="3%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>  
                                        <div class="tab-pane fade in" id="tabtransductores">
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-xs-4 col-md-3 col-sm-3">
                                                    <label idioma="Nombre Sede"></label>
                                                    <input type="text" class="form-control" id="SNombre" tabindex="3" />
                                                </div>
                                                <div class="col-xs-4 col-md-3 col-sm-3">
                                                    <label idioma="Dirección"></label>
                                                    <input type="text" class="form-control" id="SDireccion" tabindex="3" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="País"></label>
                                                    <select type="text" class="form-control" id="SPais" onchange="CambioDepartamento(this.value,'SDepartamento','SCiudad')" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="Departamento"></label>
                                                    <select type="text" class="form-control" id="SDepartamento" onchange="CambioCiudad(this.value,'SCiudad')" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-2 col-sm-2">
                                                    <label idioma="Ciudad"></label>
                                                    <select type="text" class="form-control" id="SCiudad" style="width:100%" />
                                                </div>
                                                <div class="col-xs-4 col-md-12 text-right">
                                                    <button class="btn btn-glow btn-default" type="button" onclick="LimpiarSede()"><span idioma="Limpiar"></span></button>
                                                    <button class="btn btn-glow btn-primary" type="button" onclick="GuardarSede()"><span idioma="Agregar"></span></button>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaSede">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Sede"></th>
                                                            <th idioma="Dirección"></th>
                                                            <th idioma="Departamento"></th>
                                                            <th idioma="Ciudad"></th>
                                                            <th width="3%">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>                                                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
       
    </div>
</div>

<div id="modalCambioNitCli" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Cambio de NIT"></span>&nbsp;&nbsp;<span id="SCambioNit"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <label idioma="Ingrese el NUEVO NIT/Cédula del Cliente"></label>
                        <center>
                            <input name="DDocumento" id="DDocumento" maxlength="13" onkeyup="ValidarTexto(this, 3)" autofocus class="form-control" />
                        </center>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="CambiarNIT()"><span idioma="Cambiar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalReeContacto" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <input type="hidden" id="IdReemplazo" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Reemplazar Contacto"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <table class="table display  table-bordered hover" id="TablaReeContacto">
                        <thead>
                            <tr>
                                <th width="5%">Id</th>
                                <th idioma="Nombres"></th>
                                <th idioma="Email"></th>
                                <th idioma="Teléfonos"></th>
                                <th idioma="Fax/Celular"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                <button class="btn btn-glow btn-primary" type="button" onclick="Reemplazar()"><span idioma="Reemplazar y Eliminar"></span></button>
            </div>

        </div>
    </div>
</div>

<div id="modalPermisoContacto" class="modal fade" role="dialog">
    <form id="FormPermisos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Permisos del Contacto"></span> <span id="ContacPermiso"></span></h4>
                </div>
                <div class="modal-body with-padding">
                    <input id="IdContacPermiso" name="IdContacPermiso" type="hidden" />
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table display  table-bordered hover">
                                <tbody>
                                    <tr>
                                        <td>Ver Cotizaciones y Reportes</td>
                                        <td><input type="checkbox" id="PermCotizacion" name="PermCotizacion" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Estado de los ingresos(equipos/instrumentos)</td>
                                        <td><input type="checkbox" id="PermIngreso" name="PermIngreso" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Estado de Cuenta de recibos y facturas</td>
                                        <td><input type="checkbox" id="PermEstadoCuenta" name="PermEstadoCuenta" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Generar Solicitudes de Cotizaciones</td>
                                        <td><input type="checkbox" id="PermSolicitudes" name="PermSolicitudes" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Descargar Certificados</td>
                                        <td><input type="checkbox" id="PermCertificados" name="PermCertificados" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Administrar Inventario</td>
                                        <td><input type="checkbox" id="PermInventarios" name="PermInventarios" n class="form-control permiso" /></td>
                                    </tr>
                                    <tr>
                                        <td>Realizar Quejas</td>
                                        <td><input type="checkbox" id="PermQuejas" name="PermQuejas" n class="form-control permiso" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
                    <button class="btn btn-glow btn-primary" type="submit"><span idioma="Asignar Permisos"></span></button>
                </div>

            </div>
        </div>
    </form>
    
</div>


<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Patron.js?unico=' + Math.round(Math.random() * 10000));

</script>




