<div class="tabbable page-tabs" id="tab-patronaux">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i
                    class="icon-checkbox-partial"></i><span idioma="Registrar Patrón Auxiliar"></span></a></li>
        <li id="proli7"><a href="#tabsensor" data-toggle="tab"><i class="icon-checkbox-partial"></i><span
                    idioma="Registrar Sensor"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">



            <form id="formPatronesAux" style="background-color:white">


                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span
                                            id="Menu_Empresa" idioma="Registro de Patrones Auxiliares"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar"
                                    onclick="LimpiarDatosPatronAux()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span
                                        idioma="Guardar"></span></button>

                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <input type="hidden" name="IdPatronAux" id="IdPatronAux" value="0" />
                                <label class="col-sm-1 control-label" idioma="Descripcion"></label>
                                <div class="col-sm-5">
                                    <select type="text" class="form-control" name="DescripcionPAux" id="DescripcionPAux"
                                        required style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label" idioma="Piso"></label>
                                <div class="col-sm-5">
                                    <select type="text" class="form-control" name="PisoPAux" id="PisoPAux" required
                                        style="width:100%">
                                        <option value="">--Seleccione--</option>
                                        <option value="0">No Asignado</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Marca"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="MarcaPAux" name="MarcaPAux" required
                                        style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label" idioma="Modelo"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="ModeloPAux" name="ModeloPAux" required
                                        style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Serie"></label>
                                <div class="col-sm-5">
                                    <input type="text" name="SeriePAux" id="SeriePAux" class="form-control" required>
                                </div>
                                <label class="col-sm-1 control-label " idioma="Capacidad"></label>
                                <div class="col-sm-5">
                                    <input type="text" name="CapacidadPAux" id="CapacidadPAux" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Dirección Almacenamiento"></label>
                                <div class="col-sm-11">
                                    <input type="text" name="DireccionPAux" id="DireccionPAux" class="form-control">
                                </div>
                            </div>
                            <hr />

                            <div class="table-responsive">
                                <table class="table display table-bordered hover" id="TablaPatronesAux">
                                    <thead>
                                        <tr class="bg-gris">
                                            <th><span idioma="Id"></span></th>
                                            <th><span idioma="Descripcion"></span></th>
                                            <th><span idioma="Serie"></span></th>
                                            <th><span idioma="Marca"></span></th>
                                            <th><span idioma="Modelo"></span></th>
                                            <th><span idioma="Capacidad"></span></th>
                                            <th><span idioma="Piso"></span></th>
                                            <th><span idioma="Sensores"></span></th>
                                            <th><span idioma="Direccion<br>Almacenamiento"></span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="tab-pane fade in" id="tabsensor">

            <form id="formSensor" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse2" href="#collapse2"><span
                                            id="Menu_Empresa" idioma="Registro de Sensores"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" onclick="LimpiarSensor()"><span
                                        idioma="Limpiar"></span></button>
                                <button class="btn btn-glow btn-primary" type="button" onclick="ModalSensor()"><span
                                        idioma="Buscar Sensor"></span></button>

                                <button class="btn btn-glow btn-info" type="submit"><span
                                        idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <input type="hidden" name="IdSensor" id="IdSensor" value="0" />
                                    <label class="col-sm-1 control-label" idioma="Patron Auxiliar (Base)"></label>
                                    <div class="col-sm-11">
                                        <select name="IdPatronAuxS" id="IdPatronAuxS" value="0" style="width:100%" onchange="LimpiarSensor()"
                                            required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 control-label" idioma="Serie"></label>
                                    <div class="col-sm-7">
                                        <input type="text" name="SerieS" id="SerieS" class="form-control" required>
                                    </div>
                                    <label class="col-sm-1 control-label" idioma="Magnitud"></label>
                                    <div class="col-sm-3">
                                        <select name="CMagnitudS" id="CMagnitudS" class="form-control"
                                            style="width:100%" required></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 control-label " idioma="Url"></label>
                                    <div class="col-sm-7">
                                        <input type="url" name="UrlS" id="UrlS" class="form-control">
                                    </div>
                                    <label class="col-sm-1 control-label " idioma="Lectura"></label>
                                    <div class="col-sm-3">
                                        <select type="text" class="form-control" name="LecturaS" id="LecturaS"
                                            style="width:100%" required>
                                            <option value="">--Seleccione--</option>
                                            <option value="Automatica">Automatica</option>
                                            <option value="Excel">Excel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 control-label " idioma="Certificado"></label>
                                    <div class="col-sm-3">
                                        <input type="text" name="CertificadoS" id="CertificadoS" class="form-control" required>
                                    </div>
                                    <label class="col-sm-1 control-label " idioma="Fecha Calibración"></label>
                                    <div class="col-sm-3">
                                        <input type="text" name="FechaCalibracionS" id="FechaCalibracionS" class="form-control" required>
                                    </div>
                                    <label class="col-sm-1 control-label " idioma="Próxima Calibración"></label>
                                    <div class="col-sm-3">
                                        <input type="date" name="ProximaS" id="ProximaS" class="form-control" required> 
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
           
            <form id="formVC" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse4" href="#collapse4"><span
                                            id="Menu_Empresa" idioma="Valores Del Certificado"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button"
                                    onclick="LimpiarVCertificado()"><span idioma="Limpiar"></span></button>                               
                                <button class="btn btn-glow btn-info" type="submit"><span
                                        idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <input type="hidden" name="idVC" id="idVC" value="0" />
                                    <div class="col-sm-2">
                                        <label idioma="Medida"></label>
                                        <select type="text" class="form-control" name="MedidaVC" id="MedidaVC"
                                            style="width:100%" required>
                                            <option value="">--Seleccione--</option>
                                            <option value="Temperatura">Temperatura</option>
                                            <option value="Humedad">Humedad</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <label idioma="Patron"></label>
                                        <input type="text" name="PatronVC" id="PatronVC" onkeyup="CalcularCorreccion(this)" class="form-control text-XX text-right" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <label idioma="Instrumento"></label>
                                        <input type="text" name="InstrumentoVC" id="InstrumentoVC" onkeyup="CalcularCorreccion(this)" 
                                        class="form-control text-XX text-right" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <label idioma="Corrección"></label>
                                        <input type="text" name="CorreccionVC" id="CorreccionVC" readonly  
                                        class="form-control text-XX text-right" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <label idioma="Variable (U) "></label>
                                        <input type="text" name="VariableVC" id="VariableVC"onkeyup="ValidarTexto(this,3)"
                                        class="form-control text-XX text-right" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <label idioma="Orden"></label>
                                        <input type="text" name="OrdenVC" id="OrdenVC" onkeypress="return NumCheck(event,this,0)"
                                        class="form-control text-XX text-right"
                                            style="width:100%" required>
                                    </div>
                                </div>                               
                                <hr />
 
                                <div class="table-responsive" style="min-height:350px;">
                                    <table class="table display  table-bordered hover" id="TablaVC">
                                        <thead>
                                            <tr>
                                                <th width="5%" idioma="Id"></th>
                                                <th idioma="Medida"></th>
                                                <th idioma="Patron"></th>
                                                <th idioma="Instrumento"></th>                                                        
                                                <th idioma="Corrección"></th>                                                        
                                                <th idioma="Variable"></th>
                                                <th idioma="Orden"></th>        
                                                <th width="5%">&nbsp;</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form id="formVM" style="background-color:white">
                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse3" href="#collapse3"><span
                                            id="Menu_Empresa" idioma="Valores de polinomio para la corrección"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-info" type="submit"><span
                                        idioma="Guardar"></span></button>
                            </div>
                        </div>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <br>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table width="100%" align="center" border="1" class="tabcertificado">
                                            <thead>
                                                <tr class="tabcertr">
                                                    <th idioma="Mínimo"></th>
                                                    <th idioma="Valor 1"></th>
                                                    <th idioma="Valor 2"></th>
                                                    <th idioma="Valor 3"></th>
                                                    <th idioma="Valor 4"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td idioma="Temperatura" class="bg-gris text-XX"></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinTem1" name="MinTem1"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinTem2" name="MinTem2"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinTem3" name="MinTem3"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinTem4" name="MinTem4" value="0"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                </tr>
                                                <tr>
                                                    <td idioma="Humedad" class="bg-gris text-XX"></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinHume1" name="MinHume1"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinHume2" name="MinHume2"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinHume3" name="MinHume3"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MinHume4" name="MinHume4" value="0"  onkeyup="ValidarTexto(this,3)" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <div class="table-responsive">
                                        <table width="100%" align="center" border="1" class="tabcertificado">
                                            <thead>
                                                <tr class="tabcertr">
                                                    <th idioma="Máximo"></th>
                                                    <th idioma="Valor 1"></th>
                                                    <th idioma="Valor 2"></th>
                                                    <th idioma="Valor 3"></th>
                                                    <th idioma="Valor 4"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td idioma="Temperatura" class="bg-gris text-XX"></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxTem1" name="MaxTem1"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxTem2" name="MaxTem2"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxTem3" name="MaxTem3"  onkeyup="ValidarTexto(this,3)" required /></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxTem4" name="MaxTem4" value="0"  onkeyup="ValidarTexto(this,3)" required/></td>
                                                </tr>
                                                <tr>
                                                    <td idioma="Humedad" class="bg-gris text-XX"></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxHume1" name="MaxHume1"  onkeyup="ValidarTexto(this,3)" required/></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxHume2" name="MaxHume2"  onkeyup="ValidarTexto(this,3)" required/></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxHume3" name="MaxHume3"  onkeyup="ValidarTexto(this,3)" required/></td>
                                                    <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="MaxHume4" name="MaxHume4" value="0" onkeyup="ValidarTexto(this,3)" required/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalSensores" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span
                        idioma="Sensores Del Patron Auxiliar "></span><span id="modnomsensor"></span></h4>
            </div>
            <div class="modal-body with-padding">
                <div class="table-responsive" style="min-height:350px;">
                    <table class="table display  table-bordered hover" id="TablaSensores">
                        <thead>
                            <tr>
                                <th width="5%" idioma="Id"></th>
                                <th idioma="Serie"></th>
                                <th idioma="Magnitud"></th>
                                <th idioma="Lectura"></th>
                                <th idioma="Certificado"></th>
                                <th idioma="Fecha<br>Calibración"></th>
                                <th idioma="Próxima<br>Calibración"></th>
                                <th idioma="Url"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/PatronAux.js?unico=' + Math.round(Math.random() * 10000));

</script>