﻿<div class="tabbable page-tabs" id="tab-patron">
    <ul class="nav nav-tabs">
        <li id="proli1" class="active"><a id="lab_crearmodificar" href="#tabcrear" data-toggle="tab"><i
                    class="icon-checkbox-partial"></i><span idioma="Crear/Editar"></span></a></li>
        <li id="proli7"><a href="#tabconsultar" data-toggle="tab"><i class="icon-checkmark3"></i><span
                    idioma="Consultar"></span></a></li>
        <li id="proli7"><a href="#tabequipamiento" data-toggle="tab"><i class="icon-checkmark3"></i><span
                    idioma="Equipamiento"></span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tabcrear">
            <form id="formPatrones" style="background-color:white">
                <input type="hidden" name="IdPatron" id="IdPatron" value="0" />

                <div class="panel panel-primary" style="font-size:14px; color:black;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h3 class="panel-title"><a data-toggle="collapse" href="#collapse1"><span
                                            id="Menu_Empresa" idioma="Registro de Patrones"></span></a></h3>
                            </div>
                            <div class="col-md-8 col-xs-12 text-right">
                                <button class="btn btn-glow btn-default" type="button" id="btnlimpiar"
                                    onclick="LimpiarTodo()"><span idioma="Nuevo"></span></button>
                                <button class="btn btn-glow btn-info" type="submit"><span
                                        idioma="Guardar"></span></button>

                            </div>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Magnitud"></label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="Magnitud" name="Magnitud" required
                                        style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Medida"></label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="Medida" name="Medida" required
                                        style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Alcance (Desde)"></label>
                                <div class="col-sm-5">
                                    <input type="text" name="AlcanceDesde" id="AlcanceDesde" class="form-control" required>
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Alcance (Hasta)"></label>
                                <div class="col-sm-5">
                                    <input type="text" id="AlcanceHasta" name="AlcanceHasta" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Marca"></label>
                                <div class="col-sm-5">
                                    <input type="text" name="Marca" id="Marca" class="form-control" required>
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Modelo"></label>
                                <div class="col-sm-5">
                                    <input type="text" name="Modelo" id="Modelo" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Serie"></label>
                                <div class="col-sm-5">
                                    <input type="text" name="Serie" id="Serie" class="form-control" required>
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Certificado"></label>
                                <div class="col-sm-5">
                                    <input type="text" id="Certificado" name="Certificado" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label " idioma="Fecha Certificación"></label>
                                <div class="col-sm-5">
                                    <input type="date" name="FechaCertificado" id="FechaCertificado"
                                        class="form-control" required>
                                </div>

                                <label class="col-sm-1 control-label text-right" idioma="Próxima Calibración"></label>
                                <div class="col-sm-5">
                                    <input type="date" name="FechaProxCalibracion" id="FechaProxCalibracion"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Resolución"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Resolucion" id="Resolucion" required
                                        style="width:100%" />
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Laboratorio"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Laboratorio" id="Laboratorio">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Transductor"></label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="Transductor" id="Transductor"
                                        onchange="CamposTransductores(this.value)" required style="width:100%" >
                                        <option value="">--Selecciones--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Derivada"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Derivada" id="Derivada" required
                                        style="width:100%" />
                                </div>

                            </div>
                            <div class="form-group row">

                                <label class="col-sm-1 control-label" idioma="Precisión"></label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="Precision" name="Precision" required
                                        style="width:100%">
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Tolerancia"></label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="Tolerancia" name="Tolerancia" required
                                        style="width:100%">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Descripción"></label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="Descripcion" id="Descripcion" style="width:100%"></select>
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Título"></label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="Titulo" name="Titulo" style="width:100%">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-1 control-label" idioma="Grado"></label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="Grado" name="Grado" required
                                        style="width:100%">
                                </div>
                                <label class="col-sm-1 control-label text-right" idioma="Estado"></label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="Estado" id="Estado" style="width:100%">
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="tabbable page-tabs" id="tab-opciones">
                                    <ul class="nav nav-tabs" id="opciones-patron">
                                        <li class="active"><a href="#tabtransductores" data-toggle="tab"><i class="icon-tools"></i><span idioma="Transductores"></span></a></li>
                                        <li><a href="#tabcomerciales" data-toggle="tab"><i class="icon-checkbox-partial"></i><span idioma="Certificados Realizados"></span></a></li>
                                        <li><a href="#tabsedes" data-toggle="tab"><i class="icon-checkmark3"></i><span idioma="Estadisticas de valores patrón"></span></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in" id="tabcomerciales">
                                            <br />
                                        </div>
                                        <div class="tab-pane fade in" id="tabsedes">
                                        </div>
                                        <div class="tab-pane fade active in" id="tabtransductores">
                                            <div class="form-group row">
                                                <div class="col-md-12"> 
                                                    <label idioma="Plantilla">Plantilla</label>
                                                    <select name='Plantilla' id='Plantilla' class='form-control' onchange="ConsultarTransductor()" style="width:100%">
                                                    </select>
                                                </div>
                                            </div>    
                                            <hr>
                                            <div id="formtransductor">

                                            </div>
                                            <hr />
                                            <div class="table-responsive" id="TablaTransductores">

                                            </div>

                                            <hr>

                                            
                                            <div class="panel panel-primary" style="font-size:14px; color:black;">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <h3 class="panel-title"><a data-toggle="collapse3" href="#collapse3"><span
                                                                        id="Menu_Empresa" idioma="Valores de coeficientes"></span></a></h3>
                                                        </div>
                                                        <div class="col-md-8 col-xs-12 text-right">
                                                            <button class="btn btn-glow btn-info" type="button" onclick="GuardarCoeficientes()"><span idioma="Guardar"></span></button>
                                                            <button class="btn btn-glow btn-danger" type="button" onclick="EliminarCoeficientes()"><span idioma="Eliminar"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <br>
                                                        <div class="form-group row">
                                                            <div class="col-md-12">
                                                                <div class="table-responsive">
                                                                    <table width="100%" align="center" border="1" class="tabcertificado">
                                                                        <thead>
                                                                            <tr class="tabcertr">
                                                                                <th idioma="Coeficiente_0"></th>
                                                                                <th idioma="Coeficiente_1"></th>
                                                                                <th idioma="Coeficiente_2"></th>
                                                                                <th idioma="Coeficiente_3"></th>
                                                                                <th idioma="Coeficiente_4"></th>
                                                                                <th idioma="Coeficiente_5"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="Coeficiente0" name="Coeficiente0"  onkeyup="ValidarTexto(this,3)"/></td>
                                                                                <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="Coeficiente1" name="Coeficiente1"  onkeyup="ValidarTexto(this,3)"/></td>
                                                                                <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="Coeficiente2" name="Coeficiente2"  onkeyup="ValidarTexto(this,3)"/></td>
                                                                                <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="Coeficiente3" name="Coeficiente3"  onkeyup="ValidarTexto(this,3)"/></td>
                                                                                <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="Coeficiente4" name="Coeficiente4" value="0"  onkeyup="ValidarTexto(this,3)"/></td>
                                                                                <td><input type="text" class="form-control text-XX bg-amarillo text-right" id="Coeficiente5" name="Coeficiente5" value="0" onkeyup="ValidarTexto(this,3)"/></td>
                                                                                
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            

                                        </div>
                                        <div class="tab-pane fade in" id="tabbitacoras">
                                            <br />
                                            <div id="bitacoras">
                                                <div class="form-group row">

                                                    <div class="col-sm-5">
                                                        <label class="col-sm-3 control-label"
                                                            idioma="Evento/Servicio"></label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" id="TipoServicio" tabindex="3"
                                                                style="width:100%" />
                                                            <input type="hidden" name="IdEmpleado" id="IdEmpleado"
                                                                value="0" />
                                                        </div>
                                                        </br>
                                                        </br>
                                                        </br>
                                                        <label class="col-sm-3 control-label"
                                                            idioma="Evidencia"></label>
                                                        <div class="col-sm-9">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <input type="file" name="Archivo" id="Archivo"
                                                                        onchange="GuardarDocumentoAdjunto(this.id,3,'')"
                                                                        accept="application/f" class="form-control"
                                                                        style="width:100%" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <label class="col-sm-2 control-label"
                                                            idioma="Observacion"></label>
                                                        <div class="col-sm-9">
                                                            <textarea class="form-control" id="Observacion" tabindex="3"
                                                                style="width:100%;" />
                                                            </div>  
                                                             </br>
                                                        </br>
                                                        </br> 

                                                            <label class="col-sm-2 control-label"
                                                            idioma="Reviso"></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="Reviso" tabindex="3"
                                                                style="width:100%;" />
                                                            </div>                                                    
                                                </div>
                                                
                                                <!--jahn.garcia@gmail.com-->
                                            
                                            
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-glow btn-default" type="button"
                                                    onclick="LimpiarBitacora()"><span idioma="Limpiar"></span></button>
                                                <button class="btn btn-glow btn-primary" type="button"  
                                                    onclick='GuardarBitacora()'><span idioma="Agregar"></span></button>
                                            </div>
                                        </div>
                                            
                                            <hr />
                                            
                                            <div class="table-responsive" style="min-height:300px">
                                                <table class="table display  table-bordered hover" id="TablaBitacora">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%" idioma="Id"></th>
                                                            <th idioma="Fecha"></th>
                                                            <th idioma="Evento/Servicio"></th>
                                                            <th idioma="Proveedor"></th>
                                                            <th idioma="Evidencia"></th>
                                                            <th idioma="Observacion"></th>
                                                            <th idioma="Responsable"></th>
                                                            <th idioma="Reviso"></th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                                                                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade in" id="tabconsultar">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitud"></label>
                        <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Marca"></label>
                        <input name="CMarca" id="CMarca" class="form-control" style="width:100%">
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Modelo"></label>
                        <input name="CModelo" id="CModelo" class="form-control" style="width:100%">
                    </div>
                   
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Serie"></label>
                        <input name="CSerie" id="CSerie" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        <label idioma="Descripcion"></label>
                        <select name="CDescripcion" id="CDescripcion" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Clase/Grado"></label>
                        <input name="CGrado" id="CGrado" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Laboratorio"></label>
                        <input name="CProveedor" id="CProveedor" class="form-control">
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Certificado"></label>
                        <input name="CCertificado" id="CCertificado" class="form-control" style="width:100%">
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label idioma="Fecha Calibracion"></label>
                        <input type="date" name="CFechaCalibracion" id="CFechaCalibracion" class="form-control" />
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Fecha Prox. Calibracion (Desde)"></label>
                        <input type="date" name="Cfechadesde" id="Cfechadesde" class="form-control" />
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Fecha Prox. Calibracion (Hasta)"></label>
                        <input type="date" name="Cfechahasta" id="Cfechahasta" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-1 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarPatron()">F2 <span
                                idioma="Buscar"></span></button>
                    </div>


                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table display table-bordered hover" id="TablaPatrones">
                            <thead>
                                <tr class="bg-gris">
                                    <th><span idioma="Patron"></span></th>
                                    <th><span idioma="Estado"></span></th>
                                    <th><span idioma="Magnitud"></span></th>
                                    <th><span idioma="Alcance (Desde)"></span></th>
                                    <th><span idioma="Alcance (Hasta)"></span></th>
                                    <th><span idioma="Medida"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Serie"></span></th>
                                    <th><span idioma="Certificado"></span><br><span idioma="Calibración"></span></th>
                                    <th><span idioma="Fecha"></span><br><span idioma="Certificado"></span></th>
                                    <th><span idioma="Proxima"></span><br><span idioma="Calibracion"></span></th>
                                    <th><span idioma="Resolucion"></span></th>
                                    <th><span idioma="Laboratorio"></span></th>
                                    <th><span idioma="Tolerancia"></span></th>
                                    <th><span idioma="Derivada"></span></th>
                                    <th><span idioma="Precision"></span></th>
                                    <th><span idioma="Descripcion"></span></th>
                                    <th><span idioma="Grado"></span></th>
                                    <th><span idioma="Titulo"></span></th>



                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="tab-pane fade in" id="tabequipamiento">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Magnitud"></label>
                        <select name="CMagnitud" id="CMagnitud" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Modelo"></label>
                        <select name="CModelo" id="CModelo" class="form-control" style="width:100%"></select>
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <label idioma="Marca"></label>
                        <select name="CMarca" id="CMarca" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Serie"></label>
                        <input name="CSerie" id="CSerie" class="form-control" style="width:100%" />
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        <label idioma="Intervalo"></label>
                        <select name="CIntervalo" id="CIntervalo" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-4 col-sm-1">
                        <label idioma="Clase/Grado"></label>
                        <input name="CGrado" id="CGrado" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Laboratorio"></label>
                        <select name="CProveedor" id="CProveedor" class="form-control" style="width:100%"></select>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Certificado"></label>
                        <input name="CCertificado" id="CCertificado" class="form-control" style="width:100%">
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label idioma="Fecha Calibracion"></label>
                        <input type="date" name="CFechaCalibracion" id="CFechaCalibracion" class="form-control" />
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Fecha Prox. Calibracion (Desde)"></label>
                        <input type="date" name="Cfechadesde" id="Cfechadesde" class="form-control" />
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <label idioma="Fecha Prox. Calibracion (Hasta)"></label>
                        <input type="date" name="Cfechahasta" id="Cfechahasta" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-1 text-right">
                        <br>
                        <button class="btn btn-glow btn-primary" type="button" onclick="ConsultarPatron()">F2 <span
                                idioma="Buscar"></span></button>
                    </div>


                </div>
                <hr />
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table display table-bordered hover" id="TablaPatrones">
                            <thead>
                                <tr class="bg-gris">
                                    <th><span idioma="Patron"></span></th>
                                    <th><span idioma="Magnitud"></span></th>
                                    <th><span idioma="Alcance (Desde)"></span></th>
                                    <th><span idioma="Alcance (Hasta)"></span></th>
                                    <th><span idioma="Medida"></span></th>
                                    <th><span idioma="Marca"></span></th>
                                    <th><span idioma="Modelo"></span></th>
                                    <th><span idioma="Serie"></span></th>
                                    <th><span idioma="Certificado"></span><br><span idioma="Calibración"></span></th>
                                    <th><span idioma="Fecha"></span><br><span idioma="Certificado"></span></th>
                                    <th><span idioma="Proxima"></span><br><span idioma="Calibracion"></span></th>
                                    <th><span idioma="Resolucion"></span></th>
                                    <th><span idioma="Laboratorio"></span></th>
                                    <th><span idioma="Intervalo"></span></th>
                                    <th><span idioma="Tolerancia"></span></th>
                                    <th><span idioma="Derivada"></span></th>
                                    <th><span idioma="Precision"></span></th>
                                    <th><span idioma="Descripcion"></span></th>
                                    <th><span idioma="Grado"></span></th>
                                    <th><span idioma="Titulo"></span></th>



                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

<div id="modalTransductor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-accessibility"></i><span idioma="Valores de los Transductores"></span></h4>
            </div>
            <div class="modal-body with-padding">

                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Plantilla"></label>
                        <div name="IPlantilla" id="IPlantilla" class="form-control" ></div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <label idioma="Examine Archivo de excel"></label>
                        <input name="IArchivo" id="IArchivo" type="file"  class="form-control" onchange="GuardarDocumentoAdjunto(this.id,3,'')" />
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-glow btn-primary" type="button" onclick="ImportarTransductor()"><span idioma="Importar"></span></button>
                <button class="btn btn-glow btn-warning" type="button" data-dismiss="modal"><span idioma="Cerrar"></span></button>
            </div>

        </div>
    </div>
</div>

<script>
    TraducirIdioma($("#menu_idioma").val() * 1);
    $.getScript(url_cliente + 'js/Patron.js?unico=' + Math.round(Math.random() * 10000));

</script>